class App.Views.SketchesIndexPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.SketchesPaginatedCollection(params)
    @collectionView = App.Views.SketchesCollection

    @idsModel = App.Models.IdsSketch

    @options.pluralModelString = "<%= I18n.t("models.sketches.plural") %>"
    @options.addModelString = "<%= I18n.t("models.sketches.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
