class App.Views.SketchAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Sketch()
    @options.header = "<%= I18n.t("models.sketches.new") %>"
    @options.success_message = "<%= I18n.t("models.sketches.added") %>"
    @options.error_message = "<%= I18n.t("models.sketches.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.sketches.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
