class App.Views.SketchEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Sketch({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.sketches.edit") %>"
    @options.success_message = "<%= I18n.t("models.sketches.updated") %>"
    @options.error_message = "<%= I18n.t("models.sketches.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.sketches.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
