class App.Views.SketchDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Sketch({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.sketches.deleted") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
 