class App.Collections.Blocked<%= up_models %>PaginatedCollection extends Support.SharedPaginatedCollection

  model: App.Models.<%= up_model %>

  paginator_core: {
    dataType: 'json'
    url: '/api/<%= models %>/blocked'
  }

  getPath: () ->
    "/admin/<%= models %>"