class App.Models.Ids<%= up_model %> extends Backbone.Model

  urlRoot: '/api/<%= model %>-ids'

  idAttribute: "ids"

  initialize: (params) ->
    _.extend(@, params) unless _.isUndefined(params)
    super(params)