class App.Models.<%= up_model %> extends App.Models.SharedModel

  urlRoot: '/api/<%= models %>'

<% if options.blockable? %>
  schema: ->
    {
      name: { title: "<%%= I18n.t("forms.fields.name") %>" }
    }
<% else %>
  schema: () ->

    if @isNew()
      {
      file: { title: "<%%= I18n.t("forms.fields.file") %>", type: "FileUpload", url: "/api/<%= models %>", fileInputName: "<%= model %>[file]", fileTypes: /(\.|\/)(dwg|xlsx?)$/i, errorMessage: I18n.t("errors.messsages.wrong_format") }
      }
    else
      {
      name: { title: "<%%= I18n.t("forms.fields.name") %>" }
      }
<% end %>

  @getCollectionPath: () ->
    "/admin/<%= models %>"

<% if options.blockable? %>
  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)

<% end %>