-#%tr
-#  %th
-#    = link_to I18n.t("forms.fields.name"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/name/{{ collection.getReverseOrder }}", :class => "sort-link"
-#  %th
-#    = link_to I18n.t("forms.fields.slug"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/slug/{{ collection.getReverseOrder }}", :class => "sort-link"
-#  %th
-#    = link_to I18n.t("forms.fields.created"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/created_at/{{ collection.getReverseOrder }}", :class => "sort-link"
-#  %th
-#  %th
-#  %th