class App.Views.FacilitiesSetEditPage extends App.Views.SharedForm

  template: JST['account/facilities_sets/select_facilities_form']

  className: "product-form add"

  events: {
    'keypress #search-input': 'searchInputKeyPressed'
    "click .order": "orderButtonClicked"
#    "click .btn-back": "close_form"
    "click .clear-all": "clearAllSelectedFacilities"
  }

  initialize: ->
    @model = new App.Models.FacilitiesSet({slug: @id})
    super
    @model.fetch({
      success: () =>
        @selectedFacilitiesCollection = new App.Collections.SelectedFacilitiesPaginatedCollection({facilitiesSetSlug: @model.get('id')})

        @selectedFacilitiesCollectionViewRender()

        @selectedFacilitiesCollection.fetch({
          success: () =>
            @showOrHideButtons()

            @facilitiesCollectionView = @getFacilitiesCollectionView()
            @$("#content").append(@facilitiesCollectionView.render().el)
        })
    })

    @options ?= {}

    @options.save_label = I18n.t("words.do_download")
    @options.back_label = I18n.t("words.back")

    @options.header = I18n.t("words.filling_choose")
    @options.info = gon.selectFacilitiesInfoLabel

    @facilitiesCollection = new App.Collections.FacilitiesPaginatedCollection({perPage: 32})
    @facilitiesCollection.fetch({cache: true})

    @createControlViews() # First controls, second - filters. Because filters use controls
    @createFilterViews()

  render: (params) ->
    super(params)



    @$("#filters").append(@groupesControl.render().el)
    @$("#filters").append(@manufacturersControl.render().el)
    @$("#filters").append(@stylesControl.render().el)
    @$("#filters").append(@materialsControl.render().el)

    @$(".filter").append(@groupsSelectedFiltersView.render().el)
    @$(".filter").append(@manufacturersSelectedFiltersView.render().el)
    @$(".filter").append(@stylesSelectedFiltersView.render().el)
    @$(".filter").append(@materialsSelectedFiltersView.render().el)

    @

  renderTemplate: () ->

    @$el.html(@template({
      record: @model
      options: @options
    }))

  createFilterViews: () ->
    @groupsSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "category", label: I18n.t("words.display_categories")})
    @groupsSelectedFiltersView.on "removeFilter", (data) =>
      @groupesControl.trigger("removeFilter", data)

    @manufacturersSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "manufacturer", label: I18n.t("words.display_manufacturers")})
    @manufacturersSelectedFiltersView.on "removeFilter", (data) =>
      @manufacturersControl.trigger("removeFilter", data)

    @stylesSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "style", label: I18n.t("words.display_styles")})
    @stylesSelectedFiltersView.on "removeFilter", (data) =>
      @stylesControl.trigger("removeFilter", data)

    @materialsSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "material", label: I18n.t("words.display_materials")})
    @materialsSelectedFiltersView.on "removeFilter", (data) =>
      @materialsControl.trigger("removeFilter", data)

  createControlViews: () ->
    @groupesControl = @getGroupesControl()
    @manufacturersControl = @getManufacturersControl()
    @stylesControl = @getStylesControl()
    @materialsControl = @getMaterialsControl()

  searchInputKeyPressed: (e) ->
    charCode = e.charCode || e.which
    if charCode == 13
      e.preventDefault()
      @reloadFacilitiesCollection()

  getGroupesControl: () ->
    groupesControlView = new App.Views.GroupedCollectionCheckboxesControl({
      inputName: "group_ids"
      selectedLabel: I18n.t("words.selected_categories")
      title: I18n.t("models.categories.singular")
      sectionSlug: "<%= Section.find(Settings.facilities_groups_section).slug %>"
    })

    groupesControlView.on "applyChecking", (checkedValues) =>
      @manufacturersControl.filterByGroups(checkedValues)
      @applyChecking("group_ids", checkedValues)

    groupesControlView

  getManufacturersControl: () ->
    @manufacturersControl = new App.Views.AlphabetCollectionCheckboxesControl({
      inputName: "manufacturer_ids"
      selectedLabel: I18n.t("words.selected_manufacturers")
      title: I18n.t("forms.fields.manufacturer_id")
      sectionSlug: "<%= Section.find(Settings.facilities_manufacturers_section).slug %>"
    })

    @manufacturersControl.on "applyChecking", (checkedValues) =>
      @applyChecking("manufacturer_ids", checkedValues)

    @manufacturersControl

  getStylesControl: () ->
    stylesControlView = new App.Views.CollectionCheckboxesControl({
      inputName: "style_ids"
      selectedLabel: I18n.t("words.selected_style")
      title: I18n.t("forms.fields.style_id")
      sectionSlug: "<%= Section.find(Settings.facilities_styles_section).slug %>"
    })

    stylesControlView.on "applyChecking", (checkedValues) =>
      @applyChecking("style_ids", checkedValues)

    stylesControlView

  getMaterialsControl: () ->
    materialsControlView = new App.Views.CollectionCheckboxesControl({
      inputName: "material_ids"
      selectedLabel: I18n.t("words.selected_materials")
      title: I18n.t("forms.fields.material_ids")
      sectionSlug: "<%= Section.find(Settings.facilities_materials_section).slug %>"
    })

    materialsControlView.on "applyChecking", (checkedValues) =>
      @applyChecking("material_ids", checkedValues)

    materialsControlView

  applyChecking: (inputName, checkedValues) ->
    @addSelectedFilters(inputName, checkedValues)
    @reloadFacilitiesCollection()

  addSelectedFilters: (inputName, checkedValues) ->
    switch inputName
      when "group_ids" then @groupsSelectedFiltersView.setCheckedValues(checkedValues)
      when "manufacturer_ids" then @manufacturersSelectedFiltersView.setCheckedValues(checkedValues)
      when "style_ids" then @stylesSelectedFiltersView.setCheckedValues(checkedValues)
      when "material_ids" then @materialsSelectedFiltersView.setCheckedValues(checkedValues)

  reloadFacilitiesCollection: () ->

    @facilitiesCollection.currentPage = 1
    @facilitiesCollection.filters = {
      name: @getSearchValue()
      manufacturer_ids: @getManufacturerIds()
      group_ids: @getGroupIds()
      style_ids: @getStyleIds()
      material_ids: @getMaterialIds()
    }

    @facilitiesCollection.fetch()
    $("html, body").animate({ scrollTop: 0 }, "slow")

  getSearchValue: () ->
    @$("input#search-input").val()

  getGroupIds: () ->
    value = []
    @$("input[name=group_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getStyleIds: () ->
    value = []
    @$("input[name=style_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getMaterialIds: () ->
    value = []
    @$("input[name=material_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getManufacturerIds: () ->
    manufacturer_ids = @$("input[name=manufacturer_ids]").val()
    JSON.parse(manufacturer_ids) unless manufacturer_ids == ''

  getFacilitiesCollectionView: () ->
    facilitiesGridCollection = new App.Views.FacilitiesGridCollection({collection: @facilitiesCollection, selectedFacilitiesCollection: @selectedFacilitiesCollection})
    facilitiesGridCollection.on("selectFacility", @selectFacility, @)
    facilitiesGridCollection

  selectFacility: (selectedFacility) ->
    @trigger("selectFacility", selectedFacility)
    @showOrHideButtons()

    alreadySelected = false
    @selectedFacilitiesCollection.each (eachSelectedFacility) =>
      alreadySelected = true if eachSelectedFacility.get('facility_id') == selectedFacility.get('id')

    unless alreadySelected
      newSelectedFacilityModel = new App.Models.SelectedFacility()
      newSelectedFacilityModel.save({
        facilities_set_id: @model.get("id")
        facility_id: selectedFacility.get("id")
      }, {
        wait: true
        success: (model) =>
          @selectedFacilitiesCollection.add(newSelectedFacilityModel)
          @selectedFacilitiesCollectionViewRender()
          @showOrHideButtons()

        error: (model, response) =>

      })

  removeFacility: (params) ->
    @showOrHideButtons()
    @trigger("removeFacility", params)

  orderButtonClicked: (e) ->
    e.preventDefault()
    $.fileDownload(Routes.zip_api_facilities_set_path(@model.get('slug')))


  close_form: (e) ->
    e.preventDefault()
    window.router.navigate("#{App.Models.FacilitiesSet.getCollectionPath()}", true)
    $("html, body").animate({ scrollTop: 0 }, "slow")


  selectedFacilitiesCollectionViewRender: () ->
    @selectedFacilitiesCollectionView = new App.Views.SelectedFacilitiesCollection({collection: @selectedFacilitiesCollection})
    @selectedFacilitiesCollectionView.on "removeFacility", @removeFacility
    @selectedFacilitiesCollectionView

    @$("#selected-facilities-wrapper").html(@selectedFacilitiesCollectionView.render().el)

  showOrHideButtons: () ->
    if _.size(@selectedFacilitiesCollection) > 0
      @$("a.order").show()
      @$(".clear-all").show()
#      @$("a.btn-back").show()
    else
      @$("a.order").hide()
      @$(".clear-all").hide()
#      @$("a.btn-back").hide()

  clearAllSelectedFacilities: () ->
    @selectedFacilitiesCollection.each (selectedFacility) => vent.trigger("removeFacility", selectedFacility)
    @selectedFacilitiesCollection.empty({
      success: (data) =>
        @selectedFacilitiesCollection.fetch({
          success: () =>
            @showOrHideButtons()
        })
    })
