class App.Views.<%= up_model %>AddPage extends App.Views.SharedForm
<% unless options.deletable? %>
  template: JST['admin/shared/file_form']
<% end %>
  initialize: ->
    @model = new App.Models.<%= up_model %>()
    @options.header = "<%%= I18n.t("models.<%= models %>.new") %>"
    @options.success_message = "<%%= I18n.t("models.<%= models %>.added") %>"
    @options.error_message = "<%%= I18n.t("models.<%= models %>.add_error") %>"
    @options.submitValue = "<%%= I18n.t("models.<%= models %>.add") %>"
    @options.cancelValue = "<%%= I18n.t("words.cancel") %>"
    super
<% if options.blockable? %>
  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
<% end %>