class App.Views.<%= up_models %>Collection extends App.Views.<%= options.blockable? ? "BlockableCollection" : "SharedFilesCollection"  %>

  id: "<%= models.gsub("_", "-") %>"

  initialize: ->
    @itemView = App.Views.<%= up_model %>
    super