class App.Views.<%= up_model %>EditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.<%= up_model %>({slug: @id})
    super
    @model.fetch()

    @options.header = "<%%= I18n.t("models.<%= models %>.edit") %>"
    @options.success_message = "<%%= I18n.t("models.<%= models %>.updated") %>"
    @options.error_message = "<%%= I18n.t("models.<%= models %>.update_error") %>"
    @options.submitValue = "<%%= I18n.t("models.<%= models %>.update") %>"
    @options.cancelValue = "<%%= I18n.t("words.cancel") %>"
<% if options.blockable? %>
  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
<% else %>
  getRecordTabsView: () ->
    new App.Views.NonDeletableRecordTabsView({model: @model})
<% end %>