class App.Views.<%= up_models %>IndexPage extends App.Views.<%= options.blockable? ? "SharedCheckableIndexPage" : "SharedIndexPage"  %>

  initialize: (params)->
    @collection = new App.Collections.<%= up_models %>PaginatedCollection(params)
    @collectionView = App.Views.<%= up_models %>Collection
    <%- if options.ids? %>
    @idsModel = App.Models.Ids<%= up_model %>
    <%- end %>
    @options.pluralModelString = "<%%= I18n.t("models.<%= models %>.plural") %>"
    @options.addModelString = "<%%= I18n.t("models.<%= models %>.add") %>"
    super(params)
<% if options.blockable? %>
  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
<% end %>