class App.Views.<%= up_model %>ShowPage extends App.Views.SharedShowPage

  initialize: ->
    @model = new App.Models.<%= up_model %>({slug: @id})
    super
<% if options.blockable? %>
  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
<% else %>
  getRecordTabsView: () ->
    new App.Views.NonDeletableRecordTabsView({model: @model})
<% end %>