class App.Views.<%= up_models %>BlockedPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.Blocked<%= up_models %>PaginatedCollection(params)
    @collectionView = App.Views.Blocked<%= up_models %>Collection
    <%- if options.ids? %>
    @idsModel = App.Models.Ids<%= up_model %>
    <%- end %>
    @options.pluralModelString = "<%%= I18n.t("models.<%= models %>.plural") %>"
    @options.addModelString = "<%%= I18n.t("models.<%= models %>.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
