class App.Views.<%= up_model %>DeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.<%= up_model %>({slug: @id})
    @afterDeleteMessage = "<%%= I18n.t("models.<%= models %>.deleted") %>"
    super
<% if options.blockable? %>
  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
 <% end %>