$('.modal-header h3').text(I18n.t("login.links.resend_confirmation"));
$('#auth-form').html("<%= escape_javascript(render :partial => 'auth/confirmation_form', :locals => {:do_ajax => true})  %>");
$('#register-form').html("<%= escape_javascript(render :partial => 'auth/confirmation_form', :locals => {:do_ajax => true})  %>");