class App.Views.FileUploadControl extends App.View

  template: JST['account/shared/fields/file_upload_control']

  className: 'upload-file upload-file-file_attachment_ids'

  initialize: (params) ->
    _.extend(@, params)

    @$fileInput = @getFileInput()
    @$hiddenSelect = @getHiddenSelect()
    @$uploadedFilesContainer = $("<ul>", {class: 'files uploaded-files-container'})

    @filesForDestroyOnSubmit = []

    @values = []

    @formData = {}

    @addUploadedFileIds()
    @renderUploadedFiles()

    @on "submitForm", @parentFormSubmitted

    super(params)

  render: () ->
    @renderTemplate()

    @$el.prepend(@$uploadedFilesContainer)
    @$('.fileinput-button').append(@$fileInput)
    @$el.append(@$hiddenSelect)

    @initFileUpload()

    @

  renderTemplate: ->
    @$el.html(@template({
      record: @model
      field: @field
    }))

  getFileInput: ->
    $("<input id='input-#{@getFilesFieldName()}' type='file' multiple='multiple' name='#{@getFileFieldName()}[file]' data-url='#{@createModel().url()}' />")

  getHiddenSelect: ->
    $("<select>", {class: "jcf-hidden", name: @field, multiple: 'multiple'})

  addUploadedFileIds: ->
    if _.isArray(@model.get(@getFilesFieldName()))
      _.each @model.get(@getFilesFieldName()), (fileAttachment) =>
        @fileIds.push(fileAttachment.id)

  getFileFieldName: ->
    @field.replace(/_ids$/, '')

  getFilesFieldName: ->
    "#{@getFileFieldName()}s"

  initFileUpload: ->

    @$fileInput.fileupload
      dataType: "json"
      dropZone: @$el
      formData: @formData
      add: (e, data) => data.submit()
      done: (e, data, result) => @appendUploadedFileAttachmentPreview(@createModel(data.result))
      error: (e, data, message) => console.log "Error", e, data, message
      fail: (e, data, message) => console.log "Fail", e, data, message

  renderUploadedFiles: ->
    if _.isArray(@model.get(@getFilesFieldName()))
      _.each @model.get(@getFilesFieldName()), (fileAttachment) =>
        @appendUploadedFileAttachmentPreview(@createModel(fileAttachment))

  createModel: (file = {}) ->
    new App.Models.FileAttachment(file)

  appendUploadedFileAttachmentPreview: (data) =>
    @addFileId(data.get('id'))

    @$hiddenSelect.append($("<option>", {selected: 'selected', value: data.get('id')}))

    uploadedFileView = @getUploadedFileView(data)
    uploadedFileView.on "fileDestroyed", @removeFile # File has been destroyed in DB by UploadedFileView
    uploadedFileView.on "fileRemoved", @removeAndDestroyFile # File has NOT been destroyed in DB by UploadedFileView

    @$uploadedFilesContainer.append(uploadedFileView.render().el)

  getUploadedFileView: (data) ->
    new App.Views.UploadedFileView({model: data, mainModel: @model})

  addFileId: (id) ->
    @values.push(id)

  removeFileId: (id) ->
    @values = _.without(@values, id)

  removeFile: (removedFile) =>
    @removeFileId(removedFile.get('id'))
    @$hiddenSelect.find("option[value=#{removedFile.get('id')}]").remove()

  removeAndDestroyFile: (destroyedFile) =>
    @removeFile(destroyedFile)
    @trigger("fileRemoved", destroyedFile)
    @filesForDestroyOnSubmit.push(destroyedFile)

  parentFormSubmitted: () =>
    console.log 'parentFormSubmitted'

  destroyFiles: () ->
    if _.size(@filesForDestroyOnSubmit) > 0

      afterDestroy = _.after _.size(@filesForDestroyOnSubmit), () =>

        @trigger("filesDestroyed")

      _.each @filesForDestroyOnSubmit, (fileForDestroyOnSubmit) =>

        fileForDestroyOnSubmit.destroy({success: afterDestroy})

    else

      @trigger("filesDestroyed")
