class App.Views.ImageFieldView extends App.View

  template: JST['account/shared/fields/image_field_view']

  className: 'image-holder'

  initialize: (params) ->
    _.extend(@, params)

    @$fileInput = $("<input type='file' multiple='multiple' name='image[file]' data-url='#{new App.Models.Image().url()}' />")

    super(params)

  render: () ->
    @$el.html(@template({record: @model}))

    @$(".fileinput-button").append(@$fileInput)
    @initFileUpload()

    @

  initFileUpload: () ->

    @$fileInput.fileupload({
      dataType: "json"
      dropZone: @$el

      add: (e, data) ->
        types = <%= Image.get_file_extensions_as_regexp %>
        file = data.files[0]
        if types.test(file.type) or types.test(file.name)
          data.submit()
        else
          alert(I18n.t("errors.messsages.not_plan_format"))

      done: (e, data, result) =>
        @appendUploadedPreview(data.result)

      error: (e, data, message) =>
        console.log "Error"
        console.log e
        console.log data
        console.log message

      fail: (e, data, message) =>
        console.log "Fail"
        console.log e
        console.log data
        console.log message

    })

  appendUploadedPreview: (data) =>
    @setValue(data.id)
    preview = $("<img>", {src: data.file.middle_thumb_142x163.url})
    @$('a.sample-download img').replaceWith(preview)

  setValue: (newValue) ->
    @$('input[name=image_id]').val(newValue)