class App.Views.SketchesUploadControl extends App.View

  template: JST['account/shared/fields/sketches_upload_control']

  className: 'upload-file'

  initialize: (params) ->
    _.extend(@, params)

    @formData = {}

    @$fileInput = $("<input type='file' multiple='multiple' name='sketch[file]' data-url='#{new App.Models.Sketch().url()}' />")
    @$hiddenSelect = $("<select>", {class: "jcf-hidden", name: "sketch_ids", multiple: 'multiple'})

    @selectControlView = new App.Views.ArraySelectControl({model: @model, collection: @getSelectControlCollection()})
    @selectControlView.on 'changeValue', (newValue) =>
      @formData['sketch[type]'] = newValue



    @values = []

    super(params)

  render: () ->
    @$el.html(@template({record: @model}))

    @$('.select-control').append(@selectControlView.render().el)
    @$('.fileinput-button').append(@$fileInput)
    @$el.append(@$hiddenSelect)

    @initFileUpload()
    @

  initFileUpload: () ->

    @formData['sketch[visualization_id]'] = @model.get('id')
    @formData['sketch[type]'] = @selectControlView.getValue()

    @$fileInput.fileupload({
      dataType: "json"
      dropZone: @$el
      formData: @formData

      add: (e, data) ->
        data.submit()
#        types = <%= Sketch.get_file_extensions_as_regexp %>
#        file = data.files[0]
#        if types.test(file.type) or types.test(file.name)
#          data.submit()
#        else
#          alert(I18n.t("errors.messsages.not_plan_format"))

      done: (e, data, result) =>
        @appendUploadedFileAttachmentPreview(data.result)

      error: (e, data, message) =>
        console.log "Error"
        console.log e
        console.log data
        console.log message

      fail: (e, data, message) =>
        console.log "Fail"
        console.log e
        console.log data
        console.log message
    })

    @$fileInput.bind 'fileuploadsubmit', (e, data) => data.formData = @formData

  getSelectControlCollection: () ->
    selectControlCollection = []
    selectControlCollection.push({value: 'preliminary', text: I18n.t('words.preliminary')})

    for i in [0..parseInt(@model.get('adjustments_count'))]
      selectControlCollection.push({value: "adjustment_#{i}", text: I18n.t("words.adjustment_#{i}")}) unless i == 0

    selectControlCollection.push({value: 'final', text: I18n.t('words.final')})

    selectControlCollection

  appendUploadedFileAttachmentPreview: (data) =>
    @addFileId(data.id)

    @$hiddenSelect.append($("<option>", {selected: 'selected', value: data.id}))

    openerUploadedFileWrapper = $("<li>", {class: "uploaded-file file-#{data.id}", text: data.name})

    thumb_url = if _.contains(['jpeg', 'jpg', 'gif', 'png'], data.file.url.substr(data.file.url.lastIndexOf('.') + 1)) then data.thumb_url else "/assets/#{data.file.url.substr(data.file.url.lastIndexOf('.') + 1).toUpperCase()}.png"

    openerUploadedFileImg = $("<img>", {src: thumb_url})
#    openerUploadedFileDeleteHref = $("<a>", {href: "#", class: "ico-delete", text: I18n.t("words.delete"), 'data-id': data.id})
#    openerUploadedFileDeleteHref.on "click", @deleteFile

    openerUploadedFileWrapper.prepend(openerUploadedFileImg)
#    openerUploadedFileWrapper.append(openerUploadedFileDeleteHref)

    @$("ul.files").append(openerUploadedFileWrapper)
#
  addFileId: (id) ->
    @values.push(id)

  removeFileId: (id) ->
    @values = _.without(@values, id)

  changeType: (newType) ->
    @formData['sketch[type]'] = newType
