<%= render :partial => 'shared/about_tabs' %>

<div class="content-wrapper">
  <div id="tab4" class="content" style="display: block;">
    <h1>Вопросы и ответы</h1>
    <p>На этой странице мы  собрали часто задаваемые вопросы . Но если  у вас есть вопрос, ответ на который вы не смоли здесь найти, без сомнения обращайтесь в нашу службу поддержки.</p>
    <!-- menu-2 tab-->
    <ul class="menu-2">
      <% @faq_types.each_with_index do |faq_type, index| %>
        <li><a href="#<%= faq_type %>" <%= 'class="active"'.html_safe if index == 3 %>><%= I18n.t("words.faqs.#{faq_type}") %></a></li>
      <% end %>
    </ul>
    <!-- mtab1 -->
    <% @faq_types.each do |faq_type| %>
      <div id="<%= faq_type %>" class="tab-content">
        <h2><%= I18n.t("words.faqs.#{faq_type}") %></h2>
        <ol class="list ol-custom-structure">
          <% Faq.send("#{faq_type}_questions").each_with_index do |faq, index| %>
            <li><h3 class="ol-item-index"><%= print_index(index+1) %>.</h3>
              <h3><%= faq.get_name %></h3>
              <%= simple_format(faq.answer) %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>