header
  strong = @options.header

span.note = @options.note
form.task action="#"
  .content.task-content

    fieldset

  footer
    - if @record.isNew()
      a.btn-task-save.js-save href="#" Создать задание
    - else
      a.close href="#" Отменить
      a.btn-task-save.js-save href="#" Сохранить