.wrapper
  strong.header Напишите нам сообщение
  = simple_form_for(@record, :html => {:class => "message-form"}) do |f|
    fieldset
      .row
        .text.width-370.name = render :partial => "fields/forms/name", :locals => {:f => f, placeholder: I18n.t("words.your_name")}
        .text.width-370.email = render :partial => "fields/forms/email", :locals => {:f => f, placeholder: I18n.t("words.inputs.email")}
      .row
        .text.topic = render :partial => "fields/forms/topic", :locals => {:f => f, placeholder: I18n.t("words.inputs.topic")}
      .row.message-text = render :partial => "fields/forms/body", :locals => {:f => f, placeholder: I18n.t("words.inputs.message")}

      .buttons
        = render :partial => "fields/forms/submit", :locals => {:f => f, :field_class => "close register"}