class App.Views.ReviewsBlockedPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.BlockedReviewsPaginatedCollection(params)
    @collectionView = App.Views.BlockedReviewsCollection

    @idsModel = App.Models.IdsReview

    @options.pluralModelString = "<%= I18n.t("models.reviews.plural") %>"
    @options.addModelString = "<%= I18n.t("models.reviews.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
