class App.Views.ReviewDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Review({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.reviews.deleted") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
 