class App.Views.ReviewEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Review({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.reviews.edit") %>"
    @options.success_message = "<%= I18n.t("models.reviews.updated") %>"
    @options.error_message = "<%= I18n.t("models.reviews.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.reviews.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
