class App.Views.ReviewAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Review()
    @options.header = "<%= I18n.t("models.reviews.new") %>"
    @options.success_message = "<%= I18n.t("models.reviews.added") %>"
    @options.error_message = "<%= I18n.t("models.reviews.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.reviews.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
