.wrapper
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-signin login-form"  }) do |f|
    h2.form-signin-heading = I18n.t("login.links.resend_confirmation")
    - if resource.errors.any?
      - @form_errors = resource
    .text.email-field
      = render :partial => "fields/forms/email", :locals => {f: f, :placeholder => I18n.t('words.inputs.email')}
    = render :partial => 'auth/links', :locals => {:do_ajax => true, :view_links => %w(sign_in sign_up forgot)} if defined?(do_ajax)
    = render :partial => 'auth/links', :locals => {:view_links => %w(sign_in sign_up forgot)} unless defined?(do_ajax)
    = render :partial => "fields/forms/submit", :locals => {f: f, :field_value => I18n.t("login.links.resend_confirmation"), :field_class => "resend-confirmation"}