.wrapper
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-signin login-form" }) do |f|
    h2.form-signin-heading = I18n.t("login.links.edit_password")
    = f.hidden_field :reset_password_token
    - if resource.errors.any?
      - @form_errors = resource
    .text
      = render :partial => "fields/forms/password", :locals => {f: f, :placeholder => I18n.t('words.inputs.new_password')}
    .text
      = render :partial => "fields/forms/password_confirmation", :locals => {f: f, :placeholder => I18n.t('words.inputs.password_confirmation')}
    = render :partial => 'auth/links', :locals => {:do_ajax => true, :view_links => %(sign_in sign_up do_not_receive)} if defined?(do_ajax)
    = render :partial => 'auth/links', :locals => {:view_links => %(sign_in sign_up do_not_receive)} unless defined?(do_ajax)
    = render :partial => "fields/forms/submit", :locals => {f: f, :field_value => I18n.t('forms.fields.change_password'), :field_class => "close new-password"}