.wrapper
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-signin login-form" }) do |f|
    h2.form-signin-heading = I18n.t("login.links.forgot")
    - if resource.errors.any?
      - @form_errors = resource
    .text.email-field
      = render :partial => "fields/forms/email", :locals => {f: f, :placeholder => I18n.t('words.inputs.email')}
    = render :partial => 'auth/links', :locals => {:do_ajax => true, :view_links => %(sign_in sign_up do_not_receive)} if defined?(do_ajax)
    = render :partial => 'auth/links', :locals => {:view_links => %(sign_in sign_up do_not_receive)} unless defined?(do_ajax)
    = render :partial => "fields/forms/submit", :locals => {f: f, :field_value => I18n.t('forms.fields.send_new_password'), :field_class => "close new-password"}