- if defined?(view_links)
  ul.links
    - if view_links.include?("sign_in")
      li
        = link_to I18n.t('forms.fields.sign_in'), new_session_path(resource_name), :remote => true if defined?(do_ajax)
        = link_to I18n.t('forms.fields.sign_in'), new_session_path(resource_name) unless defined?(do_ajax)
    /- if view_links.include?("sign_up")
    /  li
    /    = link_to I18n.t('forms.fields.sign_up'), new_registration_path(resource_name), :remote => true if defined?(do_ajax)
    /    = link_to I18n.t('forms.fields.sign_up'), new_registration_path(resource_name) unless defined?(do_ajax)
    - if view_links.include?("forgot")
      li 
        = link_to I18n.t('login.links.forgot'), new_password_path(resource_name), :remote => true if defined?(do_ajax)
        = link_to I18n.t('login.links.forgot'), new_password_path(resource_name) unless defined?(do_ajax)
    /- if view_links.include?("do_not_receive")
    /  li
    /    = link_to I18n.t('login.links.did_not_receive'), new_confirmation_path(resource_name), :remote => true if defined?(do_ajax)
    /    = link_to I18n.t('login.links.did_not_receive'), new_confirmation_path(resource_name) unless defined?(do_ajax)