.wrapper
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin login-form"}) do |f|
    - if resource.errors.any?
      - @form_errors = resource
    h2.form-signin-heading = I18n.t("login.links.authorization")
    .text.email-field
      = render :partial => "fields/forms/email", :locals => {f: f, :placeholder => I18n.t('words.inputs.email')}
    .text
      = render :partial => "fields/forms/password", :locals => {f: f, :placeholder => I18n.t('words.inputs.password')}
    label.checkbox
      = render :partial => "fields/forms/remember_me", :locals => {f: f}
    = render :partial => 'auth/links', :locals => {:do_ajax => true, :view_links => %w(sign_up forgot do_not_receive)} if defined?(do_ajax)
    = render :partial => 'auth/links', :locals => {:view_links => %w(sign_up forgot do_not_receive)} unless defined?(do_ajax)
    = render :partial => "fields/forms/submit", :locals => {:f => f, :field_value => I18n.t('forms.fields.sign_in'), :field_class => "btn btn-large btn-primary"}