class App.Views.FaqEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Faq({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.faqs.edit") %>"
    @options.success_message = "<%= I18n.t("models.faqs.updated") %>"
    @options.error_message = "<%= I18n.t("models.faqs.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.faqs.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"