class App.Views.FaqAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Faq()
    @options.header = "<%= I18n.t("models.faqs.new") %>"
    @options.success_message = "<%= I18n.t("models.faqs.added") %>"
    @options.error_message = "<%= I18n.t("models.faqs.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.faqs.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super
