class App.Views.FaqDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Faq({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.faqs.deleted") %>"
    super
