class App.Views.FaqsIndexPage extends App.Views.SharedIndexPage

  initialize: (params)->
    @collection = new App.Collections.FaqsPaginatedCollection(params)
    @collectionView = App.Views.FaqsCollection

    @idsModel = App.Models.IdsFaq

    @options.pluralModelString = "<%= I18n.t("models.faqs.plural") %>"
    @options.addModelString = "<%= I18n.t("models.faqs.add") %>"
    super(params)
