class App.Views.TaskSelectFacilitiesView extends App.Views.TaskSelectObjectsView

  createFilterViews: () ->
    @groupsSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "category", label: I18n.t("words.display_categories")})
    @groupsSelectedFiltersView.on "removeFilter", (data) =>
      @groupesControl.trigger("removeFilter", data)

    @manufacturersSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "manufacturer", label: I18n.t("words.display_manufacturers")})
    @manufacturersSelectedFiltersView.on "removeFilter", (data) =>
      @manufacturersControl.trigger("removeFilter", data)

    @stylesSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "style", label: I18n.t("words.display_styles")})
    @stylesSelectedFiltersView.on "removeFilter", (data) =>
      @stylesControl.trigger("removeFilter", data)

    @materialsSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "material", label: I18n.t("words.display_materials")})
    @materialsSelectedFiltersView.on "removeFilter", (data) =>
      @materialsControl.trigger("removeFilter", data)

  createControlViews: () ->
    @groupesControl = @getGroupesControl()
    @manufacturersControl = @getManufacturersControl()
    @stylesControl = @getStylesControl()
    @materialsControl = @getMaterialsControl()

  renderControlViews: ->
    @$("#filters").append(@groupesControl.render().el)
    @$("#filters").append(@manufacturersControl.render().el)
    @$("#filters").append(@stylesControl.render().el)
    @$("#filters").append(@materialsControl.render().el)

  renderFilters: ->
    @$(".filter").append(@groupsSelectedFiltersView.render().el)
    @$(".filter").append(@manufacturersSelectedFiltersView.render().el)
    @$(".filter").append(@stylesSelectedFiltersView.render().el)
    @$(".filter").append(@materialsSelectedFiltersView.render().el)

  selectedObjectsCollectionViewRender: ->
    @selectedObjectsCollectionView = new App.Views.SelectedFacilitiesCollection({collection: @selectedObjectsCollection, settings: true})
    @selectedObjectsCollectionView.on "removeFacility", @removeObject
    @selectedObjectsCollectionView
    super

  getGroupesControl: () ->
    groupesControlView = new App.Views.GroupedCollectionCheckboxesControl({
      inputName: "group_ids"
      selectedLabel: I18n.t("words.selected_categories")
      title: I18n.t("models.categories.singular")
      sectionSlug: "<%= Section.find(Settings.facilities_groups_section).slug %>"
    })

    groupesControlView.on "applyChecking", (checkedValues) =>
      @manufacturersControl.filterByGroups(checkedValues)
      @applyChecking("group_ids", checkedValues)

    groupesControlView

  getManufacturersControl: () ->
    @manufacturersControl = new App.Views.AlphabetCollectionCheckboxesControl({
      inputName: "manufacturer_ids"
      selectedLabel: I18n.t("words.selected_manufacturers")
      title: I18n.t("forms.fields.manufacturer_id")
      sectionSlug: "<%= Section.find(Settings.facilities_manufacturers_section).slug %>"
    })

    @manufacturersControl.on "applyChecking", (checkedValues) =>
      @applyChecking("manufacturer_ids", checkedValues)

    @manufacturersControl

  getStylesControl: () ->
    stylesControlView = new App.Views.CollectionCheckboxesControl({
      inputName: "style_ids"
      selectedLabel: I18n.t("words.selected_style")
      title: I18n.t("forms.fields.style_id")
      sectionSlug: "<%= Section.find(Settings.facilities_styles_section).slug %>"
    })

    stylesControlView.on "applyChecking", (checkedValues) =>
      @applyChecking("style_ids", checkedValues)

    stylesControlView

  getMaterialsControl: () ->
    materialsControlView = new App.Views.CollectionCheckboxesControl({
      inputName: "material_ids"
      selectedLabel: I18n.t("words.selected_materials")
      title: I18n.t("forms.fields.material_ids")
      sectionSlug: "<%= Section.find(Settings.facilities_materials_section).slug %>"
    })

    materialsControlView.on "applyChecking", (checkedValues) =>
      @applyChecking("material_ids", checkedValues)

    materialsControlView

  addSelectedFilters: (inputName, checkedValues) ->
    switch inputName
      when "group_ids" then @groupsSelectedFiltersView.setCheckedValues(checkedValues)
      when "manufacturer_ids" then @manufacturersSelectedFiltersView.setCheckedValues(checkedValues)
      when "style_ids" then @stylesSelectedFiltersView.setCheckedValues(checkedValues)
      when "material_ids" then @materialsSelectedFiltersView.setCheckedValues(checkedValues)

  reloadObjectsCollection: () ->
    @objectsCollection.filters = {
      name: @getSearchValue()
      manufacturer_ids: @getManufacturerIds()
      group_ids: @getGroupIds()
      style_ids: @getStyleIds()
      material_ids: @getMaterialIds()
    }
    super

  getGroupIds: () ->
    value = []
    @$("input[name=group_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getStyleIds: () ->
    value = []
    @$("input[name=style_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getMaterialIds: () ->
    value = []
    @$("input[name=material_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getManufacturerIds: () ->
    manufacturer_ids = @$("input[name=manufacturer_ids]").val()
    JSON.parse(manufacturer_ids) unless manufacturer_ids == ''

  getObjectsCollectionView: () ->
    facilitiesGridCollection = new App.Views.FacilitiesGridCollection({collection: @objectsCollection, selectedFacilitiesCollection: @selectedObjectsCollection})
    facilitiesGridCollection.on("selectFacility", @selectObject, @)
    facilitiesGridCollection

  selectObject: (selectedFacility) ->
    @trigger("selectFacility", selectedFacility)
    @showOrHideButtons()

    newSelectedFacilityModel = new App.Models.SelectedFacility()

    newSelectedFacilityModel.save({
#     task_id: @model.get("id")
      facility_id: selectedFacility.get("id")
    }, {
      wait: true
      success: (model) =>

        @selectedObjectsCollection.add(newSelectedFacilityModel)
        @selectedObjectsCollectionViewRender()
        @showOrHideButtons()

      error: (model, response) =>

    })

  removeObject: (params) =>
    @selectedObjectsCollection.remove(params.removedFacilityModel)
    @trigger("removeFacility", params)
    super

  clearAllSelectedObjects: () ->
    @selectedObjectsCollection.each (selectedFacility) => vent.trigger("removeFacility", selectedFacility)
    super

  saveButtonClicked: (e) ->
    @saveData = {selected_facility_ids: @selectedObjectsCollection.map (selectedFacility) => selectedFacility.get('id')}
    super