class App.Views.TaskSelectScenesView extends App.Views.TaskSelectObjectsView

  createFilterViews: () ->
    @performersSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "category", label: I18n.t("words.display_performers")})
    @performersSelectedFiltersView.on "removeFilter", (data) =>
      @performersControl.trigger("removeFilter", data)

    @roomsSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "room", label: I18n.t("words.display_rooms")})
    @roomsSelectedFiltersView.on "removeFilter", (data) =>
      @roomsControl.trigger("removeFilter", data)

    @stylesSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "style", label: I18n.t("words.display_styles")})
    @stylesSelectedFiltersView.on "removeFilter", (data) =>
      @stylesControl.trigger("removeFilter", data)

    @gammaSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "gamma", label: I18n.t("words.display_gamma")})
    @gammaSelectedFiltersView.on "removeFilter", (data) =>
      @gammaControl.trigger("removeFilter", data)

    @toneSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "tone", label: I18n.t("words.display_tone")})
    @toneSelectedFiltersView.on "removeFilter", (data) =>
      @toneControl.trigger("removeFilter", data)

    @mainColorsSelectedFiltersView = new App.Views.ColorsSelectedFiltersView({modelName: "main-colors", label: I18n.t("words.display_main_colors")})
    @mainColorsSelectedFiltersView.on "removeFilter", (data) =>
      @mainColorsControl.trigger("removeFilter", data)

    @accentColorsSelectedFiltersView = new App.Views.ColorsSelectedFiltersView({modelName: "accent-colors", label: I18n.t("words.display_accent_colors")})
    @accentColorsSelectedFiltersView.on "removeFilter", (data) =>
      @accentColorsControl.trigger("removeFilter", data)

    @materialsSelectedFiltersView = new App.Views.SelectedFiltersView({modelName: "material", label: I18n.t("words.display_materials")})
    @materialsSelectedFiltersView.on "removeFilter", (data) =>
      @materialsControl.trigger("removeFilter", data)

  createControlViews: () ->
    @performersControl = @getPerformersControl()
    @roomsControl = @getRoomsControl()

    @stylesControl = @getStylesControl()
    @gammaControl = @getGammaControl()
    @toneControl = @getToneControl()
    @mainColorsControl = @getMainColorsControl()
    @accentColorsControl = @getAccentColorsControl()
    @materialsControl = @getMaterialsControl()

    paramsControls = [@stylesControl, @gammaControl, @toneControl, @mainColorsControl, @accentColorsControl, @materialsControl]
    @paramsOpenCloseContainer = @getParamsOpenCloseContainer(paramsControls)

  renderControlViews: ->
    @$("#filters").append(@performersControl.render().el)
    @$("#filters").append(@roomsControl.render().el)
    @$("#filters").append(@paramsOpenCloseContainer.render().el)

  renderFilters: ->
    @$(".filter").append(@performersSelectedFiltersView.render().el)
    @$(".filter").append(@roomsSelectedFiltersView.render().el)
    @$(".filter").append(@stylesSelectedFiltersView.render().el)
    @$(".filter").append(@gammaSelectedFiltersView.render().el)
    @$(".filter").append(@toneSelectedFiltersView.render().el)
    @$(".filter").append(@mainColorsSelectedFiltersView.render().el)
    @$(".filter").append(@accentColorsSelectedFiltersView.render().el)
    @$(".filter").append(@materialsSelectedFiltersView.render().el)

  selectedObjectsCollectionViewRender: ->
    @selectedObjectsCollectionView = new App.Views.SelectedScenesCollection({collection: @selectedObjectsCollection, settings: true})
    @selectedObjectsCollectionView.on "removeScene", @removeObject
    @selectedObjectsCollectionView
    super

  getPerformersControl: () ->
    performersControlView = new App.Views.AlphabetCollectionCheckboxesControl({
      inputName: "performer_ids"
      selectedLabel: I18n.t("words.selected_performers")
      title: I18n.t("forms.fields.performer_id")
      sectionSlug: "<%= Section.find(Settings.scenes_performer_section).slug %>"
      alphabetLanguage: 'ru'
    })

    performersControlView.on "applyChecking", (checkedValues) =>
      @applyChecking("performer_ids", checkedValues)

    performersControlView

  getRoomsControl: () ->
    @roomsControl = new App.Views.GroupedCollectionCheckboxesControl({
      inputName: "room_ids"
      selectedLabel: I18n.t("words.selected_rooms")
      title: I18n.t("words.room")
      sectionSlug: "<%= Section.find(Settings.scenes_rooms_section).slug %>"
    })

    @roomsControl.on "applyChecking", (checkedValues) =>
      @applyChecking("room_ids", checkedValues)

    @roomsControl

  getParamsOpenCloseContainer: (paramsControls) ->
    paramsOpenCloseContainer = new App.Views.OpenCloseContainer({
      title: I18n.t("words.params")
      controls: paramsControls
    })

    paramsOpenCloseContainer.on "applyControlChecking", (controlInputName, checkedValues) =>
      @addSelectedFilters(controlInputName, checkedValues)

    paramsOpenCloseContainer.on "applyChecking", =>
      @reloadObjectsCollection()

    paramsOpenCloseContainer

  getStylesControl: () ->
    stylesControlView = new App.Views.CheckboxesOpenCloseControl({
      inputName: "style_ids"
      title: I18n.t("forms.fields.style_id")
      sectionSlug: "<%= Section.find(Settings.scenes_styles_section).slug %>"
    })

    stylesControlView

  getGammaControl: () ->
    gammaControlView = new App.Views.CheckboxesOpenCloseControl({
      inputName: "gamma_ids"
      title: I18n.t("forms.fields.gamma_id")
      sectionSlug: "<%= Section.find(Settings.scenes_gammas_section).slug %>"
    })

    gammaControlView

  getToneControl: () ->
    toneControlView = new App.Views.CheckboxesOpenCloseControl({
      inputName: "tone_ids"
      title: I18n.t("forms.fields.tone_id")
      sectionSlug: "<%= Section.find(Settings.scenes_tones_section).slug %>"
    })

    toneControlView

  getMainColorsControl: () ->
    mainColorsControlView = new App.Views.ColorsOpenCloseControl({
      inputName: "main_color_ids"
      title: I18n.t("forms.fields.main_color_ids")
      sectionSlug: "<%= Section.find(Settings.scenes_main_colors_section).slug %>"
    })

    mainColorsControlView

  getAccentColorsControl: () ->
    accentColorsControlView = new App.Views.ColorsOpenCloseControl({
      inputName: "accent_color_ids"
      title: I18n.t("forms.fields.accent_color_ids")
      sectionSlug: "<%= Section.find(Settings.scenes_accent_colors_section).slug %>"
    })

    accentColorsControlView

  getMaterialsControl: () ->
    materialsControlView = new App.Views.CheckboxesOpenCloseControl({
      inputName: "material_ids"
      title: I18n.t("words.accent_material")
      sectionSlug: "<%= Section.find(Settings.scenes_materials_section).slug %>"
    })

    materialsControlView

  addSelectedFilters: (inputName, checkedValues) ->
    switch inputName
      when "performer_ids" then @performersSelectedFiltersView.setCheckedValues(checkedValues)
      when "room_ids" then @roomsSelectedFiltersView.setCheckedValues(checkedValues)
      when "style_ids" then @stylesSelectedFiltersView.setCheckedValues(checkedValues)
      when "gamma_ids" then @gammaSelectedFiltersView.setCheckedValues(checkedValues)
      when "tone_ids" then @toneSelectedFiltersView.setCheckedValues(checkedValues)
      when "main_color_ids" then @mainColorsSelectedFiltersView.setCheckedValues(checkedValues)
      when "accent_color_ids" then @accentColorsSelectedFiltersView.setCheckedValues(checkedValues)
      when "material_ids" then @materialsSelectedFiltersView.setCheckedValues(checkedValues)

  reloadObjectsCollection: () ->
    @objectsCollection.filters = {
      name: @getSearchValue()
      performer_ids: @getPerformerIds()
      room_ids: @getRoomIds()
      style_ids: @getStyleIds()
      gamma_ids: @getGammaIds()
      tone_ids: @getToneIds()
      main_color_ids: @getMainColorIds()
      accent_color_ids: @getAccentColorIds()
      material_ids: @getMaterialIds()
    }
    super

  getPerformerIds: () ->
    performer_ids = @$("input[name=performer_ids]").val()
    JSON.parse(performer_ids) unless performer_ids == ''

  getStyleIds: () ->
    _.map @stylesControl.checked, (item) -> item.get('id')

  getGammaIds: () ->
    _.map @gammaControl.checked, (item) -> item.get('id')

  getToneIds: () ->
    _.map @toneControl.checked, (item) -> item.get('id')

  getMainColorIds: () ->
    _.map @mainColorsControl.checked, (item) -> item.get('id')

  getAccentColorIds: () ->
    _.map @accentColorsControl.checked, (item) -> item.get('id')

  getMaterialIds: () ->
    _.map @materialsControl.checked, (item) -> item.get('id')

  getRoomIds: () ->
    value = []
    @$("input[name=room_ids]:checked").each (index, checkedItem) ->
      value.push $(checkedItem).val()

    value

  getObjectsCollectionView: () ->
    scenesGridCollection = new App.Views.ScenesGridCollection({collection: @objectsCollection, selectedScenesCollection: @selectedObjectsCollection})
    scenesGridCollection.on("selectScene", @selectObject, @)
    scenesGridCollection

  selectObject: (selectedScene) ->
    @trigger("selectScene", selectedScene)
    @showOrHideButtons()

    alreadySelected = false
    @selectedObjectsCollection.each (eachSelectedScene) =>
      alreadySelected = true if eachSelectedScene.get('scene_id') == selectedScene.get('id')

    unless alreadySelected
      newSelectedSceneModel = new App.Models.SelectedScene()
      newSelectedSceneModel.save({
#        task_id: @model.get("id")
        scene_id: selectedScene.get("id")
      }, {
        wait: true
        success: (model) =>
          @selectedObjectsCollection.add(newSelectedSceneModel)
          @selectedObjectsCollectionViewRender()
          @showOrHideButtons()

        error: (model, response) =>

      })

  removeObject: (params) =>
    console.log params
    @selectedObjectsCollection.remove(params.removedSceneModel)
    @trigger("removeScene", params)

  clearAllSelectedObjects: () ->
    @selectedObjectsCollection.each (selectedScene) => vent.trigger("removeScene", selectedScene)
    super

  saveButtonClicked: (e) ->
    @saveData = {selected_scene_ids: @selectedObjectsCollection.map (selectedScene) => selectedScene.get('id')}
    super