%tr
  %th
    = link_to I18n.t("forms.fields.code"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/code/{{ collection.getReverseOrder }}", :class => "sort-link"
  %th
    = link_to I18n.t("forms.fields.percent"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/percent/{{ collection.getReverseOrder }}", :class => "sort-link"
  %th
    = link_to I18n.t("forms.fields.created"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/created_at/{{ collection.getReverseOrder }}", :class => "sort-link"
  %th
  %th
  %th