%td.name {{ record.code }}
%td.slug {{ record.percent }}
%td.created-at {{ record.created }}
%td
  = link_to "<i class=\"icon-search\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}", :class => 'btn btn-success show-link'
%td
  = link_to "<i class=\"icon-pencil icon-large\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}/edit", :class => 'btn btn-primary edit-link'
%td
  = link_to "<i class=\"icon-trash icon-large\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}/delete", :class => 'btn btn-danger delete-link'