<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <%= Message.get_new_feed_back_message(@feed_back.name, @feed_back.email, @feed_back.body, @feed_back.topic) %>
  </body>
</html>