<%= render :partial => 'shared/about_tabs' %>

<div class="content-wrapper">
  <div id="tab3" class="content">
    <h1>Основатели сервиса ARCHIVIZER</h1>
    <p>Цель нашего проекта создать среду, в которой невероятно комфортно и немыслемо выгодно заниматься творческой самореализацией. </p>
    <div class="block-worker">
      <!-- founder -->
      <ul class="founder">
        <% Person.founders.each do |person| %>
          <li>
            <div class="visual"><img src="<%= person.person_image.file_url(:big_thumb_270x356) %>" alt="<%= person.get_name %>" width="270" height="356"></div>
            <div class="text">
              <h2><%= person.post %></h2>
              <span class="name"><%= person.get_name %></span>
              <a class="email" href="mailto:<%= person.email %>"><%= person.email %></a>
              <span class="tel"><%= person.phone %></span>
              <%= simple_format(person.description) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="block-worker">
      <h1>Художественные руководители студии.</h1>
      <p>Наша задача помочь сотруднику стать частью единого целого, раскрыв при этом индивидуальность каждого.</p>
      <!-- art directors -->
      <ul class="art-directors">
        <% Person.art_directors.each do |person| %>
          <li>
            <% unless person.person_image.nil? %>
              <img src="<%= person.person_image.file_url(:big_thumb_270x327) %>" alt="<%= person.get_name %>" width="270" height="327">
            <% end %> 
            <h2><%= person.post %></h2>
            <span class="name"><%= person.get_name %></span>
            <%= simple_format(person.description) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="block-worker">
      <h1>Архитекторы и проектировщики</h1>
      <p>В современном ритме жизни наиболее важным в интерьере становится его функциональность, эргономичность, мобильность и способность трансформироваться.</p>
      <!-- personnel -->
      <ul class="personnel">
        <% Person.architects.each do |person| %>
          <li>
            <a href="<%= person.person_image.file_url(:full_screen_thumb) unless person.person_image.nil? %>" rel="architects" class="person-image">
              <img src="<%= person.person_image.file_url(:middle_thumb_169x249) unless person.person_image.nil? %>" alt="<%= person.get_name %>" width="169" height="249">
              <div class="block">
                <span class="name"><%= person.get_name %></span>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="block-worker">
      <h1>Дизайнеры интерьра </h1>
      <p>Собрать головоломку из пожеланий заказчика, стилистических особенностей, законов эргономики, и воплотить эту мечту - и есть цель дизайнера - наша цель.</p>
      <!-- personnel -->
      <ul class="personnel">
        <% Person.designers.each do |person| %>
          <li>
            <a href="<%= person.person_image.file_url(:full_screen_thumb) unless person.person_image.nil? %>" rel="designers" class="person-image">
              <img src="<%= person.person_image.file_url(:middle_thumb_169x249) unless person.person_image.nil? %>" alt="<%= person.get_name %>" width="169" height="249">
              <div class="block">
                <span class="name"><%= person.get_name %></span>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="block-worker">
      <h1>Художники компьютерной графики</h1>
      <p>Собрать головоломку из пожеланий заказчика, стилистических особенностей, законов эргономики, и воплотить эту мечту - и есть цель дизайнера - наша цель.</p>
      <!-- personnel -->
      <ul class="personnel">
        <% Person.graphic_designers.each do |person| %>
          <li>
            <a href="<%= person.person_image.file_url(:full_screen_thumb) unless person.person_image.nil? %>" rel="graphic-designers" class="person-image">
              <img src="<%= person.person_image.file_url(:middle_thumb_169x249) unless person.person_image.nil? %>" alt="<%= person.get_name %>" width="169" height="249">
              <div class="block">
                <span class="name"><%= person.get_name %></span>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="block-worker">
      <h1>Служба поддержки</h1>
      <!-- personnel -->
      <ul class="personnel">
        <% Person.support.each do |person| %>
          <li>
            <a href="<%= person.person_image.file_url(:full_screen_thumb) unless person.person_image.nil? %>" rel="graphic-designers" class="person-image">
              <img src="<%= person.person_image.file_url(:middle_thumb_169x249) unless person.person_image.nil? %>" alt="<%= person.get_name %>" width="169" height="249">
              <div class="block">
                <span class="name"><%= person.get_name %></span>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>