= simple_form_for [get_href_namespace, @record], :html => { :class => 'form-horizontal', :multipart => true }, :validate => true do |f|
  -if @record.errors.any?
    - @form_errors = @record
  - @record.class.accessible_attributes.each do |attr|
    - if @model.respond_to?(:do_not_show_fields_in_form)
      - unless @model.do_not_show_fields_in_form.include?(attr)
        = render :partial => "fields/forms/#{attr}", :locals => {f: f, model: @model, record: @record} rescue render :partial => 'fields/forms/types/textfield', :locals => {f: f, field_name: attr, model: @model, record: @record}
    - else
      = render :partial => "fields/forms/#{attr}", :locals => {f: f, model: @model, record: @record} rescue render :partial => 'fields/forms/types/textfield', :locals => {f: f, field_name: attr, model: @model, record: @record}
  = render :partial => "fields/forms/submit", :locals => {f: f}
