<div class="bottom-box">
  <!-- paging -->
  <ul class="paging">
    <% @records.each_with_index do |record, index| %>
      <% if request.fullpath == polymorphic_path(record) %>
        <li class="page current-page"><span><%= (index + 1) %></span></li>
      <% else %>
        <li class="page"><a href="<%= polymorphic_path(record) %>"><%= (index + 1) %></a></li>
      <% end %>

    <% end %>
  </ul>
</div>