<div class="carousel-1">
  <div class="mask">
    <div class="slideset">
      <% @record.slideshow_images.each do |slideshow_image| %>
        <div class="slide">
          <img src="<%= slideshow_image.file_url(:big_thumb_1170x460) %>" alt="" width="1170" height="460">
        </div>
      <% end %>
    </div>
  </div>
  <!-- pagination -->
  <div class="pagination">
    <ul>
      <% @record.slideshow_images.each_with_index do |slideshow_image, index| %>
        <li><a href="#"><%= (index+1) %></a></li>
      <% end %>
    </ul>
  </div>
  <a class="btn-prev" href="#">Previous</a>
  <a class="btn-next" href="#">Next</a>
</div>
<!-- post -->
<article class="post">
  <time datetime="<%= print_date(@record.created_at) %>"><%= print_date(@record.created_at) %></time>
  <div class="box">
    <header>
      <h2><%= @record.get_name %></h2>
    </header>
    <%= safe_html(@record.teaser) %>
    <div class="body"><%= safe_html(@record.body) %></div>
    <footer>
      <a href="#" class="more">Подробнее</a>
    </footer>
  </div>
</article>