<%= render :partial => 'shared/about_tabs' %>

<div class="content-wrapper">

  <div id="tab5" class="content">
    <h1>Новости, статьи, уроки</h1>
    <p>На этой странице мы  собрали все, что не вместилось на других. Много важного и интересного о жизни и работе нашей студии. </p>
    <!-- carousel structure example -->
    <%= render :partial => 'record' %>
  </div>

    <%= render :partial => 'pagination' %>
</div>