%tr
  %th
  %th
    = link_to I18n.t("forms.fields.name"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/name/{{ collection.getReverseOrder }}", :class => "sort-link"
  %th
    = link_to I18n.t("forms.fields.project_id"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/project_id/{{ collection.getReverseOrder }}", :class => "sort-link"
  %th
    = link_to I18n.t("forms.fields.created"), "{{ collection.getPath }}/page/{{ collection.information.currentPage }}/created_at/{{ collection.getReverseOrder }}", :class => "sort-link"
  %th
  %th
  %th
  %th