class App.Views.SelectedObjectControlItem extends App.View

  template: JST['account/shared/field_items/selected_object_control_item']

  className: 'selected-object'

  events: {
    "mouseenter a.lightbox": "showBigImage"
    "mouseleave a.lightbox": "hideBigImage"
    "click a.view": "showFullScreenPreview"
    "click a.lightbox": "showFullScreenPreview"
    "click .js-edit": "toggleSettings"
    "click .js-cancel": "toggleSettings"
    "click .js-save": "saveSettings"
    "click .js-remove": "removeButtonClicked"
  }

  initialize: (params) ->
    _.extend(@, params)

    @opened = false

    @$fileInput = $("<input>", {type: 'file', multiple: 'multiple', name: @texturesFileInputName})
    @$fileInput.attr('data-url', @texturesUploadUrl)

    vent.on "selectedObjectSettingsShow", (firedView) =>
      @hideSettingsBox() if @opened && (firedView != @)

    @model.on "change", @render, @

    super(params)

  render: () ->
    @$el.html(@template({
      record: @model
      selectedObjectTexturesFieldName: @selectedObjectTexturesFieldName
    }))

    @$(".fileinput-button").append @$fileInput

    @initFileUpload()

    @setFileIds([])

    _.each @model.get("#{@selectedObjectTexturesFieldName.replace(/_ids$/, '')}s"), @appendSeletedObjectTexture

    @

  showBigImage: () =>
    @$(".big-image-wrapper").css(top: -(@$(".big-image-wrapper").height()/2 - 7))
    @$(".big-image-wrapper").fadeIn(1)

  hideBigImage: () =>
    @$(".big-image-wrapper").fadeOut(1)

  showFullScreenPreview: (e) ->
    e.preventDefault()

    new @fancyboxView({model: @model.getParentModel()}).show()

  removeButtonClicked: (e) ->
    e.preventDefault()
    @trigger('removeSelectedObject', @model)

  toggleSettings: (e) ->
    e.preventDefault()

    if @opened
      @hideSettingsBox()
    else
      @showSettingsBox()

    vent.trigger "selectedObjectSettingsShow", @

  hideSettingsBox: ->
    @$('.selected-object-settings-wrapper').slideUp()
    @opened = false

  showSettingsBox: ->
    @$('.selected-object-settings-wrapper').slideDown()
    @opened = true

  saveSettings: (e) ->
    e.preventDefault()

    data = Backbone.Syphon.serialize(@)
    delete data[@texturesFileInputName.replace(/\[file\]/, '')]
    ids = JSON.parse data[@selectedObjectTexturesFieldName]
    data[@selectedObjectTexturesFieldName] = ids

    @model.save data,
      success: =>
        @hideSettingsBox()

  initFileUpload: () ->
    @$fileInput.fileupload

      dataType: "json"
      dropZone: @$el
#      formData: {"selected_facility_texture[selected_facility_id]": @model.get("id")}

      add: (e, data) ->
        data.submit()
#        types = <%= SelectedFacilityTexture.get_file_extensions_as_regexp %>
#        file = data.files[0]
#        if types.test(file.type) or types.test(file.name)
#          data.submit()
#        else
#          alert(I18n.t("errors.messsages.not_texture_format"))

      done: (e, data, result) =>
        @addFileId(data.result.id) unless _.isUndefined(data.result)
#        @trigger("selectedFacilityTextureUploaded", data.result)
        @appendSeletedObjectTexture(data.result)

      error: (e, data, message) => console.log "Error", e, data, message
      fail: (e, data, message) => console.log "Fail", e, data, message

  appendSeletedObjectTexture: (selectedObjectTexture) =>
    @addFileId(selectedObjectTexture.id)

    selectedObjectTextureView = new App.Views.SelectedObjectTexture({
      model: new @selectedObjectModel(selectedObjectTexture)
    })

    selectedObjectTextureView.on "selectedObjectTextureDestroyed", (data) =>
      @removeFileId(data.get("id"))

    @$("ul.textures").append selectedObjectTextureView.render().el

  getFileIds: () ->
    JSON.parse @$("input[name=#{@selectedObjectTexturesFieldName}]").val()

  setFileIds: (ids) ->
    @$("input[name=#{@selectedObjectTexturesFieldName}]").val(JSON.stringify(ids))

  addFileId: (id) ->
    ids = @getFileIds()
    ids.push(id) unless _.contains(ids, id)
    @setFileIds(ids)

  removeFileId: (id) ->
    ids = @getFileIds()
    ids = _.without(ids, id)
    @setFileIds(ids)