form.category-form
  fieldset
    select#filter-by-categories.category title="#{defined?(record) ? record.get_name : 'Сортировать'}"
      option value="all"= I18n.t("words.all")
      - Section.find(Settings.portfolios_section).get_root_categories.each_with_index do |category, index|
        option selected=('selected' if defined?(record) && (category.slug == record.slug)) value="#{category.slug}" = category.get_name