- records.each_with_index do |record, index|
  li
    a.portfolio-image href="#{record.file_url(:full_screen_thumb).html_safe}" rel="portfolio"
      - if (index == 1) || (index == 8) || (index == 13) || (index == 20)
        = image_tag(record.file_url(:big_thumb_270x430), width: 270, height: 430, alt: '')

      - elsif (index == 5) || (index == 6) || (index == 17) || (index == 18)
        = image_tag(record.file_url(:big_thumb_570x200), width: 570, height: 200, alt: '')

      - else
        = image_tag(record.file_url(:big_thumb_270x200), width: 270, height: 200, alt: '')

      span.zoom