.top-box
  = render :partial => 'showing', :locals => {records: @records}

  #paginate-top = paginate @records

  = render :partial => 'category_filter', :locals => {records: @records}


ul.gallery-portfolio = render :partial => 'records', :locals => {records: @records}

.bottom-box
  = render :partial => 'showing', :locals => {records: @records}

  #paginate-bottom = paginate @records

