$('ul.gallery-portfolio').html('<%= escape_javascript(render(:partial => 'records', :locals => {records: @records})) %>');
$('#paginate').html('<%= escape_javascript(paginate(@records, :remote => true)) %>');
