.top-box
  = render :partial => 'showing', :locals => {records: @records}

  #paginate-top = paginate @records

  = render :partial => 'category_filter', :locals => {records: @records, record: @record}


- if @records.size > 0
  ul.gallery-portfolio = render :partial => 'records', :locals => {records: @records}

- else
  .no-records-title = I18n.t("words.no_records")

.bottom-box
  = render :partial => 'showing', :locals => {records: @records}

  #paginate-bottom = paginate @records