#class App.Views.ArraySelectOptions extends App.View
#
#  template: JST['account/visualizations/controls/select_options']
#
#  className: "select-options drop-uthemed"
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    super(params)
#
#  render: () ->
#    @$el.html(@template({collection: @collection}))
#
#    _.each @collection, (item, index) =>
#
#      li = $("<li>", {class: 'jcfcalc', rel: index})
#      li.addClass('option-even') if index % 2 == 0
#      li.addClass('item-selected') if item.value == @selectedValue
#
#      currentView = @
#      li.on "mouseover", () ->
#        currentView.$(".jcfcalc").removeClass("item-selected")
#        $(this).addClass("item-selected") unless $(this).hasClass("item-selected")
#
#      link = $('<a>', {href: '#', 'data-id': item.value})
#
#      link.on "click", @linkClick
#
#
#      link.append($("<span>", {text: item.text}))
#      li.append(link)
#
#      @$(".drop-list ul").append(li)
#
#    $(document).on "click", (e) =>
#
#      unless @isParent(e.target, $(".array-select-control")[0])
#        @hideView()
#
#    @
#
#  linkClick: (e) =>
#    e.preventDefault()
#
#    selectedId = if _.isUndefined($(e.target).data('id')) then $(e.target).parent().data('id') else $(e.target).data('id')
#
#    console.log selectedId
#    @trigger("selectOption", selectedId)
#
#    @hideView()
#
#  hideView: () ->
#    @remove()
#
#  isParent: (child, parent) ->
#    while child.parentNode
#      return true  if child.parentNode is parent
#      child = child.parentNode
#    false
