#class App.Views.CategorySelectOptions extends App.View
#
#  template: JST['account/visualizations/controls/category_select_options']
#
#  className: "select-options drop-uthemed"
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    super(params)
#
#  render: () ->
#    @$el.html(@template({collection: @collection}))
#
#    @collection.each (item, index) =>
#
#      categoryLi = $("<li>", {class: 'jcfcalc', rel: index})
#      categoryLi.addClass('option-even') if index % 2 == 0
#      categoryLi.addClass('item-selected') if item.get("id") == @selectedValue
#
#      currentView = @
#      categoryLi.on "mouseover", () ->
#        currentView.$(".jcfcalc").removeClass("item-selected")
#        $(this).addClass("item-selected") unless $(this).hasClass("item-selected")
#
#      categoryLink = $('<a>', {href: '#', 'data-id': item.get("id")})
#
#      categoryLink.on "click", @categoryLinkClick
#
#
#      categoryLink.append($("<span>", {text: item.get("name")}))
#      categoryLi.append(categoryLink)
#
#      @$(".drop-list ul").append(categoryLi)
#
#    $(document).on "click", (e) =>
#
#      unless @isParent(e.target, $(".category-select-control")[0])
#        @hideView()
#
#    @
#
#  categoryLinkClick: (e) =>
#    e.preventDefault()
#
#    selectedId = if _.isUndefined($(e.target).data('id')) then $(e.target).parent().data('id') else $(e.target).data('id')
#
#    @trigger("selectOption", selectedId)
#
#    @hideView()
#
#  hideView: () ->
#    @remove()
#
#  isParent: (child, parent) ->
#    while child.parentNode
#      return true  if child.parentNode is parent
#      child = child.parentNode
#    false
