class App.Views.GroupedCollectionCheckboxesControl extends App.Views.CollectionCheckboxesControl

  template: JST['account/visualizations/controls/grouped_collection_checkboxes_control']

  initialize: (params) ->
    super(params)

    @collectionCheckboxesControlItems = []

  renderCollection: () ->
    @$container = $("<div>", {class: "items"})
    @$(".slide form.category").prepend @$container

    @$container.isotope({
      itemSelector : '.category-block'
    })

    @renderItems(@collection.toArray())


  renderItems: (items, viewed = []) ->
    self = @

    parentItems = []
    _.each @collection.toArray(), (item) ->
      parentItems.push(item) if item.get("parent_id") == "root"

    _.each parentItems, (parentItem) =>
      parentItemView = $("<div>", {class: 'category-block'})
      titleElement = $("<strong>", {class: 'title', text: parentItem.get("name"), 'data-id': parentItem.get("id"), 'data-state': false})
      titleElement.on "click", @titleClick
      parentItemView.append(titleElement)

      list = $("<ul>")
      _.each @collection.toArray(), (item) =>
        if item.get("parent_id") == parentItem.get("id")
          view = new App.Views.CollectionCheckboxesControlItem({inputName: @inputName, model: item})
          view.on("checkItem", @checkItem)
          @collectionCheckboxesControlItems.push view
          list.append view.render().el

      parentItemView.append list
      @$container.isotope('insert', parentItemView)

  titleClick: (e) =>
    target = $(e.target)

    if @collectionCheckboxesControlItems.length > 0
      state = target.data('state')
      _.each @collectionCheckboxesControlItems, (collectionCheckboxesControlItem) =>

        if state
          collectionCheckboxesControlItem.unCheck() if collectionCheckboxesControlItem.model.get("parent_id") == target.data('id')
          target.data('state', false)
        else
          collectionCheckboxesControlItem.check() if collectionCheckboxesControlItem.model.get("parent_id") == target.data('id')
          target.data('state', true)