#class App.Views.ModelingTasksControl extends App.View
#
#  tagName: "li"
#
#  template: JST['account/visualizations/controls/modeling_tasks_control']
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    @count = if _.isUndefined(@value) then 0 else @value.length
#    @floorArea = @model.get("floor_area")
#
#    @$hiddenSelect = $("<select>", {name: "modeling_task_ids", class: "jcf-hidden", multiple: "multiple"})
#
#    @taskModels ||= []
#
#    super(params)
#
#  render: () ->
#    @renderTemplate()
#
#    @$el.addClass("selected") if @checked
#
#    @$el.prepend(@$hiddenSelect)
#
#    _.each @model.get("modeling_tasks"), (modeling_task) =>
#      @$hiddenSelect.append($("<option>", {name: "modeling_task", selected: "selected", value: modeling_task.id}))
#
#    @$(".add-task").on "click", @addModelingTask
#
#    @reloadPrice()
#
#    @
#
#  renderTemplate: () ->
#    @$el.html(@template({
#      record: @model
#      label: @label
#      field: @field
#      count: @count
#      checked: @checked
#      value: @value
#      price: @getPriceMethod()
#    }))
#
#  check: () ->
#    @$el.addClass("selected") unless @$el.hasClass('selected')
#    @$(".chk-area").addClass("chk-checked") unless @$(".chk-area").hasClass('chk-checked')
#
#  unCheck: () ->
#    @$el.removeClass("selected")
#    @$(".chk-area").removeClass("chk-checked")
#
#  addModelingTask: (e) =>
#    e.preventDefault()
#    modelingTasksFancyboxView = new App.Views.ModelingTasksFancyboxView({model: @model, taskModels: @taskModels})
#
#    modelingTasksFancyboxView.on "modelSaved", () =>
#
#      unless _.isUndefined(@model.get("id"))
#        modelingTasks = new App.Collections.ModelingTasksPaginatedCollection({visualization_id: @model.get("id")})
#        modelingTasks.on "reset", () => @$("span.unit").text("#{modelingTasks.length} #{I18n.t("words.pcs")}")
#        modelingTasks.fetch()
#
#    modelingTasksFancyboxView.on "ModelingTaskItemSaved", (taskModel) =>
#      @addValue(taskModel)
#
#    modelingTasksFancyboxView.on "destroyTask", (taskModel) =>
#      @removeValue(taskModel)
#
#    modelingTasksFancyboxView
#
#  changeTextAndCheck: () ->
#    @$("span.unit").text("#{@$hiddenSelect.children("option").length} #{I18n.t("words.pcs")}")
#    @reloadPrice()
#
#    if @$hiddenSelect.children("option").length > 0
#      @check()
#    else
#      @unCheck()
#
#  addValue: (taskModel) ->
#    @taskModels.push(taskModel)
#
#    if @$hiddenSelect.children("option[value='#{taskModel.get("id")}']").length == 0
#      @$hiddenSelect.append($("<option>", {name: "modeling_task", selected: "selected", value: taskModel.get("id")}))
#
#    @changeTextAndCheck()
#
#  removeValue: (taskModel) ->
#    @taskModels = _.without(@taskModels, taskModel)
#
#    @$("option[value='#{taskModel.get("id")}']").remove()
#
#    @changeTextAndCheck()
#
#  reloadPrice: () ->
#    params = {}
#    params['modelingTasksCount'] = if @$hiddenSelect.children("option").length < 1 then 1 else @$hiddenSelect.children("option").length
#    @trigger("changeValue", @$hiddenSelect.children("option").length )
#    val = @getPriceMethod(params)
#    val = "+#{val}" if val > 0
#
#    @$("span.price").text("#{val}#{I18n.t("settings.currency")}")