#class App.Views.ModelingTaskImageControl extends App.View
#
#  className: "image-holder"
#
#  template: JST['account/visualizations/controls/modeling_task_image_control']
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    @uploadedImageId = if (_.isUndefined(@value) || _.isNull(@value)) then null else @value.id
#
#    @$fileInput = $("<input type='file' multiple='multiple' name='#{@field}[file]' data-url='#{@uploadUrl}' />")
#
#    super(params)
#
#  render: () ->
#    @renderTemplate()
#
#    @$(".fileinput-button").append(@$fileInput)
#    @initFileUpload()
#
#    @
#
#  renderTemplate: () ->
#    @$el.html(@template({
#      record: @model
#      label: @label
#      field: @field
#      value: @value
#    }))
#
#  initFileUpload: () ->
#    formData = {}
#    formData["#{@field}[modeling_task_id]"] = @model.get("id")
#
#    @$fileInput.fileupload({
#      dataType: "json"
#      dropZone: @$el
#      formData: formData
#
#      add: (e, data) ->
#        types = <%= ModelingTaskImage.get_file_extensions_as_regexp %>
#        file = data.files[0]
#        if types.test(file.type) or types.test(file.name)
#          data.submit()
#        else
#          alert(I18n.t("errors.messsages.not_plan_format"))
#
#      done: (e, data, result) =>
#        @uploadedImageId = data.result.id unless (_.isUndefined(data.result) || _.isNull(data.result))
#        @trigger("changeValue", @uploadedImageId)
#        @appendUploadedPreview(data.result)
#
#      error: (e, data, message) =>
#        console.log "Error"
#        console.log e
#        console.log data
#        console.log message
#
#      fail: (e, data, message) =>
#        console.log "Fail"
#        console.log e
#        console.log data
#        console.log message
#
#    })
#
#  appendUploadedPreview: (data) =>
#    preview = $("<img>", {src: data.file.middle_thumb_142x163.url})
#    @$(".sample-download").removeClass("sample-download").addClass('sample-download-preview').text("")
#    @$(".sample-download-preview img").remove()
#    @$(".sample-download-preview").append(preview)
#
#  getUploadedImageId: () ->
#    @uploadedImageId