#class App.Views.ModelingTaskTexturesControl extends App.View
#
#  className: "row"
#
#  template: JST['account/visualizations/controls/modeling_task_textures_control']
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    @uploadedTextureIds = if (_.isUndefined(@value) || _.isNull(@value)) then [] else _.map(@value, (item) -> item.id)
#
#    @$fileInput = $("<input type='file' multiple='multiple' name='#{@field}[file]' data-url='#{@uploadUrl}' />")
#
#    super(params)
#
#  render: () ->
#    @renderTemplate()
#
#    @$(".fileinput-button").append(@$fileInput)
#    @initFileUpload()
#
#    @
#
#  renderTemplate: () ->
#    @$el.html(@template({
#      record: @model
#      label: @label
#      field: @field
#      value: @value
#    }))
#
#  initFileUpload: () ->
#    formData = {}
#    formData["#{@field}[modeling_task_id]"] = @model.get("id")
#
#    @$fileInput.fileupload({
#      dataType: "json"
#      dropZone: @$el
#      formData: formData
#
#      add: (e, data) ->
#        types = <%= ModelingTaskImage.get_file_extensions_as_regexp %>
#        file = data.files[0]
#        if types.test(file.type) or types.test(file.name)
#          data.submit()
#        else
#          alert(I18n.t("errors.messsages.not_plan_format"))
#
#      done: (e, data, result) =>
#        @uploadedTextureIds.push(data.result.id) unless (_.isUndefined(data.result) || _.isNull(data.result))
#        @trigger("changeValue", @uploadedTextureIds)
#        @appendUploadedPreview(data.result)
#
#      error: (e, data, message) =>
#        console.log "Error"
#        console.log e
#        console.log data
#        console.log message
#
#      fail: (e, data, message) =>
#        console.log "Fail"
#        console.log e
#        console.log data
#        console.log message
#
#    })
#
#  appendUploadedPreview: (data) =>
#    previewLi = $("<li>")
#    previewA = $("<a>", {text: data.name, href: data.file.url, target: "_blank"})
#    preview = $("<img>", {src: data.file.mini_thumb_24x24.url, width: 24, height: 24})
#
#    @$("ul.images").append(previewLi.append(previewA.prepend(preview)))
#
#  getUploadedTextureIds: () ->
#    @uploadedTextureIds