#class App.Views.PlanSettingsControl extends App.View
#
#  tagName: "li"
#
#  template: JST['account/visualizations/controls/plan_settings_control']
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    @options ||= {}
#
#    @options.header = gon["#{@plan}PlanFirstLabel"]
#
#    @validates = []
#    @validates = @model.get('validate') unless _.isUndefined(@model.get('validate'))
#
#    @values = if _.isUndefined(@model.get("#{@plan}_plan_ids")) then [] else @model.get("#{@plan}_plan_ids")
#
#    @comment = @model.get("#{@plan}_plan_comment")
#
#    @$fileInput = $("<input type='file' multiple='multiple' name='#{@plan}_plan[file]' data-url='#{new App.Models["#{_.str.capitalize(@plan)}Plan"]().url()}' />")
#    @$hiddenSelect = $("<select>", {class: "jcf-hidden", name: "#{@plan}_plan_ids"})
#
#    super(params)
#
#  render: () ->
#    @renderTemplate()
#
#    @$el.addClass("selected") if @validates["#{@plan}-plan"]
#
#    @$el.prepend(@$hiddenSelect)
#
#    @$(".fileinput-button").append @$fileInput
#    @initFileUpload()
#
#    # In events not working if not recreate view
#    @$(".js-cancel").on "click", @cancelChecking
#    @$(".js-save").on "click", @saveModel
#    @$(".js-delete").on "click", @deletePlan
#    @$(".js-delete-file").on "click", @deleteFile
#
#    @$el.on "hideSlide", => @hideSlide()
#
#    @$(".open-close").openClose({
#      hideOnClickOutside: true
#      activeClass: 'active'
#      opener: '.opener'
#      slider: '.slide'
#      animSpeed: 400
#      effect: 'slide'
#    })
#
#    @
#
#  renderTemplate: () ->
#    pars = {}
#    pars["#{@plan}_plan_ids"] = 0
#
#    @$el.html(@template({
#      record: @model
#      validates: @validates
#      options: @options
#      plan: @plan
#      price: @model["get#{_.string.capitalize(@plan)}PlanPrice"](pars)
#    }))
#
#  initFileUpload: () ->
#    formData = {}
##    formData["#{@plan}_plan[visualization_id]"] = @model.get("id")
#
#    @$fileInput.fileupload({
#      dataType: "json"
#      dropZone: @$el
#      formData: formData
#
#      add: (e, data) ->
#        data.submit()
##        types = <%= PlanFile.get_file_extensions_as_regexp %>
##        file = data.files[0]
##        if types.test(file.type) or types.test(file.name)
##          data.submit()
##        else
##          alert(I18n.t("errors.messsages.not_plan_format"))
#
#      done: (e, data, result) =>
##        @trigger("modelUpdated", @model)
#        @appendUploadedFile(data.result)
#
#      error: (e, data, message) =>
#        console.log "Error"
#        console.log e
#        console.log data
#        console.log message
#
#      fail: (e, data, message) =>
#        console.log "Fail"
#        console.log e
#        console.log data
#        console.log message
#
#    })
#
#  cancelChecking: (e) =>
#    e.preventDefault()
#
#    @hideSlide()
#    @trigger("modelUpdated")
#
#  hideSlide: () =>
#    @$el.removeClass("active")
#    @$(".slide").slideUp 400, () =>
#      @$(".slide").addClass("js-slide-hidden")
#
#  saveModel: (e) =>
#    e.preventDefault()
#    attrs = {}
#    attrs["#{@plan}_plan_comment"] = @$("textarea[name='#{@plan}_plan_comment']").val()
#    attrs["#{@plan}_plan_ids"] = JSON.stringify(@values)
#    @model.save(attrs)
#    @hideSlide()
#
#  deletePlan: (e) =>
#    e.preventDefault()
#
#    attrs = {}
#    attrs["#{@plan}_plan_comment"] = ""
#    attrs["#{@plan}_plan_ids"] = JSON.stringify([])
#
#    @model.save(attrs)
#    @hideSlide()
#
#  deleteFile: (e) =>
#    e.preventDefault()
#
#    fileId = $(e.target).data("id")
#
#    @$(".file-#{fileId}").hide()
#
#    @removeFileId(fileId)
#
#  appendUploadedFile: (data) ->
#    openerUploadedFileWrapper = $("<li>", {class: "uploaded-file file-#{data.id}", text: data.name})
#
#    thumb_url = if _.contains(['jpeg', 'jpg', 'gif', 'png'], data.file.url.substr(data.file.url.lastIndexOf('.') + 1)) then data.thumb_url else "/assets/#{data.file.url.substr(data.file.url.lastIndexOf('.') + 1).toUpperCase()}.png"
#
#    openerUploadedFileImg = $("<img>", {src: thumb_url, width: 33, height: 24})
#    openerUploadedFileDeleteHref = $("<a>", {href: "#", class: "ico-delete", text: I18n.t("words.delete"), 'data-id': data.id})
#    openerUploadedFileDeleteHref.on "click", @deleteFile
#
#    openerUploadedFileWrapper.prepend(openerUploadedFileImg)
#    openerUploadedFileWrapper.append(openerUploadedFileDeleteHref)
#
#    @$(".image-holder ul").append(openerUploadedFileWrapper)
#
#    @addFileId(data.id)
#
#  addFileId: (id) ->
#    @values.push(id)
#
#  removeFileId: (id) ->
#    @values = _.without(@values, id)
#
