#class App.Views.SampleProjectStyleControl extends App.View
#
#  className: "download-wrap"
#
#  template: JST['account/visualizations/controls/sample_project_style_control']
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    @$fileInput = $("<input type='file' multiple='multiple' name='#{@field}[file]' data-url='#{@uploadUrl}' />")
#
#    super(params)
#
#  render: () ->
#    @renderTemplate()
#
#    if @checked
#      @$el.addClass("selected") unless @$el.hasClass('selected')
#    else
#      @$el.removeClass("selected")
#
#    @$(".fileinput-button").append(@$fileInput)
#    @initFileUpload()
#
#    @
#
#  renderTemplate: () ->
#    @$el.html(@template({
#      record: @model
#      label: @label
#      field: @field
#      checked: @checked
#      value: @value
#    }))
#
#  initFileUpload: () ->
#    formData = {}
#    formData["#{@field}[visualization_id]"] = @model.get("id")
#
#    @$fileInput.fileupload({
#      dataType: "json"
#      dropZone: @$el
#      formData: formData
#
#      add: (e, data) ->
#        types = <%= SampleProjectStyle.get_file_extensions_as_regexp %>
#        file = data.files[0]
#        if types.test(file.type) or types.test(file.name)
#          data.submit()
#        else
#          alert(I18n.t("errors.messsages.not_plan_format"))
#
#      done: (e, data, result) =>
#        @appendUploadedPreview(data.result)
#
#      error: (e, data, message) =>
#        console.log "Error"
#        console.log e
#        console.log data
#        console.log message
#
#      fail: (e, data, message) =>
#        console.log "Fail"
#        console.log e
#        console.log data
#        console.log message
#
#    })
#
#  appendUploadedPreview: (data) =>
#    preview = $("<img>", {src: data.file.middle_thumb_142x163.url})
#    @$(".sample-download").removeClass("sample-download").addClass('sample-download-preview').text("")
#    @$(".sample-download-preview img").remove()
#    @$(".sample-download-preview").append(preview)
#    @$("input[name='#{@field}_id']").val(data.id)
#    @$('.chk-area').addClass("chk-checked") unless @$('.chk-area').hasClass('chk-checked')