#class App.Views.SampleProjectStylesControl extends App.View
#
#  className: "download-wrap"
#
#  template: JST['account/visualizations/controls/sample_project_styles_control']
#
#  events: {
#    'click .trash-icon': 'deleteSelectedImage'
#    'click .arrow-left': 'selectPreviousImage'
#    'click .arrow-right': 'selectNextImage'
#    'click .sample-download-preview': 'preventDefault'
#  }
#
#  initialize: (params) ->
#    _.extend(@, params)
#
#    @value ||= []
#
#    @$fileInput = $("<input type='file' multiple='multiple' name='#{_.singularize(@field)}[file]' data-url='#{@uploadUrl}' />")
#    @$hiddenSelect = $("<select>", {multiple: 'multiple', name: "#{_.singularize(@field)}_ids", class: 'jcf-hidden'})
#
#    @selectedImage = _.last(@value) if _.isArray(@value) && (_.size(@value) > 0)
#
#    super(params)
#
#  render: () ->
#    @renderTemplate()
#
#    @$el.prepend(@$hiddenSelect)
#
#    @addValues()
#
#    if @checked
#      @$el.addClass("selected") unless @$el.hasClass('selected')
#    else
#      @$el.removeClass("selected")
#
#    @$(".fileinput-button").append(@$fileInput)
#    @initFileUpload()
#
#    @
#
#  renderTemplate: () ->
#    @checked = _.size(@value) > 0
#
#    @$el.html(@template({
#      record: @model
#      label: @label
#      field: @field
#      checked: @checked
#      value: @value
#      selectedImage: @selectedImage
#      hasNextImages: @hasNextImages()
#      hasPreviousImages: @hasPreviousImages()
#    }))
#
#  initFileUpload: () ->
#    formData = {}
##    formData["#{@field}[visualization_id]"] = @model.get("id")
#
#    @$fileInput.fileupload({
#      dataType: "json"
#      dropZone: @$el
#      formData: formData
#
#      add: (e, data) ->
#        data.submit()
##        types = <%= SampleProjectStyle.get_file_extensions_as_regexp %>
##        file = data.files[0]
##        if types.test(file.type) or types.test(file.name)
##          data.submit()
##        else
##          alert(I18n.t("errors.messsages.not_plan_format"))
#
#      done: (e, data, result) =>
#        @appendUploadedPreview(data.result)
#
#      error: (e, data, message) =>
#        console.log "Error"
#        console.log e
#        console.log data
#        console.log message
#
#      fail: (e, data, message) =>
#        console.log "Fail"
#        console.log e
#        console.log data
#        console.log message
#
#    })
#
#  appendUploadedPreview: (data) =>
#    @value.push(data)
#    @selectImage(data)
#
#  selectPreviousImage: () =>
#    @selectImage(@value[@value.indexOf(@selectedImage) - 1]) if @hasPreviousImages()
#
#  selectNextImage: () =>
#    @selectImage(@value[@value.indexOf(@selectedImage) + 1]) if @hasNextImages()
#
#  hasPreviousImages: () =>
#    (@value.indexOf(@selectedImage) - 1) >= 0
#
#  hasNextImages: () =>
#    (@value.indexOf(@selectedImage) + 1) < _.size(@value)
#
#  selectImage: (newSelectedImage) =>
#    @selectedImage = newSelectedImage
#    @render()
#
#  addValues: () ->
#    if _.isArray(@value)
#      @$hiddenSelect.html('')
#      _.each @value, (eachValue) =>
#        @addValue(eachValue)
#
#  addValue: (newSampleProjectStyle) ->
#    if @$hiddenSelect.children("option[value='#{newSampleProjectStyle.id}']").length == 0
#      @$hiddenSelect.append($("<option>", {name: _.singularize(@field), selected: "selected", value: newSampleProjectStyle.id}))
#
#  deleteSelectedImage: () ->
#    @value = _.without(@value, @selectedImage)
#    @selectImage(_.last(@value))
#
#  preventDefault: (e) ->
#    e.preventDefault()