class App.Models.Article extends App.Models.SharedModel

  urlRoot: '/api/articles'


  schema: ->
    {
      name: { title: I18n.t("forms.fields.name") }
      slug: { title: I18n.t("forms.fields.slug") }
      title: { title: I18n.t("forms.fields.title") }
      teaser: { title: I18n.t("forms.fields.teaser"), type: 'Ckeditor' }
      body: { title: I18n.t("forms.fields.body"), type: 'Ckeditor' }
      static_image_id: { title: I18n.t("words.main_image"), type: "SingleStaticImageUpload", fileTypes: <%= StaticImage.get_file_extensions_as_regexp %> }
      slideshow_image_ids: { title: I18n.t("forms.fields.slideshow_image_ids"), type: "FileUpload", url: Routes.api_slideshow_images_path(), fileInputName: 'slideshow_image[file]', fileTypes: <%= SlideshowImage.get_file_extensions_as_regexp %> }
      category_ids: @getCategoryIds()
      seo_keywords: { title: I18n.t("forms.fields.seo_keywords") }
      seo_description: { title: I18n.t("forms.fields.seo_description") }
      seo_present_in_xml_sitemap: { title: I18n.t("forms.fields.seo_present_in_xml_sitemap"), type: 'Checkbox' }
      seo_robots: { title: I18n.t("forms.fields.seo_robots") }
    }


  @getCollectionPath: () ->
    "/admin/articles"


  initialize: (params) ->
    @sectionSlug = "<%= Section.find(Settings.articles_section).slug %>"
    _.extend(@, new App.Mixins.Blockable())
    super(params)

