class App.Models.Category extends App.Models.SharedModel

  urlRoot: -> "/api/sections/#{@sectionSlug}/categories"

  url: () ->
    if @isNew()
      "/api/sections/#{@sectionSlug}/categories"
    else
      "/api/sections/#{@sectionSlug}/categories/#{@get('slug')}"

  schema: () ->
    if @sectionSlug == '<%= Section.find(Settings.facilities_manufacturers_section).slug %>'
      {
        name: { title: I18n.t("forms.fields.name") }
        group_category_ids: @getCategoryId(I18n.t("forms.fields.group_id"), "<%= Section.find(Settings.facilities_groups_section).slug %>", "CollapseCheckboxes")
      }
    else
      {
        name: { title: I18n.t("forms.fields.name") }
      }

  @getCollectionPath: (sectionSlug) ->
    "/admin/sections/#{sectionSlug}/categories"

  getCollectionParam: () ->
    @sectionSlug

