class App.Models.CoveringsTexture extends App.Models.SharedModel

  urlRoot: '/api/coverings_textures'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/coverings_textures", fileInputName: "coverings_texture[file]", fileTypes: <%= CoveringsTexture.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_texture_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/admin/coverings_textures"

