class App.Models.Discount extends App.Models.SharedModel

  urlRoot: '/api/discounts'


  schema: ->
    {
      code: { title: "<%= I18n.t("forms.fields.code") %>" }
      percent: { title: "<%= I18n.t("forms.fields.percent") %>" }
    }


  @getCollectionPath: () ->
    "/admin/discounts"


  initialize: (params) ->

    super(params)

