class App.Models.Facility extends App.Models.SharedModel

  urlRoot: '/api/facilities'

  schema: ->
    {
      manufacturer_id: { title: I18n.t("forms.fields.manufacturer_id"), type: 'Select2FromCollection', options: new App.Collections.CategoriesPaginatedCollection({sectionSlug: "<%= Section.find(Settings.facilities_manufacturers_section).slug %>"}), url: "/api/sections/<%= Section.find(Settings.facilities_manufacturers_section).slug %>/categories" }
      name: { title: I18n.t("words.facility_name_sku") }
      group_id: @getCategoryId(I18n.t("forms.fields.group_id"), "<%= Section.find(Settings.facilities_groups_section).slug %>", "CollapseRadio")
      style_id: @getCategoryId(I18n.t("forms.fields.style_id"), "<%= Section.find(Settings.facilities_styles_section).slug %>", "CustomRadios")
      material_ids: @getCategoryId(I18n.t("forms.fields.material_ids"), "<%= Section.find(Settings.facilities_materials_section).slug %>", "CustomCheckboxes")
      image_ids: { title: I18n.t("forms.fields.image_ids"), type: "BigFileUpload", fileTypes: <%= Image.get_file_extensions_as_regexp %> }
      max_file_ids: { title: I18n.t("forms.fields.max_file_ids"), type: "BigFileUpload", url: "/api/max_files", fileInputName: "max_file[file]", fileTypes: <%= MaxFile.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_max_format") }
    }

  @getCollectionPath: () ->
    "/admin/facilities"

  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)