class App.Models.LightingPlan extends App.Models.SharedModel

  urlRoot: '/api/lighting_plans'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/lighting_plans", fileInputName: "lighting_plan[file]", fileTypes: <%= LightingPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/admin/lighting_plans"

