class App.Models.MaxFile extends App.Models.SharedModel

  urlRoot: '/api/max_files'

  schema: () ->

    if @isNew()
      {
        file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/max_files", fileInputName: "max_file[file]", fileTypes: <%= MaxFile.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_max_format") }
      }
    else
      {
        name: { title: I18n.t("forms.fields.name") }
      }

  @getCollectionPath: () ->
    "/admin/max_files"