class App.Models.Page extends App.Models.SharedModel

  urlRoot: '/api/pages'

  schema: () ->
    {
    name: { title: I18n.t("forms.fields.name") }
    slug: { title: I18n.t("forms.fields.slug") }
    title: { title: I18n.t("forms.fields.title") }
    teaser: { title: I18n.t("forms.fields.teaser"), type: 'Ckeditor' }
    body: { title: I18n.t("forms.fields.body"), type: 'Ckeditor' }
    category_ids: @getCategoryIds()
    seo_keywords: { title: I18n.t("forms.fields.seo_keywords") }
    seo_description: { title: I18n.t("forms.fields.seo_description") }
    seo_present_in_xml_sitemap: { title: I18n.t("forms.fields.seo_present_in_xml_sitemap"), type: 'Checkbox' }
    seo_robots: { title: I18n.t("forms.fields.seo_robots") }
    }

  @getCollectionPath: () ->
    "/admin/pages"

  initialize: (params) ->
    @sectionSlug = "<%= Section.find(Settings.pages_section).slug %>"
    _.extend(@, new App.Mixins.Blockable())
    super(params)