class App.Models.Person extends App.Models.SharedModel

  urlRoot: '/api/people'


  schema: ->
    {
      name: { title: I18n.t("words.name_and_surname") }
      email: { title: I18n.t("forms.fields.email") }
      phone: { title: I18n.t("forms.fields.phone") }
      post: { title: I18n.t("forms.fields.post") }
      type: { title: I18n.t("forms.fields.type"), type: 'Select', options: [{val: 'founder', label: I18n.t('words.person_types.founder')}, {val: 'art_director', label: I18n.t('words.person_types.art_director')}, {val: 'architect', label: I18n.t('words.person_types.architect')}, {val: 'designer', label: I18n.t('words.person_types.designer')}, {val: 'graphic_designer', label: I18n.t('words.person_types.graphic_designer')}, {val: 'support', label: I18n.t('words.person_types.support')}] }
      order: { title: I18n.t("forms.fields.order") }
      description: { title: I18n.t("forms.fields.description"), type: 'TextArea' }
      person_image_id: { title: I18n.t("forms.fields.image_id"), type: "SinglePersonImageUpload", fileTypes: <%= PersonImage.get_file_extensions_as_regexp %> }
    }


  @getCollectionPath: () ->
    "/admin/people"


  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)

