class App.Models.Portfolio extends App.Models.SharedModel

  urlRoot: '/api/portfolios'


  schema: ->
    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/portfolios", fileInputName: "portfolio[file]", fileTypes: <%= Portfolio.get_file_extensions_as_regexp %> }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      category_ids: @getCategoryIds()
      }


  @getCollectionPath: () ->
    "/admin/portfolios"


  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    @sectionSlug = "<%= Section.find(Settings.portfolios_section).slug %>"
    super(params)

