class App.Models.Project extends App.Models.SharedModel

  urlRoot: '/api/projects'

  schema: ->
    {
      name: { title: I18n.t("forms.fields.name") }
      manager_id: @getUserId(I18n.t("forms.fields.manager_id"), {role_ids: '<%= Role.find(Settings.manager_role_id).id %>'})
    }

  @getCollectionPath: () ->
    "/admin/projects"

  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)