class App.Models.Review extends App.Models.SharedModel

  urlRoot: '/api/reviews'


  schema: ->
    {
      name: { title: "<%= I18n.t("forms.fields.name") %>" }
      body: { title: I18n.t("forms.fields.body"), type: 'Ckeditor' }
    }


  @getCollectionPath: () ->
    "/admin/reviews"


  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)

