class App.Models.Scene extends App.Models.SharedModel

  urlRoot: '/api/scenes'

  schema: ->
    {
      performer_id: { title: I18n.t("forms.fields.performer_id"), type: 'Select2FromCollection', options: new App.Collections.CategoriesPaginatedCollection({sectionSlug: "<%= Section.find(Settings.scenes_performer_section).slug %>"}), url: "/api/sections/<%= Section.find(Settings.scenes_performer_section).slug %>/categories" }
#      name: { title: I18n.t("words.facility_name_sku") }
      project_name_id: { title: I18n.t("forms.fields.project_name_id"), type: 'Select2FromCollection', options: new App.Collections.CategoriesPaginatedCollection({sectionSlug: "<%= Section.find(Settings.project_names_section).slug %>"}), url: "/api/sections/<%= Section.find(Settings.project_names_section).slug %>/categories" }
      room_id: @getCategoryId(I18n.t("forms.fields.room_id"), "<%= Section.find(Settings.scenes_rooms_section).slug %>", "CollapseRadio")
      style_id: @getCategoryId(I18n.t("forms.fields.style_id"), "<%= Section.find(Settings.scenes_styles_section).slug %>", "CustomRadios")
      tone_id: @getCategoryId(I18n.t("forms.fields.tone_id"), "<%= Section.find(Settings.scenes_tones_section).slug %>", "CustomRadios")
      gamma_id: @getCategoryId(I18n.t("forms.fields.gamma_id"), "<%= Section.find(Settings.scenes_gammas_section).slug %>", "CustomRadios")
      main_color_ids: @getCategoryId(I18n.t("forms.fields.main_color_ids"), "<%= Section.find(Settings.scenes_main_colors_section).slug %>", "ColorCheckboxes")
      accent_color_ids: @getCategoryId(I18n.t("forms.fields.accent_color_ids"), "<%= Section.find(Settings.scenes_accent_colors_section).slug %>", "ColorCheckboxes")
      material_ids: @getCategoryId(I18n.t("forms.fields.accent_material"), "<%= Section.find(Settings.scenes_materials_section).slug %>", "CustomCheckboxes")
      image_ids: { title: I18n.t("forms.fields.image_ids"), type: "BigFileUpload", fileTypes: <%= Image.get_file_extensions_as_regexp %> }
      max_file_ids: { title: I18n.t("forms.fields.max_file_ids"), type: "BigFileUpload", url: "/api/max_files", fileInputName: "max_file[file]", fileTypes: <%= MaxFile.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_max_format") }
    }

  @getCollectionPath: () ->
    "/admin/scenes"

  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)