class App.Models.Sketch extends App.Models.SharedModel

  urlRoot: '/api/sketches'


  schema: ->
    {
      name: { title: "<%= I18n.t("forms.fields.name") %>" }
    }


  @getCollectionPath: () ->
    "/admin/sketches"


  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)

