class App.Models.Slide extends App.Models.SharedModel

  urlRoot: '/api/slides'


  schema: ->
    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/slides", fileInputName: "slide[file]", fileTypes: <%= Slide.get_file_extensions_as_regexp %> }
      }
    else
      {
        name: { title: I18n.t("forms.fields.name") }
        position: { title: I18n.t("forms.fields.position"), type: 'Select', options: [{val: 'slideshow', label: I18n.t('words.positions.slideshow')}, {val: 'feature-works', label: I18n.t('words.positions.feature_works')}, {val: 'scheme-section', label: I18n.t('words.positions.scheme_section')}] }
      }


  @getCollectionPath: () ->
    "/admin/slides"


  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)

