class App.Models.User extends App.Models.SharedModel

  urlRoot: '/api/users'

  schema: ->
    {
    name: { title: I18n.t("words.fio") }
    login: { title: I18n.t("forms.fields.login") }
    slug: { title: I18n.t("forms.fields.slug") }
    email: { title: I18n.t("forms.fields.email") }
    city: { title: I18n.t("forms.fields.city") }
    studio: { title: I18n.t("forms.fields.studio") }
    manager_id: @getUserId(I18n.t("forms.fields.manager_id"), {role_ids: '<%= Role.find(Settings.manager_role_id).id %>'})
    password: { title: I18n.t("forms.fields.password"), type: "Password" }
    password_confirmation: { title: I18n.t("forms.fields.password_confirmation"), type: "Password" }
    role_ids: @getRoleIds()
    }

  @getCollectionPath: () ->
    "/admin/users"

  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)


