class App.Models.Visualization extends App.Models.SharedModel

  urlRoot: '/api/visualizations'

  schema: ->
    switch @step
      when "furniture-plan"
        {
        furniture_plan_ids: { title: I18n.t("forms.fields.furniture_plan_ids"), type: "MiniFileUpload", url: "/api/furniture_plans", fileInputName: "furniture_plan[file]", fileTypes: <%= FurniturePlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
        furniture_plan_comment: { title: I18n.t("forms.fields.furniture_plan_comment"), type: "TextAreaPreview" }
        }
      when "ceiling-plan"
        {
        ceiling_plan_ids: { title: I18n.t("forms.fields.ceiling_plan_ids"), type: "MiniFileUpload", url: "/api/ceiling_plans", fileInputName: "ceiling_plan[file]", fileTypes: <%= CeilingPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
        ceiling_plan_comment: { title: I18n.t("forms.fields.ceiling_plan_comment"), type: "TextAreaPreview" }
        }
      when "lighting-plan"
        {
        lighting_plan_ids: { title: I18n.t("forms.fields.lighting_plan_ids"), type: "MiniFileUpload", url: "/api/lighting_plans", fileInputName: "lighting_plan[file]", fileTypes: <%= LightingPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
        lighting_plan_comment: { title: I18n.t("forms.fields.lighting_plan_comment"), type: "TextAreaPreview" }
        }
      when "coverings-plan"
        {
        coverings_plan_ids: { title: I18n.t("forms.fields.coverings_plan_ids"), type: "MiniFileUpload", url: "/api/coverings_plans", fileInputName: "coverings_plan[file]", fileTypes: <%= CoveringsPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
        coverings_texture_ids: { title: I18n.t("forms.fields.coverings_texture_ids"), type: "MiniFileUpload", url: "/api/coverings_textures", fileInputName: "coverings_texture[file]", fileTypes: <%= CoveringsTexture.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_texture_format") }
        coverings_plan_comment: { title: I18n.t("forms.fields.coverings_plan_comment"), type: "TextAreaPreview" }
        }
      when "walls-plan"
        {
        walls_plan_ids: { title: I18n.t("forms.fields.walls_plan_ids"), type: "MiniFileUpload", url: "/api/walls_plans", fileInputName: "walls_plan[file]", fileTypes: <%= WallsPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
        walls_texture_ids: { title: I18n.t("forms.fields.walls_texture_ids"), type: "MiniFileUpload", url: "/api/walls_textures", fileInputName: "walls_texture[file]", fileTypes: <%= WallsTexture.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_texture_format") }
        walls_plan_comment: { title: I18n.t("forms.fields.walls_plan_comment"), type: "TextAreaPreview" }
        }
      else
        {
        project_id: { title: I18n.t("forms.fields.project_id"), type: 'Select2FromCollection', options: new App.Collections.ProjectsPaginatedCollection() }
        name: { title: I18n.t("forms.fields.room_name"), type: "TextPreview" }
        floor_area: { title: I18n.t("forms.fields.floor_area"), type: "TextPreview" }
        }

  @getCollectionPath: () ->
    "/admin/visualizations"

  initialize: (params) ->
    _.extend(@, new App.Mixins.Blockable())
    super(params)