class App.Models.WallsPlan extends App.Models.SharedModel

  urlRoot: '/api/walls_plans'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/walls_plans", fileInputName: "walls_plan[file]", fileTypes: <%= WallsPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/admin/walls_plans"

