class App.Models.WallsTexture extends App.Models.SharedModel

  urlRoot: '/api/walls_textures'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/walls_textures", fileInputName: "walls_texture[file]", fileTypes: <%= WallsTexture.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_texture_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/admin/walls_textures"

