class App.Views.PeopleIndexPage extends App.Views.SharedIndexPage

  initialize: (params)->
    @collection = new App.Collections.PeoplePaginatedCollection(params)
    @collectionView = App.Views.PeopleCollection

    @idsModel = App.Models.IdsPerson

    @options.pluralModelString = "<%= I18n.t("models.people.plural") %>"
    @options.addModelString = "<%= I18n.t("models.people.add") %>"
    super(params)
