class App.Views.PersonEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Person({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.people.edit") %>"
    @options.success_message = "<%= I18n.t("models.people.updated") %>"
    @options.error_message = "<%= I18n.t("models.people.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.people.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
