class App.Views.PersonDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Person({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.people.deleted") %>"
    super
