class App.Views.PersonAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Person()
    @options.header = "<%= I18n.t("models.people.new") %>"
    @options.success_message = "<%= I18n.t("models.people.added") %>"
    @options.error_message = "<%= I18n.t("models.people.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.people.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super
