class Support.View_Helpers

  @active_li: (text, href, options = {}) ->

    class_value =  ""
    unless _.isUndefined(options["class"])
      class_value = options['class']

    is_current_path = false
    if location.pathname.split("/")[1] == "admin"
      adminRegExp = /^\/admin\//
      is_current_path = (location.pathname.replace(adminRegExp, "") == href.replace(adminRegExp, ""))
    else
      is_current_path = (location.pathname.split("/")[1] == href.split("/")[1])

    if is_current_path
      class_value = " #{class_value}" unless class_value == ""

      "<li class=\"active#{class_value}\"><a href=\"#{href}\" >#{text}</a></li>"
    else
      if class_value == ""
        "<li><a href=\"#{href}\" >#{text}</a></li>"
      else
        "<li class=\"#{class_value}\"><a href=\"#{href}\" >#{text}</a></li>"

  @headerLi: (text, href, options = {}) ->

    if (location.pathname.split('/')[1] == href.split('/')[1]) and (location.pathname.split('/')[2] == href.split('/')[2])
      "<li class='active'><a href='#{href}'>#{text}</a></li>"
    else
      "<li><a href='#{href}'>#{text}</a></li>"


  @tabs_li: (text, href, options = {}) ->

    class_value =  ""
    unless _.isUndefined(options["class"])
      class_value = options['class']

    if location.pathname == href
      class_value = " #{class_value}" unless class_value == ""

      "<li class=\"active#{class_value}\"><a href=\"#{href}\" >#{text}</a></li>"
    else
      if class_value == ""
        if !_.isUndefined(options.method)
          "<li><a href=\"#{href}\" data-method=\"#{options.method}\" rel=\"nofollow\">#{text}</a></li>"
        else
          "<li><a href=\"#{href}\" >#{text}</a></li>"
      else
        "<li class=\"#{class_value}\"><a href=\"#{href}\" >#{text}</a></li>"

  @account_tabs_li: (text, href, options = {}) ->
    li = $("<li>")

    span = $("<span>", {text: "#{options.span_text}:"})
    if options.disabled
      a = $("<span>", {text: text})
    else
      a = $("<a>", {href: href, text: text})

    a.addClass("active") if location.pathname == href

    a.prepend(span)
    li.append(a)
    li


  @sectionActiveLi: (text, href, options = {}) ->

    class_value =  ""
    unless _.isUndefined(options["class"])
      class_value = options['class']

    is_current_path = false
    if location.pathname.split("/")[1] == "admin"
      is_current_path = (location.pathname.split("/")[2] == href.split("/")[2])
    else
      is_current_path = (location.pathname.split("/")[1] == href.split("/")[1])

    link = "<a href=\"#{href}\" >#{text}</a>"
    if !_.isUndefined(options.method)
      link = "<a href=\"#{href}\" data-method=\"#{options.method}\" rel=\"nofollow\">#{text}</a>"
    if is_current_path
      class_value = " #{class_value}" unless class_value == ""

      "<li class=\"active#{class_value}\">#{link}</li>"
    else
      if class_value == ""
        "<li>#{link}</li>"
      else
        "<li class=\"#{class_value}\">#{link}</li>"

  @li: (options = {}) ->
    if !_.isUndefined(options.class)
      "<li class=\"#{options.class}\"></li>"
    else
      "<li></li>"

  @dropdownLi: (links) ->
    result = "<li class=\"dropdown\"><a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">#{links.text}<b class=\"caret\"></b></a><ul class=\"dropdown-menu\">"
    for link in links.items
      result += link
    result += "</ul></li>"
