$('.modal-header h3').text(I18n.t("login.password_recovering"));
$('#auth-form').html("<%= escape_javascript(render :partial => 'auth/forgot_form', :locals => {:do_ajax => true})  %>");
$('#register-form').html("<%= escape_javascript(render :partial => 'auth/forgot_form', :locals => {:do_ajax => true})  %>");