- check_box_name = defined?(field_name) ? field_name : :text
- check_box_value = defined?(field_value) ? field_value : nil
- check_box_label = defined?(field_label) ? field_label : ""
.field
  = check_box_tag check_box_name, check_box_value, (checked if defined?(checked)), :class => "checkbox"
  label = check_box_label