- radios_field_name = defined?(field_name) ? field_name : :text
- radios_field_label = defined?(field_label) ? field_label : ""
.field
  - collection.each do |item|
    .radio-button
      = radio_button_tag radios_field_name, item, (item == default_value if defined?(default_value)), :class => 'radio'
      label = item
