- radio_field_name = defined?(field_name) ? field_name : :text
- radio_field_label = defined?(field_label) ? field_label : ""
.field
  .radio-button
    = radio_button_tag radio_field_name, (field_value if defined?(field_value)), (checked if defined?(checked)), :class => 'radio'
    label = radio_field_label

