- select_field_name = defined?(field_name) ? field_name : :text
- select_field_label = defined?(field_label) ? field_label : ""
- select_field_value = defined?(default_value) ? options_for_select(collection, default_value) : options_from_collection_for_select(collection, "id", "name")
.field
  label = select_field_label
  = select_tag select_field_name, select_field_value