- field_submit_value = defined?(field_value) ? field_value : I18n.t('forms.fields.submit')
- button_class_value = defined?(button_class) ? button_class : "btn btn-large"
- button_id_value = button_id if defined?(button_id)
- disable_with = defined?(no_sending) ? {} : {:disable_with =>  I18n.t("forms.fields.sending")}
.field.submit = submit_tag field_submit_value, :class => button_class_value, :data => {}.merge(disable_with), :id => button_id_value