- field_text_area_name = defined?(field_name) ? field_name : :text
- field_text_area_label = defined?(field_label) ? field_label : ""
- field_text_area_value = defined?(field_value) ? field_value : ""
.field
  label = field_text_area_label
  = text_area_tag field_text_area_name ,field_text_area_value, :class => (defined?(class_value) ? class_value : "ckeditor"), :placeholder => (placeholder if defined?(placeholder))