- text_field_name = defined?(field_name) ? field_name : :text
- text_field_value = defined?(field_value) ? field_value : ""
.field
  - if defined?(field_label)
    label = field_label
  - tag = text_field_tag text_field_name ,text_field_value, :placeholder => (placeholder if defined?(placeholder)), :class => "#{field_class if defined?(field_class)}"
  - if defined?(add_on)
    .input-append
      = tag
      span.add-on = add_on
  - else
    = tag