@import "twitter/bootstrap/mixins";

.ui-nestedSortable-error {
  background:#fbe3e4;
  color:#8a1f11;
}

#child-categories {
  ol, li {
    margin: 0px;
    list-style: none;
  }
  .category-container {
    margin: 0px 0px 10px;
  }
  form {
    margin: 0px;
  }
}
ol.sortable, ol.sortable ol {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin: 0 0 0 25px;
  padding: 0;
  list-style-type: none;
}

ol.sortable {
  margin: 0px;
}

.sortable li {
  margin: 7px 0 0 0;
  padding: 0;
}
.action-buttons {
  border: none;
  float: right;
  width: 100px;
  .btn-primary {
    float: left;
    margin-right: 10px;
  }
}
.category-container {
  border: 1px solid #e3e3e3;
  padding: 3px;
  margin: 0;

  @include clearfix();
}
ol.sortable .category-container {
  cursor: move;
}
.sortable li form {
  margin: 0px;
}

