<div class="menu-wrapper">
  <div class="content-wrapper">
    <div class="menu-holder">
      <nav class="holder">
        <!-- tabs structure -->
        <ul class="menu">
          <li><a <%= 'class="active"'.html_safe if request.fullpath == about_path %> href="<%= about_path %>">МЫ</a></li>
          <li><a <%= 'class="active"'.html_safe if request.fullpath == reviews_path %> href="<%= reviews_path %>">Отзывы клиентов</a></li>
          <li><a <%= 'class="active"'.html_safe if request.fullpath == people_path %> href="<%= people_path %>">СОТРУДНИКИ</a></li>
          <li><a <%= 'class="active"'.html_safe if request.fullpath == faqs_path %> href="<%= faqs_path %>">Вопросы и ответы</a></li>
          <li><a <%= 'class="active"'.html_safe if request.fullpath == polymorphic_path(Article.get_last_article) %> href="<%= polymorphic_path(Article.get_last_article) %>">Статьи</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>