<%= render :partial => 'shared/about_tabs' %>

<div class="about">
  <div id="tab1" class="content">
    <h1>Студия архитектурной визуализации ARCHIVIZER</h1>
    <p>Archivizer  - сервис  по созданию визуализации и дизайна интерьера. Мы поможем вам подать любые идеи в выгодном свете</p>
    <div class="visual"><img src="<%= asset_path('img44.jpg') %>" alt="image description" width="871" height="408"></div>
    <!-- twocolumns box -->
    <div class="content-wrapper">
      <div class="twocolumns">
        <div class="col">
          <h2>Делаем идеи наглядными</h2>
          <p>Наша 3d студия всегда ставит перед собой непростую задачу – превратить заказчика в довольного клиента, поэтому качество является основным приоритетом. Мы любим свою работу и привыкли выкладываться на все 100%. Искусство – неотъемлемая часть нашей работы. Мы не просто выполняем техническое задание, а вносим творческую составляющую в каждый проект.</p>
          <!-- contacts info -->
          <address>
            <dl>
              <dt>Дата создания: </dt>
              <dd><time datetime="2008-06-25">25/06/2008</time></dd>
            </dl>
            <dl>
              <dt>Email: </dt>
              <dd><a href="mailto:sales@archivizer.com">sales@archivizer.com</a></dd>
              <dt>Skype: </dt>
              <dd><a href="skype:archivizer.com?chat">archivizer.com</a></dd>
              <dt>Телефон: </dt>
              <dd>+38066-342-0000</dd>
            </dl>
          </address>
        </div>
        <div class="col">
          <h2>Наша специализация</h2>
          <!-- box line -->
          <div class="box-line">
            <p><strong>Визуализация и моделирование</strong> 100%</p>
            <span class="line"> </span>
            <p><strong>Дизайн интерьера</strong> 75%</p>
            <span class="line line-1"> </span>
            <p><strong>Проектирование</strong> 25%</p>
            <span class="line line-2"> </span>
            <p><strong>Архитектура</strong> 50%</p>
            <span class="line line-3"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>