.wrapper
  = simple_form_for(resource, :as => resource_name, :validate => true, :url => registration_path(resource_name), :html => {:class => "form-signin login-form"}) do |f|
    - if resource.errors.any?
      - @form_errors = resource
    h2.form-signin-heading = I18n.t("login.links.registration")
    .text
      = render :partial => "fields/forms/name", :locals => {:f => f, placeholder: I18n.t("words.your_name")}
    .text.email-field
      = render :partial => "fields/forms/email", :locals => {:f => f, :placeholder => I18n.t('words.inputs.email')}
    = render :partial => 'auth/links', :locals => {:do_ajax => true, :view_links => %w(sign_in forgot do_not_receive)} if defined?(do_ajax)
    = render :partial => 'auth/links', :locals => {:view_links => %w(sign_in forgot do_not_receive)} unless defined?(do_ajax)
    = render :partial => "fields/forms/submit", :locals => {:f => f, :field_value => I18n.t('words.register'), :field_class => "close register"}