= render :partial => 'blocks/register'
= render :partial => 'blocks/services'
= render :partial => 'blocks/discover'
= render :partial => 'blocks/advantages'
= render :partial => 'blocks/feature'
= render :partial => 'blocks/reviews'