class App.Views.SharedSortableCollection extends App.Views.SharedCollection

  template: HoganTemplates['admin/shared/sortable_tree']

  tagName: "div"

  className: "sortable-tree"

  events: {
    "click #save-order": "saveOrder"
  }

  initialize: () ->
    @afterSaveOrderMessage ||= I18n.t("words.after_save_order")
    super()

  saveOrder: () ->
    hiered = $("ol.sortable").nestedSortable("toHierarchy", {startDepthCount: 0})

    pathArray = @collection.getPath().replace(/^\/admin/, "/api").split("/")
    pathArray.pop()
    path = pathArray.join("/")

    $.ajax({
      type: "POST"
      url: "#{path}/rebuild"
      data: {items: hiered}
      success: (data) =>
        @collection.reset()
        @collection.fetch()
    })

  render: ->
    @$el.html(@template.render({collection: @collection}, {}))

    @$el.append(@renderItems(@collection.toArray()))

    $.nestedSortable('ol.sortable')

    @

  renderItems: (items, viewed = []) ->
    output = $("<ol class='sortable'>")
    _.each items, (item) =>

      if ($.inArray(item, viewed) == -1) # not in viewed
        viewed.push(item)

        childItems = []
        @collection.each (childItem) =>
          childItems.push(childItem) if childItem.get("parent_id") == item.get("id")

        view = new @itemView(model: item)

        if _.size(childItems) > 0
          itemsHTML = @renderItems(childItems, viewed)
          html = view.render().$el.append("<ol>#{itemsHTML.html()}</ol>")
          output.append html
        else
          output.append view.render().el

    output