class App.Views.SceneAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Scene()
    @options.header = I18n.t("models.scenes.new")
    @options.success_message = I18n.t("models.scenes.added")
    @options.error_message = I18n.t("models.scenes.add_error")
    @options.submitValue = I18n.t("models.scenes.add")
    @options.cancelValue = I18n.t("words.cancel")
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})

  render: () ->
    super()
    @$("#cancel").remove()

    @$leftFormWrapper = $("<div class='left-form-wrapper'>")
    @$topFormWrapper = $("<div class='top-form-wrapper'>")
    @$centerFormWrapper = $("<div class='center-form-wrapper'>")
    @$bottomFormWrapper = $("<div class='bottom-form-wrapper'>")

    top_inputs = @$(".field-name, .field-project_name_id, .field-performer_id, .field-room_id")
    top_inputs.detach()
    @$topFormWrapper.append(top_inputs)

    center_inputs = @$('.field-style_id, .field-tone_id')
    center_inputs.detach()
    @$centerFormWrapper.append(center_inputs)

    bottom_inputs = @$('.field-gamma_id, .field-main_color_ids, .field-accent_color_ids, .field-material_ids')
    bottom_inputs.detach()
    @$bottomFormWrapper.append(bottom_inputs)

    @$leftFormWrapper.append(@$topFormWrapper).append(@$centerFormWrapper).append(@$bottomFormWrapper)

    @$rightFormWrapper = $("<div class='right-form-wrapper'>")
    right_inputs = @$(".field-image_ids, .field-max_file_ids")
    right_inputs.detach()

    form_actions = @$(".form-actions")
    form_actions.children("button").removeClass("btn").removeClass("btn-primary")
    form_actions.detach()

    @$rightFormWrapper.append(right_inputs)
    @$rightFormWrapper.append(form_actions)

    @$("form").addClass("scene")
    @$('fieldset > ul').prepend(@$leftFormWrapper)
    @$('fieldset > ul').append(@$rightFormWrapper)

    @