%td.checkbox
  %input{:type => "checkbox", :value => "{{ slug }}" }
%td.name {{ record.name }}
%td.slug {{ record.slug }}
%td.created-at {{ record.created }}
%td
  = link_to "<i class=\"icon-search\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}", :class => 'btn btn-success show-link'
%td
  = link_to "<i class=\"icon-unlock\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}", :class => 'btn btn-warning unblock-link'
%td
  = link_to "<i class=\"icon-pencil icon-large\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}/edit", :class => 'btn btn-primary edit-link'
%td
  = link_to "<i class=\"icon-trash icon-large\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}/delete", :class => 'btn btn-danger delete-link'