#navigation-bar

%h1 {{ pluralModelString }} ({{ count }})

#tabs

.add-link
  = link_to "{{ addModelString }}", "{{ collectionPath }}/new", :class => "btn btn-success", :id => "add-item"

#records

#pagination
