
.navbar-inner
  .container-fluid{:style => "width: auto;"}
    = link_to Settings.site_name, root_path, :class => "brand", :id => "navigation-bar-main-link"
    .nav-collapse
      %ul.nav#navigation-bar-links
      %ul.nav#user-links.pull-right