#navigation-bar

#tabs

table.table.table-bordered.table-striped
  - _.each <%= %w"id name slug title teaser body seo_keywords seo_description seo_present_in_xml_sitemap seo_robots user_slug login email views blocked region view_mode view_rules last_request_at action subject_class description order parent_id duration price currency created updated" %>, (field) =>
    - if !_.isUndefined(@record) && !_.isUndefined(field) && !_.isUndefined(@record.get(field))
      tr
        td = I18n.t("forms.fields.#{field}")
        td = @record.get(field)

  /- _.each <%= %w"role_slugs user_slugs permission_slugs category_slugs" %>, (field) =>
  /  - if !_.isUndefined(@record) && !_.isUndefined(field) && !_.isUndefined(@record.get(field))
  /    tr
  /      td = I18n.t("forms.fields.#{field}")
  /      td
  /        ul
  /          - _.each @record.get(field), (each_field) =>
  /            li = each_field


  - _.each <%= %w"thumb_url" %>, (field) =>
    - if !_.isUndefined(@record) && !_.isUndefined(field) && !_.isUndefined(@record.get(field))
      tr
        td = I18n.t("forms.fields.#{field}")
        td
          img src="#{@record.get(field)}" alt=""