.category-container
  = link_to "{{ record.name }}", "{{ collectionPath }}/{{ slug }}", :class => 'btn show-link'
  .action-buttons
    = link_to "<i class=\"icon-pencil icon-large\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}/edit", :class => 'btn btn-primary edit-link'
    = link_to "<i class=\"icon-trash icon-large\"></i>".html_safe, "{{ collectionPath }}/{{ slug }}/delete", :class => 'btn btn-danger delete-link'