strong О сервисе

p Archivizer - сервис по созданию 3d визуализации и дизайна интерьера

address
  ul
    li.tel +38066-342-0000
    li.email = link_to 'sales@archivizer.com', 'mailto:sales@archivizer.com'
    li.url = link_to 'www.archivizer.com', root_path

ul.social-networks
  li = link_to 'LinkedIn', 'http://www.linkedin.com/company/archivizer', :class => 'linkedin', :target => '_blank'
  li = link_to 'Vk.com', 'https://vk.com/archivizer', :class => 'vk', :target => '_blank'
  li = link_to 'Instagram', 'https://instagram.com/archivizercom', :class => 'instagram', :target => '_blank'
  /li = link_to 'Vimeo', 'https://vimeo.com/archivizer', :class => 'vimeo', :target => '_blank'
  /li = link_to 'Dribbble', 'http://dribbble.com/archivizer', :class => 'dribbble', :target => '_blank'
  li = link_to 'Twitter', 'https://twitter.com/archivizer', :class => 'twitter', :target => '_blank'
  li = link_to 'Facebook', 'https://www.facebook.com/archivizer', :class => 'facebook', :target => '_blank'