section.section.advantages
  h2 Причины по которым вы полюбите Archivizer:
  span.text-description То, что делает Archivizer незаменимым инструментом в вашей работе
  ul.advantages-list
    li
      .icon
        img alt="image description" height="70" src="#{asset_path('ico-01.png')}" width="70"
      .description
        h3 Презентация в выгодном свете
        p Наша визуализация невероятно упрощает процесс согласования проекта с клиентом
    li
      .icon
        img alt="image description" height="70" src="#{asset_path('ico-02.png')}" width="70"
      .description
        h3 Необъятная коллекция 3d объектов
        p Каждый ваш проект будет неповторимым и индивидуальным
    li
      .icon
        img alt="image description" height="70" src="#{asset_path('ico-03.png')}" width="70"
      .description
        h3 Система управления проектами
        p Работать над проектом так же просто, как будто вы с исполнителем сидите за одним столом
    li
      .icon
        img alt="image description" height="70" src="#{asset_path('ico-04.png')}" width="70"
      .description
        h3 Невероятная цена и качество
        p Стоимость проекта складывается из опций, <br />а вы сами решаете какие из них заказывать
    li
      .icon
        img alt="image description" height="70" src="#{asset_path('ico-05.png')}" width="70"
      .description
        h3 Сверхбыстрая реализация
        p Первую картинку можно получить через 12 часов, а корректировки в день их постановки
    li
      .icon
        img alt="image description" height="70" src="#{asset_path('ico-06.png')}" width="70"
      .description
        h3 Больше чем визуализация
        p Наши дизайнеры и архитекторы могут  доработать любую вашу идею