strong = I18n.t("words.fresh_articles")
.carousel
  - if Article.recently_created.size > 3
    a.btn-prev href="#"
    a.btn-next href="#"
  .mask
    .slideset
      - Article.recently_created.limit(20).each_slice(3) do |articles|
        .slide
          ul
            - articles.each do |article|

              li
                - unless article.static_image.nil?
                  .img-holder = link_to image_tag(article.static_image.file_url(:mini_thumb_70x70)), article
                strong = link_to article.get_name, article
                span <time datetime="#{print_date(article.created_at)}">#{print_date(article.created_at)}</time>