.room-space
  label for="room-space" #{I18n.t("words.floor_area")}:
  .text
    input#room-space name="room-space" type="text" value="0"
      span.unit м2
/! additional information
.form-container.add
  .values-wrapper
    ul.select-list.left-list
      li.add-options
        .col
          .chk-area.chk-checked.chk-focus
            span
          label for="item6" Номер купона для скидки
        span.price -70$
        input#discount-code.code type="text" value=""
      li.add-options.selected
        .col
          .chk-area.chk-checked.chk-focus
            span
          label for="adjustments-count" Количество вносимых корректировок:
        span.price +25$
        .amount
          a.delete#adjustments-count-less href="#"
          .text
            input#adjustments-count type="text" value="0"
              span.unit шт
          a.add#adjustments-count-more href="#"
      li.add-options.selected
        .col
          .chk-area.chk-checked.chk-focus
            span
          label for="modelings-count" Моделирование объектов:
        span.price +70$
        .amount
          a.delete#modelings-count-less href="#"
          .text
            input#modelings-count type="text" value="0"
              span.unit шт
          a.add#modelings-count-more href="#"
      li.add-options.selected
        .col
          .chk-area.chk-checked.chk-focus
            span
          label for="high-value-image" Изображение в высоком разрешении
        span.price +10$
        .amount
          a.delete#high-value-image-less href="#"
          .text
            input#high-value-image type="text" value="0"
              span.unit шт
          a.add#high-value-image-more href="#"

      li
        .col
          .chk-area.chk-checked.chk-focus
            span
          input#initial-scene-with-settings.jcf-hidden checked="checked" type="checkbox"
          label for="initial-scene-with-settings" Исходная сцена с настройками
        span.price +70$
      li
        .col
          .chk-area.chk-unchecked.chk-focus
            span
          input#drawings.jcf-hidden checked="checked" type="checkbox"
          label for="drawings" Чертежная документация к визуализации
        span.price -70$
    ul.select-list
      li
        .col
          .chk-area.chk-unchecked.chk-focus
            span
          input#furniture-plan.jcf-hidden checked="checked" type="checkbox"
          label for="furniture-plan" Разработка плана расстановки мебели
        span.price 70$
      li
        .col
          .chk-area.chk-checked.chk-focus
            span
          input#ceiling-plan.jcf-hidden checked="checked" type="checkbox"
          label for="item13" Дизайн потолков
        span.price 70$
      li
        .col
          .chk-area.chk-checked.chk-focus
            span
          input#lighting-plan.jcf-hidden checked="checked" type="checkbox"
          label for="item14" Дизайн размещения освещения
        span.price 70$
      li
        .col
          .chk-area.chk-unchecked.chk-focus
            span
          input#coverings-plan.jcf-hidden checked="checked" type="checkbox"
          label for="item15" Дизайн напольных покрытий
        span.price 70$
      li
        .col
          .chk-area.chk-unchecked.chk-focus
            span
          input#walls-plan.jcf-hidden checked="checked" type="checkbox"
          label for="item16" Дизайн отделки стен
        span.price 70$
      li
        .col
          .chk-area.chk-unchecked.chk-focus
            span
          input#select-facilities.jcf-hidden checked="checked" type="checkbox"
          label for="item17" Подбор объектов наполнения
        span.price 70$