section.section.calculator
  h2 = I18n.t("words.calculator_order")
  span.text-description Опции в правой колонке нужны в случае, если у вас нет полного технического задания и, вы хотите чтобы мы сами дополнили его


  - if user_signed_in?


    = simple_form_for(Visualization.new, :url => '/account/visualizations/new', :method => 'get', :html => {:class => "calculator-form"}) do |f|
      fieldset
        = render :partial => 'blocks/calculator_fields'

        .subtotal.no-fields
          span.summ
            | Сумма заказа:
            strong 5$
          = render :partial => "fields/forms/submit", :locals => {:f => f, :field_value => I18n.t('words.create_task'), :field_class => ""}
          /input type="submit" value="#{I18n.t('words.create_task')}"


  - else

    /= simple_form_for(resource, :as => resource_name, :validate => true, :url => registration_path(resource_name), :html => {:class => "calculator-form"}) do |f|
    form.calculator-form action="http://archivizer.us7.list-manage.com/subscribe/post?u=a2e2931ca6e330e0970755620&amp;id=4b3b6a00af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
      fieldset
        = render :partial => 'blocks/calculator_fields'

        .subtotal.with-fields
          span.summ
            | Сумма заказа:
            strong 5$
          #calc-subscribe-form
            .field
              input.string.email type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="E-mail адрес"
            .field
              input.string.email.name type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Имя"
            /.field
            /  input type="submit" value="#{I18n.t('words.create_task')}" name="subscribe" id="mc-embedded-subscribe"
            .field
              input type="submit" value="#{I18n.t('words.create_task')}" name="subscribe" id="calc-subscribe"
          /= render :partial => "fields/forms/email", :locals => {:f => f, :placeholder => I18n.t('words.inputs.email')}
          /= render :partial => "fields/forms/name", :locals => {:f => f, placeholder: I18n.t("words.your_name")}
          /= render :partial => "fields/forms/submit", :locals => {:f => f, :field_value => I18n.t('words.create_task'), :field_class => ""}
