section#design-section.section.design-section
  .design-section-content
    h2 Дизайн - визуализация без технического задания
    span.text-description Наши дизайнеры и архитекторы воссоздадут и технически доработают любую вашу идею и замысел, опираясь лишь на план и пожелания
    img.img-design alt="image description" height="369" src="#{asset_path('img16.jpg')}" width="1168"
      /! design list
      ul.design-list
        li
          img alt="image description" height="70" src="#{asset_path('ico-17.png')}" width="70"
            h3 Функциональное зонирование
            p Мы создаем простые и логичные планировочные  решения, грамотно расставляем мебель и предметы интерьера
        li
          img alt="image description" height="70" src="#{asset_path('ico-18.png')}" width="70"
            h3 Интерьер “под ключ”
            p Мы выполним проект, включающий в себя все стадии: от архитектурных решений до декорирования
        li
          img alt="image description" height="70" src="#{asset_path('ico-19.png')}" width="70"
            h3 Подбор наполнения
            p Мы используем только реально существующие предметы интерьера, поэтому у вас будет набор готовых спецификаций