section.discover.section.with-bg
  h2 Три важных вопроса, на которые нужно знать ответы
  span.text-description Это полностью изменит ваше представление о процессе работы над проектами

  ul.discover-list
    li
      h3 Что такое Archivizer?
      p Это сервис для создания 3d изображений интерьеров, экстерьеров, ландшафтов и любых предметов по эскизу, описанию или техническому заданию
    li
      h3 Для чего нужен Archivizer?
      p Чтобы перейти на новый уровень согласования работы с клиентом, упростить процедуру внесения правок и ускорить процесс принятия этапов работы
    li
      h3 Для кого нужен Archivizer?
      p Для всех, кто нуждается в наглядной, эффектной, реалистичной подаче идей и проектов: архитекторов, дизайнеров, рекламных агентств
