section.section.with-bg.feature-works
  h2 У каждого проекта своя удивительная история
  span.text-description Мы не просто выполняем техническое задание, мы находим художественное осмысление каждого проекта
  .cycle-gallery
    .mask
      .slideset
        - Slide.feature_works.each_slice(4) do |slice|
          .slide
            ul
              - slice.each_with_index do |slide, index|
                li = link_to image_tag(slide.file_url(:full_screen_thumb), :width => 270, :height => 170, :alt => ''), slide.file_url(:full_screen_thumb), :class => 'feature-works-images', :rel => 'feature-works'

    .pagination