.hidden
  #popup4.lightbox.message
    strong.header Напишите нам сообщение
    = simple_form_for(FeedBack.new, :html => {:class => "message-form"}) do |f|
      fieldset
        .row
          .text.width-370.name = render :partial => "fields/forms/name", :locals => {:f => f, placeholder: I18n.t("words.your_name")}
          .text.width-370.email = render :partial => "fields/forms/email", :locals => {:f => f, placeholder: I18n.t("words.inputs.email")}
        .row
          .text.topic = render :partial => "fields/forms/topic", :locals => {:f => f, placeholder: I18n.t("words.inputs.topic")}
        .row.message-text
          textarea cols="20" id="feed_back_body" name="feed_back[body]" rows="5" placeholder="#{I18n.t("words.inputs.message")}"

        .buttons
          a.close href="#" Отменить
          = render :partial => "fields/forms/submit", :locals => {:f => f, :field_class => "close register"}