- cache 'flickr-block', :expires_in => 1.hour do

  strong = I18n.t("words.our_images_on_flickr")
  ul.flickr

    - Flickr.people.getPublicPhotos(user_id: Flickr.people.findByUsername(username: 'archivizer_com').nsid, per_page: 6).each do |photo|

      li = link_to image_tag(FlickRaw.url_b(photo), :width => 85, :height => 85), FlickRaw.url_b(photo), :target => '_blank', :rel => 'flickr', :class => 'flickr-image'


  .btn-account = link_to 'Наш Аккаунт', 'http://www.flickr.com/photos/archivizer/', :target => '_blank'
