
- unless block.title.nil? || (block.title == "")
  h3.block-title = block.title
.block-content
  - eval(block.value).recently_created.limit(10).each do |item|
    .teaser class="#{item.class.to_s}"
      .teaser-image = link_to image_tag(item.get_image(:block)), item
      .teaser-title = link_to item.get_name, item
      .price-box
        .price-left
        .price
          span.sum = print_money item.price, :no
          span.currency = item.currency
        .price-right