.popup-holder
  #popup3.lightbox.login
    strong.header Вход для зарегестрированных пользователей
    span.note Если вы не зарегестрированны, просто поставьте новое задание прямо на главной странице сайта.

    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "login-form"}) do |f|
      fieldset
      .text.email-field
        = render :partial => "fields/forms/email", :locals => {f: f, placeholder: "E-mail адрес", field_label: ''}
      .text
        = render :partial => "fields/forms/password", :locals => {f: f, placeholder: "Пароль", field_password_label: ''}
      .check
        .check-holder
          = render :partial => "fields/forms/remember_me", :locals => {f: f, field_label: I18n.t('words.do_not_logout')}

      .forgot = link_to I18n.t('login.links.forgot'), new_password_path(resource_name)

      .buttons
        = render :partial => "fields/forms/submit", :locals => {:f => f, :field_value => I18n.t('forms.fields.sign_in'), :field_class => "close"}
        a.close href="#" = I18n.t('words.cancel')