- unless block.title.nil? || (block.title == "")
  h3.block-title = block.title
.block-content
  - if current_user.nil?
    #login #{link_to I18n.t("forms.fields.sign_in"), new_user_session_path} / #{link_to I18n.t("forms.fields.sign_up"), new_user_registration_path}
  - else
    #hello #{link_to I18n.t("words.private_office"), current_user} / #{link_to I18n.t("logout"), destroy_user_session_path, :method => :delete}