section#modeling.section.modeling
  .modeling-section-content
    h2 Моделирование объектов
    span.text-description Мы можем изготовить трехмерную фотореалистичную модель любого реального объекта или создать модель проектируемого прототипа
    .modeling-holder
      /! image model
      .img-model
        img alt="image description" height="414" src="#{asset_path('img17.jpg')}" width="431"
      /! modeling list
      ul.modeling-list
        li
          .icon
            img alt="image description" height="70" src="#{asset_path('ico-20.png')}" width="70"
          .description
            h3 Для производителей предметов интерьера
            p Наличие трехмерной модели - это гарантированное увеличение популярности и, как следствие, увеличение продаж
        li
          .icon
            img alt="image description" height="70" src="#{asset_path('ico-21.png')}" width="70"
          .description
            h3 Для архитекторов  и дизайнеров
            p Дизайн с уникальными предметами  выделяется из однотипных рисунков, в которых  используются модели из общего доступа
        li
          .icon
            img alt="image description" height="70" src="#{asset_path('ico-22.png')}" width="70"
          .description
            h3 Для промышленных дизайнеров
            p Для создания прототипа любого объекта, 3d моделирование является следующим шагом после скетчевых набросков