- Block.get_blocks_in_region(region).each do |block|
  .block id="#{block.slug}" = render :partial => "blocks/#{block.type}", :locals => {block: block} if block.view?(controller: controller.controller_name, action: controller.action_name, url: request.fullpath)