section.intro
  .task-box
    strong.title Начните прямо сейчас без оплаты!
    span.sub-title Используйте преимущества уже в текущих проектах
    p Для того чтобы оценить эффективность работы с нашим сервисом, <br /> поставьте техническое задание и, мы выполним его без предварительной оплаты
    .clearfix
    #subscribe-form
      /= simple_form_for(resource, :as => resource_name, :validate => true, :url => registration_path(resource_name), :html => {:class => "task-form"}) do |f|
      form.task-form action="http://archivizer.us7.list-manage.com/subscribe/post?u=a2e2931ca6e330e0970755620&amp;id=4b3b6a00af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
        fieldset
          /.field
          /  input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="E-mail адрес"
          /.field
          /  input.name-field type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Имя"
          /.field
          /  input type="submit" value="#{I18n.t('words.create_task')}" name="subscribe" id="mc-embedded-subscribe"
          .field
            input type="email" value="" name="email" id="mce-EMAIL" placeholder="E-mail адрес"
          .field
            input.name-field type="text" value="" name="name" id="mce-FNAME" placeholder="Имя"
          .field
            input type="submit" value="#{I18n.t('words.create_task')}" name="subscribe" id="mc-embedded-subscribe"
          /= render :partial => "fields/forms/email", :locals => {:f => f, placeholder: "E-mail адрес"}
          /= render :partial => "fields/forms/name", :locals => {:f => f, placeholder: "Имя", class_name: 'name-field'}
          /= render :partial => "fields/forms/submit", :locals => {:f => f, :field_value => I18n.t('words.create_task'), :field_class => ""}

  .slideshow
    .slideset
      - Slide.slideshow.each do |slide|
        .slide
          .slide-holder = image_tag(slide.file_url, alt: '')