
- cache 'reviews-block', :expires_in => 1.hour do
  section.section.reviews
    h2 Что о нас говорят клиенты:

    .reviews-gallery
      .slideset

        - Review.recently_created.limit(30).each do |review|

          .slide
            blockquote
              q = safe_html(review.body)
              cite = review.get_name

      .pagination