section#scheme-section.section.scheme-section
  h2 Чертежная документация для реализации проекта
  span.text-description Наши архитекторы и инженеры подготовят комплект чертежной документации к эскизному проекту для его дальнейшего воплощения
  .scheme-holder
    .column
      h3 Список чертежной документации
      ol.scheme-list
        li Схема функционального зонирования (перепланировка, расстановка мебели)
        li Схема демонтажа простенков
        li Схема монтажа стен
        li Экспликация помещений
        li Схема монтажа потолков
        li Разрез потолков
        li Схема монтажа лепнины
        li Схема размещения осветительных приборов
        li Схема размещения групп включения, их привязка и описание
        li Схема размещения розеток, электрических, слаботочных выводов с привязками
        li План привязки сантехники
        li Схема кондиционирования (расположение кондиционеров и вытяжек)
        li Схема открывания дверей
        li Схема укладки напольных покрытий
        li Схема укладки системы теплого пола
        li Развертки по стенам (схема раскладки плитки, площади покрытий по стенам)
    .column.column-right
      .scheme-gallery
        .mask
          .slideset
            - Slide.scheme_section.each do |slide|
              .slide
                .img-holder
                  .img-frame = image_tag(slide.file_url(:big_thumb_568x533), width: 568, height: 533, alt: '')

        .pagination
      .btn-download = link_to I18n.t('words.download_project_example'), "/download/sample-project.zip"