- cache "categories_block" do
  - unless block.title.nil? || (block.title == "")
    h3.block-title = block.title
  .block-content-top
  .block-content = print_categories_to_nested_accordion(Section.find_by_slug(block.value).get_root_categories)
  .block-content-bottom