.w1
  section.section.services
    h2 Визуализация идей со скоростью света
    span.text-description Archivizer - сервис для оптимизации работы над проектами. Мы берем на себя рутину - вам остается творчество
    ul.services-list
      li
        .icon
          a href="#{service_path}#steps
            img alt="image description" height="100" src="#{asset_path('ico-07.png')}" width="100"
        h3
          a href="#{service_path}#steps" Визуализация по заданию
        p Нарисуем фотореалистичные изображения <br />по техническому заданию
        a.btn-more href="#{service_path}#steps" = I18n.t("words.more")
      li
        .icon
          a href="#{service_path}#design-section"
            img alt="image description" height="100" src="#{asset_path('ico-08.png')}" width="100"
        h3
          a href="#{service_path}#design-section" Разработка дизайна
        p Разработаем дизайн который нравится <br />с первого взгляда
        a.btn-more href="#{service_path}#design-section" = I18n.t("words.more")
      li
        .icon
          a href="#{service_path}#scheme-section"
            img alt="image description" height="100" src="#{asset_path('ico-09.png')}" width="100"
        h3
          a href="#{service_path}#scheme-section" Чертежная документация
        p Выполним точные и понятные для любого строителя чертежи
        a.btn-more href="#{service_path}#scheme-section" = I18n.t("words.more")
      li
        .icon
          a href="#{service_path}#modeling"
            img alt="image description" height="100" src="#{asset_path('ico-10.png')}" width="100"
        h3
          a href="#{service_path}#modeling" Моделирование объектов
        p Сделаем детальные модели с качественными текстурами любых объектов
        a.btn-more href="#{service_path}#modeling" = I18n.t("words.more")
