/- cache "simple_search_block" do
#simple-search.block
  #simple-search-left
  #simple-search-right
  #simple-search-center
    .content
      = form_tag search_index_path do
        .wrap
          #simple-search-submit = render :partial => "fields/forms/tag/submit_tag", :locals => {field_value: "", button_class: "form-submit", no_sending: true}
          #simple-search-input = render :partial => "fields/forms/tag/text_field_tag", :locals => {field_name: "search_string", field_value: @search_value, placeholder: I18n.t("words.site_search")}