#steps.section.steps
  h2 Визуализация интерьера по техническому заданию
  span.text-description Процесс работы над заданием проходит за 6 этапов. Вы всегда будете знать на каком из них находится задача в текущий момент
  ul
    li
      img alt="image description" height="70" src="#{asset_path('ico-11.png')}" width="70"
        h3
          span 1. Постановка задания
        p Вы загружаете план расстановки мебели, потолков, освещения, развертки стен и выбираете наполнение
    li
      img alt="image description" height="70" src="#{asset_path('ico-12.png')}" width="70"
        h3
          span 2. Проверка и оплата задания
        p Мы проверяем задание, уточняем детали необходимые для корректного выполнения задания и получаем финальную стоимость
    li.third-step
      img alt="image description" height="70" src="#{asset_path('ico-13.png')}" width="70"
        h3
          span 3. Выполнение задачи
        p После оплаты счета приступаем к работе над задачей, самостоятельно дополняя недостающие части
    li.to-left
      img alt="image description" height="70" src="#{asset_path('ico-14.png')}" width="70"
        h3
          span 6. Финальный рендер
        p Если корректировки не требуются, мы просчитываем изображения в максимальном качестве и закрываем задачу
    li.to-left.bypassing
      img alt="image description" height="70" src="#{asset_path('ico-15.png')}" width="70"
        h3
          span 5. Внесение корректировок
        p После вашей рецензии мы вносим все необходимые изменения и после этого делаем еще один промежуточный рендер
    li.to-left.fourth-step
      img alt="image description" height="70" src="#{asset_path('ico-16.png')}" width="70"
        h3
          span 4. Промежуточный рендер
        p Вы получаете изображения, просчитанные в невысоком качестве, для того, чтобы проверить их соответствие заданию