- cache 'twitter-block', :expires_in => 1.hour do

  strong = I18n.t("words.we_in_twitter")
  ul.twitter-widget
    - TwitterApi.user_timeline(screen_name: "archivizer", count: 3).each do |tweet|
      li
        p #{link_to '@Archivizer', 'http://twitter.com/archivizer'} #{tweet.text}
        = link_to I18n.t("words.posted", :date => print_date(tweet.created_at)), "http://twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}"