tr
  th
  th
  - _.each ['project_name', 'performer', 'room', 'style', 'tone', 'gamma'], (field) =>
    th
      a.sort-link href="{{ collection.getPath }}/page/{{ collection.information.currentPage }}/#{field}_id/{{ collection.getReverseOrder }}" = I18n.t("forms.fields.#{field}_id")

  /- _.each ['main_color', 'accent_color', 'material'], (field) =>
  /  th = I18n.t("forms.fields.#{field}_ids")

  th
    a.sort-link href="{{ collection.getPath }}/page/{{ collection.information.currentPage }}/created_at/{{ collection.getReverseOrder }}" = I18n.t('forms.fields.created')
  th

  - if App.CurrentUser.isAdmin()
    th
    th
    th