#navigation-bar

#tabs

table.table.table-bordered.table-striped
  /tr
    /td = I18n.t("forms.fields.name")
    /td = @record.get("name")

  - _.each ['project_name', 'performer', 'room', 'style', 'tone', 'gamma'], (field) =>
    tr
      td = I18n.t("forms.fields.#{field}_id")
      td = (@record.get(field).name if (!_.isUndefined(@record.get(field)) && (@record.get(field) != null)))

  - _.each ['main_color', 'accent_color'], (color) =>
    tr
      td = I18n.t("forms.fields.#{color}_ids")
      td
        - if ( !_.isUndefined(@record.get("#{color}s")) && (@record.get("#{color}s") != null) )
          - _.each @record.get("#{color}s"), (each_color) ->
            span.color style="border: 1px solid #999; display: inline-block; margin: 0px 10px 10px 0px; width: 32px; height: 32px; background: #{{each_color.name}}"

  tr
    td = I18n.t("forms.fields.material_ids")
    td
      - if ( !_.isUndefined(@record.get("materials")) && (@record.get("materials") != null) )
        - _.each @record.get("materials"), (material) ->
          == material.name + " "
  tr
    td = I18n.t("forms.fields.image_ids")
    td
      - if ( !_.isUndefined(@record.get("all_images")) && (@record.get("all_images") != null) )
        - _.each @record.get("all_images"), (image) ->
          - console.log image
          a href="#{image.file.url}" target="_blank"
            img src="#{image.file.thumb.url}"

  tr
    td = I18n.t("forms.fields.max_file_ids")
    td
      - if ( !_.isUndefined(@record.get("max_files")) && (@record.get("max_files") != null) )
        - _.each @record.get("max_files"), (max_file) ->
          a href="#{max_file.file.url}" target="_blank" == max_file.name
  tr
    td = I18n.t("forms.fields.updated")
    td = @record.get("updated")
  tr
    td = I18n.t("forms.fields.created")
    td = @record.get("created")