- print_field_label = ""
- if defined?(field_label)
  - unless field_label.nil?
    - print_field_label = "<span class=\"field-title\">#{field_label}</div>"
- else
  - print_field_label = "<span class=\"field-title\">#{I18n.t("forms.fields.#{field_name}")}</span>:"

.field id="#{field_name}" #{print_field_label.html_safe} #{record.send(field_name.to_s)}