#navigation-bar

%h1
  = "#{I18n.t("models.translations.dump")} ({{ count }})"

#tabs

.field
  %label
    = I18n.t("words.separator")
  %input#separator{type: "text", value: Settings.translations_file_separator}

.form-actions
  %button#submit-form.btn.btn-primary {{ submitValue }}