#navigation-bar

%h1
  = I18n.t("models.translations.import")

#tabs

%form#import-form{enctype: "multipart/form-data", method: "POST"}

  .field
    %label
      = I18n.t("words.file")
    %input#file{type: "file", name: "files[]", multiple: "multiple"}

  .field
    %label
      = I18n.t("words.separator")
    %input#separator{type: "text", value: Settings.translations_file_separator}

.form-actions
  %button#submit-form.btn.btn-primary {{ submitValue }}