#navigation-bar

%h1
  = "#{I18n.t("models.translations.plural")} ({{ count }})"

#tabs

#form

.form-actions
  %button#submit-form.btn.btn-primary {{ submitValue }}


#filter-translations
  %input#search_by_key{:type => "text", :placeholder => I18n.t("words.search_by_key")}
  %input#search_by_value{:type => "text", :placeholder => I18n.t("words.search_by_values")}

#records
