class App.Views.SlideDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Slide({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.slides.deleted") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
 