class App.Views.SlidesBlockedPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.BlockedSlidesPaginatedCollection(params)
    @collectionView = App.Views.BlockedSlidesCollection

    @idsModel = App.Models.IdsSlide

    @options.pluralModelString = "<%= I18n.t("models.slides.plural") %>"
    @options.addModelString = "<%= I18n.t("models.slides.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
