class App.Views.SlideAddPage extends App.Views.SharedForm

  template: JST['admin/shared/file_form']

  initialize: ->
    @model = new App.Models.Slide()
    @options.header = "<%= I18n.t("models.slides.new") %>"
    @options.success_message = "<%= I18n.t("models.slides.added") %>"
    @options.error_message = "<%= I18n.t("models.slides.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.slides.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
