class App.Views.SlidesIndexPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.SlidesPaginatedCollection(params)
    @collectionView = App.Views.SlidesCollection

    @idsModel = App.Models.IdsSlide

    @options.pluralModelString = "<%= I18n.t("models.slides.plural") %>"
    @options.addModelString = "<%= I18n.t("models.slides.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
