class App.Views.SlideEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Slide({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.slides.edit") %>"
    @options.success_message = "<%= I18n.t("models.slides.updated") %>"
    @options.error_message = "<%= I18n.t("models.slides.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.slides.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
