- field_address_label = defined?(field_label) ? field_label : I18n.t('forms.fields.address')
.field
  = f.input :address, :label => field_address_label, :input_html => {:class => "#{defined?(class_name) ? class_name : ''}" }