- field_type = defined?(as) ? as : :text
- field_body_label = defined?(field_label) ? field_label : I18n.t('forms.fields.body')
.field
  = f.input :body, :as => field_type, :label => field_body_label, :input_html => {:rows => 5, :cols => 20}