- field_company_name_label = defined?(field_label) ? field_label : I18n.t('forms.fields.company_name')
.field
  = f.input :company_name, :label => field_company_name_label, :input_html => {:class => "company-name #{defined?(class_name) ? class_name : ''}" }