/#country-field.field
/  .field-country
/    = f.label :country_id, :label => "#{defined?(field_label) ? field_label : I18n.t('forms.fields.location') }"
/    = f.collection_select :country_id, Country.all, :id, :name, include_blank: true
/  .field-city
/    = f.grouped_collection_select :city_id, Country.all, :cities, :name, :id, :name, include_blank: false