- field_edrpou_label = defined?(field_label) ? field_label : I18n.t('forms.fields.edrpou')
.field
  = f.input :edrpou, :label => field_edrpou_label, :input_html => {:class => "edrpou #{defined?(class_name) ? class_name : ''}" }