- email_label = defined?(field_label) ? field_label : I18n.t('forms.fields.email')
.field
  = f.input :email, :as => :email, :label => email_label, :placeholder => (placeholder if defined?(placeholder)), :input_html => {:class => "#{defined?(class_name) ? class_name : ''}" }