- field_legal_label = defined?(field_label) ? field_label : I18n.t('forms.fields.legal_type')
.field
  = f.input :legal_type, as: :radio_buttons, checked: (@record.nil? ? "individual" : @record.legal_type), collection: User.get_legal_types.map { |legal_type| [I18n.t("legal_types.#{legal_type}"), legal_type] }, :label => field_legal_label, :input_html => {:class => "legal-type" }