- field_login_label = defined?(field_label) ? field_label : I18n.t('forms.fields.login')
.field = f.input :login, :label => field_login_label, :input_html => { :class => "#{defined?(class_name) ? class_name : 'span11'}" }