- field_name_label = defined?(field_label) ? field_label : I18n.t('forms.fields.name')
.field
  = f.input :name, :label => field_name_label, :placeholder => (placeholder if defined?(placeholder)), :input_html => {:class => "name #{defined?(class_name) ? class_name : ''}" }