- field_password_confirmation_label = defined?(field_label) ? field_label : I18n.t('forms.fields.password_confirmation')
.field = f.input :password_confirmation, :label => field_password_confirmation_label, :input_html => { :class => "" }, :placeholder => (placeholder if defined?(placeholder))