- password_label = defined?(field_password_label) ? field_password_label : I18n.t('forms.fields.password')
.field.password
  = f.input :password, :label => password_label, :placeholder => (placeholder if defined?(placeholder)), :input_html => {:class => "#{defined?(class_name) ? class_name : ''}" }
- if defined?(has_password_confirmation) && has_password_confirmation == true
  - password_confirmation_label = defined?(field_password_confirmation_label) ? field_password_confirmation_label : I18n.t('forms.fields.field_password_confirmation')
  .field.password_confirmation
    = f.input :password_confirmation, :label => password_confirmation_label, :input_html => {:class => "#{defined?(class_name) ? class_name : ''}" }