- field_phone_label = defined?(field_label) ? field_label : I18n.t('forms.fields.phone')
.field
  = f.input :phone, :label => field_phone_label, :input_html => {:class => "phone #{defined?(class_name) ? class_name : ''}" }