- field_receiver_surname_label = defined?(field_label) ? field_label : I18n.t('forms.fields.receiver_surname')
.field
  = f.input :receiver_surname, :label => field_receiver_surname_label, :input_html => {:class => "receiver_surname #{defined?(class_receiver_surname) ? class_receiver_surname : 'span5_5'}" }