- field_receiver_name_label = defined?(field_label) ? field_label : I18n.t('forms.fields.receiver_name')
.field
  = f.input :receiver_name, :label => field_receiver_name_label, :input_html => {:class => "receiver_name #{defined?(class_receiver_name) ? class_receiver_name : 'span5_5'}" }