- remember_me_label = defined?(field_label) ? field_label : I18n.t('forms.fields.remember_me')
.field
  - if devise_mapping.rememberable?
    .checkbox
      = f.input :remember_me, :label => remember_me_label, :as => :boolean, :input_html => {:checked => 'checked'}