- submit_field_value = I18n.t("forms.fields.submit")
- submit_field_value = field_value if defined?(field_value)
- submit_field_value = field_label if defined?(field_label)
- submit_field_class = defined?(field_class) ? field_class : "btn btn-large submit"

= f.submit submit_field_value, :class => submit_field_class, :data => (defined?(data_value) ? data_value : {:disable_with => I18n.t('forms.fields.sending')})