- field_type = defined?(as) ? as : :ckeditor
- field_teaser_label = defined?(field_label) ? field_label : I18n.t('forms.fields.teaser')
.field
  = f.input :teaser, :as => field_type, :label => field_teaser_label, :input_html => {:rows => 5, :cols => 20}