- field_topic_label = defined?(field_label) ? field_label : I18n.t('forms.fields.topic')
.field
  = f.input :topic, :label => field_topic_label, :placeholder => (placeholder if defined?(placeholder)), :input_html => {:class => "topic #{defined?(class_topic) ? class_topic : ''}" }