- field_zip_label = defined?(field_label) ? field_label : I18n.t('forms.fields.zip')
.field
  = f.input :zip, :label => field_zip_label, :input_html => {:class => "zip #{defined?(class_zip) ? class_zip : 'span5_5'}" }