class App.Views.ArticleDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Article({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.articles.deleted") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
 