class App.Views.ArticlesIndexPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.ArticlesPaginatedCollection(params)
    @collectionView = App.Views.ArticlesCollection

    @idsModel = App.Models.IdsArticle

    @options.pluralModelString = "<%= I18n.t("models.articles.plural") %>"
    @options.addModelString = "<%= I18n.t("models.articles.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
