class App.Views.ArticleEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Article({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.articles.edit") %>"
    @options.success_message = "<%= I18n.t("models.articles.updated") %>"
    @options.error_message = "<%= I18n.t("models.articles.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.articles.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
