class App.Views.ArticleAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Article()
    @options.header = "<%= I18n.t("models.articles.new") %>"
    @options.success_message = "<%= I18n.t("models.articles.added") %>"
    @options.error_message = "<%= I18n.t("models.articles.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.articles.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
