.image-holder
  .image-wrapper
    %a.lightbox{:href => "{{ record.avatar.file.full_screen_thumb.url }}", "data-rel" =>"lightbox", :rel => "lightbox"}
      %img{:src => "{{ record.avatar.file.middle_thumb_173x182.url }}", :alt => ""}
  %a.zoom{:href => "{{ record.avatar.file.full_screen_thumb.url }}", "data-rel" =>"lightbox", :rel => "lightbox"} ZOOM

.description
  %a.cart{:href => "#"} Cart
  %strong.title {{ record.name }}
  %span {{ record.room.name }}
  %span {{ record.performer.name }}