= simple_form_for [get_href_namespace, @parent_record, @record], :html => { :class => 'form-horizontal' }, :validate => true do |f|
  -if @record.errors.any?
    - @form_errors = @record
  - @model.accessible_attributes.each do |attr|
    - if @model.respond_to?(:do_not_show_fields_in_form)
      - unless @model.do_not_show_fields_in_form.include?(attr)
        = render :partial => "fields/forms/#{attr}", :locals => {f: f, model: @model, record: @record}
    - else
      = render :partial => "fields/forms/#{attr}", :locals => {f: f, model: @model, record: @record}
  = render :partial => "fields/forms/submit", :locals => {f: f}
