- @records.each_with_index do |record, index|

  = render :partial => "shared/teasers/#{get_class_string(record.class)}", :locals => {get_class_string(record.class).to_sym => record}

= paginate @records

/- if can?(:read, @model)
/  table.table.table-striped.table-bordered
/    tr
/      - if can?(:read, @model)
/        th Название
/      - if can?(:read, @model)
/        th Просмотр
/      - if can?(:edit, @model)
/        th Редактировать
/      - if can?(:destroy, @model)
/        th Удалить
/    - @records.each do |record|
/      tr
/        - if can?(:read, @model)
/          td = link_to record.get_name, [get_href_namespace, @parent_record, record]
/        - if can?(:read, @model)
/          td = link_to I18n.t('view'), [get_href_namespace, @parent_record, record], :class => "btn"
/        - if can?(:edit, @model)
/          td = link_to I18n.t('edit'), edit_polymorphic_path([get_href_namespace, @parent_record, record]), :class => "btn btn-primary"
/        - if can?(:destroy, @model)
/          td = button_to I18n.t('delete'), [get_href_namespace, @parent_record, record], :method => :delete, :data => { :confirm => I18n.t('are_you_sure') }, :class => "btn btn-danger"
/  = paginate @records, :remote => true