h1 = I18n.t("models.#{get_pluralized_class_string(@model)}.delete")
.bottom-margin = link_to @record.get_name, [get_href_namespace, @parent_record, @record]
= button_to I18n.t('delete'), [get_href_namespace, @parent_record, @record], :method => 'delete', :class => "btn btn-danger"



