h1 = I18n.t("tabs.develop")
.field = link_to @record.get_name, [get_href_namespace, @parent_record, @record]
.field Id: <b>#{@record.id}</b>
.field Модель: <b>#{@record.class}</b>
.field Всего: <b>#{@record.class.all.count}</b>


#fields
  .fields-title #{I18n.t('words.fields')}:
  ul
    - @record.class.accessible_attributes.each do |attr|
      li <b>#{attr}</b>: #{@record.send(attr)}





