h1 = get_h1

/- if can? :read, @model
/= link_to I18n.t("models.#{get_pluralized_class_string(@model)}.add"), new_polymorphic_path([get_href_namespace, @parent_record, @model]), :class => 'btn btn-success btn-large top-margin bottom-margin'

.records id="#{get_pluralized_class_string(@parent_model)}-#{get_pluralized_class_string(@model)}" = render :partial => "records"
