h1 = @record.get_name

- @record.class.accessible_attributes.each do |attr|
  - if @model.respond_to?(:do_not_show_fields)
    - unless @model.do_not_show_fields.include?(attr)
      = render :partial => "fields/#{attr}", :locals => {model: @record}
  - else
    = render :partial => "fields/#{attr}", :locals => {model: @record}



