class App.Views.FacilitySettingsFancyboxView extends App.Views.FancyboxView

  className: "lightbox edit selected-facility-settings"

  template: JST['account/visualizations/facility_settings_fancybox_view']

  events: {
    "blur textarea[name='comment']": "updateComment"
    "click .close": "saveModel"
    "click .btn-back": "destroyFancybox"
  }

  initialize: (params) ->
    _.extend(@, params)

    @model = new App.Models.SelectedFacility({slug: @visualization.get("slug")})

    @filesForDestroyOnSubmit = []

    @model.on "change", @setValues, @
    @model.on "change", @show, @

    @model.fetch()

    @$fileInput = $("<input type='file' multiple='multiple' name='selected_facility_texture[file]' data-url='#{new App.Models.SelectedFacilityTexture().url()}' />")

    super(params)

  render: ->
    super

    @$(".fileinput-button").append @$fileInput
    @initFileUpload()
    _.each @model.get("selected_facility_textures"), @appendSeletedFacilityTexture

    @

  initFileUpload: () ->
    @$fileInput.fileupload({
      dataType: "json"
      dropZone: @$el
#      formData: {"selected_facility_texture[selected_facility_id]": @model.get("id")}

      add: (e, data) ->
        data.submit()
#        types = <%= SelectedFacilityTexture.get_file_extensions_as_regexp %>
#        file = data.files[0]
#        if types.test(file.type) or types.test(file.name)
#          data.submit()
#        else
#          alert(I18n.t("errors.messsages.not_texture_format"))

      done: (e, data, result) =>
        @addFileId(data.result.id) unless _.isUndefined(data.result)
        @trigger("selectedFacilityTextureUploaded", data.result)
        @appendSeletedFacilityTexture(data.result)

      error: (e, data, message) =>
        console.log "Error"
        console.log e
        console.log data
        console.log message

      fail: (e, data, message) =>
        console.log "Fail"
        console.log e
        console.log data
        console.log message

    })

  appendSeletedFacilityTexture: (selectedFacilityTexture) =>
    selectedFacilityTexture = new App.Views.SelectedFacilityTexture({
      model: new App.Models.SelectedFacilityTexture(selectedFacilityTexture)
    })

    selectedFacilityTexture.on "selectedFacilityTextureDestroyed", (data) =>
      @filesForDestroyOnSubmit.push(data)
      @trigger("selectedFacilityTextureDestroyed", data)
      @removeFileId(data.get("id"))

    @$("ul.textures").append selectedFacilityTexture.render().el

  updateComment: () ->
    @comment = @$("textarea[name=comment]").val()

  saveModel: (e) ->
    e.preventDefault()

    attrs = {}
    attrs['comment'] = @$("textarea[name='comment']").val()
    attrs['selected_facility_texture_ids'] = @values

    @model.save(attrs, {
      silent: true
      success: (data) =>
        console.log _.size(@filesForDestroyOnSubmit)

        if _.size(@filesForDestroyOnSubmit) > 0

          triggerModelUpdated = _.after _.size(@filesForDestroyOnSubmit), () =>
            @destroyFancybox()
            console.log @model
            console.log _.size(@filesForDestroyOnSubmit)
            @trigger("modelUpdated", @model)

          _.each @filesForDestroyOnSubmit, (fileForDestroyOnSubmit) =>
            fileForDestroyOnSubmit.destroy({success: triggerModelUpdated})

        else
          @trigger("modelUpdated", @model)
          @destroyFancybox()
    })

  setValues: () =>
    @values = if _.isUndefined(@model.get("selected_facility_texture_ids")) then [] else @model.get("selected_facility_texture_ids")
    @comment = @model.get("comment")

  addFileId: (id) ->
    @values.push(id)

  removeFileId: (id) ->
    @values = _.without(@values, id)

