$('.modal-header h3').text(I18n.t("login.links.authorization"));
$('#auth-form').html("<%= escape_javascript(render :partial => 'auth/sign_in_form', :locals => {:do_ajax => true})  %>");
$('#register-form').html("<%= escape_javascript(render :partial => 'auth/sign_in_form', :locals => {:do_ajax => true})  %>");