class App.Views.CategoriesSortableCollection extends App.Views.SharedSortableCollection

  id: "categories"

  initialize: (params) ->
    if @collection.sectionSlug == '<%= Section.find(Settings.facilities_manufacturers_section).slug %>'
      @itemView = App.Views.SortableCategoryWithCount
    else
      @itemView = App.Views.SortableCategory
    super