class App.Views.CategoriesCollection extends App.Views.SharedCollection

  id: "categories"

  initialize: (params) ->
    if @collection.sectionSlug == '<%= Section.find(Settings.facilities_manufacturers_section).slug %>'
      @itemView = App.Views.CategoryWithCount
    else
      @itemView = App.Views.Category
    super