class App.Views.PortfolioEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Portfolio({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.portfolios.edit") %>"
    @options.success_message = "<%= I18n.t("models.portfolios.updated") %>"
    @options.error_message = "<%= I18n.t("models.portfolios.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.portfolios.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
