class App.Views.PortfolioDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Portfolio({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.portfolios.deleted") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
 