class App.Views.PortfolioAddPage extends App.Views.SharedForm

  template: JST['admin/shared/file_form']

  initialize: ->
    @model = new App.Models.Portfolio()
    @options.header = "<%= I18n.t("models.portfolios.new") %>"
    @options.success_message = "<%= I18n.t("models.portfolios.added") %>"
    @options.error_message = "<%= I18n.t("models.portfolios.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.portfolios.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super

  getRecordTabsView: () ->
    new App.Views.BlockedRecordTabsView({model: @model})
