class App.Views.PortfoliosIndexPage extends App.Views.SharedCheckableIndexPage

  initialize: (params)->
    @collection = new App.Collections.PortfoliosPaginatedCollection(params)
    @collectionView = App.Views.PortfoliosCollection

    @idsModel = App.Models.IdsPortfolio

    @options.pluralModelString = "<%= I18n.t("models.portfolios.plural") %>"
    @options.addModelString = "<%= I18n.t("models.portfolios.add") %>"
    super(params)

  getTabsView: () ->
    new App.Views.BlockedCollectionTabsView({collection: @collection})
