footer#footer
  .footer-holder
    strong.logo = link_to 'AV Archivizer', root_path
    span.rights #{link_to 'Archivizer', root_path} all rights reserved 2013

    = print_menu(Menu.get_main, menu_left_wrap: "ul", menu_left_wrap_class: 'footer-nav',  menu_right_wrap: "</ul>", left_wrap: "<li>", active_left_wrap: '<li class="active">', right_wrap: "</li>", separator: "")