header#header
  .holder
    h1.logo = link_to 'AV ARCHIVIZER', root_path

    nav#nav = print_menu(Menu.get_main, menu_left_wrap: "ul",  menu_right_wrap: "</ul>", left_wrap: "<li>", active_left_wrap: '<li class="active">', right_wrap: "</li>", separator: "")

    - if user_signed_in?
      ul.frame
			  li.log-out = button_to 'Log Out', destroy_user_session_path, :method => :delete
			  li.account = link_to 'Friends icon', account_path
			  - if current_user.worker?
			    li.edit = link_to 'User', '/account/facilities-sets/new'
			  - else
			    li.edit = link_to 'User', '/account/tasks/new'
    - else
      = link_to 'Войти', '#popup3', class: 'btn-login', data: {rel: 'lightbox'}
