- if flash.count > 0
  .clearfix
  - flash.each do |name, msg|
    - if name.to_s == "alert"
      .alert.alert-block.alert-error.fade.in
        a.close data-dismiss="alert" ×
        = msg
    - else
      .alert.alert-block.alert-success.fade.in
        a.close data-dismiss="alert" ×
        = msg
- unless @form_errors.nil?
  .clearfix
  .alert.alert-block.alert-error.fade.in
    a.close data-dismiss="alert" ×
    h4.alert-heading Ошибки при заполнении формы
    ul
      - @form_errors.errors.full_messages.each do |msg|
        li= msg