/nav#main-menu = print_menu(Menu.get_main, menu_left_wrap: "ul",  menu_left_wrap_class: 'links', menu_left_wrap_id: 'nav', menu_right_wrap: "</ul>", left_wrap: "<li>", right_wrap: "</li>", separator: "<div class=\"separator\"></div>")