aside.aside
  .aside-content
    .box = render :partial => 'blocks/about'
    .box.posts = render :partial => 'blocks/articles'
    .box = render :partial => 'blocks/flickr'
    .box = render :partial => 'blocks/twitter'
= render :partial => 'blocks/login_popup' unless user_signed_in?