@import "twitter/bootstrap/mixins";

$tahoma_family: Tahoma, Arial, sans-serif;
$arial_family: Arial, Tahoma, sans-serif;
$georgia_family: Georgia, Tahoma, Arial, sans-serif;
$verdana_family: Verdana, Arial, Tahoma, sans-serif;
$calibri_family: Calibri, Arial, Tahoma, sans-serif;
$hover_link: #008ad1;

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body.account {
  padding: 50px 0px 0px;

  h1 {
    color: #11558c;
    font-size: 20px;
    font-family: $arial_family;
    margin: 0px 0px 15px;
  }

  h2 {
    font-family: $tahoma_family;
    font-size: 13px;
    line-height: normal;
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  #push{
    height: 60px;
  }

  #footer {
    background-color: #f5f5f5;
    padding: 20px 0px 0px;
    height: 40px;
  }

  #save-order {
    position: fixed;
    top: 250px;
    right: 30px;
  }

  // Forms

  .bbf-form {
    fieldset {
      & > ul {
        margin: 0px;
      }
    }
  }

  .field-group_id {
    margin: 0px;

    ul {
      margin: 0px;

      .accordion-group {
        border: 1px solid #cfcfcf;
        border-bottom: 0px;
        margin: 0px;
        @include border-radius(0px);

        &:last-child {
          border-bottom: 1px solid #cfcfcf;
        }

        .accordion-heading {
          background: #6e6e6e;
          border-bottom: 1px solid #cfcfcf;
          padding: 4px 5px;

          a {
            color: #FFF;
            font-weight: bold;
            display: block;
          }
        }
      }

      .accordion-inner {
        border: none;

        .child-category {
          float: left;
          margin: 0px 25px 0px 0px;

          input {
            float: left;
            margin: 4px 6px 0px 0px;
          }

          label {
            float: left;
            width: auto;
          }
        }
      }
    }
  }

  .bbf-field {
    @include  clearfix();
  }

  .bbf-radio, .bbf-checkboxes {
    margin: 0px;

    li {
      float: left;
      margin: 0px 25px 0px 0px;

      input {
        float: left;
        margin: 4px 6px 0px 0px;
      }

      label {
        float: left;
        width: auto;
      }
    }
  }

  .fileupload, .bbf-checkboxes {
    .select2-container {
      display: none;
    }
  }

  #add-item {
    margin: 0px 0px 20px;
  }

  #mass-actions-select {
    label {
      display: none;
    }

    .bbf-editor {
      margin: 0px;
      width: 30%;
    }
  }

  td.checkbox {
    input[type="checkbox"] {
      float: none;
      margin: 0px;
    }
  }
}

form.facility, form.scene {

  .left-form-wrapper {
    width: 650px;
    float: left;
    margin: 0px 25px 0px 0px;

    .center-form-wrapper {
      @include clearfix();

      .field-style_id {
        float: left;
        clear: none;
      }

      .field-tone_id {
        float: right;
        clear: none;
      }
    }
  }

  .right-form-wrapper {
    width: 250px;
    float: left;
  }

  .bbf-error {
    width: auto;
    margin-left: 0px;
  }

  .bbf-field {

    label {
      float: none;
      width: auto;
    }

    .bbf-editor {
      margin: 0px;
      width: auto;
    }

    .bbf-radio, .bbf-checkboxes {
      label {
        float: left;
      }
    }

    &.field-style_id, &.field-tone_id, &.field-gamma_id, &.field-main_color_ids, &.field-accent_color_ids, &.field-material_ids {

      .bbf-editor {
        border: 1px solid #929292;
        padding: 10px 10px 5px;

        @include clearfix();
      }
    }

    &.field-main_color_ids, &.field-accent_color_ids {
      label {
        &.color {
          border: 1px solid #929292;
          display: inline-block;
          width: 16px;
          height: 16px;
        }
      }

      .bbf-checkboxes {
        li {
          height: 45px;
          width: 20px;
          text-align: center;

          input {
            float: none;
            margin: 0px 0px 10px;
          }

          label {
            float: none;
          }
        }
      }
    }

    &.field-max_file_ids, &.field-image_ids {

      label {
        display: none;
      }

      .fileinput-button {
        background: url("photo-uploader.png") top center no-repeat;
        width: 250px;
        height: 250px;
        cursor: pointer;

        input {
          width: 250px;
          height: 250px;
        }
      }
    }

    &.field-max_file_ids {
      .fileinput-button {
        background: url("max-uploader.png") top center no-repeat;
      }
    }

    &.field-name {
      margin-bottom: 40px;
    }

    &.field-style_id, &.field-tone_id {
      width: 45%;
    }

    .files-container {
      margin: 0px;

      .file {
        @include clearfix();

        .file-name-remove-wrapper {
          background: #d9dbda;
          border: 1px solid #edefee;
          margin: 0px 0px 1px;
          padding: 0px 3px;
          @include clearfix();
        }

        .file-preview {
          width: 250px;
          margin: 10px 0px;
        }

        .file-name {
          float: left;
          font-size: 9px;
          color: #777777;
        }

        .remove {
          background: url("trash.png") top center no-repeat;
          border: none;
          float: right;
          display: block;
          width: 9px;
          height: 10px;
          margin: 4px 0px 0px;
        }
      }
    }

  }



  .form-actions {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;

    #submit-form {
      background: url("big-ok.png") top center no-repeat;
      border: none;
      width: 150px;
      height: 52px;
      display: block;
      margin: 40px auto 0px;
      text-indent: -10000px;
    }
  }
}

form.scene {

  .bbf-field {

    &.field-image_ids {
      .fileinput-button {
        background: url("photo-uploader-review.png") top center no-repeat;
      }
    }

    &.field-max_file_ids {
      .fileinput-button {
        background: url("max-uploader-scene.png") top center no-repeat;
      }
    }
  }
}

.select2-results {
  max-height: 325px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  body.account {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  background-image: none;
}

