@import "compass";
@import "twitter/bootstrap/mixins";

$icons-layout: vertical;
//$icons-spacing: 20px;
@import "icons/*.png";
@include all-icons-sprites;

$tasks_layout_width: 1170px;
$pt_sans_family: "PT Sans", Arial, Helvetica, sans-serif;

$hover_link: #008fd5;

.loading-view {
  width: 1px;
  height: 1px;
  margin: 0px auto;
}

body.account {
  #header {

    .logo {
      margin: 0 90px 0 0;
    }

    #nav {
      width: 420px;
      padding: 3px 0px;
    }

    .right-column {
      float: right;
      text-align: right;
      position: relative;
      margin: 0px;
      padding: 16px 0px 0px;
      max-width: 480px;

      .user-info {
        float: left;
        margin: 0px 14px 0px 0px;

        .user-image {
          float: left;
          margin: -7px 10px 0px 0px;
          display: block;

          img {
            @include border-radius(20px);
          }
        }

        .user-name {
          float: left;
          display: block;
          color: #3498db;
          font-size: 14px;
          font-family: $pt_sans_family;
          max-width: 217px;
          text-align: left;
        }
      }

      .user-role {
        float: left;
        color: #89949b;
        font-size: 14px;
        font-family: $pt_sans_family;
        margin: 0px 35px 0px 0px;
        max-width: 85px;
      }

      .log-out-link {
        background: #008fd5;
        display: block;
        float: left;
        color: #e1e6e9;
        font-size: 14px;
        font-family: $pt_sans_family;
        text-align: center;
        padding: 10px 18px;
        margin: -10px 0px 0px;
      }
    }
  }

  &.single-task {
    #header {
      #nav {
        li.active a {
          &:after {
            background: url(application-sprite.png) no-repeat -78px -223px;
          }
        }
      }
    }
  }
}

#main.contact-page, #main.profile-page {
  width: 100%;
  padding: 0px 0px 206px;
  margin: 0px auto;
  overflow: hidden;
}

#main.tasks {
  width: 100%;
  padding: 0px 0px 206px;
  margin: 0px auto;
  overflow: hidden;

  .gray-bg {
    background: #fafafa;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    -webkit-box-shadow: 0 0 1px #ededed;
    -moz-box-shadow: 0 0 1px #ededed;
    box-shadow: 0 0 1px #ededed;
  }

  #select-objects-form {

    #sidebar {
      width: 262px;
    }

    .selected-item {
      border: none;
      margin: 0px;
      padding: 0px;

      h2 {
        margin: 0px 0 55px;
        font-size: 20px;
        line-height: 21px;
        color: #008fd5;
        text-transform: none;
      }
    }

    .clear-all {
      bottom: -17px;
      right: 60px;
    }

    .total {
      a.order {
        width: 123px;
        float: left;
      }

      a.cancel-button {
        float: right;
        width: 125px;
        height: 27px;
        line-height: 22px;
        color: #415c67;
        padding: 6px 0px 0px;
        text-decoration: none;
        flex-shrink: 12px;
        text-align: center;
        margin: 0px auto;
        border: 1px solid #9a9a9a;
        font-weight: normal;
        display: block;
        background: #FFF;
      }
    }

    .big-image-wrapper {
      right: 277px;
    }
  }

  .delivered {
    #attachment-files-container {
      padding: 50px 0px 40px;
    }

    #select-facilities-container, #select-scenes-container {
      padding: 20px 0px 30px;

      .select-objects-control .selected-objects {
        margin: 10px 0px 0px;
      }
    }

    #calculator-container {
      padding: 40px 0px 70px;

      .calculator-control {
        .top-controls {
          margin: 0px;
        }
        .bottom-controls {
          margin: 40px auto 45px;

          ul {
            li {
              .col {
                background: #fafafa;
              }

              .price {
                background: #fafafa;
              }

              .amount .text input[type="text"] {
                background: #fafafa;
              }
            }
          }
        }

        .amount-wrapper {
          margin: 0px auto;
        }

        .textfield-item {
          .textfield-item-input {
            width: 60px;
          }

          &.calendar-item {
            .textfield-item-input {
              width: 102px;
            }
          }
        }
      }
    }
  }
}

#name-and-description-container {
  width: $tasks_layout_width;
  margin: 0px auto;
  padding: 60px 0px 20px;
}

#attachment-files-container {
  width: $tasks_layout_width;
  margin: 0px auto;
  padding: 70px 0px 70px;
}

#select-facilities-container, #select-scenes-container {
  width: $tasks_layout_width;
  margin: 0px auto;
  padding: 75px 0px 70px;
}

#select-scenes-container {
  .big-image-wrapper {
    left: -550px;
  }
}

#calculator-container {
  margin: 0px auto;
  padding: 75px 0px 100px;
}

#discussions-container {
  width: $tasks_layout_width;
  margin: 0px auto;
  padding: 80px 0px 70px;
}

#results-container {
  width: $tasks_layout_width;
  margin: 0px auto;
  padding: 70px 0px;
}

.textfield-textarea-control {

  *::-webkit-input-placeholder { /* WebKit browsers */
    color:    #89949b;
  }
  *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #89949b;
  }
  *::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #89949b;
  }
  *:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #89949b;
  }

  .textfield {
    background: transparent;
    border: none;
    border-bottom: 1px solid #4b5c66;
    line-height: 32px;
    color: #4b5c66;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    display: block;
    padding: 5px 0px;
    height: 35px;
    width: 100%;
  }

  .textfield-value {
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    line-height: 32px;
    color: #4b5c66;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    display: block;
    padding: 5px 0px;
    height: 35px;
    width: 100%;

    &.not-delivered {
      color: #008fd5;
      text-decoration: underline;
    }

    &:hover {
      border-bottom: 1px solid #4b5c66;
      cursor: pointer;
    }
  }

  .textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #4b5c66;
    line-height: 15px;
    color: #89949b;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    display: block;
    padding: 5px 0px;
    width: 100%;
    min-height: 35px;

    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
  }

  .textarea-value {
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    line-height: 15px;
    color: #89949b;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    display: block;
    padding: 5px 0px;
    width: 100%;
    min-height: 35px;

    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;

    &.not-delivered {
      color: #008fd5;
      text-decoration: underline;
    }

    &:hover {
      border-bottom: 1px solid #4b5c66;
      cursor: pointer;
    }
  }

  .buttons {
    margin: 10px auto 0px;
    text-align: center;
    @include clearfix();

    .save-button {
      background: #008fd5;
      border: 1px solid #008ed5;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      display: inline-block;
    }

    .cancel-label {
      text-align: center;
      color: #4b5c66;
      padding: 10px;
      text-decoration: underline;
    }
  }
}

.series-files-upload {
  text-align: center;
  @include clearfix();

  .fileinput-button {
    float: none;
    text-align: center;
    color: #008fd5;
    font-size: 30px;
    font-family: $pt_sans_family;
    width: 100%;
    line-height: 32px;
    text-decoration: underline;
    display: inline-block;
    margin: 0px auto 10px;
  }

  .files-upload-label {
    color: #89949b;
    font-size: 14px;
    font-family: $pt_sans_family;
    text-align: center;
  }

  .uploaded-files-container {
    list-style: none;
    margin: 20px 0px 0px;
    padding: 0px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0px 20px 20px 0px;
      min-height: 32px;

      img {
        margin: 0px 5px 0px 0px;
        display: block;
        float: left;
      }

      .filename {
        display: block;
        padding-top: 8px;
        float: left;
        color: #415c67;
        font: 13px $pt_sans_family;
        text-decoration: underline;
      }

      .delete {
        background: url(account-sprite.png) no-repeat -35px -129px;
        display: block;
        width: 13px;
        height: 14px;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        float: left;
        margin: 9px 0px 0px 10px;
      }
    }
  }
}

.select-objects-control {
  text-align: center;
  @include clearfix();

  .select-objects-button {
    float: none;
    text-align: center;
    color: #008fd5;
    font-size: 30px;
    font-family: $pt_sans_family;
    width: 100%;
    line-height: 32px;
    text-decoration: underline;
    display: inline-block;
    margin: 0px auto 10px;
  }

  .select-objects-label {
    color: #89949b;
    font-size: 14px;
    font-family: $pt_sans_family;
    text-align: center;
  }

  .selected-objects {
    margin: 40px 0px 0px;
    text-align: center;

    @include clearfix();

    .selected-object {
      background: #ffffff;
      border: 1px solid #c8c8c8;
      padding: 10px;
      display: inline-block;
      margin: 0px 0px 17px 17px;
      position: relative;

      .big-image-wrapper {
        left: -447px;
        right: auto;
      }

      .product-image {
        float: left;
        margin: 0px 16px 0px 0px;
        border: 1px solid #e5e5e5;
        text-align: center;
        position: relative;
      }

      .has-comment {
        background: url(account-sprite.png) no-repeat 0px -146px;
        width: 12px;
        height: 12px;
        bottom: -6px;
        right: -7px;
        position: absolute;
      }

      .selected-object-info {
        float: left;
        margin: 0px 20px 0px 0px;

        .selected-object-name {
          color: #415c67;
          font-size: 16px;
          font-family: $pt_sans_family;
          text-align: left;
        }

        .selected-object-first-label {
          color: #85959d;
          font-size: 13px;
          font-family: $pt_sans_family;
          text-align: left;
        }
      }

      .selected-object-settings {
        float: right;
        padding: 16px 0px 0px;
      }

      .selected-object-edit {
        background: url(account-sprite.png) no-repeat -83px -97px;
        margin: 0px 7px 0px 0px;
        display: inline-block;
        width: 13px;
        height: 14px;
        text-indent: -9999px;
        overflow: hidden;
      }

      .selected-object-remove {
        background: url(account-sprite.png) no-repeat -35px -129px;
        display: inline-block;
        width: 13px;
        height: 14px;
        text-indent: -9999px;
        overflow: hidden;
      }

      .selected-object-settings-wrapper {
        position: absolute;
        top: 39px;
        right: -1px;
        display: none;
        z-index: 120;

        .selected-object-settings-arrow {
          background: url(account-sprite.png) no-repeat -63px -47px;
          height: 15px;
          width: 35px;
          margin: 0px 0px -1px 453px;
          position: relative;
        }

        .selected-object-settings-content {
          background: #FFF;
          border: 1px solid #c8c8c8;
          padding: 15px;
          width: 485px;
          @include clearfix();

          .main-image {
            float: left;
            margin: 0px 15px 0px 0px;
            width: 185px;

            img {
              border: 1px solid #c8c8c8;
            }
          }
          .description {
            float: left;
            width: 285px;

            textarea {
              border: 1px solid #c8c8c8;
              width: 280px;
              height: 140px;
            }

            ul.textures {
              margin: 0px;
              padding: 0px;
              list-style: none;

              li {
                float: left;
                float: left;
                margin-right: 10px;

                &:nth-child(even) {
                  margin-right: 0px;
                }

                .image-wrapper {
                  width: 30px;
                  height: 30px;
                  text-align: center;
                  float: left;

                  img {
                    border: 1px solid #c8c8c8;
                    float: left;
                    margin: 4px 8px 0 2px;
                  }
                }

                .image-detail {
                  text-align: left;
                  float: left;

                  .title {
                    display: block;
                    float: left;
                    margin: 8px 0px 0px 10px;
                    width: 72px;
                    overflow: hidden;
                    height: 17px;
                    color: #454545;
                    text-align: left;
                    font-weight: normal;
                  }

                  .delete {
                    display: block;
                    float: left;
                    margin: 10px 0px 0px 10px;
                    background: url(account-sprite.png) no-repeat -35px -129px;
                    width: 13px;
                    height: 14px;
                    text-align: left;
                    text-indent: -9999px;
                    overflow: hidden;
                  }
                }
              }

            }
          }
        }

        .selected-object-settings-controls {
          background: #f5f5f5;
          border: 1px solid #c8c8c8;
          border-top: none;
          padding: 5px 15px;
          z-index: 120;
          @include clearfix();

          .fileinput-button {
            background: url(account-sprite.png) no-repeat 0px -245px;
            margin: 9px 0px 0px;
            padding: 0px 0px 0px 20px;;
          }

          .do-button {
            background: #008ed5;
            padding: 10px 31px 0px;
            float: right;
            margin: 0px 15px 0px 0px;
          }

          .cancel-button {
            margin: 0px;
            float: right;
            padding: 10px 35px 0px;;
          }
        }
      }
    }
  }
}

.calculator-control {

  .calculator-header {
    color: #4b5c66;
    font-size: 30px;
    font-family: $pt_sans_family;
    text-align: center;
    margin: 0px auto 20px;
  }

  .calculator-label {
    color: #89949b;
    font-size: 14px;
    font-family: $pt_sans_family;
    text-align: center;
  }

  .top-controls {
    text-align: center;
    margin: 60px 0px 0px;
  }

  .textfield-item {
    display: inline-block;

    .textfield-item-label {
      color: #415c67;
      font-size: 18px;
      font-family: $pt_sans_family;
      margin: 0px 20px 0px 0px;
    }

    .textfield-item-input {
      background: #ffffff;
      border: 1px solid #c8c8c8;
      color: #008fd5;
      font-size: 21px;
      font-family: $pt_sans_family;
      text-align: center;
      width: 80px;
      height: 25px;
      margin: 0px 12px 0px 0px;
    }

    .textfield-item-units {
      color: #415c67;
      font-size: 13px;
      font-family: $pt_sans_family;
    }

    &.calendar-item {
      margin: 0px 44px;

      .textfield-item-input {
        width: 102px;
        font-size: 13px;
        margin: 0px;
        height: 21px;
        cursor: pointer;
      }

      .ui-datepicker-trigger {
        background: url('account-sprite.png') no-repeat -73px -264px;
        border: none;
        width: 25px;
        height: 26px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  .select-item {
    display: inline-block;
    position: relative;

    .select-item-label {
      color: #415c67;
      font-size: 18px;
      font-family: "PT Sans", Arial, Helvetica, sans-serif;
      margin: 0px 20px 0px 0px;
    }

    .select-item-value {
      background: #ffffff;
      border: 1px solid #c8c8c8;
      color: #415c67;
      font-family: "PT Sans", Arial, Helvetica, sans-serif;
      font-size: 13px;
      margin: 0px;
      height: 20px;
      width: 128px;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      padding: 2px 0px 1px;
      line-height: normal;
    }

    .select-opener {
      background: url('account-sprite.png') no-repeat -47px -264px;
      border: none;
      width: 25px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }

    .select-options {
      position: absolute;
      background: #fff;
      z-index: 2000;
      margin: 0px;
      width: 155px;
      right: 0px;
      top: 24px;

      .drop-holder {
        border: 1px solid #c8c8c8;
        overflow: hidden;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #4b5c66;
        width: auto;

        li {
          width: 100%;
          float: left;
        }

        a {
          text-decoration: none;
          padding: 5px 5px 5px 20px;
          display: block;
          cursor: default;
          color: #000;
          height: 1%;
          position: relative;
          text-align: left;
        }
      }

      .item-selected a:before {
        content: ".";
        position: absolute;
        left: 7px;
        top: -4px;
        font-size: 35px;
        color: #4b5c66;
      }
    }
  }

  .amount-wrapper {
    margin: 75px auto 0px;
    text-align: center;

    .amount-label {
      color: #415c67;
      font-family: $pt_sans_family;
      font-size: 18px;
      text-transform: uppercase;
      margin: 0px 7.5px 0px 0px;
    }

    .amount-value {
      color: #0090d8;
      font-size: 21px;
      font-family: $pt_sans_family;
      font-weight: bold;
      margin: 0px 0px 0px 7.5px;
    }

    input.amount-value {
      width: 100px;
      margin: 0px 10px 0px 0px;
      text-align: center;
    }
  }


  .bottom-controls {
    width: $tasks_layout_width;
    margin: 70px auto 75px;
    @include clearfix();

    ul {
      list-style: none;

      &.left-column {
        width: 480px;
        float: left;
      }

      &.right-column {
        width: 480px;
        float: right;
      }

      li {
        padding: 2px 0 0;
        background: url('bg-dot1.png') repeat-x 0 14px;
        margin: 0 0 7px;
        font-size: 14px;
        line-height: 24px;
        color: #89949b;
        @include clearfix();

        .col {
          float: left;
          max-width: 290px;
          background: #ffffff;
          white-space: nowrap;
          padding: 0px 10px 0px 0px;

          .chk-area {
            background: url(application-sprite.png) no-repeat -52px -128px;
            float: left;
            width: 22px;
            height: 19px;
            margin: -1px 7px 0 0;
            cursor: pointer;

            &.chk-checked {
              background: url(application-sprite.png) no-repeat -78px -128px;
            }
          }

          label {
            font-size: 14px;
            line-height: 17px;
            font-weight: normal;
            vertical-align: top;
            overflow: hidden;
            color: #4b5c66;
          }
        }

        .price {
          width: 49px;
          background: #ffffff;
          font-weight: normal;
          font-size: 14px;
          line-height: 19px;
          float: right;
          padding: 0px 5px;
          text-align: right;
          color: #e1e6e9;
        }

        .amount {
          float: right;
          margin: -2px 0 0;
          display: none;

          a {

            &:before {
              background: url(application-sprite.png) top center no-repeat;
              width: 12px;
              height: 16px;
              content: "";
              position: absolute;
              left: 5px;
              top: 5px;
            }

            &.reduce {
              text-decoration: none;
              background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
              background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
              background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: -o-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: linear-gradient(to bottom, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              border: 1px solid #989898;
              position: relative;
              color: #4b5c66;
              font-size: 12px;
              font-weight: bold;
              float: left;
              margin: 0;
              width: 21px;
              height: 20px;
              text-indent: -9999px;
              overflow: hidden;
              padding: 0;

              &:before {
                background-position: -87px 4px;
              }
            }

            &.add {
              text-decoration: none;
              background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
              background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
              background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: -o-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              background: linear-gradient(to bottom, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
              border: 1px solid #989898;
              position: relative;
              color: #4b5c66;
              font-size: 12px;
              font-weight: bold;
              width: 21px;
              height: 20px;
              text-indent: -9999px;
              overflow: hidden;
              padding: 0;
              float: left;
              margin: 0;

              &:before {
                background-position: -73px 0px;
              }
            }
          }

          .text {
            display: inline-block;
            vertical-align: top;
            background: #fff;
            padding: 0 5px;
            overflow: hidden;
            margin: -3px 0 0;
            float: left;
            width: 68px;
            border: none;
            background: none;
            height: 28px;

            input[type="text"] {
              background: #fff;
              float: left;
              font: 21px/26px "PT Sans",Arial,Helvetica,sans-serif;
              vertical-align: middle;
              text-align: right;
              color: #008fd5;
              border: none;
              margin: 0;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              width: 37px;
              height: 28px;
              line-height: 26px;
              padding: 1px 0 3px;
            }

            .unit {
              float: left;
              text-align: left;
              font-size: 13px;
              line-height: 16px;
              font-weight: normal;
              color: #415c67;
              padding: 7px 0 0 4px;
              width: 26px;
            }
          }
        }

        input.code {
          float: right;
          font: 13px/17px "PT Sans",Arial,Helvetica,sans-serif;
          text-align: center;
          vertical-align: middle;
          color: #415c67;
          border: 1px solid #c8c8c8;
          background: #fff;
          width: 133px;
          height: 25px;
          padding: 2px 10px 3px;
          margin: 0 -4px 0 0;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          display: none;
        }

        &.selected {

          .price {
            color: #0090d8;
          }

          .amount, .code {
            display: block;
          }

          &.number-item, &.checked-textfield-item {
            background: none;
          }
        }
      }
    }
  }
}

#save-task-container {
  .do-and-cancel-control {
    width: $tasks_layout_width;
    border-top: 1px solid #4b5c66;
    margin: 20px auto;
    padding: 20px 0px;

    .do-button {
      background: #008ed5;
      width: 83px;
      padding: 10px 0px 0px;
    }

    .cancel-button {
      background: none;
      border: none;
      text-decoration: underline;
      padding: 10px 10px 0px;
    }
  }
}

.close-overlay {
  background: url('account-sprite.png') no-repeat -80px -148px;
  width: 18px;
  height: 18px;
  text-indent: 9999px;
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 45px;
  top: 25px;
}

#popup-overlay {
  background: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding: 70px 0px;
  height: 100%;
  opacity: 0.8;
}

#popup-overlay-content {
  background: #ffffff;
  width: $tasks_layout_width - 140px;
  margin: 0px auto;
  padding: 70px;
  z-index: 100;
  position: relative;
  @include clearfix();

  .select-objects-labels {
    text-align: center;
    margin: 0px 0px 50px;

    .select-objects-first-label {
      color: #4b5c66;
      font-family: $pt_sans_family;
      font-size: 30px;
      line-height: 32px;
      display: inline-block;
      margin: 0px 0px 15px;
      width: 100%;
    }

    .select-objects-second-label {
      color: #89949b;
      font-family: $pt_sans_family;
      font-size: 14px;
      line-height: 15px;
      width: 100%;
      display: inline-block;
    }
  }

  .page-title {
    color: #4b5c66;
    font-family: $pt_sans_family;
    font-size: 30px;
    line-height: 32px;
    display: inline-block;
    margin: 0px 0px 15px;
    width: 100%;
    text-align: center;
  }

  .page-label {
    color: #89949b;
    font-family: $pt_sans_family;
    font-size: 14px;
    line-height: 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

.form-control {

  &.feedback-form {
    margin: 40px auto 0px;

    .bottom-fields-wrapper {
      margin: 50px auto 0px;
      text-align: center;
    }

    .form-field {
      small {
        margin: 10px 0px 0px 113px;
      }
    }

    .field-type-textfield {

      .textfield {
        background: url('account-sprite.png') no-repeat -73px -398px;
        width: 755px;
        padding: 0px 10px 0px 35px;
      }
    }

    .field-type-textarea {
      .textarea {
        background: url('account-sprite.png') no-repeat -73px -420px;
        width: 755px;
        padding: 10px 10px 0px 35px;
      }
    }

    .do-button {
      background: #008ed5;
      width: 177px;
      padding: 10px 0px 0px;
    }
  }

  &.current-user-form {

    .bottom-fields-wrapper {
      margin: 50px auto 0px;
      text-align: center;
    }

    .do-button {
      background: #008ed5;
      width: 177px;
      padding: 10px 0px 0px;
    }
  }

  .form-field {
    margin: 0px auto 20px;

    &.error {
      input.textfield, textarea.textarea {
        border: 1px solid #ff0022;
      }
    }

    small {
      color: #ff0022;
      margin: 5px auto 0px;
      display: inline-block;
    }
  }

  .field-type-textfield {
    .textfield {
      border: 1px solid #cccccc;
      padding: 0px 10px;
      color: #b8c3c9;
      font-size: 14px;
      font-family: $pt_sans_family;
      height: 29px;
      width: 780px;
      display: block;
      margin: 0px auto;
    }
  }

  .field-type-textarea {
    .textarea {
      border: 1px solid #cccccc;
      padding: 10px;
      color: #b8c3c9;
      font-size: 14px;
      font-family: $pt_sans_family;
      height: 139px;
      width: 780px;
      display: block;
      margin: 0px auto;
    }
  }

  .field-type-fileupload {
    .fileinput-button {
      background: url('account-sprite.png') no-repeat 0px -238px;
      color: #0093cb;
      font-size: 14px;
      font-family: $pt_sans_family;
      padding: 8px 0px 0px 20px;
      float: none;
      margin: 0px 0px 20px;
      display: block;
    }

    .uploaded-files-container {
      display: block;
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        display: block;
        margin: 0px 20px 10px 0px;
        min-height: 32px;
        float: left;
        @include clearfix();

        &:nth-child(even) {
          margin: 0px 0px 10px 0px;
        }

        img {
          margin: 0px 5px 0px 0px;
          display: block;
          float: left;
        }

        .filename {
          display: block;
          padding-top: 8px;
          float: left;
          width: 79px;
          color: #415c67;
          font: 13px $pt_sans_family;
          text-decoration: underline;
        }

        .delete {
          background: url(account-sprite.png) no-repeat -35px -129px;
          display: block;
          width: 13px;
          height: 14px;
          text-indent: -9999px;
          overflow: hidden;
          cursor: pointer;
          float: left;
          margin: 9px 0px 0px 10px;
        }
      }
    }
  }
}

.discussions-control {

  .discussions-header {
    color: #4b5c66;
    font-size: 30px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px auto 20px;
  }

  .discusisons-label {
    color: #89949b;
    font-size: 14px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .do-button {
    margin: 30px auto;
    display: block;
    width: 112px;
  }

  .discussions-list {
    .discussion-item {
      border-bottom: 1px solid #e1e6e9;
      padding: 7px 0px 15px;
      @include clearfix();

      &:last-child {
        border-bottom: none;
      }

      .user-info {
        float: left;
        width: 200px;
        min-height: 1px;
        position: relative;
        vertical-align: middle;

        .user-avatar {
          display: inline-block;
          margin: 0px 20px 0px 0px;
          vertical-align: middle;

          img {
            @include border-radius(50%);
          }
        }

        .user-name {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .discussion-content {
        float: left;
        width: 730px;
        padding: 8px 0px 0px;

        .discussion-name {
          display: inline-block;
          margin: 0px 7px 0px 0px;
          font-weight: bold;
        }

        .discussion-price {
          display: inline-block;
          margin: 0px 10px 0px 0px;
          font-weight: bold;
        }

        .separator {
          display: inline-block;
          margin: 0px 10px 0px 0px;
        }

        .discussion-body {
          display: inline-block;
          color: #4b5c66;
          font: 13px $pt_sans_family;

        }
      }

      .discussion-info {
        float: right;

        .created {
          color: #85959d;
          font: italic 13px $pt_sans_family;
          padding: 8px 0px 0px;
          display: inline-block;
        }

        .message-count {
          background: #e1e6e9;
          color: #4b5c66;
          font: 13px $pt_sans_family;
          display: inline-block;
          margin: 0px 0px 0px 15px;
          padding: 3px 0px;
          width: 21px;
          height: 18px;
          text-align: center;

          @include border-radius(50%);
        }
      }
    }
  }
}

.results-control {

  .results-control-title {
    color: #4b5c66;
    font-size: 30px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px auto 20px;
  }

  .results-control-label {
    color: #89949b;
    font-size: 14px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    text-align: center;

    .review-link {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .results-mark-title {
    text-align: center;
    color: #415c67;
    font-size: 18px;
    font-family: $pt_sans_family;
  }

  .marks {
    text-align: center;
    margin: 15px auto 0px;

    .mark {
      background: url('account-sprite.png') no-repeat -73px -337px;
      display: inline-block;
      width: 25px;
      height: 24px;
      margin: 0px 5px;
      cursor: pointer;

      &.mark-selected {
        background: url('account-sprite.png') no-repeat -73px -364px;
      }
    }
  }

  .upload-files-button-wrapper {
    margin: 0px auto;
    text-align: center;
  }

  .upload-files-button {
    color: #4b5c66;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    display: block;
    margin: 20px auto;
    float: none;
    width: 145px;
    height: 20px;
  }

  .do-button {
    background: #008ed5;
    margin: 30px auto;
    display: block;
    width: 177px;
    padding: 10px 0px 0px;
    text-align: center;
  }

  .uploaded-files-container {
    list-style: none;
    margin: 20px 0px;
    padding: 0px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0px 20px 20px 0px;
      min-height: 32px;

      img {
        margin: 0px 5px 0px 0px;
        display: block;
        float: left;
      }

      .filename {
        display: block;
        padding-top: 8px;
        float: left;
        color: #415c67;
        font: 13px $pt_sans_family;
        text-decoration: underline;
      }

      .delete {
        background: url(account-sprite.png) no-repeat -35px -129px;
        display: block;
        width: 13px;
        height: 14px;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        float: left;
        margin: 9px 0px 0px 10px;
      }
    }
  }
}

#discussion-page {

  .chat-info-wrapper {
    .chat-topic {
      color: #4b5c66;
      font: 30px $pt_sans_family;
      text-align: center;
      margin: 0px auto 20px;
    }

    .chat-info {
      color: #89949b;
      font: 14px $pt_sans_family;
      text-align: center;
      margin: 0px auto 23px;
    }

    .author-image {
      margin: 0px auto 21px;
      text-align: center;

      img {
        @include border-radius(50%);
      }
    }
  }

  .do-button {
    float: right;
    margin: 0px;
  }

  .cancel-button {
    display: block;
    width: 181px;
    padding: 10px 0px 0px;
    margin: 100px auto 0px;
  }

  .top-fields, .bottom-fields-wrapper {
    width: 802px;
    margin: 0px auto;
    @include clearfix();
  }

  .bottom-fields {
    width: 636px;
    float: left;
    @include clearfix();

    .field-type-textfield {
      float: left;
      display: block;
      color: #4b5c66;
      font-size: 13px;
      font-family: $pt_sans_family;
      margin: 0px 40px 0px 0px;

      label {
        float: right;
        display: inline-block;
        padding: 8px 0px 0px;
      }

      .textfield {
        width: 50px;
        float: left;
        margin: 0px 12px 0px 0px;
      }

      &.field-hours {
        width: 130px;
      }

      &.field-minutes {
        width: 130px;
        margin: 0px;
      }

      &.field-amount {
        width: 130px;
        margin: 0px 23px 0px 0px;
      }

      &.field-prepayment {
        width: 152px;
        margin: 0px;
      }
    }

    .field-type-textarea {
      .textarea {
        margin: 0px auto 10px;
      }
    }

    .field-type-fileupload {
      width: 295px;
      float: left;
    }
  }
}

#message-form {
  margin: 75px auto 0px;

  .bottom-fields {
    width: 610px;
  }
}

.messages-control {
  .discussion-message {
    margin: 20px auto;

    @include clearfix();

    .user-avatar {
      float: left;
      width: 70px;
      margin: 0px 30px 0px 14px;

      img {
        @include border-radius(50%);
      }
    }

    .discussion-message-content {
      float: left;
      width: 804px;
      padding: 10px 0px 0px;

      .user-info {
        margin: 0px auto 20px;

        .user-name {
          display: inline-block;
          color: #008fd5;
          font: bold 16px $pt_sans_family;
          margin: 0px 50px 0px 0px;
        }

        .created {
          display: inline-block;
          color: #89949b;
          font: 16px $pt_sans_family;
        }

        .hours-minutes-wrapper {
          display: inline-block;
          text-align: right;
          font: bold 16px $pt_sans_family;
          color: #4b5c66;
          float: right;

          .hours {
            display: inline-block;
            margin: 0px 10px 0px 0px;
          }

          .minutes {
            display: inline-block;
          }
        }
      }

      .discussion-message-body {
        color: #89949b;
        font: 16px $pt_sans_family;

        p {
          margin: 0px 0px 10px;
        }
      }

      .discussion-message-files {
        margin: 20px 0px 0px;

        .file-attachment {
          display: block;
          margin: 0px 20px 10px 0px;
          min-height: 32px;
          float: left;
          @include clearfix();

          &:nth-child(even) {
            margin: 0px 0px 10px 0px;
          }

          img {
            margin: 0px 5px 0px 0px;
            display: block;
            float: left;
          }

          .filename {
            display: block;
            padding: 8px 15px 0px 0px;
            float: left;
            color: #415c67;
            font: 13px $pt_sans_family;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.tasks-index {
  text-align: center;
  padding: 80px 0px 0px;

  .tasks-title {
    color: #4b5c66;
    font: 30px $pt_sans_family;
    text-align: center;
    margin: 0px auto 10px;
  }

  .tasks-label {
    color: #89949b;
    font: 14px $pt_sans_family;
    text-align: center;
  }

  a.do-button {
    cursor: pointer;
    margin: 20px auto;
  }
}

.tasks-filter-control {
  width: $tasks_layout_width;
  margin: 40px auto 0px;

  #nav {
    width: 680px;
  }

  #content {
    width: 100%;
    float: none;
  }

  .search-form {
    float: right;
    width: 241px;
    margin: 6px 33px 0px 0px;
  }

  a.do-button {
    padding: 10px 0px 0px;
    display: block;
    margin: 0px auto;
    float: right;
    width: 169px;
    cursor: pointer;
  }



  .tasks-table {
    width: 100%;

    tr {
      &:hover {
        td {
          &.star {
            .star-non-selected {
              @include icons-sprite(favorites-star);
              width: 25px;
              height: 24px;
              display: inline-block;
              cursor: pointer;
            }
          }
        }
      }
    }

    td {
      &.star {
        width: 69px;

        .star-selected {
          @include icons-sprite(favorites-star-checked);
          width: 25px;
          height: 24px;
          display: inline-block;
          cursor: pointer;
        }

        .star-non-selected {
          display: none;
        }


      }

      &.name {
        width: 331px - 32px - 31px;
        padding: 5px 32px 11px 31px;

        a {
          color: #008fd5;
          font: bold 14px $pt_sans_family;
          text-decoration: underline;
        }
      }

      &.users {
        width: 400px;

        span.user {
          margin: 0px 11px 0px 0px;
          img {
            @include border-radius(50%);
          }
        }
      }

      &.hours-sum {
        width: 71px;
        color: #4b5c66;
        font: 14px $pt_sans_family;

        .hours {
          margin: 0px 3px 0px 0px;
        }
      }

      &.implementation-date {
        width: 129px - 30px - 28px;
        padding: 0px 30px 0px 28px;
        color: #4b5c66;
        font: 14px $pt_sans_family;
      }

      &.status {
        width: 100px - 70px;
        padding: 0px 30px 0px 0px;
        color: #4b5c66;
        font: 14px $pt_sans_family;
      }

      &.amount {
        width: 70px;
        color: #4b5c66;
        font: bold 14px $pt_sans_family;
      }
    }
  }
}

.favorites-control {
  width: 80px;
  text-align: center;

  .favorites {
    @include icons-sprite(favorites-star);
    width: 25px;
    height: 24px;
    display: inline-block;
    cursor: pointer;

    &.checked {
      @include icons-sprite(favorites-star-checked);
    }
  }
}

.date-period-control {
  padding: 0px 0px 20px;

  .checkboxes-wrapper {
    display: none;
    padding: 0px 0px 40px;
    @include clearfix();

    .checkbox-item {
      float: left;
      margin: 0px 14px 0px 0px;

      .rad-area {
        display: inline-block;
        float: none;
      }
    }
  }

  .period-label {
    display: inline-block;
    font: 14px $pt_sans_family;
    color: #89949b;
    margin: 0px 20px 0px 0px;

    &.middle-label {
      margin: 0px 10px;
    }
  }

  .textfield-item-input {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    color: #4b5c66;
    font-family: bold 14px $pt_sans_family;
    text-align: center;
    width: 124px;
    margin: 0px;
    height: 21px;
    cursor: pointer;
  }

  .ui-datepicker-trigger {
    background: url('account-sprite.png') no-repeat -73px -264px;
    border: none;
    width: 25px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 1px 0px 0px;
  }
}

.do-and-cancel-control {
  text-align: center;
  padding: 50px 0px;
}

a.do-button {
  background: #008ed5 url(account-sprite.png) no-repeat -74px -224px;
  border: 1px solid #008ed5;
  color: #fff;
  display: inline-block;
  font-family: $pt_sans_family;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  height: 23px;
  margin: 0px 0px 0px 20px;
  padding: 10px 25px 0px 38px;
  text-decoration: none;
}

a.cancel-button {
  background: #FFF;
  border: 1px solid #9a9a9a;
  color: #415c67;
  display: inline-block;
  font-family: $pt_sans_family;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  margin: 0px 20px 0px 0px;
  padding: 10px 55px 0px;
  height: 23px;
  text-align: center;
  text-decoration: none;
}

a.download-files {
  color: #4b5c66;
  font-family: $pt_sans_family;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;

  &:hover {
    color: $hover_link;
  }
}
