@import "twitter/bootstrap/mixins";

body.account {

  .slide {
    .items {
      padding: 0px 0px 0px 86px;

      .category-block {
        width: 185px;
        margin: 0 0 30px 15px;
      }
    }
  }

  .filter .style {
    float: left;
    margin: 0px 8px 10px 0px;
  }

  .filter .material {
    float: left;
    margin: 0px 0px 10px 0px;
  }

  form.facility {

    .left-form-wrapper {
      width: 650px;
      float: left;
      margin: 0px 25px 0px 0px;
    }

    .right-form-wrapper {
      width: 250px;
      float: left;
    }

    .bbf-error {
      width: auto;
      margin-left: 0px;
    }

    .bbf-field {

      label {
        float: none;
        width: auto;
      }

      .bbf-editor {
        margin: 0px;
        width: auto;
      }

      .bbf-radio, .bbf-checkboxes {
        label {
          float: left;
        }
      }

      &.field-style_id, &.field-material_ids {

        .bbf-editor {
          border: 1px solid #929292;
          padding: 10px 10px 5px;

          @include clearfix();
        }
      }

      &.field-max_file_ids, &.field-image_ids {

        label {
          display: none;
        }

        .fileinput-button {
          background: url("photo-uploader.png") top center no-repeat;
          width: 250px;
          height: 250px;
          cursor: pointer;

          input {
            width: 250px;
            height: 250px;
          }
        }
      }

      &.field-max_file_ids {
        .fileinput-button {
          background: url("max-uploader.png") top center no-repeat;
        }
      }

      &.field-name {
        margin-bottom: 40px;
      }

      &.field-style_id {
        width: 45%;
      }

      .files-container {
        margin: 0px;

        .file {
          @include clearfix();

          .file-name-remove-wrapper {
            background: #d9dbda;
            border: 1px solid #edefee;
            margin: 0px 0px 1px;
            padding: 0px 3px;
            @include clearfix();
          }

          .file-preview {
            width: 250px;
            margin: 10px 0px;
          }

          .file-name {
            float: left;
            font-size: 9px;
            color: #777777;
          }

          .remove {
            background: url("trash.png") top center no-repeat;
            border: none;
            float: right;
            display: block;
            width: 9px;
            height: 10px;
            margin: 4px 0px 0px;
          }
        }
      }

    }



    .form-actions {
      border: none;
      background: none;
      padding: 0px;
      margin: 0px;

      #submit-form {
        background: url("big-ok.png") top center no-repeat;
        border: none;
        width: 150px;
        height: 52px;
        display: block;
        margin: 40px auto 0px;
        text-indent: -10000px;
      }
    }
  }

  .selected-item {
    .product {
      min-height: 38px;
      width: 226px;

      .product-image {
        border: 1px solid #e5e5e5;
        float: left;
        margin-right: 17px;
        width: 30px;
        height: 30px;
        text-align: center;
        position: relative;

        .has-comment {
          background: url("info.png") bottom right no-repeat;
          width: 12px;
          height: 12px;
          bottom: -6px;
          right: -7px;
          position: absolute;
        }
      }

      .right-column {
        float: left;
        width: 160px;
      }
    }
  }

  .selected-object {
    .selected-object-settings-wrapper {
      position: absolute;
      top: 39px;
      right: -1px;
      display: none;
      z-index: 120;

      .selected-object-settings-arrow {
        background: url(account-sprite.png) no-repeat -63px -47px;
        height: 15px;
        width: 35px;
        margin: 0px 0px -1px 453px;
        position: relative;
      }

      .selected-object-settings-content {
        background: #FFF;
        border: 1px solid #c8c8c8;
        padding: 15px;
        width: 485px;
        @include clearfix();

        .main-image {
          float: left;
          margin: 0px 15px 0px 0px;
          width: 185px;

          img {
            border: 1px solid #c8c8c8;
          }
        }
        .description {
          float: left;
          width: 285px;

          textarea {
            border: 1px solid #c8c8c8;
            width: 280px;
            height: 140px;
          }

          ul.textures {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
              float: left;
              float: left;
              margin-right: 10px;

              &:nth-child(even) {
                margin-right: 0px;
              }

              .image-wrapper {
                width: 30px;
                height: 30px;
                text-align: center;
                float: left;

                img {
                  border: 1px solid #c8c8c8;
                  float: left;
                  margin: 4px 8px 0 2px;
                }
              }

              .image-detail {
                text-align: left;
                float: left;

                .title {
                  display: block;
                  float: left;
                  margin: 8px 0px 0px 10px;
                  width: 72px;
                  overflow: hidden;
                  height: 17px;
                  color: #454545;
                  text-align: left;
                  font-weight: normal;
                }

                .delete {
                  display: block;
                  float: left;
                  margin: 10px 0px 0px 10px;
                  background: url(account-sprite.png) no-repeat -35px -129px;
                  width: 13px;
                  height: 14px;
                  text-align: left;
                  text-indent: -9999px;
                  overflow: hidden;
                }
              }
            }

          }
        }
      }

      .selected-object-settings-controls {
        background: #f5f5f5;
        border: 1px solid #c8c8c8;
        border-top: none;
        padding: 5px 15px;
        z-index: 120;
        @include clearfix();

        .fileinput-button {
          background: url(account-sprite.png) no-repeat 0px -245px;
          margin: 9px 0px 0px;
          padding: 0px 0px 0px 20px;;
        }

        .do-button {
          background: #008ed5;
          padding: 10px 31px 0px;
          float: right;
          margin: 0px 15px 0px 0px;
        }

        .cancel-button {
          margin: 0px;
          float: right;
          padding: 10px 35px 0px;;
        }
      }
    }
  }

  .product-list {

    .image-holder {
      .image-wrapper {
        width: 173px;
        height: 182px;
        text-align: center;
      }
    }
  }

  .lightbox {
    .textures {
      li {
        .image-wrapper {
          width: 30px;
          height: 30px;
          text-align: center;
        }
      }
    }
  }

}

