@import "twitter/bootstrap/mixins";

input:focus::-webkit-input-placeholder{
  color: transparent!important;
}
input:focus::-moz-placeholder{
  color: transparent!important;
}
input:focus:-moz-placeholder{
  color: transparent!important;
}

@font-face {font-family: 'PT Sans';
  src: url('/fonts/pts55f_w.eot');
  src: local('PT Sans'), url('/fonts/PTS55F_W.woff') format('woff'),url('/fonts/PTS55F_W.ttf') format('truetype'), url('/fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}
@font-face {font-family: 'PT Sans';
  font-style: italic;
  src: url('/fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('/fonts/PTS56F_W.woff') format('woff'),url('/fonts/PTS56F_W.ttf') format('truetype'), url('/fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}
@font-face {font-family: 'PT Sans';
  src: url('/fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('/fonts/PTS75F_W.woff') format('woff'),url('/fonts/PTS75F_W.ttf') format('truetype'), url('/fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}
@font-face {font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('/fonts/PTS76F_W.woff') format('woff'),url('/fonts/PTS76F_W.ttf') format('truetype'), url('/fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');}
@font-face {font-family: 'PT Sans Caption';
  src: url('/fonts/ptc55f_w.eot');
  src: local('PT Sans Caption'), url('/fonts/PTC55F_W.woff') format('woff'),url('/fonts/PTC55F_W.ttf') format('truetype'), url('/fonts/PTC55F_W.svg#PTSans-Caption') format('svg');}
@font-face {font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url('/fonts/ptc75f_w.eot');
  src: local('PT Sans Caption Bold'), url('/fonts/PTC75F_W.woff') format('woff'),url('/fonts/PTC75F_W.ttf') format('truetype'), url('/fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');}
@font-face {font-family: 'PT Sans Narrow';
  src: url('/fonts/ptn57f_w.eot');
  src: local('PT Sans Narrow'), url('/fonts/PTN57F_W.woff') format('woff'),url('/fonts/PTN57F_W.ttf') format('truetype'), url('/fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');}
@font-face {font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url('/fonts/ptn77f_w.eot');
  src: local('PT Sans Narrow Bold'), url('/fonts/PTN77F_W.woff') format('woff'),url('/fonts/PTN77F_W.ttf') format('truetype'), url('/fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
/* General reset */
html, body {
  height: 100%;
}

body{
  margin:0;
  color:#4b5c66;
  font:13px/16px "PT Sans", Arial, Helvetica, sans-serif;
  background:#fff;
  min-width: 1003px;
  position: relative;
}

img{border-style:none;}
a{
  text-decoration:none;
  color:#008fd5;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
  font:100% Arial, Helvetica, sans-serif;
  vertical-align:middle;
  color:#000;
}
form,fieldset{
  margin:0;
  padding:0;
  border-style:none;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
figure {
  margin:0;
  padding:0;
}
/* general settings  */

#wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  @include clearfix();
}

/*  header  */
#header{
  height: 42px;
  padding: 10px 0 13px;
  border: 1px solid #ededed;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  background: #fff;
  position: relative;

  .holder {
    width: 1170px;
    margin: 0 auto;
  }

  .logo{
    float: left;
    width: 161px;
    height: 42px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("logo.png") no-repeat;
    margin: 0 140px 0 0;

    a {
      display: block;
      height: 100%;
    }
  }

  /* main navigation */
  #nav{
    float: left;
    padding-left: 29px;
    width: 500px;
  }
  #nav ul,
  .footer-nav{
    margin: 0;
    padding: 11px 0 0;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
  }
  #nav li,
  .footer-nav li{
    float: left;
    margin-right: 44px;
    margin-left: 0px;

    &:last-child {
      margin: 0px;
    }
  }
  #nav li a,
  .footer-nav li a{
    color: #4b5c66;
    position: relative;
    display: block;
  }
  #nav li a:hover, #nav li.active a,
  .footer-nav li a:hover, .footer-nav li.active a{
    color: #03b4ea;
    text-decoration: none;
  }
  #nav li a:hover:before,
  #nav li.active a:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 32px;
    top: 100%;
  }

  #nav li.active a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    height: 32px;
    width: 22px;
    margin-left: -13px;
    background: url(application-sprite.png) no-repeat -74px -585px;
  }

  .frame {
    float: right;
    width: 160px;
    text-align: right;
    position: relative;
    margin: 0;
    padding: 10px 0 0;
    list-style: none;

    li {
      float: right;
      width: 27px;
      height: 50px;
      margin-left: 24px;
      position: relative;

      a {
        display: block;
        height: 100%;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
      }

      &.active, &:hover {
        background: url(header-sprite.png) no-repeat -110px 98.6%;
      }
    }

    .log-out {
      width: 12px;
      margin-left: 23px;
      padding: 0 3px;

      a {
        background: url(header-sprite.png) no-repeat -107px 5px;
        width: 13px;
      }
    }

    .account {
      a {
        background: url(header-sprite.png) no-repeat -14px 5px;
      }
    }

    .edit {
      a {
        background: url(header-sprite.png) no-repeat -45px -1px;
      }
    }

  }

}

#footer {
  min-height: 183px;
  position: relative;
}

/*  main */
#main{
  width: 1000px;
  margin: 0 auto 206px;
  background: #fff;
  padding-top: 18px;
}
#main:after{
  display: block;
  clear: both;
  content: "";
}
#content{
  width: 746px;
  float: left;
}
.nav-bar{
  border-bottom: 1px solid #e1e6e9;
  padding: 7px 0 16px;
  margin-bottom: 21px;
}
.nav-bar:after{
  display: block;
  clear: both;
  content: "";
}
/*  nav  */
#nav{
  float: left;
  width: 555px;
  font-size: 16px;
  padding: 3px 0 3px;
}
#nav ul{font-size: 15px;}
#nav>ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#nav>ul:after{
  display: block;
  clear: both;
  content: "";
}
#nav ul li.nav-add1 {margin-left: 57px;}
#nav>ul>li{
  float: left;
  margin-left: 47px;
  z-index: 555;
}
#nav ul li.nav-add{margin-left: 67px;}
#nav>ul>li:first-child{margin: 0;}
#nav .opener{
  color: #89949b;
  text-decoration: none;
  display: inline-block;
  background: url(account-sprite.png) no-repeat 100% -209px;
  padding-right: 12px;
}
#nav li.active .opener,
#nav .opener:hover{
  color:#008fd5;
  background:url(account-sprite.png) no-repeat 100% -189px;
}
.open-close .slide{
  position: absolute;
  left:0;
  top: 39px;
  background: #fff;
  width: 755px;
  border: 1px solid #e1e6e9;
  z-index: 5;

  &.grouped-checkboxes-slide {
    width: 1000px;
  }
}
#nav .slide footer{
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 8px 11px 8px 18px;
  clear: both;
  width: 726px;
}
#nav .slide footer .selected{
  float: left;
  font-size: 13px;
  padding-top: 4px;
  vertical-align: top;
}
#nav .slide .selected span{
  color: #89949b;
  font-weight: normal;
  display: inline-block;
  margin-left: 3px;

  &.selected-items {
    max-width: 370px;
  }
}
#nav .slide .close{
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 16px 0 17px;
  font-size: 14px;
  font-weight: bold;
}
#nav .slide .close:hover{text-decoration: underline;}
#nav .slide .btn-back{
  float: right;
  padding: 0 23px 0 19px;
}
#nav form.type{padding-top: 24px;}
#nav form.type ul{
  margin: 0 0 26px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  font-size: 15px;
}
#nav form.type ul {
  li {
    float: left;
    margin-left: 70px;
  }
}

#material_ids li {
  float: left;
  margin-left: 85px;
  width: 110px;
}

form.manufacture {
  padding: 20px 25px 0 0;

  ul.tabset{
    margin: 0;
    padding: 0 0 24px 88px;
    list-style: none;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
  }
  ul.tabset li{
    float: left;
    margin-right: 4px;
  }
  ul.tabset li a {
    color: #b8c3c9;
  }
  ul.tabset li a:hover,
  ul.tabset li a.active{color: #008fd5;}
}

.tab-content{
  overflow: hidden;
  padding: 0 0 53px 86px;
}
.tab-content ul{
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  width: 190px;
  float: left;
  margin: 0px 0px 30px 30px;

  &.manufacturers-list {
    width: auto;

    li {
      float: left;
      width: 230px;
    }
  }
}
.tab-content ul li{margin-bottom: 6px;}
form.category{
  padding-top: 17px;
}
.category .col{
  width: 185px;
  float: left;
  margin: 0 0 4px 15px;
}
.category .col:first-child{margin-left: 86px;}
.category .category-block ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-block ul li{margin-bottom: 6px;}
.category footer{clear: both;}
.category .category-block .title{
  border-bottom: 1px dashed #FFF;
  color: #b8c3c9;
  font-weight: normal;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border-bottom: 1px dashed #b8c3c9;
  }
}

.open-close-container .category .category-block .title {
  border-bottom: none;

  &:hover {
    border-bottom: none;
    cursor: default;
  }
}

#nav {
  .open-close-container {
    .category {
      .controls-container {
        padding: 0px 70px;
        @include clearfix();

        .category-block {
          float: left;
          margin: 0px 65px 0px 0px;

          &.style_ids {
            margin: 0px 65px 0px 0px;
          }

          &.gamma_ids {
            margin: 0px 85px 0px 0px;
          }

          &.tone_ids {
            margin: 0px 135px 0px 0px;
          }

          &.main_color_ids {
            margin: 0px 63px 0px 0px;
            li {
              float: left;
              margin: 0px 5px 0px 0px;
            }
          }

          &.accent_color_ids {
            margin: 0px;

            li {
              float: left;
              margin: 0px 5px 0px 0px;
            }
          }

          &.material_ids {
            margin: 0px;

            li {
              float: left;
              margin: 0px 58px 6px 0px;

              &:nth-child(4), &:nth-child(8) {
                margin: 0px 0px 6px 0px;
              }
            }
          }

          .color {
            width: 16px;
            height: 16px;
            border: 1px solid #929292;
            cursor: pointer;

            &.color-checked {
              border: 1px solid #008fd5;
            }
          }

          ul {

            li {
              float: none;
              margin: 0px 0px 6px;
            }
          }
        }
      }
    }
  }
}

.category-block{margin-bottom: 30px;}
form.category .chk-label-active{color: #008fd5}
.col.add {margin-left: 6px;}
/* hide original element */
.jcf-hidden {
  position: absolute !important;
  left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */
.chk-area {
  margin: 1px 3px 0 0;
  float: left;
  width: 18px;
  height: 16px;
  background: url(account-sprite.png) no-repeat -52px -129px;
}
.chk-checked {background: url(account-sprite.png) no-repeat -79px -129px;}
.chk-disabled {background: #eee;}
.jcf-label-disabled {color: #ccc;}
/* custom radio styles */
.rad-area {
  margin: 1px 4px 0 0;
  float: left;
  width: 18px;
  height: 16px;
  background: url(account-sprite.png) no-repeat -52px -129px;
}
.rad-checked {background: url(account-sprite.png) no-repeat -79px -129px;}
.rad-disabled {background: #eee;}
/*  search form  */
.search-form {
  float: right;
  width: 146px;
  background: #ebeff1 url(account-sprite.png) no-repeat -75px -311px;
  padding: 0 5px 0 25px;
  border: 1px solid #e1e5e7;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.06);
  box-shadow: inset 0 0 3px rgba(0,0,0,.06);
}
.search-form input[type="text"],
.search-form input[type="search"]{
  width: 146px;
  height: 22px;
  line-height: 22px;
  background: none;
  border: none;
  outline: none;
  float: left;
  -webkit-appearance: textfield;
  -webkit-box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {display: none;}
.filter{
  overflow: hidden;
  margin-bottom: 20px;

  .category, .room, .manufacturer, .style, .gamma, .tone, .main-colors, .accent-colors {
    float: left;
    margin: 0 10px 10px 0;
  }

  .selected-color-wrapper {
    float: left;
    margin: 0px 8px 10px 0px;

    .selected-color {
      border: 1px solid #929292;
      width: 16px;
      height: 16px;
      display: inline-block;
      cursor: pointer;
    }

    .selected-color-cross {
      background: url(account-sprite.png) no-repeat 100% -167px;
      display: inline-block;
      content: ' ';
      width: 16px;
      height: 18px;
      cursor: pointer;
    }
  }
}

.filter .style{float: left;margin-bottom: 10px; }
.filter .title{
  font-size: 12px;
  color: #b8c3c9;
  text-transform: uppercase;
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
}
.filter a {
  color: #008fd5;
  text-decoration: none;
  display: inline-block;
  padding-right: 14px;
  background: url(account-sprite.png) no-repeat 100% -167px;
  margin: 0 14px 0 1px;
  word-spacing: -1px;
}
.filter a:hover{text-decoration: underline;}
/*  product list  */
.product-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 764px;
}
.product-list li{
  display: inline-block;
  width: 175px;
  margin: 0 12px 25px 0;
  vertical-align: top;
}
.product-list .image-holder{
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 7px;
}
.product-list .zoom{
  position: absolute;
  background: url(account-sprite.png) no-repeat 0 -62px;
  width: 20px;
  height: 20px;
  right: -12px;
  bottom: -11px;
  text-indent: -9999px;
  overflow: hidden;
}
.product-list .image-holder img {
  display: block;

}
.product-list .cart{
  float: right;
  background: url(account-sprite.png) no-repeat 0 -88px;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 3px -1px 0 0;

  &.selected {
    background-position: -36px -88px;
  }
}
.product-list .title{
  font-size: 13px;
  margin: 1px 0 2px 2px;
  font-weight: normal;
  display: block;
  padding-top: 0;
  color: #4b5c66;
  overflow: hidden;
  white-space: nowrap;
}
.product-list .title a:hover{text-decoration: underline;}
.product-list .description span{
  display: block;
  color: #89949b;
  margin: 0 0 2px 2px;
}
#sidebar{
  width: 226px;
  float: right;
}
/*  specification  */
.specification{margin-bottom: 28px;padding-top: 4px; }
#sidebar h1 {
  margin: 0 0 22px;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  word-spacing: -2px;
}
.specification dl{margin: 0 0 17px; }
.specification dt{
  color: #b8c3c9;
  font-size: 12px;
  float: left;
  margin-right: 3px;
  text-transform: uppercase;
}
.specification dd{
  margin: 0 0 2px;
  overflow: hidden;
  height: 16px;
}
.price-list{
  margin: 0 0 12px;
  padding: 0;
  list-style: none;
}
.price-list li{
  margin-bottom: 2px;
  background: url(bg-dot.png) repeat-x 0 12px;
}
.price-list li:after{
  display: block;
  clear: both;
  content: "";
}
.price-list .item{
  float: left;
  background: #fff;
}
.price-list .price{
  color: #008fd5;
  float: right;
  background: #fff;
  padding-left: 5px;
  margin: -2px -2px 0 0;
}
/*  selected-item  */
.selected-item {
  border-top: 1px solid #e1e6e9;
  border-bottom: 1px solid #e1e6e9;
  padding: 25px 0px 15px;
  margin: 29px 0px;

  .product {
    a {
      &.lightbox {
        display: block;
        width: auto;
      }
    }
  }
}
#sidebar .selected-item h2 {
  font-size: 12px;
  color: #b8c3c9;
  text-transform: uppercase;
  margin: 0 0 14px;
  font-weight: normal;
}
.selected-item ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.selected-item li{
  overflow: visible;
  position: relative;
  margin-bottom: 13px;
}
.selected-item .product{width: 165px;}

.selected-item .title{
  margin: 0 0 1px;
  font-size: 16px;
  font-weight: normal;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.selected-item .product span{
  display: block;
  color: #89949b;
}
.selected-item .settings{
  position: absolute;
  right: -2px;
  bottom:-2px;
}
.selected-item .settings a{
  display: inline-block;
  width: 13px;
  height: 14px;
  text-indent: -9999px;
  overflow: hidden;
}
.selected-item .settings .view{background: url(account-sprite.png) no-repeat 0 -129px;}
.selected-item .settings .setting{
  background: url(account-sprite.png) no-repeat -18px -129px;
  margin-left: 2px;
}
.selected-item .settings .delete{background: url(account-sprite.png) no-repeat -35px -129px;}
/*  total  */
.total{
  border-top: 1px solid #e1e6e9;
  padding: 20px 0 0 1px;
}
.total .row{margin-bottom: 22px;}
.total .row:after{
  display: block;
  clear: both;
  content: "";
}
.total .title{
  float: left;
  font-size: 20px;
  font-weight: normal;
  width: 140px;
}
.total .price{
  float: right;
  font-size: 20px;
  color: #008fd5;
  margin-right: -3px;
}
.btn-back{
  float: left;
  height: 23px;
  line-height: 23px;
  border: 1px solid #999;
  -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  color: #414241;
  font-size: 14px;
  padding: 0 32px;
  text-decoration: none;
  background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#f7f7f7), color-stop(100%,#e8e8e7));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 5%,#e8e8e7 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 5%,#e8e8e7 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 5%,#e8e8e7 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 5%,#e8e8e7 100%);
}
.lightbox.edit .btn-back{
  float: right;
  margin-left: 10px;
  padding: 0 24px 0 18px;
}
.lightbox.edit .close{
  text-align: center;
  width: auto;
  padding: 0px 20px;
}
.total a:hover{text-decoration: underline;}
.total .order{
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  padding: 0 26px;
  text-decoration: none;
  font-weight: bold;
}
.popup-holder {
  position: relative;
  overflow: hidden;
  height: 0;
}
.lightbox {width: 1100px;}
.lightbox h2 {margin: 0 0 10px;}
.lightbox p {margin: 0;}
.lightbox .image-holder{
  border-color: #686868;
  border-width: 0 1px 0 1px;
  border-style: solid;
  text-align: center;
}
//.lightbox .image-holder img {
//  display: block;
//  text-align: center;
//}
.lightbox header{
  display: block;
  color: #fff;
  background: #4b6ea9;
  padding: 4px 8px 5px 10px;
  border: 1px solid #4b6ea9;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNmVhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjMWI5MmM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjMWI5MmM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdjOTRiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  #4b6ea9 0%, #1b92c8 4%, #1b92c8 96%, #7c94bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b6ea9), color-stop(4%,#1b92c8), color-stop(96%,#1b92c8), color-stop(100%,#7c94bf));
  background: -webkit-linear-gradient(top,  #4b6ea9 0%,#1b92c8 4%,#1b92c8 96%,#7c94bf 100%);
  background: -o-linear-gradient(top,  #4b6ea9 0%,#1b92c8 4%,#1b92c8 96%,#7c94bf 100%);
  background: -ms-linear-gradient(top,  #4b6ea9 0%,#1b92c8 4%,#1b92c8 96%,#7c94bf 100%);
  background: linear-gradient(to bottom,  #4b6ea9 0%,#1b92c8 4%,#1b92c8 96%,#7c94bf 100%);
  font-size: 15px;
}
.lightbox.edit header{padding: 3px 10px 5px 8px;}
.lightbox footer{
  background: #f5f5f5;
  overflow: hidden;
  padding: 10px 12px 5px;
  border-color: #ccc #686868;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}
.lightbox.edit footer{padding: 8px 10px 8px 13px}
.lightbox .product-detail{float: left;}
.lightbox .product-name{color: #89949b;}
.lightbox .category{font-weight: bold;}
.lightbox .close {
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: auto;
  padding: 0px 20px;
}

.more-link{
  float: none;
  width: 227px;
  height: 27px;
  line-height: 22px;
  color: #415c67;
  padding: 6px 0px 0px;
  text-decoration: none;
  flex-shrink: 12px;
  text-align: center;
  margin: 0px auto;
  border: 1px solid #9a9a9a;
  font-weight: normal;
  display: block;
  background: #FFF;

}
.lightbox .close:hover, .more-link:hover{text-decoration: underline;}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url(fancybox.png);
}
#fancybox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0 solid #fff;
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url(fancybox-x.png);
}
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -162px;
}
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url(fancybox-y.png);
  background-position: -20px 0px;
}
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -182px;
}
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url(fancybox-x.png);
  background-position: 0px -20px;
}
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -142px;
}
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url(fancybox-y.png);
}
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -122px;
}
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
}
#fancybox-title-over {
  padding: 10px;
  background-image: url(fancybox/fancy_title_over.png);
  display: block;
}
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url(fancybox.png) -40px -90px no-repeat;
}
#fancybox-title-float-main {
  color: #fff;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url(fancybox-x.png) 0px -40px;
}
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url(fancybox.png) -55px -90px no-repeat;
}

.lightbox.edit{width: 510px;}
.lightbox.edit .attachment{
  float: left;
  background: url(account-sprite.png) no-repeat 0 -244px;
  padding-left: 23px;
  font-size: 14px;
  margin-top: 2px;
  color:#1b92c8;
}
.lightbox.edit .note{
  display: block;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 7px 81px 7px 11px;
  color: #454545;
}
.lightbox.edit .content{
  overflow: hidden;
  padding: 16px 16px 15px 15px;
}
.lightbox .description{
  overflow: hidden;
}
.lightbox.edit .content>img{
  float: left;
  margin-right: 14px;
  border: 1px solid #ccc;
}
.lightbox .product-info{
  color: #454545;
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 120px;
  margin-bottom: 12px;
}
.product-info textarea{
  border: none;
  resize:none;
  color: #454545;
  width: 260px;
  height: 120px;
  overflow: auto;;
}
.lightbox .textures{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
::-webkit-input-placeholder {opacity: 1;}
::-moz-placeholder {opacity: 1;}
:-moz-placeholder {opacity: 1;}
.lightbox .textures li{
  float: left;
  margin-right: 10px;

  &:nth-child(even) {
    margin-right: 0px;
  }
}
.lightbox .textures li img{
  float: left;
  margin: 4px 8px 0 2px;
}
.lightbox .image-detail{
  text-align: right;
  float: right;
}
.lightbox .image-detail a.delete{
  float: right;
  background: url(account-sprite.png) no-repeat -35px -129px;
  width: 13px;
  height: 14px;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  margin-left: 3px;
}
.lightbox .image-detail a.view{
  background: url(account-sprite.png) no-repeat 0 -129px;
  width: 13px;
  height: 14px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.lightbox.edit .image-detail .title{
  display: block;
  margin-bottom: 3px;
  font-weight: normal;
  color:#454545;
}

#ajax-loader {
  background: url("ajax-loader.gif");
  width: 54px;
  height: 55px;
  position: fixed;
  top: -55px;
  right: 100px;
  z-index: 7000;
}

.lightbox .note {
  background: #f5f5f5;
  display: block;
  padding: 7px 45px 7px 33px;
  border-style: solid;
  border-color: #686868;
  border-width: 0 1px 0 1px;
}

/* general info */
.product-form .info.general-info{padding: 12px 21px 37px}
.general-info>dl,
.general-info>dl dl{
  margin: 0;
  line-height: 24px;
}
.general-info > dl > dt {
  display: block;
  color: #008fd5;
  text-transform: uppercase;
  margin: 0;
}

.general-info > dl .selected-facilities > dt {
  display: block;
  color: #008fd5;
  text-transform: uppercase;
  margin: 0;
}

.general-info > dl > dd {
  display: block;
  margin: 0 0 24px;
  padding: 0;
  word-break: break-word;
}

.general-info > dl .selected-facilities > dd {
  display: block;
  margin: 0 0 24px;
  padding: 0;
  word-break: break-word;
}

.general-info>dl a{
  color: #4b5c66;
  text-decoration: underline;
}
.general-info>dl a:hover{text-decoration: none;}
.general-info>dl dl dt,
.general-info>dl dl dd{
  display: inline;
  margin: 0;
  vertical-align: top;
}
.download{padding: 3px 0 0;}
.download a{text-decoration: underline;}
.download a:hover{text-decoration: none;}
/* chat */
ul.chat{
  margin: 0;
  list-style: none;
  padding: 6px 0 30px;
  line-height: 18px;
  width: auto;
  float: none;
  color: #4b5c66;
  font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;

  .message {

    &.client-message {
      .content-message {
        background: #e1e6e9;
        border-color: #e1e6e9;
        padding: 20px 15px 0 20px;

        .body {
          padding: 0px;
        }

        p {
          margin: 0 0 13px;
          color: #4b5c66;
          font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;
        }
      }
    }

    &.manager-message {
      .content-message {
        padding: 21px 16px 18px 21px;
        margin: -1px;

        .body {
          padding: 0px;
        }

        p {
          margin: 0 0 13px;
          color: #4b5c66;
          font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;
        }
      }
    }

    &.system-message {
      .content-message {
        width: 501px;
        float: right;
        padding: 21px 15px 7px 20px;
        position: relative;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;

        .body {
          padding: 0px;
        }

        p {
          margin: 0 0 13px;
          color: #4b5c66;
          font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}
/* one message */
.chat>li{
  padding: 0 0 10px;
  width: 745px;
}
.chat>li:after{
  content: '';
  display: block;
  clear: both;
}
/* author */
.author{
  width: 117px;
  float: left;
  padding: 11px 68px 0 0;
  text-align: right;
}
/* author photo */
.author img{
  float: right;
  margin: -11px -68px 0 0;
  border: 1px solid #4b5c66;
}
.system-message .author img{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #2b2b2b;
}
/* the author's name */
.author-name{
  display: block;
  letter-spacing: -1px;
  margin: 0 0 2px;
  word-spacing: 2px;
}
/* publication time message */
.author time{
  display: block;
  color: #89949b;
  font-style: italic;
}
.author time>span{padding-left: 3px;}
/* content of the message */
.content-message{
  width: 501px;
  float: right;
  padding: 21px 15px 7px 20px;
  position: relative;
  border: 1px solid #e1e6e9;

  .body {
    padding: 0px 0px 14px;
  }
}
.system-message .content-message{
  background: #f5f5f5;
  border-color: #f5f5f5;
}
.manager-message .content-message{
  padding: 21px 16px 18px 21px;
  margin: -1px;
}
.client-message .content-message{
  background: #e1e6e9;
  border-color: #e1e6e9;
  padding: 20px 15px 0 20px;
}
.content-message:before{
  content: "";
  border-bottom: 9px solid transparent;
  border-right: 9px solid #f5f5f5;
  border-top: 9px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 100%;
  top: 21px;
  margin-right: 1px;
}
.manager-message .content-message:before{
  border: none;
  width: 15px;
  height: 21px;
  top: 19px;
  background: url('application-sprite.png') no-repeat -133px -604px;
  margin-right: -3px;
}
.client-message .content-message:before{border-right: 9px solid #e1e6e9;}
.content-message p{margin: 0 0 13px;}
.client-message .content-message p{margin: 0 0 16px;}
.content-message .uppercase{
  text-transform: uppercase;
  overflow: hidden;
}
.content-message .uppercase p{margin: 0 0 13px;}
.content-message dl{margin: 0 0 11px;}
.content-message dt,
.content-message dd{
  margin: 0;
  display: inline;
}
.content-message ol{
  counter-reset:section;
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
}
.content-message ol:after {
  content:"";
  display:block;
  clear:both;
}
.content-message ol>li {
  counter-increment:section;
  height:1%;
  overflow:hidden;
  padding: 0 0 18px;
}
.content-message ol>li:before {
  float:left;
  text-align:center;
  content: counter(section) ".";
  padding: 0 2px 0 0;
}
.content-message .files{
  margin: 0 -15px 0 -20px;
  padding: 9px 0 0 13px;
  list-style: none;
  background: #f5f5f5;
  overflow: hidden;
}
.manager-message .files{margin-bottom: -17px;}
.system-message .files{margin-bottom: -7px;}
.content-message .files li{
  overflow: hidden;
  margin: 0 0 8px;
}
.content-message .files li img, .new-message .files li img{
  vertical-align: top;
  margin-right: 10px;
}
.btn-pay{
  padding: 4px 0 2px 2px;
  line-height: 16px;
}
.btn-pay a{
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0;
  padding: 0 26px;
}
.btn-pay a:hover{text-decoration: none;}
/* new message */
.new-message{
  padding: 19px 15px 21px 19px;
  width: 709px;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}
.area-message{position: relative;}
.area-message .input-placeholder-text{
  font:13px/18px  'PT Sans', Arial, Helvetica, sans-serif;
  color: #4b5c66;
  left: 21px;
  top: 17px;
  width: 225px;
}
.new-message textarea{
  display: block;
  font:13px/18px  'PT Sans', Arial, Helvetica, sans-serif;
  color: #4b5c66;
  border: 1px solid #c4c4c4;
  background: #fff;
  width: 709px;
  max-width: 709px;
  height: 143px;
  min-height: 143px;
  resize: vertical;
  padding: 16px 2px 2px 19px;
  margin: 0 0 12px;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.new-message textarea:-webkit-input-placeholder{color: #4b5c66;}
.new-message textarea::-moz-placeholder{
  color: #4b5c66;
  opacity: 1;
}
.new-message textarea:-moz-placeholder{color: #4b5c66;}
.new-message textarea.placeholder{color: #4b5c66;}
.new-message .files{
  margin: 0 0 6px;
  padding: 0 0 0 1px;
  list-style: none;
  overflow: hidden;
  float: none;
  cursor: pointer;
}
.new-message .files li{
  overflow: hidden;
  line-height: 21px;
}
.new-message .files li .img-wrap{margin-right: 6px;}

.new-message  input[type="submit"]{
  width: 139px;
  height: 25px;
  float: right;
  margin: 0;
  word-spacing: -2px;
}

/* new message */
.new-message{
  padding: 19px 15px 21px 19px;
  width: 709px;
  background: #f5f5f5;
  border-top: 1px solid #ccc;

  @include clearfix();
}
.area-message{position: relative;}
.area-message .input-placeholder-text{
  font:13px/18px  'PT Sans', Arial, Helvetica, sans-serif;
  color: #4b5c66;
  left: 21px;
  top: 17px;
  width: 225px;
}
.new-message textarea{
  display: block;
  font:13px/18px  'PT Sans', Arial, Helvetica, sans-serif;
  color: #4b5c66;
  border: 1px solid #c4c4c4;
  background: #fff;
  width: 709px;
  max-width: 709px;
  height: 143px;
  min-height: 143px;
  resize: vertical;
  padding: 16px 2px 2px 19px;
  margin: 0 0 12px;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.new-message textarea:-webkit-input-placeholder{color: #4b5c66;}
.new-message textarea::-moz-placeholder{
  color: #4b5c66;
  opacity: 1;
}
.new-message textarea:-moz-placeholder{color: #4b5c66;}
.new-message textarea.placeholder{color: #4b5c66;}
.new-message .files{
  margin: 0 0 6px;
  padding: 0 0 0 1px;
  list-style: none;
  overflow: hidden;
  width: auto;
}
.new-message .files li{
  overflow: hidden;
  line-height: 21px;
}
.new-message .files li .img-wrap{margin-right: 6px;}

.new-message .files li{
  line-height: 30px;
  margin-bottom: 7px;
}
.content .files li a,
.content-message .files li a,
.new-message .files li a {
  color: #4b5c66;
  overflow: hidden;
  line-height: 30px;
}

.content .files .img-wrap,
.content-message .files .img-wrap,
.new-message .files .img-wrap{
  float: left;
  width: 33px;
  margin-right: 7px;
  text-align: right;
}

.new-message .files li img{vertical-align: top;}

.new-message input[type="submit"]{
  display: block;
  vertical-align: top;
  font: bold 14px/16px "PT Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  border: 1px solid #004584;
  text-align: center;
  cursor: pointer;
  background: #0093cb;
  width: 139px;
  height: 25px;
  padding: 0 0 2px;
  margin: 0 7px 0 0;
  -webkit-box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
  -moz-box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
  box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
}

.new-message input[type="submit"]:hover{cursor: pointer;}

/* chat */
.chat{
  margin: 0;
  list-style: none;
  padding: 6px 0 30px;
  line-height: 18px;
}
/* one message */
.chat>li{
  padding: 0 0 10px;
  width: 745px;
}
.chat>li:after{
  content: '';
  display: block;
  clear: both;
}
/* author */
.author{
  width: 117px;
  float: left;
  padding: 11px 68px 0 0;
  text-align: right;
}
/* author photo */
.author img{
  float: right;
  margin: -11px -68px 0 0;
  border: 1px solid #4b5c66;
}
.system-message .author img{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #2b2b2b;
}
/* the author's name */
.author-name{
  display: block;
  letter-spacing: -1px;
  margin: 0 0 2px;
  word-spacing: 2px;
}
/* publication time message */
.author time{
  display: block;
  color: #89949b;
  font-style: italic;
}
.author time>span{padding-left: 3px;}
/* content of the message */
.content-message{
  width: 501px;
  float: right;
  padding: 21px 15px 21px 20px;
  position: relative;
  border: 1px solid #e1e6e9;
}
.system-message .content-message{
  background: #f5f5f5;
  border-color: #f5f5f5;
}
.manager-message .content-message{
  padding: 21px 16px 18px 21px;
  margin: -1px;
}
.client-message .content-message{
  background: #e1e6e9;
  border-color: #e1e6e9;
  padding: 20px 15px 0 20px;
}
.content-message:before{
  content: "";
  border-bottom: 9px solid transparent;
  border-right: 9px solid #f5f5f5;
  border-top: 9px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 100%;
  top: 21px;
  margin-right: 1px;
}
.manager-message .content-message:before{
  border: none;
  width: 15px;
  height: 21px;
  top: 19px;
  background: url('application-sprite.png') no-repeat -133px -604px;
  margin-right: -3px;
}
.client-message .content-message:before{border-right: 9px solid #e1e6e9;}
.content-message p{margin: 0 0 13px;}
.client-message .content-message p{margin: 0 0 16px;}
.content-message .uppercase{
  text-transform: uppercase;
  overflow: hidden;
}
.content-message .uppercase p{margin: 0 0 13px;}
.content-message dl{margin: 0 0 11px;}
.content-message dt,
.content-message dd{
  margin: 0;
  display: inline;
}
.content-message ol{
  counter-reset:section;
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
}
.content-message ol:after {
  content:"";
  display:block;
  clear:both;
}
.content-message ol>li {
  counter-increment:section;
  height:1%;
  overflow:hidden;
  padding: 0 0 18px;
}
.content-message ol>li:before {
  float:left;
  text-align:center;
  content: counter(section) ".";
  padding: 0 2px 0 0;
}
.content-message .files{
  margin: 0 -15px 0 -20px;
  padding: 9px 0 0 13px;
  list-style: none;
  background: #f5f5f5;
  overflow: hidden;
}
.manager-message .files{margin-bottom: -17px;}
.system-message .files{margin-bottom: -7px;}
.content-message .files li{
  overflow: hidden;
  margin: 0 0 8px;
}
.content-message .files li img, .new-message .files li img{vertical-align: top;}
.btn-pay{
  padding: 4px 0 2px 2px;
  line-height: 16px;
}
.btn-pay a{
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0;
  padding: 0 26px;
}
.btn-pay a:hover{text-decoration: none;}

.upload-file {
  float: left;
  cursor: default;
  padding: 2px 0 0;
}
.upload-file input[type="file"]{
  width: 0;
  height: 0;
  vertical-align: top;
}
.upload-file .fileinput-button {
  font-size: 14px;
  line-height: 16px;
  color: #1b92c8;
  padding-left: 19px;
  position: relative;
  vertical-align: top;
  margin-left: 0px;
  cursor: pointer;
}
.upload-file .fileinput-button:before{
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background: url('application-sprite.png') no-repeat 0 -711px;
}

/* all sketches */
.sketches{
  margin: 0 0px 20px;
  padding: 12px 0 0;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  @include clearfix();
}
.sketches li{padding: 0 0 15px;}
.sketches a.opener{
  color: #b8c3c9;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  position: relative;
}
.sketches a.opener .arrow{
  position: absolute;
  right: 1px;
  top: -2px;
  height: 19px;
  width: 19px;
  background: url('application-sprite.png') no-repeat -64px -711px;
}
.sketches a.opener:hover,
.sketches .active a.opener{
  text-decoration: none;
  color: #008fd5;
}
.sketches a.opener:hover .arrow{background-position: -100px -711px;}
.sketches .active a.opener .arrow{background-position: -133px -711px;}
.sketches .slide ul{
  margin: 0;
  padding: 24px 0 6px;
  list-style: none;
  width: 245px;
  overflow: hidden;
}
.sketches .slide li{
  float: left;
  padding: 0 9px 10px 0;
}
.sketches .slide img{vertical-align: top;}
.all-sketches{
  text-decoration: underline;
  margin-left: 2px;
}
.all-sketches:hover{text-decoration: none;}

/* footer */

#wrapper-content {
  padding: 0px 0px 70px;
}

#footer{
  background: #fff;
  border-top: 2px solid #4b5c66;
  min-height: 0;
  padding: 82px 0 122px;
  width: 100%;
  margin: -206px auto 0;
  position: relative;

  .logo {
    float: left;
    width: 161px;
    height: 42px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(logo.png) no-repeat;
    margin: 0 120px 0 0;
  }
  .inner-page .logo{margin: 0 111px 0 -1px;}
  .logo a {
    display: block;
    height: 100%;
  }
}
.footer-holder{
  width: 1170px;
  margin: 0 auto;
}

.rights {
  float: left;
  font-family: 'open-sansregular', Arial, Helvetica, sans-serif;
  padding: 11px 0 0;
  margin: 0px 10px 0px 0px;
}
/* footer navigation */
#footer .footer-nav{
  float: right;
  padding: 12px 0 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  margin: 0px;
}
#footer .footer-nav li {
  float: left;
  margin: 0 0 0 44px;
  text-decoration: none;

  a {
    color: #4b5c66;
    position: relative;
    display: block;

    &:hover, &.active {
      color: #03b4ea;
    }
  }
}


#flash-message-wrapper {
  padding: 20px;
}

a.facilities-set {
  color: #4b5c66;
  font-weight: normal;
  font-size: 16px;
}

.big-image-wrapper {
  background: #FFF url("ajax-loader.gif") center no-repeat;
  display: none;
  border: 1px solid #cccccc;
  padding: 5px;
  position: absolute;
  top: -222px;
  right: 240px;
  z-index: 100;

  .big-image-arrow {
    background: url("account-sprite.png") top center no-repeat;
    position: absolute;
    width: 12px;
    height: 27px;
    top: 50%;
    right: -12px;
    background-position: -84px 0px;
  }
}

a.btn-task-save {
  float: right;
  width: auto;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 gainsboro, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 gainsboro, inset 0 1px 0 #abbbd5;
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  display: block;
}

.lightbox {

  &.task-lightbox {
    width: 745px;

    header {
      padding: 4px 8px 5px 32px;
    }

    .task-content {
      border-top: 1px solid #cccccc;
      border-left: 1px solid #686868;
      border-right: 1px solid #686868;
      padding: 20px 30px;

      .form-text {
        border: 1px solid #ccc;
        display: block;
        font-size: 13px;
        color: #b8c3c9;
        padding: 5px 10px;
        width: 661px;
        margin: 0px 0px 10px;

        &.error {
          border: 1px solid #FF0000;
        }
      }

      textarea {
        &.form-text {
          height: 285px - 10px;
        }
      }

      .upload-file {
        float: none;

        &.error {
          a {
            color: #FF0000;
          }
        }

        .files {
          float: left;
          width: 500px;
          list-style: none;
          padding: 0px;
          margin: 0px;

          li {
            float: left;
            margin: 0px 20px 0px 0px;
            min-height: 32px;

            img {
              margin: 0px 5px 0px 0px;
              display: block;
              float: left;
            }

            .filename {
              display: block;
              padding-top: 8px;
              float: left;
            }

            .delete {
              background: url(account-sprite.png) no-repeat -35px -129px;
              display: block;
              width: 13px;
              height: 14px;
              text-indent: -9999px;
              overflow: hidden;
              cursor: pointer;
              float: left;
              margin: 9px 0px 0px 10px;
            }
          }
        }

        .fileinput-button {
          float: right;
        }
      }
    }

    .close {
      margin: 0px 0px 0px 12px;
    }
  }

  &.selected-facility-settings {
    .content {
      border-top: 1px solid #cccccc;
      border-left: 1px solid #686868;
      border-right: 1px solid #686868;
      padding: 15px;

      ul {
        li {
          .image-wrapper {
            float: left;
          }

          .image-detail {
            text-align: left;
            float: left;

            .title {
              display: block;
              float: left;
              margin: 8px 0px 0px 10px;
              width: 72px;
              overflow: hidden;
              height: 17px;
            }

            a.delete {
              display: block;
              float: left;
              margin: 10px 0px 0px 10px;
            }
          }
        }
      }
    }
  }
}

#sidebar.task {

  .edit-task {
    background: url(account-sprite.png) no-repeat -83px -97px;
    display: block;
    width: 13px;
    height: 14px;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    float: right;
    margin: 2px 0px 0px;
  }

  .selected-item {
    li {
      a.setting {
        background: url(account-sprite.png) no-repeat -83px -97px;
        margin: 0px 7px 0px 0px;
      }
    }
  }

  .clear-all-wrapper {
    position: relative;

    .clear-all {
      float: none;
      margin: 0px;
      position: absolute;
      bottom: -60px;
      right: 0px;
    }
  }

  .task-info {
    h2 {
      font-size: 12px;
      color: #b8c3c9;
      text-transform: uppercase;
      margin: 0px;
      font-weight: normal;
    }

    .field-value {

      &.field-description {
        margin: 5px 0px 15px;
      }

      ul {
        list-style: none;
        padding: 0px;
        margin: 5px 0px 0px;

        li {
          width: 100%;
          display: block;
          margin: 0px 0px 12px;
          @include clearfix();

          img {
            margin: 0px 5px 0px 0px;
            display: block;
            float: left;
            min-width: 30px;
          }

          .filename {
            display: block;
            padding-top: 8px;
            float: left;
            width: 191px;
            height: 17px;
            overflow: hidden;
            word-break: break-all;
          }
        }
      }
    }
  }
}