@import "twitter/bootstrap/mixins";

.m1 {
  #content {
    h1 {
      margin: 0 0 17px 1px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 300;
    }
  }

  .info {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 10px 20px 4px 30px;
    margin-bottom: 32px;
    display: none;

    p {
      margin: 0 0 10px;
    }
  }

  .open-close {
    margin-bottom: 15px;
    padding-left: 5px;

    &:hover {
      background: #f6f7f8;
    }

    &:last-child {
      margin-bottom: 0px;

      .opener-wrap {
        margin-bottom: 0px;
      }
    }

    .opener {
      float: left;
      background: url(projects-sprite.png) no-repeat -124px -23px;
      padding: 2px 0px 0px 26px;
      color: #4b5c66;
      font-weight: normal;
      font-size: 16px;
      width: 568px;
      height: 18px;
      overflow: hidden;
      line-height: 16px;

      &:hover {
        text-decoration: none;
      }
    }

    &.active {

      &:hover {
        background: none;
      }

      .opener {
        background-position: -124px 1px;
      }
    }

    .slide {
      padding-left: 20px;
      position: relative;
      left: auto;
      top: auto;
      background: none;
      width: auto;
      border: none;
      z-index: 0;
    }

    table {
      display: block;
      border-spacing: 0px;

      .job-status {
        width: 189px;
      }

      .created {
        width: 183px;
      }

      tr {
        &:hover {
          td {
            background-color: #f6f7f8;

            &.task-0 {
              background: #f6f7f8 url("ico-stop.png") top center no-repeat;
              background-position: 6px 9px;
            }

            &.task-1 {
              background: #f6f7f8 url("ico-pause.png") top center no-repeat;
              background-position: 6px 9px;
            }

            &.task-2 {
              background: #f6f7f8 url("ico-play.png") top center no-repeat;
              background-position: 6px 9px;
            }

            &.task-3 {
              background: #f6f7f8 url("ico-ok.png") top center no-repeat;
              background-position: 6px 9px;
            }

            &:last-child {
              background: none;
            }
          }
        }
      }

      td {
        width: 155px;
        font: 13px/18px "PT Sans", Arial, Helvetica, sans-serif;

        &.task {
          width: 17px;
          vertical-align: middle;

          &.task-0 {
            background: url("ico-stop.png") top center no-repeat;
            background-position: 6px 9px;
          }

          &.task-1 {
            background: url("ico-pause.png") top center no-repeat;
            background-position: 6px 9px;
          }

          &.task-2 {
            background: url("ico-play.png") top center no-repeat;
            background-position: 6px 9px;
          }

          &.task-3 {
            background: url("ico-ok.png") top center no-repeat;
            background-position: 6px 9px;
          }
        }
      }
    }

    thead {
      color: #b8c3c9;
      text-transform: uppercase;
      background: none;

      th {
        font-weight: normal;
        text-align: left;
        padding-bottom: 5px;
      }
    }

    .buttons, .stop, .play, .ok, .pause {
      width: 17px;
      vertical-align: middle;
    }

    td .edit, td .view {
      display: block;
      font-weight: bold;
      padding: 0 0 2px 25px;
      margin-top: 4px;
      position: relative;
      font-size: 12px;
      text-align: left;
      width: 85px;
      color: #4b5c66;
      box-shadow: 0 1px 0 #e4e5e8, inset 0 1px 0 #fff;
      border: 1px solid #989898;
      background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f6f7f7), color-stop(100%, #e9e9e9));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      margin-left: 21px;
    }

    td .edit:before {
      content: "";
      position: absolute;
      left: 7px;
      top: 4px;
      width: 12px;
      height: 14px;
      background: url(projects-sprite.png) no-repeat -66px -101px;
    }

    td .view:before {
      width: 16px;
      height: 15px;
      content: "";
      position: absolute;
      left: 6px;
      top: 4px;
      background: url(projects-sprite.png) no-repeat -41px -104px;
    }
  }

  .opener-wrap {
    overflow: hidden;
    margin-bottom: 6px;

    .add-task {
      float: right;
      position: relative;
      border: 1px solid #989898;
      color: #4b5c66;
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      padding: 2px 7px 4px 25px;
      margin-top: 1px;
      background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f6f7f7), color-stop(100%, #e9e9e9));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #f6f7f7 5%, #e9e9e9 100%);
      box-shadow: 0 1px 0 #e4e5e8, inset 0 1px 0 #fff;
      max-width: 160px;

      &:before {
        width: 12px;
        height: 12px;
        position: absolute;
        content: "";
        left: 8px;
        top: 6px;
        background: url(projects-sprite.png) no-repeat -73px 0;
      }
    }
  }

  #sidebar {
    width: 224px;
    float: right;
    padding-top: 41px;

    .add-project {
      display: block;
      font-weight: bold;
      text-align: center;
      padding: 2px 10px 3px;
      border: 1px solid #224781;
      color: #fff;
      margin-bottom: 41px;
      box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
      background: #1b92c8 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acbcd6), color-stop(5%, #1a92c7), color-stop(100%, #1b93c8));
      background: -webkit-linear-gradient(top, #acbcd6 0%, #1a92c7 5%, #1b93c8 100%);
      background: -o-linear-gradient(top, #acbcd6 0%, #1a92c7 5%, #1b93c8 100%);
      background: -ms-linear-gradient(top, #acbcd6 0%, #1a92c7 5%, #1b93c8 100%);
      background: linear-gradient(to bottom, #acbcd6 0%, #1a92c7 5%, #1b93c8 100%);
    }

    .widget {
      margin-bottom: 41px;

      .title {
        color: #b8c3c9;
        font-weight: 300;
        display: block;
        margin-bottom: 13px;
        text-transform: uppercase;
        font-size: 12px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
          display: block;
          color: #4b5c66;
          padding-bottom: 1px;
          font: 13px/18px "PT Sans", Arial, Helvetica, sans-serif;
          cursor: pointer;
        }

        .active a, a:hover {
          background: #b8c3c9;
          color: #fff;
          position: relative;
          font-weight: bold;
          text-decoration: none;
          padding-left: 6px;
        }

        .active a:before, a:hover:before {
          width: 7px;
          height: 13px;
          content: "";
          position: absolute;
          top: 3px;
          left: -7px;
          background: url(projects-sprite.png) no-repeat;
        }
      }

      li {
        margin-bottom: 11px;
      }
    }
  }
}

.product-form {

  #content {

    h2 {
      margin: 0 0 17px 0px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 300;
    }
  }

  .tab-content {
    overflow: visible;
    padding: 0px;
  }

  .info {
    margin-bottom: 29px;
    background: #f5f5f5;
    padding: 12px 15px 4px 31px;
    border-top: 1px solid #ccc;
    margin-bottom: 34px;
    line-height: 18px;

    &.add1 {
      margin-bottom: 28px;
    }

    p {
      margin: 0 0 10px;
    }
  }

  .form-container {
    margin-bottom: 25px;

    &:after {
      display: block;
      clear: both;
      content: "";
    }

    .select-options {
      position: absolute;
      background: #fff;
      z-index: 2000;
      margin: 24px 0px 0px 0px;
      width: 191px;

      .drop-holder {
        border: 1px solid #89949b;
        overflow: hidden;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #4b5c66;
        width: auto;

        li {
          width: 100%;
          float: left;
        }

        a {
          text-decoration: none;
          padding: 5px 10px 5px 25px;
          display: block;
          cursor: default;
          color: #000;
          height: 1%;
          position: relative;
        }
      }

      .item-selected a:before {
        content: ".";
        position: absolute;
        left: 9px;
        top: -6px;
        font-size: 35px;
        color: #4b5c66;
      }
    }

    .download-wrap {
      float: left;
      width: 174px;
      padding-top: 1px;

      .chk-area {
        margin: 2px 8px 0 0;
      }

      &.bbf-error {
        .sample-download {
          border: 1px solid #FF0000;
        }
      }

    }

    .select-area {
      border: 1px solid #ccc;
      position: relative;
      overflow: hidden;
      cursor: default;
      height: 23px;
      float: left;
      width: 190px !important;
      margin-bottom: 11px;

      .center {
        white-space: nowrap;
        padding: 3px 5px 5px;
        display: block;
      }

      .select-opener {
        background: #89949b url(drawings-sprite.png) no-repeat -46px -62px;
        position: absolute;
        height: 26px;
        width: 26px;
        right: 0;
        top: 0;
      }
    }

    .sample-download {
      display: inline-block;
      width: 142px;
      height: 58px;
      border: 1px solid #ccc;
      background: url(drawings-sprite.png) no-repeat 46px -297px;
      text-align: center;
      padding: 99px 0 6px;
      overflow: hidden;
      color: #4b5c66;

      &.fileinput-button {
        margin-right: 0px;
      }
    }

    .sample-download-preview {
      display: inline-block;
      width: 144px;
      height: 166px;
      text-align: center;
      overflow: hidden;
      cursor: default;

      img {
        border: 1px solid #ccc;
      }

      &.fileinput-button {
        margin-right: 0px;
      }
    }

    ul {
      float: left;
      width: 300px;
      margin: 0 0 0 17px;
      padding: 4px 0 0;
      list-style: none;
    }

    .image-wrapper {

      @include clearfix();
    }
  }

  .options.add li {
    margin-bottom: 17px;

    label {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .chk-area {
    margin: 1px 8px 0 0;
    float: left;
    width: 22px;
    height: 19px;
    background: url(drawings-sprite.png) no-repeat -52px -128px;
    display: none;
  }

  .chk-checked {
    background: url(drawings-sprite.png) no-repeat -78px -128px;
  }

  .other-options {
    float: right;
    width: 191px;
    color: #4b5c66;
    font-size: 14px;

    input[type="text"], select {
      background: #FFF;
      width: 181px;
      height: 19px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      color: #4b5c66;
      font-size: 12px;
      padding: 2px 4px;
    }

    input[type="text"].meter {
      background: url(drawings-sprite.png) no-repeat 168px 100%;
      padding: 3px 28px 1px 2px;
      width: 159px;
    }

    .row.open-close {
      position: relative;
      margin-bottom: 10px;

      &:after {
        display: block;
        clear: both;
        content: "";
      }

      input[type="text"] {
        float: left;
        width: 156px;
        border-right: 0;
        margin: 0;
      }
    }

    .ui-datepicker-trigger {
      float: right;
      width: 26px;
      height: 25px;
      background: #89949b url(drawings-sprite.png) no-repeat -114px -86px;
      text-indent: -9999px;
      overflow: hidden;
      border: 0;
    }
  }

  .total {
    border: none;
    padding: 4px 0 0 1px;

    .row {
      margin-bottom: 13px;
    }

    a.order {
      padding: 6px 0px;
      margin: 0;
      width: 100%;
      text-align: center;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: block;
    }

    .order {
      float: none;
      height: 21px;
      line-height: 22px;
      border: 1px solid #008ed5;
      background: #008ed5;
      color: #fff;
      padding: 6px 0px;
      text-decoration: none;
      font-weight: normal;
      margin-left: 0px;
    }

    .btn-back {
      float: left;
      height: 23px;
      line-height: 23px;
      border: 1px solid #999;
      -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
      box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
      color: #414241;
      font-size: 14px;
      padding: 0 23px 0 13px;
      text-decoration: none;
      background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      margin-right: 10px;
    }
  }
}

.product-form.add {

  .form-container {
    margin-bottom: 25px;

    ul {
      float: left;
      list-style: none;
      width: 746px;
      margin: 0;
      padding: 0;
    }

    .item {
      float: left;
      width: 606px;
      font-size: 16px;
      padding-top: 2px;
      background: url(bg-dot1.png) repeat-x 0 14px;

      .price {
        float: right;
        color: #e1e6e9;
        background: #fff;
        padding-left: 10px;
      }
    }

    .select-list {

      li {
        margin-bottom: 7px;

        &.selected {
          .price {
            color: #008fd5;
            font-weight: bold;
          }
        }
      }

      .col {
        float: left;
        background: #fff;
      }

      .content {
        overflow: hidden;
        padding: 20px 15px 39px 28px;
        width: 525px;
        padding: 8px 31px 9px;

        ul.files {
          float: left;
          width: 230px;
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            line-height: 20px;
            margin-bottom: 1px;

            &:after {
              display: block;
              clear: both;
              content: "";
            }

            a {
              color: #4b5c66;
              overflow: hidden;
            }
          }

          .img-wrap {
            float: left;
            width: 33px;
            margin-right: 7px;
            text-align: right;
          }
        }

        .detail {
          float: right;
          width: 256px;
          line-height: 17px;
          font-style: italic;
        }
      }
    }

    //.plan {
    //  .price {
    //    float: right;
    //    color: #008fd5;
    //    background: #fff;
    //    padding-left: 10px;
    //  }
    //
    //  li {
    //    margin-bottom: 7px;
    //
    //    &.selected {
    //      .price {
    //        color: #e1e6e9;
    //        font-weight: bold;
    //      }
    //    }
    //  }
    //}

    label, .unit {
      color: #4b5c66;
      font-weight: bold;
    }

    .add,
    .delete,
    .add-task,
    .delete-option,
    .edit-task,
    .lightbox footer .add-task {
      text-decoration: none;
      background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      border: 1px solid #989898;
      padding: 3px 0 3px 25px;
      width: 99px;
      position: relative;
      color: #4b5c66;
      font-size: 12px;
      font-weight: bold;
    }

    .edit-task {
      float: right;
      &:before {
        background: url(drawings-sprite.png) no-repeat -66px -101px;
        width: 17px;
        height: 17px;
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
      }
    }

    .add:before,
    .delete:before,
    .add-task:before,
    .delete-option:before,
    .add:before,
    .add-task:before,
    .delete:before,
    .delete-option:before {
      background: url(drawings-sprite.png) no-repeat -87px 4px;
      width: 12px;
      height: 16px;
      content:"";
      position: absolute;
      left:5px;
      top:5px;
    }

    .add:before,
    .add-task:before{
      background-position: -73px 0;
    }

    .add,
    .delete,
    .add-task,
    .delete-option {
      float: right;
      margin-left: 6px;
    }
  }

  .selecter {
    position: relative;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    .slide {
      position: absolute;
      z-index: 55;
      left: 0;
      top: 32px;
      background: #fff;
      width: 744px;
      border: 1px solid #89949b;

      &:before {
        width: 27px;
        height: 20px;
        content: "";
        position: absolute;
        top: -9px;
        right: 46px;
        background: url(drawings-sprite.png) no-repeat -106px -120px;
      }

      .note {
        background: #f5f5f5;
        display: block;
        padding: 10px 10px 10px 30px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
        color: #4b5c66;
        font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;
      }

      .content {
        border: none;
        overflow: hidden;
        width: auto;
        padding: 8px 31px 9px;

        .image-holder {
          width: 200px;
          border: none;
          height: auto;
          float: left;
          margin-right: 9px;

          ul {
            float: left;
            width: 215px;
            margin: 0 0 0 17px;
            padding: 4px 0 0;
            list-style: none;

            li {
              margin-bottom: 7px;
              color: #4b5c66;
              font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;
              word-break: break-all;

              &:after {
                display: block;
                clear: both;
                content: "";
              }

              img {
                float: left;
                margin-right: 6px;
              }
            }
          }
        }

        textarea {
          float: right;
          width: 432px;
          height: 120px;
          resize: none;
          border: 1px solid #ccc;
          padding: 6px 0 0 6px;
          margin-bottom: 7px;
          font: 100% Arial, Helvetica, sans-serif;
          vertical-align: middle;
          color: #000;
        }
      }

      .ico-delete {
        display: inline-block;
        background: url(drawings-sprite.png) no-repeat -35px -129px;
        height: 13px;
        width: 11px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 5px 0 0 15px;
      }

      footer {
        background: #f5f5f5;
        border-top: 1px solid #ccc;
        overflow: hidden;
        padding: 5px;
      }

      .attachment {
        float: left;
        background: url(drawings-sprite.png) no-repeat 0 -244px;
        padding-left: 23px;
        font-size: 14px;
        margin-top: 2px;
        color: #1b92c8;
      }

      .btn-cancel,
      .btn-delete {
        float: right;
        height: 23px;
        line-height: 23px;
        border: 1px solid #999;
        -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
        box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
        color: #414241;
        font-size: 14px;
        padding: 0 32px;
        text-decoration: none;
        background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      }

      .btn-delete {
        float: left;
        margin-left: 100px;
        font-weight: bold;
        position: relative;

        &:before {
          width: 15px;
          height: 15px;
          position: absolute;
          left: 9px;
          top: 5px;
          background: url(drawings-sprite.png) no-repeat -35px -129px;
          content: "";
        }
      }

      .btn-save {
        float: right;
        height: 23px;
        line-height: 22px;
        border: 1px solid #214781;
        background: #008ed5;
        -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
        box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
        color: #fff;
        padding: 0 26px;
        text-decoration: none;
        font-weight: bold;
        margin-left: 5px;
      }

      .close, .total .btn-back {
        float: right;
        height: 23px;
        line-height: 23px;
        border: 1px solid #999;
        -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
        box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
        color: #414241;
        font-size: 14px;
        padding: 0 23px 0 13px;
        text-decoration: none;
        background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
        background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
        margin-right: 10px;
      }
    }
  }

}

#sidebar .holder {
  position: fixed;
  z-index: 10;
  background: #FFF;
}

#sidebar {

  h2 {
    margin: 8px 0 21px;
    font-size: 20px;
    line-height: 21px;
    color: #008fd5;
    font-weight: 300;
  }

  .tabset {
    margin: 0px 0px 22px;
    padding: 0;
    list-style: none;

    li {
      float: none;
      margin-bottom: 4px;

      & > span {
        color: #4b5c66;
        font-weight: normal;
        display: block;
        padding: 5px 2px;
        position: relative;

        span {
          font-weight: normal;
          display: inline-block;
          margin-right: 12px;
          color: #b8c3c9;
          text-transform: uppercase;
        }
      }

      a {
        color: #4b5c66;
        font-weight: normal;
        display: block;
        padding: 5px 2px;
        position: relative;

        &.active {
          background: #008fd5;
          color: #fff;
          font-weight: bold;
          text-decoration: none;

          &:before{
            content: "";
            position: absolute;
            top: 0px;
            left: -10px;
            width: 12px;
            height: 26px;
            background: url(drawings-sprite.png) no-repeat -86px -96px;
          }

          span {
            font-weight: bold;
            color: #fff;
          }
        }

        span {
          font-weight: normal;
          display: inline-block;
          margin-right: 12px;
          color: #b8c3c9;
          text-transform: uppercase;
        }
      }

    }
  }
}

.form-container.add {

  ul.select-list {
    width: 746px;
    margin: 0px;
    padding: 0px;

    li {

      &:after {
        display: block;
        clear: both;
        content: "";
      }

      label {
        font-size: 16px;
      }
    }

    .item {
      float: left;
      width: 606px;
      font-size: 16px;
      padding-top: 2px;
      background: url(bg-dot1.png) repeat-x 0 14px;
    }

    .col {
      float: left;
      background: #fff;
    }

  }

  label, .unit {
    color: #4b5c66;
    font-weight: bold;
  }

  .price {
    float: right;
    color: #e1e6e9;
    background: #fff;
    padding-left: 10px;
  }

  .selected {

    .unit {
      color: #008fd5;
    }

    .price {
      color: #008fd5;
      font-weight: bold;
    }
  }

  .add:before, .delete:before, .add-task:before, .select-option:before, .delete-option:before {
    background: url(drawings-sprite.png) no-repeat -87px 4px;
    width: 12px;
    height: 16px;
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .add, .delete, .add-task, .select-option, .delete-option {
    float: right;
    margin-left: 6px;
  }

  .add, .delete, .add-task, .select-option, .delete-option, .edit-task {
    text-decoration: none;
    background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    border: 1px solid #989898;
    padding: 3px 0 3px 25px;
    width: 99px;
    position: relative;
    color: #4b5c66;
    font-size: 12px;
    font-weight: bold;
  }

  .add:before, .add-task:before, .select-option:before {
    background-position: -73px 0;
  }

  .delete:before {
    background-position: -88px 4px;
  }

  .add, .delete {
    width: 21px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
  }
}

.lightbox  {
  footer .add-task {
    text-decoration: none;
    background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
    border: 1px solid #989898;
    float: left;
    padding: 3px 16px 4px 24px;
    width: 99px;
    position: relative;
    color: #4b5c66;
    font-size: 12px;
    font-weight: bold;

    &:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      left: 5px;
      top: 5px;
      background: url(drawings-sprite.png) no-repeat -73px 0;
    }
  }

  &.account-edit {
    width: 745px;

    .user-profile {
      .content {
        padding: 20px 15px 39px 28px;
        border-color: #686868;
        border-style: solid;
        border-width: 0 1px 0 1px;
      }

      .image-holder {
        float: left;
        width: 148px;
        height: 156px;
        border: none;
        margin-right: 9px;

        img.no-image {
          border: 1px solid #ccc;
        }
      }

      input[type="text"] {
        height: 19px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        width: 500px;
        padding: 2px 10px;
        color: #4b5c66;
      }

      footer {
        .btn-save {
          float: right;
          height: 23px;
          line-height: 22px;
          border: 1px solid #214781;
          background: #008ed5;
          -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
          box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
          color: #fff;
          padding: 0 12px;
          text-decoration: none;
          font-weight: bold;
          margin-right: 10px;
        }
      }
    }
  }
}

.lightbox .btn-back {
  margin-right: 10px;
}

.lightbox .close {
  float: right;
  height: 23px;
  line-height: 23px;
  border: 1px solid #999999;
  -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 white;
  box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 white;
  color: #414241;
  font-size: 14px;
  padding: 0 23px 0px;
  text-decoration: none;
  background: white url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, white 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
  background: -webkit-linear-gradient(top, white 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -o-linear-gradient(top, white 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -ms-linear-gradient(top, white 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: linear-gradient(to bottom, white 0%, #f7f7f7 5%, #e8e8e7 100%);
  margin-right: 25px;
  font-weight: normal;
}
//
//.lightbox .btn-cancel.close {
//    float: right;
//    height: 23px;
//    line-height: 22px;
//    border: 1px solid #214781;
//    background: #008ed5;
//    -webkit-box-shadow: 0 1px 0 gainsboro, inset 0 1px 0 #abbbd5;
//    box-shadow: 0 1px 0 gainsboro, inset 0 1px 0 #abbbd5;
//    color: #fff;
//    padding: 0 26px;
//    text-decoration: none;
//    font-weight: bold;
//}

.total .order, .lightbox .btn-back {
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.close, .total .btn-back {
  float: right;
  height: 23px;
  line-height: 23px;
  border: 1px solid #999;
  -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  color: #414241;
  font-size: 14px;
  padding: 0 23px 0 13px;
  text-decoration: none;
  background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
  margin-right: 10px;
}

#popup2 {
  width: 746px;
}

#modeling-tasks {

  .content {
    overflow: hidden;
    padding: 20px 15px 39px 28px;
    border-color: #ccc #686868;
    border-style: solid;
    border-width: 0 1px 1px 1px;

    .image-holder {
      border: none;
      float: left;
      width: 148px;
      height: 148px;
      margin-right: 9px;

      a {
        border-color: #686868;
        border-width: 0 1px 0 1px;
        border-style: solid;
        border: 1px solid #ccc;
      }

      img {
        display: block;
      }
    }

    .images {
      float: left;
      margin: 0;
      padding: 3px 0 0 3px;
      list-style: none;

      li {
        float: left;
        margin-right: 19px;
        margin-bottom: 10px;
      }

      a {
        line-height: 26px;
      }

      img {
        float: left;
        margin-right: 6px;
      }
    }

    fieldset {
      overflow: hidden;
    }

    .row {
      overflow: hidden;
      margin-bottom: 8px;

      input[type="text"] {
        float: left;
        width: 348px;
        height: 19px;
        border: 1px solid #ccc;
        background: none;
        padding: 2px 7px;
      }
    }

    .delete-job {
      float: right;
      text-decoration: none;
      background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
      background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 5%, #e8e8e7 100%);
      border: 1px solid #989898;
      padding: 3px 10px 3px 25px;
      position: relative;
      color: #4b5c66;

      &:before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        background: url(drawings-sprite.png) no-repeat -35px -129px;
        width: 15px;
        height: 15px;
      }
    }

    textarea {
      width: 530px;
      height: 73px;
      border: 1px solid #ccc;
      padding: 6px 0 0 6px;
      margin-bottom: 7px;
      resize: none;
    }

    .attachment {
      float: right;
      background: url(drawings-sprite.png) no-repeat 0 -244px;
      padding-left: 17px;
      font-size: 14px;
      color: #1b92c8;
      margin-right: 7px;
    }
  }
}

.pagination {

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      float: left;

      a {
        margin: 0px 5px;
      }
    }
  }
}

#price-list-wrapper {
  h2 {
    font-size: 12px;
    color: #b8c3c9;
    text-transform: uppercase;
    margin: 0 0 14px;
    font-weight: normal;
  }
}

.controls {
  background: url("icons-sprite.png") top center no-repeat;
  background-position: 0px -89px;
  width: 122px;
  height: 18px;
  opacity: 0.8;
  padding: 6px 10px 0px 10px;
  margin: -30px 0px 0px 31px;

  @include clearfix();

  .plus-sign {
    background: url("icons-sprite.png") top center no-repeat;
    background-position: 0px 0px;
    width: 12px;
    height: 12px;
    float: left;
    cursor: pointer;
  }

  .arrow-left {
    background: url("icons-sprite.png") top center no-repeat;
    background-position: 0px -22px;
    width: 8px;
    height: 12px;
    float: left;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 30px;
  }

  .arrow-right {
    background: url("icons-sprite.png") top center no-repeat;
    background-position: 0px -44px;
    width: 8px;
    height: 12px;
    float: left;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 46px;
  }

  .trash-icon {
    background: url("icons-sprite.png") top center no-repeat;
    background-position: 0px -66px;
    width: 11px;
    height: 13px;
    float: right;
    cursor: pointer;
  }

}

.select-control {
  @include clearfix();

  .select-area {
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    cursor: default;
    height: 23px;
    float: left;
    width: 223px;
    margin-bottom: 11px;

    .center {
      white-space: nowrap;
      padding: 3px 5px 5px;
      display: block;
    }

    .select-opener {
      background: #89949b url(drawings-sprite.png) no-repeat -46px -62px;
      position: absolute;
      height: 26px;
      width: 26px;
      right: 0;
      top: 0;
    }
  }

  .select-options {
    position: absolute;
    background: #fff;
    z-index: 2000;
    margin: 24px 0px 0px 0px;
    width: 225px;

    .drop-holder {
      border: 1px solid #89949b;
      overflow: hidden;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: #4b5c66;
      width: auto;

      li {
        width: 100%;
        float: left;
        padding: 0px;
      }

      a {
        text-decoration: none;
        padding: 5px 10px 5px 25px;
        display: block;
        cursor: default;
        color: #000;
        height: 1%;
        position: relative;
      }
    }

    .item-selected a:before {
      content: ".";
      position: absolute;
      left: 9px;
      top: -6px;
      font-size: 35px;
      color: #4b5c66;
    }
  }
}

.paging {
  float: left;
  margin: 70px 0px 0px 0px;
  padding: 0 0px 0 0;
  list-style: none;

  li {
    &:first-child {
      margin-left: 5px;
    }
  }
}
.paging li {
  float: left;
  width: 41px;
  height: 40px;
  background: #008fd5;
  font-size: 12px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin-left: 7px;

  &.prev {
    margin-left: 0px;
  }
}
.paging li a{
  display: block;
  height: 38px;
  border: 1px solid #ebebeb;
  background: #fff;
  color: #9d9fa2;
}
.paging li a:hover{
  text-decoration: none;
  background: #008fd5;
  border-color: #008fd5;
  color: #fff;
}
.paging li.prev a,
.paging li.next a{
  background: #fff url(application-sprite.png) no-repeat -32px -739px;
  text-indent: -9999px;
  overflow: hidden;
}
.paging li.next a{background-position: -68px -739px;}
.paging li.prev a:hover{background: #008fd5 url(application-sprite.png) no-repeat -106px -739px;}
.paging li.next a:hover{background: #008fd5 url(application-sprite.png) no-repeat -144px -739px;}
.paging .current-page>span{
  display: block;
  border: 1px solid #008fd5;
  height: 38px;
}

.clear-all {
  background: url(account-sprite.png) no-repeat -35px -129px;
  display: inline-block;
  width: 13px;
  height: 14px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  float: right;
  margin: 3px 0px 0px;
}
