@import "twitter/bootstrap/responsive";
@import "twitter/bootstrap/mixins";

$tahoma_family: Tahoma, Arial, sans-serif;
$arial_family: Arial, Tahoma, sans-serif;
$georgia_family: Georgia, Tahoma, Arial, sans-serif;
$verdana_family: Verdana, Arial, Tahoma, sans-serif;
$calibri_family: Calibri, Arial, Tahoma, sans-serif;
$hover_link: #008ad1;

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body.admin {
  padding: 50px 0px 0px;

  h1 {
    color: #11558c;
    font-size: 20px;
    font-family: $arial_family;
    margin: 0px 0px 15px;
  }

  h2 {
    font-family: $tahoma_family;
    font-size: 13px;
    line-height: normal;
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  #push{
    height: 60px;
  }

  #footer {
    background-color: #f5f5f5;
    padding: 20px 0px 0px;
    height: 40px;
  }

  // Categories

  .sortable-tree {
    ol {
      li {
        ol {
          li {
            a.show-link {
              background: #5bb75b;
              color: #FFF;
              text-shadow: none;
            }

            ol {
              li {
                a.show-link {
                  background: #faa732;
                  color: #FFF;
                  text-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }

  #save-order {
    position: fixed;
    top: 250px;
    right: 30px;
  }

  // Forms

  .bbf-form {
    fieldset {
      & > ul {
        margin: 0px;
      }
    }
  }

  .field-group_id, .field-room_id {
    margin: 0px;

    ul {
      margin: 0px;

      .accordion-group {
        border: 1px solid #cfcfcf;
        border-bottom: 0px;
        margin: 0px;
        @include border-radius(0px);

        &:last-child {
          border-bottom: 1px solid #cfcfcf;
        }

        .accordion-heading {
          background: #6e6e6e;
          border-bottom: 1px solid #cfcfcf;
          padding: 4px 5px;

          a {
            color: #FFF;
            font-weight: bold;
            display: block;
          }
        }
      }

      .accordion-inner {
        border: none;

        .child-category {
          float: left;
          margin: 0px 25px 0px 0px;

          input {
            float: left;
            margin: 4px 6px 0px 0px;
          }

          label {
            float: left;
            width: auto;
          }
        }
      }
    }
  }

  .field-group_category_ids {
    margin: 0px;

    ul {
      margin: 0px;

      .accordion-group {
        border: 1px solid #cfcfcf;
        border-bottom: 0px;
        margin: 0px;
        @include border-radius(0px);

        &:last-child {
          border-bottom: 1px solid #cfcfcf;
        }

        .accordion-heading {
          background: #6e6e6e;
          border-bottom: 1px solid #cfcfcf;
          padding: 4px 5px;

          a {
            color: #FFF;
            font-weight: bold;
            display: block;
          }
        }
      }

      .accordion-inner {
        border: none;

        .child-category {
          float: left;
          margin: 0px 25px 0px 0px;

          input {
            float: left;
            margin: 4px 6px 0px 0px;
          }

          label {
            float: left;
            width: auto;
          }
        }
      }
    }
  }

  .bbf-field {
    @include  clearfix();
  }

  .bbf-radio, .bbf-checkboxes {
    margin: 0px;

    li {
      float: left;
      margin: 0px 25px 0px 0px;

      input {
        float: left;
        margin: 4px 6px 0px 0px;
      }

      label {
        float: left;
        width: auto;
      }
    }
  }

  .fileupload, .bbf-checkboxes {
    .select2-container {
      display: none;
    }
  }

  #add-item {
    margin: 0px 0px 20px;
  }

  #mass-actions-select {
    label {
      display: none;
    }

    .bbf-editor {
      margin: 0px;
      width: 30%;
    }
  }

  td.checkbox {
    input[type="checkbox"] {
      float: none;
      margin: 0px;
    }
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  body.admin {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  background-image: none;
}

#flash-message-wrapper {
  padding: 20px;
}