@import "twitter/bootstrap/mixins";

input:focus::-webkit-input-placeholder{
  color: transparent!important;
}
input:focus::-moz-placeholder{
  color: transparent!important;
}
input:focus:-moz-placeholder{
  color: transparent!important;
}

/* General reset */
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url('../fonts/ptc55f_w.eot');
  src: local('PT Sans Caption'), url('../fonts/PTC55F_W.woff') format('woff'), url('../fonts/PTC55F_W.ttf') format('truetype'), url('../fonts/PTC55F_W.svg#PTSans-Caption') format('svg');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-weight: bold;
  src: url('../fonts/ptc75f_w.eot');
  src: local('PT Sans Caption Bold'), url('../fonts/PTC75F_W.woff') format('woff'), url('../fonts/PTC75F_W.ttf') format('truetype'), url('../fonts/PTC75F_W.svg#PTSans-CaptionBold') format('svg');
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/ptn57f_w.eot');
  src: local('PT Sans Narrow'), url('../fonts/PTN57F_W.woff') format('woff'), url('../fonts/PTN57F_W.ttf') format('truetype'), url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url('../fonts/ptn77f_w.eot');
  src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.woff') format('woff'), url('../fonts/PTN77F_W.ttf') format('truetype'), url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');
}
@font-face {
  font-family: 'open-sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open-sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  color: #4b5c66;
  font: 13px/16px "PT Sans", Arial, Helvetica, sans-serif;
  background: #fff;
  min-width: 1003px;
}
.inner-page{min-width: 1170px;}
img { border-style: none; }
a {
  text-decoration: none;
  color: #008fd5;
}
a:hover { text-decoration: underline; }
a:active{background-color: transparent;}
input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #000;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
input:focus{outline: none;}
header,
footer,
article,
section,
hgroup,
nav,
figure { display: block; }
figure {
  margin: 0;
  padding: 0;
}
/* general settings */
#wrapper{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.w1{
  width: 1170px;
  margin: 0 auto;
}
/* header */
#header {
  height: 42px;
  padding: 10px 0 13px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  background: #fff;
  position: relative;
}
.inner-page #header{
  margin: 0 -9999px;
  padding: 10px 9999px 13px;
}
#header .holder {
  width: 1000px;
  margin: 0 auto;
}
.inner-page #header .holder{
  width: 1170px;
  position: relative;
}
#header .holder:after {
  display: block;
  content: "";
  clear: both;
}
#header.add .holder { width: 1235px; }
/* logo */
.logo {
  float: left;
  width: 161px;
  height: 42px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(logo.png) no-repeat;
  margin: 0 105px 0 0;
}
.inner-page .logo{margin: 0 111px 0 -1px;}
.logo a {
  display: block;
  height: 100%;
}
/* main navigation */
#nav{
  float: left;
  padding-left: 0px;
}
#nav ul,
.footer-nav{
  margin: 0;
  padding: 14px 0 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}
#nav li,
.footer-nav li{
  float: left;
  margin-right: 44px;
}
#nav li a,
.footer-nav li a{
  color: #4b5c66;
  position: relative;
  display: block;
}
#nav li a:hover, #nav li.active a,
.footer-nav li a:hover, .footer-nav li.active a{
  color: #03b4ea;
  text-decoration: none;
}
#nav li a:hover:before,
#nav li.active a:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 32px;
  top: 100%;
}

#nav li.active a:after{
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  height: 32px;
  width: 22px;
  margin-left: -13px;
  background: url(application-sprite.png) no-repeat -74px -585px;
}

body.about #nav li.active a:after{
  background: url(application-sprite.png) no-repeat -78px -223px;
  width: 26px;
  height: 26px;
}

/* button login */
.btn-login{
  float: right;
  color: #e1e6e9;
  background: #008fd5;
  padding: 2px 6px 3px;
  margin: 12px 29px 0 0;
  font-size: 14px;
  line-height: 17px;
}
.btn-login:hover{text-decoration: none;}
.btn-login:active{background: #008fd5;}
/* frame */
.frame {
  float: right;
  width: 160px;
  text-align: right;
  position: relative;
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
}
.inner-page .frame{
  position: absolute;
  width: 160px;
  top: 2px;
  right: 145px;
  padding-right: 20px;
  display: none;
}

.frame li{
  float: right;
  width: 27px;
  height: 50px;
  margin-left: 24px;
  position: relative;
}
.frame li a{
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.frame li:hover, .frame li.active{background: url(application-sprite.png) no-repeat -110px -422px;}
.inner-page .frame li:hover, .inner-page .frame li.active{background-position: -110px -424px;}
.frame .log-out{
  width: 12px;
  margin-left: 23px;
  padding:0 3px;
}
#header .edit a {background: url(application-sprite.png) no-repeat -45px -1px;}
#header .account a{background: url(application-sprite.png) no-repeat -14px 5px;}
#header .log-out input[type=submit] {
  background: url(application-sprite.png) top center no-repeat;
  border: none;
  width: 13px;
  text-indent: -10000px;
  cursor: pointer;
  margin: 3px 0px 0px;
  display: block;
  background-position: -106px 0px;
}
.inner-page .frame .log-out{
  padding: 0 5px;
  margin-left: 18px;
}
.inner-page #header .log-out a{background-position: -107px 4px;}
/* main */
#main{
  width: 100%;
  background: #fff;
  padding-top: 18px;
  border-bottom: 1px solid #eee;
}
/* product-from */
.product-form {
  width: 1000px;
  margin: 0 auto 83px;
}
.product-form.add{margin-bottom: 4px;}
.product-form:after {
  display: block;
  clear: both;
  content: "";
}
/* content */
#content {
  width: 746px;
  float: left;
}
.last-page #content{width: 745px;}
.form-container { margin-bottom: 25px; }
.form-container:after {
  display: block;
  clear: both;
  content: "";
}
.options.add li{margin-bottom: 15px;}
.form-container .sample-download {
  display: inline-block;
  width: 142px;
  height: 58px;
  border: 1px solid #ccc;
  background: url(application-sprite.png) no-repeat 46px -297px;
  text-align: center;
  padding: 99px 0 6px;
  overflow: hidden;
  color:#4b5c66;
}
.form-container .download-wrap {
  float: left;
  width: 174px;
  padding-top: 1px;
}
.download-wrap .chk-area{margin: 2px 8px 0 0;}
.form-container ul {
  float: left;
  width: 300px;
  margin: 0 0 0 17px;
  padding: 4px 0 0;
  list-style: none;
}
.add .form-container ul{
  margin: 0;
  padding: 0;
}
.form-container.add ul { width: 746px; }
.form-container .select-list li{margin-bottom: 7px;}
.form-container li:after,
.content-message .file li:after{
  display: block;
  clear: both;
  content: "";
}
.form-container li label{
  font-size: 16px;
  font-weight: bold;
}
.select-list .col{
  float: left;
  background: #fff;
}
.form-container .other-options {
  float: right;
  width: 191px;
  color: #4b5c66;
  font-size: 14px;
}
.other-options input[type="text"],
.other-options select {
  width: 181px;
  height: 19px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  color: #4b5c66;
  font-size: 12px;
  padding: 2px 4px;
}
.other-options input[type="text"].meter {
  background: url(application-sprite.png) no-repeat 168px -454px;
  padding: 3px 28px 1px 2px;
  width: 159px;
}
.product-form .info {
  background: #f5f5f5;
  padding: 12px 15px 4px 31px;
  border-top: 1px solid #ccc;
  margin-bottom: 34px;
  line-height: 18px;
}
.product-form .info.add1{margin-bottom: 28px;}
.product-form.add .info{margin-bottom: 29px;}
.product-form .info p { margin: 0 0 10px; }
.form-container.add .add,
.form-container.add .delete,
.form-container.add .add-task,
.form-container.add .delete-option {
  float: right;
  margin-left: 6px;
}
.content {
  overflow: hidden;
  padding: 20px 15px 39px 28px;
  border-color: #ccc #686868;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
.select-list .selected .content{
  width: 525px;
  padding: 8px 31px 9px;
}
.select-list .selected .content.add1{width: auto;}
.select-list .selected .content.add1 .image-holder{width: 200px;}
.content .files li,
.content-message .files li,
.new-message .files li{
  line-height: 20px;
  margin-bottom: 1px;
}
.content .files li a,
.content-message .files li a,
.new-message .files li a{
  color: #4b5c66;
  overflow: hidden;
}
.content .image-holder {
  float: left;
  width: 148px;
  height: 148px;
  border: 1px solid #ccc;
  margin-right: 9px;
}
.content fieldset { overflow: hidden; }
.content .delete-job {
  float: right;
  text-decoration: none;
  background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
  background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -o-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: linear-gradient(to bottom, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  border: 1px solid #989898;
  padding: 3px 10px 3px 25px;
  position: relative;
  color: #4b5c66;
}
.content .delete-job:before{
  content:"";
  position: absolute;
  left:5px;
  top:5px;
  background: url(application-sprite.png) no-repeat -35px -129px;
  width: 15px;
  height: 15px;
}
.content .row {
  overflow: hidden;
  margin-bottom: 8px;
}
.content textarea {
  width: 530px;
  height: 73px;
  border: 1px solid #ccc;
  padding: 6px 0 0 6px;
  margin-bottom: 7px;
  resize:none;
}
.content .images {
  float: left;
  margin: 0;
  padding: 3px 0 0 3px;
  list-style: none;
}
.content .images li {
  float: left;
  margin-right: 19px;
}
.content .images img {
  float: left;
  margin-right: 6px;
}
.images a { line-height: 26px;}
.content .row input[type="text"] {
  float: left;
  width: 348px;
  height: 19px;
  border: 1px solid #ccc;
  background: none;
  padding: 2px 7px;
}
.form-container.add .add,
.form-container.add .delete,
.form-container.add .add-task,
.form-container.add .delete-option,
.form-container.add .edit-task,
.lightbox footer .add-task{
  text-decoration: none;
  background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
  background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -o-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: linear-gradient(to bottom, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  border: 1px solid #989898;
  padding: 3px 0 3px 25px;
  width: 99px;
  position: relative;
  color: #4b5c66;
  font-size: 12px;
  font-weight: bold;
}
.form-container.add .add,
.form-container.add .delete {
  width: 21px;
  height: 20px;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0;
}
.form-container.add .add:before,
.form-container.add .delete:before,
.form-container.add .add-task:before,
.form-container.add .delete-option:before,
.form-container.add .add:before,
.form-container.add .add-task:before,
.form-container.add .delete:before,
.form-container.add .delete-option:before {
  background: url(application-sprite.png) no-repeat -87px 4px;
  width: 12px;
  height: 16px;
  content:"";
  position: absolute;
  left:5px;
  top:5px;
}
.form-container.add .add:before, .form-container.add .add-task:before{background-position: -73px 0}
.form-container.add .delete:before{background-position: -88px 4px}
.form-container.add .item {
  float: left;
  width: 606px;
  font-size: 16px;
  padding-top: 2px;
  background: url(bg-dot1.png) repeat-x 0 14px;
}
.form-container.add .item .price {
  float: right;
  color: #e1e6e9;
  background: #fff;
  padding-left: 10px;
}
.form-container.add li.selected .price {
  color: #008fd5;
  font-weight: bold;
}
.form-container.add label,
.form-container.add .unit {
  color: #4b5c66;
  font-weight: bold;
}
.form-container.add .selected .unit { color: #008fd5; }
.product-form .tabset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-form .tabset li { margin-bottom: 4px; }
.product-form .tabset a.active{
  background: #008fd5;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.product-form .tabset a:hover{text-decoration: none;}
.product-form .tabset li .active span {
  font-weight: bold;
  color: #fff;
}
.product-form .tabset li span {
  font-weight: normal;
  display: inline-block;
  margin-right: 12px;
  color: #b8c3c9;
}
.product-form .tabset a {
  color: #4b5c66;
  font-weight: normal;
  display: block;
  padding: 5px 2px;
  position: relative;
}
.product-form .tabset a.active:before{
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  width: 12px;
  height: 26px;
  background: url(application-sprite.png) no-repeat -86px -96px;
}
#content h2 {
  margin: 0 0 17px 1px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}
.selecter {position: relative}
.selecter:after {
  display: block;
  content: "";
  clear: both;
}
.selecter .slide {
  position: absolute;
  z-index: 55;
  left: 0;
  top: 32px;
  background: #fff;
  width: 744px;
  border: 1px solid #89949b;
}
.selecter .slide:before {
  width: 27px;
  height: 20px;
  content: "";
  position: absolute;
  top: -9px;
  right: 46px;
  background: url(application-sprite.png) no-repeat -106px -120px;
}
.selecter .slide .note {
  background: #f5f5f5;
  display: block;
  padding: 10px 10px 10px 30px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.select-list .content { border: none; }
.selecter .slide footer {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 5px;
}
.selecter .btn-save,
.btn-pay a{
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  padding: 0 26px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}
.selecter .btn-cancel,
.selecter .btn-delete {
  float: right;
  height: 23px;
  line-height: 23px;
  border: 1px solid #999;
  -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  color: #414241;
  font-size: 14px;
  padding: 0 32px;
  text-decoration: none;
  background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
  background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -o-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: linear-gradient(to bottom, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
}
.selecter .btn-delete {
  float: left;
  margin-left: 100px;
  font-weight: bold;
  position: relative;
}
.selecter .btn-delete:before {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 9px;
  top: 5px;
  background: url(application-sprite.png) no-repeat -35px -129px;
  content: "";
}
.selecter .content .image-holder {
  border: none;
  height: auto;
  width: 250px;
}
.selecter .content .ico-delete {
  display: inline-block;
  background: url(application-sprite.png) no-repeat -35px -129px;
  height: 13px;
  width: 11px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 5px 0 0 15px;
}
.selecter .image-holder ul img {
  float: left;
  margin-right: 6px;
}
.selecter .content textarea {
  float: right;
  width: 432px;
  height: 120px;
  resize:none;
}
.selecter .attachment {
  float: left;
  background: url(application-sprite.png) no-repeat 0 -244px;
  padding-left: 23px;
  font-size: 14px;
  margin-top: 2px;
  color: #1b92c8;
}
.content .detail {
  float: right;
  width: 256px;
  line-height: 17px;
  font-style: italic;
}
.content .detail p{margin: 0;}
.form-container .edit-task { float: right; }
.form-container .edit-task:before {
  background: url(application-sprite.png) no-repeat -66px -101px;
  width: 17px;
  height: 17px;
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
}
.content ul.files {
  float: left;
  width: 230px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .files .img-wrap,
.content-message .files .img-wrap,
.new-message .files .img-wrap{
  float: left;
  width: 33px;
  margin-right: 7px;
  text-align: right;
}
/* hide original element */
.jcf-hidden {
  position: absolute !important;
  left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */
.chk-area {
  margin: 1px 8px 0 0;
  float: left;
  width: 22px;
  height: 19px;
  background: url(application-sprite.png) no-repeat -52px -128px;
}
.login-form .chk-area{margin-right: 6px;}
.chk-checked { background: url(application-sprite.png) no-repeat -78px -128px; }
.chk-disabled { background: #eee; }
.jcf-label-disabled { color: #ccc; }
/* custom radio styles */
.rad-area {
  margin: 1px 4px 0 0;
  float: left;
  width: 18px;
  height: 16px;
  background: url(application-sprite.png) no-repeat -52px -129px;
}
.rad-checked { background: url(application-sprite.png) no-repeat -79px -129px; }
.rad-disabled { background: #eee; }
/* custom select styles */
.select-area {
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  cursor: default;
  height: 23px;
  float: left;
  width: 190px !important;
  margin-bottom: 11px;
}
.select-area .center {
  white-space: nowrap;
  padding: 3px 5px 5px;
  display: block;
}
.select-disabled { background: #eee; }
.select-area .select-opener {
  background: #89949b url(application-sprite.png) no-repeat -46px -62px;
  position: absolute;
  height: 26px;
  width: 26px;
  right: 0;
  top: 0;
}
.row.open-close {
  position: relative;
  margin-bottom: 10px;
}
.row.open-close:after {
  display: block;
  clear: both;
  content: "";
}
.row.open-close input[type="text"] {
  float: left;
  width: 156px;
  border-right: 0;
  margin: 0;
}
.ui-datepicker-trigger {
  float: right;
  width: 26px;
  height: 25px;
  background: #89949b url(application-sprite.png) no-repeat -114px -86px;
  text-indent: -9999px;
  overflow: hidden;
  border:0;
}
.row.open-close .slide {
  position: absolute;
  left: 0;
  top: 22px;
  width: 189px;
  background: #fff;
  border: 1px solid #89949b;
  z-index: 5;
}
.row.open-close header {
  overflow: hidden;
  text-align: center;
  padding: 15px;
}
.row.open-close .calendar {
  margin: 0;
  padding: 0 10px 0 23px;
  list-style: none;
  width: auto;
  font-size: 14px;
}
.row.open-close .month {
  color: #4b5c66;
  font-size: 21px;
}
.row.open-close .prev,
.row.open-close .next {
  width: 16px;
  height: 25px;
  background: url(application-sprite.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.row.open-close .prev {
  float: left;
  background-position: -101px -64px;
}
.row.open-close .next {
  float: right;
  background-position: -118px -64px;
}
.calendar li {
  float: left;
  width: 15px;
  color: #89949b;
  margin: 0 7px 6px 0;
}
.ui-datepicker-calendar .past a { color: #e1e6e9; }
.ui-datepicker-calendar .ui-datepicker-today a{color:#89949b !important;}
.calendar .today { font-weight: bold; }
.select-options {
  position: absolute;
  background: #fff;
  z-index: 2000;
}
.select-options .drop-holder {
  border: 1px solid #89949b;
  overflow: hidden;
  height: 1%;
  padding-bottom: 5px;
}
.select-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #4b5c66;
}
.select-options ul li {
  width: 100%;
  float: left;
}
.select-options ul a {
  text-decoration: none;
  padding: 5px 10px 5px 25px;
  display: block;
  cursor: default;
  color: #000;
  height: 1%;
  position: relative;
}
.select-options .item-selected a:before {
  content: ".";
  position: absolute;
  left: 9px;
  top: -6px;
  font-size: 35px;
  color: #4b5c66;
}
/* select options optgroup example styles */
.select-options .optgroup { clear: both; }
.select-options .optgroup strong {
  display: block;
  padding: 5px;
}
.select-options .optgroup ul a { padding-left: 30px; }
/* sidebar */
#sidebar {
  width: 226px;
  float: right;
}
#sidebar .holder{position: fixed;}
.last-page #sidebar .holder{position: static;}
#sidebar h2{
  margin: 0 0 21px;
  font-size: 20px;
  line-height: 21px;
  color: #008fd5;
  font-weight: 300;
}
#sidebar .tabset{margin-bottom: 22px;}
/* specification */
.specification {padding-left: 2px;}
.specification.add{margin-bottom: -6px;}
.last-page .specification{
  border-bottom: 1px solid #e1e6e9;
  padding: 0 0 8px 2px;
  margin: 0 0 4px;
}
.specification dl { margin: 0 0 13px; }
.specification dt {
  color: #b8c3c9;
  font-size: 12px;
  float: left;
  margin-right: 3px;
  text-transform: uppercase;
}
.specification dd {
  margin: 0 0 2px;
  overflow: hidden;
}
.price-list {
  margin: 0 0 11px;
  padding: 0;
  list-style: none;
}
.last-page .price-list{margin: 0 0 11px -2px}
.price-list li {background: url(bg-dot.png) repeat-x 0 12px}
.price-list li:after {
  display: block;
  clear: both;
  content: "";
}
.price-list .item {
  float: left;
  background: #fff;
}
.price-list .price {
  color: #008fd5;
  float: right;
  background: #fff;
  padding: 2px 0 0 5px;
  margin-right: -2px;
}
.last-page .price-list .price{
  margin-right: -1px;
  min-width: 25px;
  text-align: right;
}
#sidebar.add .title { font-size: 12px; }
#sidebar.add span { font-size: 12px; }
.total {padding: 4px 0 0 1px;}
.total .row { margin-bottom: 13px; }
.total.add .row{margin-bottom: 22px;}
.total .row:after {
  display: block;
  clear: both;
  content: "";
}
.total a.order{
  padding: 0;
  margin: 0;
  width: 137px;
  text-align: center;
}
.total .title {
  float: left;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  width: 140px;
}
.total .price {
  float: right;
  font-size: 20px;
  color: #008fd5;
  margin-right: -3px;
}
.last-page .total .price{
  padding: 2px 0 0;
  margin: 0;
}
/* home page */
.inner-page #main{
  padding-top: 10px;
  position: relative;
  background: none;
}
//.home-page #main{overflow: hidden;}
.home-page #main{overflow: hidden;}
/* intro */
.intro{
  position: relative;
  width: 100%;
}
.task-box{
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 162px;
  left: 50%;
  margin-left: -585px;
  z-index: 110;
  font-size: 13px;
  line-height: 24px;
  color: #fff;
  width: 630px;
  padding: 37px 70px 44px;
}
.task-box .title{
  display: block;
  font-size: 36px;
  line-height: 38px;
  margin: 0 0 -2px;
  font-weight: normal;
}
.task-box .sub-title{
  display: block;
  font-size: 24px;
  line-height: 36px;
  color: #48b7ed;
  margin: 0 0 10px;
}
.task-box p{margin: 0 0 26px;}
/* task form */
.task-form{
  width: 630px;
  margin: 0;

  label {
    display: none;
  }
}
.task-form input[type="text"],
.task-form input[type="email"]{
  float: left;
  font: 13px/17px "PT Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  background: url(application-sprite.png) no-repeat 14px -635px;
  padding: 7px 10px 8px 36px;
  width: 200px;
  height: 35px;
  margin: 0 29px 0 0;
  border: 1px solid #fff;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-appearance: none;
}
.task-form input[type="text"].name-field{
  background-position: 11px -668px;
  padding: 7px 10px 8px 32px;
  width: 171px;
}
.task-form input[type="text"]:focus, .task-form input[type="email"]:focus{outline: none}
.task-form input::-webkit-input-placeholder{color: #fff}
.task-form textarea::-webkit-input-placeholder{color: #fff}
.task-form input:-moz-placeholder{color: #fff}
.task-form input::-moz-placeholder{
  color: #fff;
  opacity: 1;
}
.task-form input.placeholder{color: #fff;}
.task-form input[type="submit"]{
  font: 12px/36px Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url(application-sprite.png) no-repeat -25px -488px;
  width: 171px;
  height: 35px;
  padding: 0 0 0 11px;
  margin: 0;
}
.task-form input[type="submit"]:hover{cursor: pointer;}
/* slider */
.slideshow {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.slideshow .slide{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
}
.slideshow .slide.active{z-index: 2}
.slideshow .slide-holder{
  margin: 0 -9999px 0 -9985px;
  text-align: center;
}
.slideshow img{vertical-align: top}
/* section */
.section{
  padding: 77px 0 60px;
  font-size: 14px;
  line-height: 24px;
  color: #89949b;
}
.with-bg{
  margin: 0 -9999px;
  padding: 75px 9999px 20px;
  background: #b8c3c9;
  color: #e1e6e9;
}
.section h2{
  font-size: 30px;
  line-height: 32px;
  color: #4b5c66;
  text-align: center;
  margin: 0 0 5px;
  font-weight: normal;
  padding-left: 5px;
}
.section .text-description{
  display: block;
  text-align: center;
  margin: 0 0 20px;
  padding-left: 7px;
}
.section h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #2d3e52;
  margin: 0 0 15px;
}
.with-bg h2, .with-bg h3{color: #fff;}
.section p{margin:0 0 24px;}
/* services section */
.services h2{color: #4b5c66;}
.services-list{
  margin: 0 -20px;
  padding: 25px 0 3px;
  list-style: none;
  text-align: center;
}
.services-list li{
  display: inline-block;
  vertical-align: top;
  width: 286px;
  margin: 0 5px 15px;
}
.services-list .icon{margin: 0 0 24px;}
.services-list .icon img{vertical-align: top;}
.services-list h3 a{color: #4b5c66;}
.services-list .btn-more{
  font: 13px/15px Arial, Helvetica, sans-serif;
  background: #b8c3c9;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 12px 17px 11px;
  margin-left: 1px;
}
.services-list .btn-more:hover{text-decoration: none;}
/* discover section */
.discover{
  background: #b8c3c9 url(bg-section-01.png) no-repeat 50% 0;
  height: 274px;
}
.discover h2{
  margin: 0 0 7px 8px;
  word-spacing: -1px;
}
.discover .text-description{padding-left: 5px;}
.discover-list{
  margin: 0 -20px;
  padding: 27px 0 0;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.discover-list li{
  display: inline-block;
  width: 380px;
  margin: 0 8px;
  vertical-align: top;
}
.discover-list h3{
  font-size: 20px;
  line-height: 22px;
}
/* advantages section */
.advantages{padding: 75px 0 35px;}
.advantages h2{color: #2d3e52;}
.advantages .text-description{color: #9d9fa2;}
/* advantages list */
.advantages-list,
.modeling-list{
  margin: 0 auto;
  padding: 20px 0 0;
  list-style: none;
  overflow: hidden;
  width: 1260px;
}
.advantages-list li,
.modeling-list li{
  display: inline-block;
  vertical-align: top;
  width: 396px;
  margin: 0 0 37px 0;
  min-height:70px;
}
.advantages-list .icon,
.modeling-list .icon{
  display:inline-block;
  vertical-align:middle;
  margin:0 26px 0 0;
}
.advantages-list img, .modeling-list img{vertical-align:top;}
.advantages-list .description,
.modeling-list .description{
  vertical-align:middle;
  display:inline-block;
  width:295px;
  color: #9d9fa2;
}
.advantages-list p, .modeling-list p{margin: 0;}
.feature-works{
  padding: 74px 9999px 48px;
  height: 363px;
  background: #b8c3c9 url(bg-section-02.png) no-repeat 50% 0;
}
.feature-works h2{margin: 0 0 7px;}
/* project gallery */
.cycle-gallery{
  position: relative;
  width: 1170px;
  height: 170px;
  padding: 30px 0 80px;
  margin: 0px auto;
}
.cycle-gallery .mask{
  position: relative;
  overflow: hidden;
  width: 1170px;
  height: 170px;
}
.cycle-gallery .slideset{
  width: 99999px;
  float: left;
}
.cycle-gallery .slide{
  width: 1170px;
  height: 170px;
  float: left;
  overflow: hidden;
}
.cycle-gallery .slide ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 1250px;
}
.cycle-gallery .slide li{
  float: left;
  margin-right: 30px;
}
.cycle-gallery .slide img{vertical-align: top;}
.cycle-gallery .pagination,
.reviews-gallery .pagination,
.scheme-gallery .pagination{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 9px;
  z-index: 100;
  line-height: 13px;
}
.cycle-gallery .pagination ul,
.reviews-gallery .pagination ul,
.scheme-gallery .pagination ul{
  overflow: hidden;
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
  text-align: center;
}
.cycle-gallery .pagination li,
.reviews-gallery .pagination li,
.scheme-gallery .pagination li{
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
}
.cycle-gallery .pagination a,
.reviews-gallery .pagination a,
.scheme-gallery .pagination a{
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #b4bfc5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
}
.cycle-gallery .pagination a:hover,
.cycle-gallery .pagination .active a,
.reviews-gallery .pagination a:hover,
.reviews-gallery .pagination .active a,
.scheme-gallery .pagination a:hover,
.scheme-gallery .pagination .active a{
  width: 15px;
  height: 15px;
  border: none;
  background: #fff;
}
/* reviews */
.reviews{padding: 66px 0 66px;}
/* reviews gallery */
.reviews-gallery {
  position: relative;
  padding: 8px 0 38px;
}
/* slide with review */
.reviews-gallery .slide {
  position: absolute;
  z-index: 1;
}
.reviews-gallery .slide.active {z-index: 2;}
.reviews-gallery .pagination{bottom: 5px;}
.reviews-gallery .pagination ul{padding: 0 7px 0 0;}
.reviews-gallery .pagination a{border-color: #4f606a;}
.reviews-gallery .pagination a:hover, .reviews-gallery .pagination .active a{background: #89949b;}
.reviews blockquote{
  margin: 0 100px;
  text-align: center;
}
.reviews q {
  quotes: none;
  margin: 0 0 12px;
  display: block;
  overflow: hidden;
}
q:before, q:after{
  content: '';
  clear: both;
  margin: 0 3px;
}
.reviews cite{
  display: block;
  margin: 0;
  font-style: normal;
}
/* sepvices page */
/* steps */
.steps{padding: 65px 0 28px;}
.steps ul{
  margin: 0px auto;
  padding: 57px 0 0 38px;
  list-style: none;
  overflow: hidden;
  width: 1200px;
  font-size: 13px;
  line-height: 24px;
  color: #89949b;
  position: relative;
}
.steps ul:before{
  content: '';
  position: absolute;
  right: 68px;
  bottom: 80px;
  top: 60px;
  width: 0;
  border-left: 1px dashed #b8c3c9;
}
.steps ul:after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 68px;
  background: #fff;
  z-index: 10;
}
.steps ul p{margin: 0;}
.steps ul li{
  width: 272px;
  display: inline-block;
  vertical-align: top;
  padding: 0 62px 38px 101px;
  position: relative;
  margin: 0 0 52px -38px;
}
.steps ul li.bypassing{border-bottom: 1px dashed #e1e6e9;}
.steps ul li.bypassing:before,
.steps ul li.bypassing:after{
  content: '';
  position: absolute;
  left: 0;
  top: 80px;
  bottom: -1px;
  width: 36px;
  border-right: 1px dashed #e1e6e9;
  background: #fff;
  z-index: 5;
}
.steps ul li.bypassing:after{
  width: 0;
  left: auto;
  right: -1px;
}
.steps ul li.third-step:after,
.steps ul li.fourth-step:after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 47px;
  width: 90px;
  background: #fff;
  z-index: 100;
}
.steps ul li.fourth-step:after{
  top: auto;
  bottom: 0;
  height: 127px;
  width: 68px;
}
.steps ul img{
  vertical-align: top;
  margin: 13px 0 0 -100px;
  float: left;
}
.steps h3{
  padding: 0 0 0 31px;
  border-bottom: 1px dashed #b8c3c9;
  margin: 0 -23px 16px -31px;
  position: relative;
  height: 47px;
}
.steps h3>span{
  display: block;
  overflow: hidden;
  color: #4b5c66;
}
.steps h3:after,
.steps .bypassing h3:before{
  content: "";
  border-bottom: 6px solid transparent;
  border-left: 10px solid #b8c3c9;
  border-top: 5px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: -2px;
  bottom: -6px;
}
.steps ul li.third-step h3:after{content: none;}
.steps .bypassing h3:before{
  border-right: 6px solid transparent;
  border-bottom: 10px solid #e1e6e9;
  border-left: 5px solid transparent;
  bottom: -45px;
  right: -42px;
  z-index: 10;
}
.steps .to-left h3{
  padding: 0 0 0 27px;
  margin: 0 -26px 17px -27px;
  height: 45px;
}
.steps .to-left h3:after{
  right: auto;
  left: 0;
  border-left: none;
  border-right: 10px solid #b8c3c9;
}
.steps .to-left img{margin-top: 9px;}
/* design and modeling sections */
.design-section,
.modeling{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 0 0 1px #ededed;
  -moz-box-shadow: 0 0 1px #ededed;
  box-shadow: 0 0 1px #ededed;
  background: #fafafa;
  margin: 0px auto;
  padding: 81px 0px 25px;

  @include clearfix();

  .design-section-content {
    width: 1168px;
    margin: 0px auto;
  }

  .modeling-section-content {
    width: 1170px;
    margin: 0px auto;
  }
}
.design-section h2{
  color: #4b5c66;
  margin: 0 0 5px;
  padding: 0 0 0 5px;
}
.design-section .text-description{
  padding-left: 5px;
  margin: 0 0 77px;
}
.design-section img{vertical-align: top;}
.img-design{margin: 0 0 60px 1px;}
/* design list */
.design-list{
  margin: 0;
  padding: 16px 0 0;
  list-style: none;
  width: 1230px;
  overflow: hidden;
  color: #4b5c66;
}
.design-list li{
  width: 275px;
  display: inline-block;
  vertical-align: top;
  padding-left: 100px;
  margin: 0 22px 10px 0;
}
.design-list li>img{
  float: left;
  margin: 4px 0 0 -100px;
}
.design-list h3{color: #4b5c66;}
.design-list p{margin: 0 0 10px;}
/* scheme section */
.scheme-section {
  margin: 0px auto;
  padding: 74px 0 70px;
  width: 1170px;
}
.scheme-holder{
  overflow: hidden;
  padding: 27px 0 0;
}
.scheme-holder .column{
  float: left;
  width: 578px;
}
.scheme-holder .column-right{float: right;}
.scheme-holder h3{
  margin: 0 0 43px;
  color: #4b5c66;
}
/* scheme list */
.scheme-list{
  counter-reset:section;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #89949b;
}
.scheme-list:after {
  content:"";
  display:block;
  clear:both;
}
.scheme-list>li {
  counter-increment:section;
  height:1%;
  overflow:hidden;
  padding: 0 0 12px;
}
.scheme-list>li:before {
  float:left;
  text-align:center;
  content: counter(section) ".";
  margin-right: 3px;
}
/* scheme gallery */
.scheme-gallery{
  position: relative;
  width: 578px;
  height: 593px;
  padding: 10px 0 38px;
  margin: 0 0 57px;
}
.scheme-gallery .mask{
  position: relative;
  overflow: hidden;
  width: 578px;
  height: 593px;
}
.scheme-gallery .slideset{
  width: 99999px;
  float: left;
}
.scheme-gallery .slide{
  width: 578px;
  height: 593px;
  float: left;
}
.scheme-gallery .img-holder{
  text-align:center;
  width: 578px;
  height: 593px;
  white-space:nowrap;
}
.scheme-gallery .img-holder:after{
  content:'';
  display:inline-block;
  height:100%;
  width:1px;
  overflow:hidden;
  margin:0 0 0 -7px;
  vertical-align:middle;
}
.scheme-gallery .img-frame{
  vertical-align:middle;
  display:inline-block;
  white-space:normal;
}
.scheme-gallery .pagination{
  position: absolute;
  left: 0;
  bottom: 5px;
}
.scheme-gallery .pagination ul{padding: 0 16px 0 0;}
.scheme-gallery .pagination a{border-color: #4b5c66;}
.scheme-gallery .pagination a:hover, .scheme-gallery .pagination .active a{background: #89949b;}
/* download button */
.btn-download{
  padding: 0 27px 0 0;
  text-align: center;
}
.btn-download a{
  display: inline-block;
  vertical-align: top;
  background: #89949b;
  font: 13px/15px Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 11px 10px 12px;
  width: 251px;
}
.btn-download a:hover{text-decoration: none;}
/* modeling section */
.modeling{padding: 77px 0px 54px;}
.modeling-holder{
  overflow: hidden;
  padding: 29px 0 0;
}
/* image model */
.img-model{
  width: 570px;
  float: right;
  padding: 14px 0 0;
  text-align: center;
}
.img-model img{vertical-align: top;}
/* modeling list */
.modeling-list{
  width: 570px;
  float: left;
  padding: 17px 0 0;
}
.modeling-list li{
  display: block;
  margin: 0 0 44px;
  width: auto;
}
.modeling-list .icon{margin: 10px 25px 0 0;}
.modeling-list .description{
  width: 460px;
  line-height: 18px;
}
.modeling-list h3{
  margin: 0 0 18px;
  color: #4b5c66;
}
/* aside bottom */
.aside{
  width: 100%;
  background: #4b5c66;
  margin: 0 auto;
  padding: 65px 0px 59px;
  color: #b8c3c9;
  font-size: 14px;
  line-height: 24px;

  @include clearfix();

  .aside-content {
    width: 1220px;
    margin: 0px auto;
  }
}
.aside .box{
  width: 270px;
  float: left;
  margin-right: 30px;
}
.aside .box>strong{
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 20px;
  color: #fff;
  padding: 0 0 30px;
  border-bottom: 1px solid #5d6d77;
  position: relative;
}
.aside .box>strong:after{
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 50px;
  border-bottom: 1px solid #96aabc;
}
.aside .box p{margin: 0 0 10px;}
/* contacts info */
.aside address{
  font-style: normal;
  color: #fff;
  margin: 0 0 26px;
}
.aside address ul{
  margin: 0;
  padding: 16px 0 0;
  list-style: none;
}
.aside address li{
  padding: 0 0 6px 20px;
  position: relative;
}
.aside address li:before{
  content: '';
  position: absolute;
  left: -1px;
  top: 6px;
  height: 16px;
  width: 16px;
  background: url(application-sprite.png) no-repeat -185px -233px;
}
.aside address li.tel:before{background-position: -185px -263px;}
.aside address li.email:before{background-position: -185px -293px;}
.aside address li.url:before{background-position: -185px -323px;}
.aside address a{color: #fff;}
/* social networks */
.social-networks{
  padding: 0 0 0 9px;
  margin: 0;
  list-style: none;
  overflow: hidden;
  line-height: 16px;
}
.social-networks li{
  float: left;
  margin: 0 20px 15px 0;
}
.social-networks a{
  width: 16px;
  height: 17px;
  display: block;
  background: url(application-sprite.png) no-repeat 0 -533px;
  text-indent: -9999px;
  overflow: hidden;
}
.social-networks li a.linkedin {
  background-position: 0 -533px;
  margin-top: 3px;
}
.social-networks li a.vimeo {
  width: 21px;
  height: 18px;
  background-position: -37px -533px;
}
.social-networks li a.dribbble{
  width: 19px;
  height: 19px;
  background-position: -78px -533px;
}
.social-networks li a.twitter{
  width: 26px;
  height: 17px;
  background-position: -114px -533px;
  margin-top: 3px;
}
.social-networks li a.facebook{
  width: 12px;
  height: 17px;
  background-position: -161px -533px;
  margin-top: 3px;
}
.social-networks li a.vk {
  width: 22px;
  height: 22px;
  background-position: -25px -453px;
}
.social-networks li a.instagram {
  width: 24px;
  height: 22px;
  background-position: -53px -453px;
}
/* posts */
.aside .posts>strong{padding-right: 75px;}
/* posts carousel */
.carousel{
  position: relative;
  padding: 6px 0 0;
  width: 273px;
}
.carousel .mask{
  position: relative;
  overflow: hidden;
  width: 273px;
}
.carousel .slideset{
  width: 99999px;
  float: left;
}
.carousel .slide {
  width: 273px;
  float: left;
}
.carousel .btn-prev,
.carousel .btn-next{
  position: absolute;
  top: -75px;
  right: 41px;
  width: 30px;
  height: 30px;
  border: 1px solid #b8c3c9;
  text-indent: -9999px;
  overflow: hidden;
  background: url(application-sprite.png) no-repeat -113px -565px;
}
.carousel .btn-next{
  right: 3px;
  background-position: -159px -565px;
}
.carousel ul{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}
/* post */
.carousel li{
  padding: 4px 0 20px 84px;
  overflow: hidden;
}
.carousel .img-holder{
  float: left;
  margin: -2px 0 0 -84px;
}
.carousel img{vertical-align: top;}
.carousel li>strong{
  display: block;
  font-weight: normal;
}
.carousel a{color: #fff;}
/* flickr gallery */
.flickr{
  margin: 0;
  padding: 8px 0;
  list-style: none;
  width: 300px;
  overflow: hidden;
}
.flickr li{
  float: left;
  margin: 0 7px 17px 0;
}
.flickr li img{vertical-align: top;}
/* account button */
.btn-account{
  padding-left:3px;
  text-align: center;
}
.btn-account a{
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
  color: #e1e6e9;
  border: 1px solid #e1e6e9;
  padding: 8px 26px 9px;
}
.btn-account a:hover{text-decoration: none;}
/* twitter widget */
.twitter-widget{
  margin: 0;
  padding: 0 5px 0 0;
  list-style: none;
  color: #97abbd;
}
.twitter-widget li{
  margin: 0 0 36px;
  text-indent:20px;
  position: relative;
}
.twitter-widget li:after{
  content: '';
  position: absolute;
  left: -1px;
  top: 7px;
  height: 11px;
  width: 13px;
  background: url(application-sprite.png) no-repeat -181px -533px;
}
.twitter-widget a{color: #fff;}
.aside .twitter-widget p{margin: 0;}
/* last page */
.last-page #main{border-bottom: none;}
/* general info */
.product-form .general-info{padding: 12px 21px 37px}
.general-info>dl,
.general-info>dl dl{
  margin: 0;
  line-height: 24px;
}
.general-info>dl>dt{
  display: block;
  color: #008fd5;
  text-transform: uppercase;
  margin: 0;
}
.general-info > dl > dd {
  display: block;
  margin: 0 0 24px;
  padding: 0;
}
.general-info>dl a{
  color: #4b5c66;
  text-decoration: underline;
}
.general-info>dl a:hover{text-decoration: none;}
.general-info>dl dl dt,
.general-info>dl dl dd{
  display: inline;
  margin: 0;
  vertical-align: top;
}
.download{padding: 3px 0 0;}
.download a{text-decoration: underline;}
.download a:hover{text-decoration: none;}
/* chat */
.chat{
  margin: 0;
  list-style: none;
  padding: 6px 0 30px;
  line-height: 18px;
}
/* one message */
.chat>li{
  padding: 0 0 10px;
  width: 745px;
}
.chat>li:after{
  content: '';
  display: block;
  clear: both;
}
/* author */
.author{
  width: 117px;
  float: left;
  padding: 11px 68px 0 0;
  text-align: right;
}
/* author photo */
.author img{
  float: right;
  margin: -11px -68px 0 0;
  border: 1px solid #4b5c66;
}
.system-message .author img{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #2b2b2b;
}
/* the author's name */
.author-name{
  display: block;
  letter-spacing: -1px;
  margin: 0 0 2px;
  word-spacing: 2px;
}
/* publication time message */
.author time{
  display: block;
  color: #89949b;
  font-style: italic;
}
.author time>span{padding-left: 3px;}
/* content of the message */
.content-message{
  width: 501px;
  float: right;
  padding: 21px 15px 7px 20px;
  position: relative;
  border: 1px solid #e1e6e9;
}
.system-message .content-message{
  background: #f5f5f5;
  border-color: #f5f5f5;
}
.manager-message .content-message{
  padding: 21px 16px 18px 21px;
  margin: -1px;
}
.client-message .content-message{
  background: #e1e6e9;
  border-color: #e1e6e9;
  padding: 20px 15px 0 20px;
}
.content-message:before{
  content: "";
  border-bottom: 9px solid transparent;
  border-right: 9px solid #f5f5f5;
  border-top: 9px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 100%;
  top: 21px;
  margin-right: 1px;
}
.manager-message .content-message:before{
  border: none;
  width: 15px;
  height: 21px;
  top: 19px;
  background: url(application-sprite.png) no-repeat -133px -604px;
  margin-right: -3px;
}
.client-message .content-message:before{border-right: 9px solid #e1e6e9;}
.content-message p{margin: 0 0 13px;}
.client-message .content-message p{margin: 0 0 16px;}
.content-message .uppercase{
  text-transform: uppercase;
  overflow: hidden;
}
.content-message .uppercase p{margin: 0 0 13px;}
.content-message dl{margin: 0 0 11px;}
.content-message dt,
.content-message dd{
  margin: 0;
  display: inline;
}
.content-message ol{
  counter-reset:section;
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
}
.content-message ol:after {
  content:"";
  display:block;
  clear:both;
}
.content-message ol>li {
  counter-increment:section;
  height:1%;
  overflow:hidden;
  padding: 0 0 18px;
}
.content-message ol>li:before {
  float:left;
  text-align:center;
  content: counter(section) ".";
  padding: 0 2px 0 0;
}
.content-message .files{
  margin: 0 -15px 0 -20px;
  padding: 9px 0 0 13px;
  list-style: none;
  background: #f5f5f5;
  overflow: hidden;
}
.manager-message .files{margin-bottom: -17px;}
.system-message .files{margin-bottom: -7px;}
.content-message .files li{
  overflow: hidden;
  margin: 0 0 8px;
}
.content-message .files li img, .new-message .files li img{vertical-align: top;}
.btn-pay{
  padding: 4px 0 2px 2px;
  line-height: 16px;
}
.btn-pay a{
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0;
  padding: 0 26px;
}
.btn-pay a:hover{text-decoration: none;}
/* new message */
.new-message{
  padding: 19px 15px 21px 19px;
  width: 709px;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}
.area-message{position: relative;}
.area-message .input-placeholder-text{
  font:13px/18px  'PT Sans', Arial, Helvetica, sans-serif;
  color: #4b5c66;
  left: 21px;
  top: 17px;
  width: 225px;
}
.new-message textarea{
  display: block;
  font:13px/18px  'PT Sans', Arial, Helvetica, sans-serif;
  color: #4b5c66;
  border: 1px solid #c4c4c4;
  background: #fff;
  width: 709px;
  max-width: 709px;
  height: 143px;
  min-height: 143px;
  resize: vertical;
  padding: 16px 2px 2px 19px;
  margin: 0 0 12px;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.new-message textarea:-webkit-input-placeholder{color: #4b5c66;}
.new-message textarea::-moz-placeholder{
  color: #4b5c66;
  opacity: 1;
}
.new-message textarea:-moz-placeholder{color: #4b5c66;}
.new-message textarea.placeholder{color: #4b5c66;}
.new-message .files{
  margin: 0 0 6px;
  padding: 0 0 0 1px;
  list-style: none;
  overflow: hidden;
}
.new-message .files li{
  overflow: hidden;
  line-height: 21px;
}
.new-message .files li .img-wrap{margin-right: 6px;}
.new-message .btn-holder{
  overflow: hidden;
  padding-right: 1px;
}
.new-message .btn-holder input[type="submit"]{
  width: 139px;
  height: 25px;
  float: right;
  margin: 0;
  word-spacing: -2px;
}
.upload-file{
  float: left;
  cursor: default;
  padding: 2px 0 0;
}
.upload-file input[type="file"]{
  width: 0;
  height: 0;
  vertical-align: top;
}
.upload-file label{
  font-size: 14px;
  line-height: 16px;
  color: #1b92c8;
  padding-left: 19px;
  position: relative;
  vertical-align: top;
  margin-left: -3px;
}
.upload-file label:before{
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 14px;
  height: 14px;
  background: url(application-sprite.png) no-repeat 0 -711px;
}
/* all sketches */
.sketches{
  margin: 0;
  padding: 12px 0 0;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}
.sketches li{padding: 0 0 15px;}
.sketches a.opener{
  color: #b8c3c9;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  display: block;
  position: relative;
}
.sketches a.opener .arrow{
  position: absolute;
  right: 1px;
  top: -2px;
  height: 19px;
  width: 19px;
  background: url(application-sprite.png) no-repeat -64px -711px;
}
.sketches a.opener:hover,
.sketches .active a.opener{
  text-decoration: none;
  color: #008fd5;
}
.sketches a.opener:hover .arrow{background-position: -100px -711px;}
.sketches .active a.opener .arrow{background-position: -133px -711px;}
.sketches .slide ul{
  margin: 0;
  padding: 24px 0 6px;
  list-style: none;
  width: 245px;
  overflow: hidden;
}
.sketches .slide li{
  float: left;
  padding: 0 9px 10px 0;
}
.sketches .slide img{vertical-align: top;}
.all-sketches{
  text-decoration: underline;
  margin-left: 2px;
}
.all-sketches:hover{text-decoration: none;}
/* lightbox */
.lightbox footer .add-task:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 5px;
  top: 5px;
  background: url(application-sprite.png) no-repeat -73px 0;
}
.lightbox footer .add-task {
  float: left;
  padding: 3px 16px 4px 24px;
}
.close,
.total .btn-back{
  float: right;
  height: 23px;
  line-height: 23px;
  border: 1px solid #999;
  -webkit-box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  box-shadow: 0 1px 0 #ebebeb, inset 0 1px 0 #fff;
  color: #414241;
  font-size: 14px;
  padding: 0  23px 0 13px;
  text-decoration: none;
  background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjdmN2Y3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(5%, #f7f7f7), color-stop(100%, #e8e8e7));
  background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -o-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  background: linear-gradient(to bottom, #fff 0%, #f7f7f7 5%, #e8e8e7 100%);
  margin-right: 10px;
}
.total .btn-back{float: left !important;}
.lightbox.edit .close { padding: 0 23px 0 19px; }
.total a:hover { text-decoration: underline; }
.total .order,
.lightbox .btn-back,
.login-form .close{
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  padding: 0 12px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
.lightbox .btn-back{margin-right: 10px;}
/* popup holder */
.popup-holder {
  position: relative;
  overflow: hidden;
  height: 0;
}
.lightbox {
  width: 746px;
  height: 545px;
}
.lightbox h2 { margin: 0 0 10px; }
.lightbox p { margin: 0; }
.lightbox .image-holder {
  border-color: #686868;
  border-width: 0 1px 0 1px;
  border-style: solid;
}
.lightbox .note {
  background: #f5f5f5;
  display: block;
  padding: 7px 45px 7px 33px;
  border-style: solid;
  border-color: #686868;
  border-width: 0 1px 0 1px;
}
.lightbox .image-holder img { display: block; }
.lightbox header,
.lightbox .header {
  display: block;
  color: #fff;
  padding: 6px 8px 5px 31px;
  border: 1px solid #4b6ea9;
  background: #4b6ea9 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNmVhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjMWI5MmM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjMWI5MmM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdjOTRiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #4b6ea9 0%, #1b92c8 4%, #1b92c8 96%, #7c94bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b6ea9), color-stop(4%, #1b92c8), color-stop(96%, #1b92c8), color-stop(100%, #7c94bf));
  background: -webkit-linear-gradient(top, #4b6ea9 0%, #1b92c8 4%, #1b92c8 96%, #7c94bf 100%);
  background: -o-linear-gradient(top, #4b6ea9 0%, #1b92c8 4%, #1b92c8 96%, #7c94bf 100%);
  background: -ms-linear-gradient(top, #4b6ea9 0%, #1b92c8 4%, #1b92c8 96%, #7c94bf 100%);
  background: linear-gradient(to bottom, #4b6ea9 0%, #1b92c8 4%, #1b92c8 96%, #7c94bf 100%);
  font-size: 15px;
}
.lightbox.edit header { padding: 3px 10px 5px 8px; }
.lightbox footer {
  background: #f5f5f5;
  overflow: hidden;
  padding: 10px 13px 5px 15px;
  border-color: #ccc #686868;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}
.lightbox.edit footer { padding: 10px 13px 8px 15px }
.lightbox .close{
  float: right;
  height: 23px;
  line-height: 22px;
  border: 1px solid #214781;
  background: #008ed5;
  -webkit-box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #abbbd5;
  color: #fff;
  padding: 0 23px 0 18px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}
.lightbox .close:hover { text-decoration: underline; }
/* login lightbox */
.login{
  width: 352px;
  height: auto;
}
.login .header{
  padding: 7px 16px 5px;
  border: 1px solid #326fac;
  background: #0093cb;
}
.login header strong{display: block;}
.login .note{
  padding: 7px 25px 7px 18px;
  border: 1px solid #cdcdcd;
  border-top: none;
}
/* login form */
.login-form{
  margin: 0;
  padding: 29px 19px 77px;
  border: 1px solid #686868;
  border-top: none;
  position: relative;

  label {
    display: none;
  }
}
.message-form .text,
.login-form .text{
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 17px;
}
.message-form .email-field,
.login-form .email-field{
  padding-left: 23px;
  position: relative;
  margin: 0 0 19px;
}
.message-form .email-field:after,
.login-form .email-field:after{
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  height: 12px;
  width: 15px;
  background: url(application-sprite.png) no-repeat -107px -606px;
}
.message-form input,
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"]{
  font: 13px/17px "PT Sans", Arial, Helvetica, sans-serif;
  color: #b8c3c9;
  border: none;
  background: #fff;
  padding: 2px 6px 3px;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  height: 23px;
}
.message-form input::-webkit-input-placeholder,
.login-form input::-webkit-input-placeholder{color: #b8c3c9;}
.message-form input::-moz-placeholder,
.login-form input:-moz-placeholder{color: #b8c3c9;}
.message-form input::-moz-placeholder,
.login-form input::-moz-placeholder{
  color: #b8c3c9;
  opacity: 1;
}
.message-form input.placeholder
.login-form input.placeholder{color: #b8c3c9;}
.check{
  overflow: hidden;
  color: #b8c3c9;
}
.check-holder{overflow: hidden;}
.check label{
  margin: 2px 0 0;
  display: inline-block;
  vertical-align: top;
}
.forgot{padding: 13px 0 5px 28px;}
.forgot a{
  text-decoration: underline;
  color: #b8c3c9;
}
.forgot a:hover{text-decoration: none;}
.login-form .buttons{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 322px;
  padding: 8px 14px;
  border-top: 1px solid #cdcdcd;
  background: #f5f5f5;
  text-align: right;
}

.login-form input[type="submit"],
.new-message input[type="submit"]{
  display: inline-block;
  vertical-align: top;
  font: bold 14px/16px "PT Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  border: 1px solid #004584;
  text-align: center;
  cursor: pointer;
  background: #0093cb;
  width: 103px;
  height: 25px;
  padding: 0 0 2px;
  margin: 0 7px 0 0;
  -webkit-box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
  -moz-box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
  box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
}

.message-form input[type="submit"] {
  float: right;
  display: inline-block;
  vertical-align: top;
  font: bold 14px/16px "PT Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  border: 1px solid #004584;
  text-align: center;
  cursor: pointer;
  background: #0093cb;
  width: 103px;
  height: 25px;
  padding: 0 0 2px;
  margin: 0 10px 0 0;
  -webkit-box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
  -moz-box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
  box-shadow: inset 0 1px 0 #a7bdd8, 0 1px 0 #a7bdd8;
}

.message-form input[type="submit"]:hover,
.login-form input[type="submit"]:hover, .new-message input[type="submit"]:hover{cursor: pointer;}

.login-form .close {
  display: inline-block;
  width: 101px;
  text-align: center;
  vertical-align: top;
  float: none;
  margin: 0;
  padding: 0;
  line-height: 22px;
  color: #3e403f;
  font-weight: normal;
  background: #f7f7f7 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #e9e9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e9e9e8));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e9e9e8 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#e9e9e8 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#e9e9e8 100%);
  background: linear-gradient(to bottom,  #f7f7f7 0%,#e9e9e8 100%);
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  border: 1px solid #9b9b9b;
}

.message-form .close {
  float: right;
  width: 101px;
  text-align: center;
  vertical-align: top;
  margin: 0;
  padding: 0;
  line-height: 22px;
  color: #3e403f;
  font-weight: normal;
  background: #f7f7f7 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f7f7f7 0%, #e9e9e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e9e9e8));
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#e9e9e8 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%,#e9e9e8 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%,#e9e9e8 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%,#e9e9e8 100%);
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  border: 1px solid #9b9b9b;
}

.message-form .close,
.login-form .close:hover{text-decoration: none;}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url(fancybox.png);
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: fixed;
  top: 50px !important;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0 solid #fff;
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
  display: none;
}
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url(fancybox-x.png);
}
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -162px;
}
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url(fancybox-y.png);
  background-position: -20px 0px;
}
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -182px;
}
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url(fancybox-x.png);
  background-position: 0px -20px;
}
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -142px;
}
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url(fancybox-y.png);
}
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url(fancybox.png);
  background-position: -40px -122px;
}
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
}
#fancybox-title-over {
  padding: 10px;
  background-image: url(fancy_title_over.png);
  display: block;
}
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url(fancybox.png) -40px -90px no-repeat;
}
#fancybox-title-float-main {
  color: #fff;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url(fancybox-x.png) 0px -40px;
}
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url(fancybox.png) -55px -90px no-repeat;
}
.lightbox .attachment {
  float: right;
  background: url(application-sprite.png) no-repeat 0 -244px;
  padding-left: 17px;
  font-size: 14px;
  color: #1b92c8;
  margin-right: 7px;
}
/* footer */

#footer{
  background: #fff;
  min-height: 0;
  padding: 82px 0 122px;
  position: relative;
}
.footer-holder{
  width: 1170px;
  margin: 0 auto;
}
/* rights */
.rights{
  float: left;
  font-family: 'open-sansregular', Arial, Helvetica, sans-serif;
  padding: 11px 0 0;
  margin: 0px 40px 0px 0px;
}
/* footer navigation */
#footer .footer-nav{
  float: right;
  padding: 12px 0 0;
}
#footer .footer-nav li{margin: 0 0 0 44px;}
.lightbox.edit .note {
  display: block;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 7px 81px 7px 11px;
  color: #454545;
}
.lightbox.edit .content {
  overflow: hidden;
  padding: 16px 16px 15px 15px;
}
.lightbox.edit .content>img {
  float: left;
  margin-right: 14px;
  border: 1px solid #ccc;
}
::-webkit-input-placeholder {opacity: 1;}
::-moz-placeholder {opacity: 1;}
:-moz-placeholder {opacity: 1;}


.calculator-form input[type="submit"]{
  font: 12px/36px Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url('application-sprite.png') no-repeat -25px -488px;
  width: 171px;
  height: 35px;
  padding: 0 0 0 11px;
  margin: 0;
  display: block;
  float: right;
}

.calculator-form input[type="submit"]:hover{cursor: pointer;}

.calculator{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 0 0 1px #ededed;
  -moz-box-shadow: 0 0 1px #ededed;
  box-shadow: 0 0 1px #ededed;
  background: #fafafa;
  margin: 0 0px;
  padding: 81px 0px 25px;
}
/* calculator */
.calculator{padding: 65px 0px 39px;}
/* calculator form */
.calculator-form{padding: 20px 0 30px;}
/* room space */
.room-space{
  text-align: center;
  color: #415c67;
  font-size: 18px;
  line-height: 20px;
  padding: 19px 0 0 4px;
  margin: 0 0 57px;
}
.room-space label{vertical-align: top;}
.room-space .text,
.amount .text{
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #c8c8c8;
  padding: 0 5px;
  overflow: hidden;
  margin: -5px 0 0 25px;
}
.calculator-form .room-space input[type="text"],
.calculator-form .amount input[type="text"]{
  float: left;
  font: 21px/26px "PT Sans", Arial, Helvetica, sans-serif;
  vertical-align: middle;
  text-align: right;
  color: #008fd5;
  border: none;
  background: #fff;
  width: 44px;
  padding: 2px 0;
  margin: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  height: 32px;
}
.calculator-form .room-space .unit,
.calculator-form .select-list .amount .unit{
  float: left;
  text-align: left;
  width: 36px;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 0 0 7px;
  font-weight: normal;
  color: #415c67;
}
/* additional information */
.calculator-form .add ul{
  width: 374px;
  float: left;
  margin: 0;
  padding: 0 50px 0 70px;
}
.calculator-form .add ul.left-list{width: 480px;}
.calculator-form .select-list li{
  padding: 2px 0 0;
  background: url(bg-dot1.png) repeat-x 0 14px;
  margin: 0 0 7px;
}
.calculator-form .select-list li {
  &.add-options{
    &.selected {
      background: none;
    }
  }

}
.calculator-form .select-list .col{
  max-width: 290px;
  background: #fafafa;
  white-space: nowrap;
}
.left-list .chk-area{margin-right: 7px;}
.calculator-form .add .select-list label{
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  vertical-align: top;
  overflow: hidden;
}
.calculator-form .add .select-list .price{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  float: right;
  background: #fafafa;
  width: 49px;
  padding-left: 5px;
  text-align: right;
  color: #e1e6e9;
}
.calculator-form .add li.selected .price{
  font-weight: normal;
  color: #0090d8;
}
.calculator-form input.code[type="text"] {
  float: right;
  font: 13px/17px "PT Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #415c67;
  border: 1px solid #c8c8c8;
  background: #fff;
  width: 133px;
  height: 25px;
  padding: 2px 10px 3px;
  margin: 0 -4px 0 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  display: none;
}
.calculator-form .amount{
  float: right;
  margin: -2px 0 0;
  display: none;
}



.calculator-form li.selected .amount, .calculator-form li.selected input.code[type="text"] {
  display: block;
}

.calculator-form .amount .text{
  margin: -3px 0 0;
  float: left;
  width: 68px;
  border: none;
  background: none;
  height: 28px;
}
.calculator-form .amount input[type="text"]{
  width: 37px;
  height: 28px;
  background: #fafafa;
  line-height: 26px;
  padding: 1px 0 3px;
}
.calculator-form .select-list .amount .unit{
  padding: 7px 0 0 4px;
  width: 26px;
}
.calculator-form .add .select-list .add,
.calculator-form .add .select-list .delete{
  float: left;
  margin: 0;
}
/* subtotal */
.subtotal{
  text-align: center;
  width: 870px;
  margin: 0px auto;
  padding: 0px 100px 0px 50px;

  @include clearfix();

  &.no-fields {
    width: 410px;
  }
}
.summ{
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #415c67;
  padding: 12px 0 0;
  vertical-align: top;
  margin-right: 30px;
  letter-spacing: -1px;
  float: left;
}
.summ > strong{
  font-size: 21px;
  font-weight: bold;
  color: #0090d8;
  padding-left: 9px;
  letter-spacing: -1px;
  display: inline-block;
  width: 80px;
}
.calculator-form input[type="submit"]{vertical-align: top;}

.calculator-form {
  .values-wrapper {
    width: 1170px;
    margin: 0px auto;
  }

  .subtotal {
    label {
      display: none;
    }
  }

  input.string {

    float: left;
    font: 13px/17px "PT Sans", Arial, Helvetica, sans-serif;
    color: #415c67;
    background: url(application-sprite.png) no-repeat -128px -23px;
    padding: 7px 10px 8px 36px;
    width: 200px;
    height: 35px;
    margin: 0 30px 0 0;
    border: 1px solid #c8c8c8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-appearance: none;
    display: block;
    float: left;

    &.name {
      background: url(application-sprite.png) no-repeat -128px 9px;
    }
  }
}

.top-box{
  padding: 23px 0 34px 0;
  border-bottom: 1px solid #ebebeb;
  width: 1170px;
  margin: 0px auto;
}
.top-box, .bottom-box{font-family: Arial, Helvetica, sans-serif;}
.bottom-box:after,
.top-box:after{
  content: '';
  display: block;
  clear: both;
}
/* showing */
.showing{
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #9d9fa2;
  padding: 15px 0 0;
}
.showing>span{color: #2d3e52;}
/* category form */
.category-form{
  float: right;
  width: 230px;
  margin-right: 1px;
}
.category-form select{width: 228px;}
.select-category{
  width: 228px !important;
  height: 40px;
  border: 1px solid #ebebeb;
  margin: 0;
  background: #fff;
}
.select-category.select-active{background: #2d3e52;}
.select-category .center{
  padding: 13px 28px 13px 28px;
  font-size: 12px;
  line-height: 15px;
  color: #9d9fa2;
  position: relative;
}
.select-category.select-active .center{color: #fff;}
.select-category .select-opener{
  width: 13px;
  height: 9px;
  top: 16px;
  right: 31px;
  background: url(application-sprite.png) no-repeat -159px -711px;
}
.select-category.select-active .select-opener{background-position: -181px -711px;}
.select-options.drop-category{z-index: 100;}
.drop-category .drop-holder{
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 0;
}
.drop-category ul{
  font-size: 12px;
  line-height: 15px;
}
.drop-category ul li{border-top: 1px solid #ebebeb;}
.drop-category ul li:first-child{border: none;}
.drop-category ul a{
  color: #9d9fa2;
  padding: 15px 30px 17px;
}
.drop-category ul a:hover, .drop-category .item-selected a{color: #2d3e52;}
.drop-category .item-selected a:before{content: none;}
/* gallery portfolio */
.gallery-portfolio{
  margin: 0 auto -15px;
  padding: 22px 0 26px;
  list-style: none;
  width: 1200px;
  overflow: hidden;
}
.gallery-portfolio li{
  float: left;
  padding: 15px;
}
.gallery-portfolio a{
  display: block;
  position: relative;
}
.gallery-portfolio a:hover .zoom{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(106, 160, 193, .3);
}
.gallery-portfolio a:hover .zoom:after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 36px;
  width: 36px;
  background: url(application-sprite.png) no-repeat 10px -740px;
  border: 2px solid #fff;
  margin: -20px 0 0 -20px;
}
.gallery-portfolio img{vertical-align: top;}
/* bottom box */
.bottom-box{
  border-top: 1px solid #ebebeb;
  padding: 33px 0 85px;
  width: 1170px;
  margin: 0px auto;
}
.bottom-box .showing{padding: 13px 0 0;}
.paging {
  float: left;
  margin: 0px 0px 0px 130px;
  padding: 0 2px 0 0;
  list-style: none;
}

.about .paging {
  float: right;
  margin: 0px;
}

.paging li{
  float: left;
  width: 41px;
  height: 40px;
  background: #008fd5;
  font-size: 12px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin-left: 7px;
}
.paging li a{
  display: block;
  height: 38px;
  border: 1px solid #ebebeb;
  background: #fff;
  color: #9d9fa2;
}
.paging li a:hover{
  text-decoration: none;
  background: #008fd5;
  border-color: #008fd5;
  color: #fff;
}
.paging li.prev a,
.paging li.next a{
  background: #fff url(application-sprite.png) no-repeat -32px -739px;
  text-indent: -9999px;
  overflow: hidden;
}
.paging li.next a{background-position: -68px -739px;}
.paging li.prev a:hover{background: #008fd5 url(application-sprite.png) no-repeat -106px -739px;}
.paging li.next a:hover{background: #008fd5 url(application-sprite.png) no-repeat -144px -739px;}
.paging .current-page>span{
  display: block;
  border: 1px solid #008fd5;
  height: 38px;
}

.no-records-title {
  width: 1170px;
  padding: 30px 0px;
  margin: 0px auto;
}

#flash-message-wrapper {
  padding: 20px;
}

.wrapper {
  width: 980px;
  margin: 0px auto;

  .login-form {
    border: none;

    .text {
      width: 300px;

      &.email-field {
        width: 277px;
      }
    }

    .register {
      width: 150px;
    }

    .new-password {
      width: 200px;
    }

    .resend-confirmation {
      width: 250px;
    }
  }
}

.login-form {
  ul.links {
//    margin: 50px 0px 20px;
  }
}

.field_with_errors {

  input.string {
    color: #FF0000;
  }

  .error {
    display: none;
    float: left;
    margin: 10px 0px 0px;

    @include clearfix();
  }

}

.menu-wrapper {
  background: #fcfcfd;
  border-bottom: 1px solid #e1e6e9;
}

.content-wrapper {
  width: 1170px;
  margin: 0px auto;
}

.menu-holder {
  margin: 0px auto -1px;
  padding:15px 0px 0px;
  width:100%;
  background:#fcfcfd;
  border-bottom:1px solid #e1e6e9;
}

.menu {
  margin:0 0 -1px;
  padding:0;
  list-style:none;
  overflow:hidden;
  text-transform:uppercase;
  font-size:13px;
  line-height:16px;
  text-align:center;
}
.menu li {
  float:left;
  margin:0;
}
.menu a {
  display:block;
  padding:23px 59px 27px;
  border:1px solid transparent;
  border-bottom:0;
  color:#89949b;
  outline:none;
}
.menu .active {
  border-color:#e1e6e9;
  background:#fff;
  color:#008fd5;
  text-decoration:none;
}

.menu a:hover {
  color:#008fd5;
  text-decoration:none;
}

.about #main {
  padding: 0px;
}

.about .content {
  padding:63px 0 0;
  text-align:center;
  width:100%;
  color:#89949b;
  font-size:14px;
  line-height:20px;
  border:0;
  overflow:visible;
}
.about .paging li {line-height:38px;}
.about .content p {margin:0 0 10px;}
.about .content h1 {
  margin:0 0 9px;
  font:30px/34px "PT Sans", Arial, Helvetica, sans-serif;
  color:#4b5c66;
  text-align: center;
}
.about .content .visual {
  margin:0 0 120px;
  padding:70px 17px 0 0;
}
.about .twocolumns {
  overflow:hidden;
  text-align:left;
  margin-bottom:126px;
}
.about .col:first-child {
  float:left;
  margin:0;
}
.about .col {
  float:right;
  width:570px;
  margin:0 0 0 30px;
}
.about .content .col h2 {
  margin:0 0 30px;
  padding:0 0 24px;
  font:18px/22px "PT Sans", Arial, Helvetica, sans-serif;
  color:#4b5c66;
  border-bottom:1px solid #e3e6e6;
}
.about .content address {
  margin:0;
  padding:38px 0 0;
  font-style:normal;
  overflow:hidden;
}
.about address dl {
  float:left;
  width:260px;
  margin:0 8px 0 0;
  overflow:hidden;
}
.about address dt {
  float:left;
  clear:left;
  margin:0 8px 16px 0;
  color:#2d3e52;
}
.about address dd {
  padding:0;
  margin:0 0 16px 0;
  overflow:hidden;
}
.about .box-line {
  padding:2px 0 0;
  font-size:13px;
  line-height:16px;
  color:#9d9fa2;
}
.about .content .box-line p {margin:0 0 11px;}
.box-line strong {
  color:#2d3e52;
  letter-spacing:1px;
}
.about .line {
  display:block;
  margin:0 0 15px;
  width:570px;
  height:20px;
  background:#008fd5;
}
.about .line-1 {width:437px;}
.about .line-2 {width:137px;}
.about .line-3 {width:286px;}

.about .post {
  padding:10px 0 50px 47px;
  overflow:hidden;
}
.about .content .post p {margin:0 0 22px;}
.about .post time {
  float:left;
  position:relative;
  padding:77px 0 0 22px;
  font-size:13px;
  margin:0 34px 0 0;
}
.about .post time:after {
  content:'';
  position:absolute;
  top:82px;
  left:0;
  width:12px;
  height:11px;
  background:url(sprite-1.png) no-repeat -17px 0;
}
.about .post .box {
  overflow:hidden;
  font-size:13px;
  line-height:24px;
  color:#89949b;
  text-align:left;
}
.about .post h2 a {color:#4b5c66;}
.about .content .post h2 {
  position:relative;
  color:#4b5c66;
  font:18px/26px "PT Sans", Arial, Helvetica, sans-serif;
  margin:0 0 22px;
  padding:0 0 26px;
  border-bottom:1px solid #e3e6e6;
}
.about .post h2:after {
  content:'';
  position:absolute;
  bottom:-1px;
  left:0;
  width:48px;
  height:1px;
  background:#2d3e52;
}
.about .post .more {
  display:inline-block;
  position:relative;
  padding:0 5px 0 43px;
  line-height:38px;
  min-width:90px;
  text-align:center;
  background:#008fd5;
  color:#fff;
}
.about .post .more:after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:38px;
  height:38px;
  background:#33a5dd url(sprite-1.png) no-repeat -33px 13px;
}
.reviews-holder {padding:50px 0 0;}
.box-reviews {
  overflow:hidden;
  margin:0 -31px 37px 0;
}
.blockquote {
  position:relative;
  float:left;
  z-index:1;
  margin:0 31px 0 0;
  text-align:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.blockquote q {
  position:relative;
  display:block;
  margin:0 0 26px;
  padding:37px 15px 17px 31px;
  background:#fcfcfd;
  font-size:14px;
  line-height:24px;
  color:#4b5c66;
  border:1px solid #e1e6e9;
  min-height:112px;
}
.blockquote:after,
.blockquote q:after,
.blockquote q:before {
  content:'';
  position:absolute;
  bottom:-18px;
  left:47px;
  width:18px;
  height:18px;
  background:url(sprite-1.png) no-repeat -82px 0;
}
.blockquote q:after {background:none;}
.blockquote:after {
  width:44px;
  height:33px;
  bottom:auto;
  top:33px;
  left:23px;
  background-position:0 -28px;
  z-index:0;
}
.blockquote cite {
  font-style:normal;
  display:block;
  margin:0 0 0 71px;
}
.blockquote .name {
  display:block;
  font-size:15px;
  line-height:18px;
  color:#4b5c66;
}
.box-reviews.add .blockquote {margin:0 30px 0 0;}
.width-368 {width:368px;}
.width-771 {width:771px;}
.width-569 {width:569px;}

.partner {
  margin:0 auto;
  padding:102px 14px 197px 0;
  list-style:none;
  overflow:hidden;
  width:948px;
}
.partner li {
  float:left;
  margin:0 17px 16px 0;
}

.founder {
  margin:0 -32px 0 0;
  padding:57px 0 39px;
  list-style:none;
  text-align:left;
  line-height:24px;
  overflow:hidden;
}
.founder li {
  float:left;
  margin:0 31px 30px 0;
  width:570px;
}
.content .founder .visual {
  float:left;
  margin:0 31px 0 0;
  padding:0;
}
.founder .text {
  overflow:hidden;
  padding:25px 0 0;
}
.block-worker h2 {
  margin:0;
  font:14px/18px "PT Sans", Arial, Helvetica, sans-serif;
  text-transform:uppercase;
}
.block-worker .name {
  margin:0 0 2px;
  font-size:26px;
  line-height:27px;
  color:#4b5c66;
  display:block;
}
.founder .tel,
.founder .email {
  display:block;
  position:relative;
  padding:0 0 0 19px;
}
.founder .tel:after,
.founder .email:after {
  content:'';
  position:absolute;
  top:50%;
  left:0;
  margin:-4px 0 0;
  width:12px;
  height:10px;
  background:url(sprite-1.png) no-repeat -88px -24px;
}
.founder .tel:after {
  width:12px;
  height:11px;
  background-position:-88px -42px;
  color:#b8c3c9;
}
/* art directors */
.art-directors {
  margin:0 -30px 0 0;
  padding:57px 0 39px;
  list-style:none;
  overflow:hidden;
  text-align:left;
  font-size:14px;
  line-height:24px;
}
.art-directors img {
  display:block;
  margin:0 0 34px;
}
.art-directors li {
  float:left;
  width:270px;
  margin:0 30px 30px 0;
}
.block-worker .art-directors .name {margin:0 0 26px;}
/* personnel */
.personnel {
  margin:0 -30px 0 0 ;
  padding:57px 0 90px;
  list-style:none;
  overflow:hidden;
}
.personnel li {
  float:left;
  margin:0 30px 30px 0;
}
.personnel img {display:block;}
.personnel a {
  display:block;
  position:relative;
  color:#fff;
  text-align:center;
}
.personnel a:hover .block {display:block;}
/* rolover block */
.personnel .block {
  display:none;
  position:absolute;
  left:0;
  top:0;
  height:249px;
  width:169px;
  white-space:nowrap;
  background:url(bg-overley.png);
  background:rgba(137,148,155,.8);
}
.personnel .block:after {
  content:'';
  display:inline-block;
  height:100%;
  width:1px;
  overflow:hidden;
  margin:0 0 0 -5px;
  vertical-align:middle;
}
.personnel .block .name{
  vertical-align:middle;
  display:inline-block;
  white-space:normal;
  font-size:24px;
  line-height:30px;
  text-transform:uppercase;
  text-align:center;
  color:#fff;
}
#tab3 {padding-bottom:80px;}

.menu-2 {
  margin:0 -28px 0 0;
  padding:54px 0 77px;
  list-style:none;
  overflow:hidden;
}
.menu-2 li {
  float:left;
  width:570px;
  min-height:60px;
  padding:0;
  margin:0 28px 11px 0;
  border:1px solid #e9e9e9;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.menu-2 a {
  position:relative;
  display:block;
  height:100%;
  font-size:14px;
  padding:20px 55px;
  line-height:18px;
  color:#4b5c66;
  text-align:left;
}
.menu-2 a:after {
  content:'';
  position:absolute;
  top:50%;
  left:31px;
  margin:-6px 0 0;
  width:8px;
  height:13px;
  background:url(sprite-1.png) no-repeat -92px -66px;
}
.menu-2 .active,
.menu-2 a:hover {
  text-decoration:none;
  background:#008fd5;
  color:#fff;
}
.menu-2 .active:after,
.menu-2 a:hover:after {background-position:-92px -87px;}

.tab-content {
  text-align:left;
  font-size:13px;
  line-height:24px;
}
.tab-content h2 {
  margin:0 0 20px;
  padding:0 0 24px;
  color:#008fd5;
  font:24px/28px "PT Sans", Arial, Helvetica, sans-serif;
  border-bottom:1px solid #e9e9e9;
}
.tab-content h3 {
  display:inline-block;
  margin:0 0 15px;
  font:14px/18px "PT Sans", Arial, Helvetica, sans-serif;
  color:#4b5c66;
}
.tab-content ol {
  margin:0;
  padding:0 0 34px;
  list-style:none;
}
.tab-content ol li {margin:0 0 77px;}

.carousel-1 {
  position:relative;
  margin:0 0 28px;
  padding:52px 0 0;
}
.carousel-1 .mask {
  position:relative;
  overflow:hidden;
  width:1170px;
}
.carousel-1 .mask .slideset {
  width:99999px;
  float:left;
}
.carousel-1 .mask .slide {
  width:1170px;
  float:left;
}
/* pagination */
.carousel-1 .pagination {
  position:absolute;
  bottom:19px;
  left:0;
  right:0;
  text-align:center;
}
.carousel-1 .pagination ul {
  margin:0;
  padding:0;
  list-style:none;
  overflow:hidden;
  display:inline-block;
}
.carousel-1 .pagination li:first-child {margin:0;}
.carousel-1 .pagination li {
  float:left;
  margin:0 0 0 12px;
  box-shadow:0 0 4px 0 rgba(0,0,0,.15);
  background:#fff;
  border-radius:50%;
}
.carousel-1 .pagination a {
  display:block;
  width:15px;
  height:15px;
  border-radius:50%;
  overflow:hidden;
  text-indent:-9999px;
}
.carousel-1 .pagination .active a,
.carousel-1 .pagination a:hover {background:url(sprite-1.png) no-repeat 0 0;}
.carousel-1 .btn-prev,
.carousel-1 .btn-next {display:none;}

.hidden {
  display: none;
//  top: 50%;
//  left: 50%;
//  position: fixed;
//  background: #FFF;
//  z-index: 999;
//  margin: -190px 0px 0px -405px;
}

#fancybox-content #popup4 {
  display: block;
}

.lightbox.message {
  position: relative;
  margin: 0 auto;
  width: 809px;
  height: 380px;
  border: 1px solid #686868;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lightbox.message .header {
  margin: -1px -1px 0;
  padding: 5px 7px;
  border: 1px solid #326fac;
  border-bottom: 1px solid #7196c2;
  background: #0093cb;
}

.message-form {padding:20px 18px 8px 19px;}
.message-form .row {
  position:relative;
  overflow:hidden;
  padding:0 0 16px;

  label {
    display: none;
  }
}
.message-form .row .text:first-child {margin:0;}
.message-form .text {
  position:relative;
  float:left;
  height:35px;
  width:100%;
  padding:0 0 0 40px;
  margin:0 0 0 30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.message-form .email:after,
.message-form .topic:after,
.message-form .message-text:after,
.message-form .name:after {
  content:'';
  position:absolute;
  top:10px;
  left:19px;
  width:12px;
  height:13px;
  background:url(sprite-1.png) no-repeat 0 -87px;
}
.message-form .email:after {
  top:11px;
  left:18px;
  width:15px;
  height:12px;
  background-position:-40px -88px;
}
.message-form .topic:after {
  left:18px;
  width:13px;
  height:13px;
  background-position:-20px -87px;
}
.message-form .message-text:after {
  top:13px;
  width:13px;
  height:10px;
  background-position:-62px -90px;
}
.message-form .width-370 {width:370px;}
.message-form input {
  float:left;
  padding:0;
  width:100%;
  font-size:14px;
  line-height:33px;
  height:33px;
}
.message-form textarea {
  margin:0 0 14px;
  width:100%;
  height:156px;
  resize:none;
  color:#b8c3c9;
  font:14px/18px "PT Sans", Arial, Helvetica, sans-serif;
  border:1px solid #ccc;
  background:none;
  padding:8px 10px 10px 40px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-appearance:none;
}
.message-form .buttons{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  padding:8px 14px;
  border-top:1px solid #cdcdcd;
  background:#f5f5f5;
  text-align:right;
}

#subscribe-form {
  display: block;
  font-size: 24px;
  line-height: 36px;
  color: #48b7ed;
  margin: 0 0 10px;
}

#calc-subscribe-form {
  font-size: 18px;
  line-height: 22px;
  color: #415c67;
  padding: 5px 0 0;
}