@import "twitter/bootstrap/mixins";

#ajax-loader {
  background: url("ajax-loader.gif");
  width: 54px;
  height: 55px;
  position: fixed;
  top: -55px;
  right: 100px;
  z-index: 7000;
}

.select2-container {
  width: 100%;
}

table {
  ul {
    list-style: none;
    margin: 0px;
  }
}