@import "twitter/bootstrap/mixins";


$tahoma_family: Tahoma, Arial, sans-serif;
$arial_family: Arial, Tahoma, sans-serif;
$georgia_family: Georgia, Tahoma, Arial, sans-serif;
$verdana_family: Verdana, Arial, Tahoma, sans-serif;
$calibri_family: Calibri, Arial, Tahoma, sans-serif;
$myraid_pro: "Myraid Pro", Arial, Verdana, sans-serif;
$hover_link: #da8520;
$wrapper_width: 1024px;

body {
  font-family: Tahoma, Arial, sans-serif;
}

header, nav, section, article, aside, footer {
  display: block;
}

body.application {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  #push{
    height: 60px;
  }

  #footer {
    background-color: #f5f5f5;
    padding: 20px 0px 0px;
    height: 40px;
  }

  .field_with_errors {
    span.error {
      display: none;
    }
  }

  .form-signin {
    max-width: 340px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

.form-label {
  background: #e4e5e0;
  border: 1px solid #dbdcda;
  padding: 5px 10px;
  color: #3f3e3c;
  cursor: pointer;
  padding: 4px 10px 3px 29px;
  text-shadow: 0px 1px 0px #FFF;
  font-size: 12px;
}

.valid {
  background-image: url("green-check.png");
  background-repeat: no-repeat;
  background-position: 8px 6px;
  min-height: 16px;
  min-width: 16px;
}

.non-valid {
  background-image: url("grey-check.png");
  background-repeat: no-repeat;
  background-position: 8px 6px;
  min-height: 16px;
  min-width: 16px;
}

#top-form-content {

  @include clearfix();

  .select2-search-choice-close {
    top: 6px;
  }

  .select2-choice div {
    margin: -2px 0px 0px 0px;
  }

  #form {
    float: left;
    width: 830px;
  }

  .bbf-field {
    float: left;
    clear: none;
    width: 33%;
    margin: 10px 0px;

    label {
      width: auto;
      margin: 0px 5px 0px 0px;
      font-family: $arial_family;
      font-size: 11px;
      color: #141414;
    }

    .bbf-editor {
      margin: 0px;
      width: auto;
    }

    input {
      border: 1px solid #bbbbb7;
      width: 117px;
      height: 12px;
      margin: 0px;
      float: left;
      margin: 0px 5px 0px 0px;

      &.floor_area {
        width: 50px;
      }
    }
  }

  .field-project_id {
    width: 320px;

    .bbf-editor {
      width: 200px;
      height: 12px;
      float: left;

      .select2-container {
        float: left;
        width: auto;

        .select2-choice {
          height: 20px;
          line-height: 19px;
          font-size: 11px;
          width: 162px;
        }
      }
    }
  }

  .pencil {
    background: url("mini-pencil.png") top center no-repeat;
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
    margin: 3px 0px 0px 0px;
  }

  .field-name {
    width: 300px;
  }

  .field-floor_area {
    width: 200px;
  }

  .value-container {
    color: #292929;
    font-size: 11px;
    float: left;
    margin: 0px 10px 0px 0px;
  }

  #submit-form {
    background: url("ok.png") top center no-repeat;
    border: none;
    width: 84px;
    height: 30px;
    text-indent: -10000px;
    margin: 6px 10px 6px 0px;
    padding: 0px;
    float: right;
  }
}

#center-form-content {
  padding: 15px 0px 15px 10px;
  @include clearfix();

  .left-column {

    width: 782px;
    float: left;

    #tabs-wrapper {
      margin: 0px 0px -1px;
      @include clearfix();

      .tab {
        border: 1px solid #FFF;
        border-bottom: 1px solid #e7e7e7;
        float: left;
        padding: 5px 10px 0px 22px;
        cursor: pointer;
        font-size: 11px;
        line-height: 10px;
        font-family: $arial_family;

        &:last-child {
          padding: 5px 10px 0px 22px;
        }

        &.active {
          border: 1px solid #e7e7e7;
          border-bottom: 1px solid #f6f7f7;
          background: #f6f7f7;
        }

        &.valid {
          background-image: url("mini-green-check.png");
          background-repeat: no-repeat;
          background-position: 5px 4px;
          min-height: 16px;
          min-width: 16px;
        }

        &.non-valid {
          background-image: url("mini-grey-check.png");
          background-repeat: no-repeat;
          background-position: 5px 4px;
          min-height: 16px;
          min-width: 16px;
        }
      }
    }

    #form-wrapper {
      border: 1px solid #e7e7e7;
      background: #f6f7f7;
      padding: 5px;

      @include clearfix();

      #form-description {
        width: 165px;
        float: left;
        margin: 0px 10px 0px 0px;

        #form-description-label {
          color: #929291;
          font-size: 11px;
          line-height: 12px;
          margin: 0px 0px 10px 0px;
        }

        #form-description-valid {
          background: #8bc15b;
          border: 2px solid #6b9447;
          color: #FFF;
          font-size: 11px;
          line-height: 12px;
          font-weight: bold;
          padding: 5px;
          text-align: center;
        }
      }

      #form {
        float: left;

        .bbf-field {
          float: left;
          clear: none;
          margin: 0px 13px 0px 0px;

          &:last-child {
            margin: 0px;
          }

          label {
            float: none;
            width: auto;
            color: #272525;
            font-size: 10px;
          }

          textarea {
            width: 410px;
          }

          &.field-furniture_plan_comment, &.field-ceiling_plan_comment, &.field-lighting_plan_comment {
            width: 420px;
          }

          &.field-walls_plan_comment, &.field-coverings_plan_comment {
            width: 256px;

            textarea {
              width: 242px;
            }
          }

          .bbf-editor {
            margin: 0px;
            width: auto;
          }

          .value-container {
            color: #292929;
            font-size: 11px;
          }

          .alert {
            padding: 4px;
            margin: 0px 0px 5px;
            width: 126px;
            font-size: 12px;
          }

          .pencil {
            background: url("pencil.png") top center no-repeat;
            width: 16px;
            height: 16px;
            cursor: pointer;
            float: right;
            margin: -23px 0px 7px 0px;
          }

          .upload {
            width: 135px;
            color: #272525;
            font-size: 10px;

            .progress {
              margin: 0px 0px 5px;
            }
          }

          .files-container {
            margin: 0px;

            .file {
              background: #d9dbda;
              border: 1px solid #edefee;
              margin: 0px 0px 1px;
              padding: 0px 3px;
              @include clearfix();

              .file-name {
                float: left;
                font-size: 9px;
                color: #777777;
              }

              .remove {
                background: url("trash.png") top center no-repeat;
                border: none;
                float: right;
                display: block;
                width: 9px;
                height: 10px;
                margin: 4px 0px 0px;
              }
            }
          }

          &.field-furniture_plan_ids, &.field-ceiling_plan_ids, &.field-lighting_plan_ids, &.field-coverings_plan_ids, &.field-coverings_texture_ids, &.field-walls_plan_ids, &.field-walls_texture_ids  {

            label {
              display: none;
            }
          }
        }
      }
    }
  }

  .right-column {
    float: right;
    width: 140px;

    #step-description {
      padding: 20px 0px 0px;
      color: #929291;
      font-size: 11px;
      line-height: 12px;
    }

    #submit-form {
      background: url("ok.png") top center no-repeat;
      border: none;
      width: 84px;
      height: 30px;
      text-indent: -10000px;
      margin: 10px auto;
      padding: 0px;
      display: block;
    }
  }


}

#bottom-form-content {

  @include clearfix();

  .left-column {
    float: left;
    width: 760px;
    padding: 10px;

    #filter-facilities-form {

      .select2-search-choice-close {
        top: 6px;
      }

      .select2-choice div {
        margin: -2px 0px 0px 0px;
      }

      .bbf-field {
        float: left;
        clear: none;
        margin: 0px;

        label {
          float: none;
          width: auto;
          font-size: 11px;
          font-family: $arial_family;
          text-transform: uppercase;
          color: #939393;
        }

        .bbf-editor {
          margin-left: 0px;
          width: auto;

          .bbf-checkboxes {
            li {
              margin: 0px 10px 0px 0px;
            }
          }
        }

        &.field-manufacturer_id {
          width: 185px;
          margin: 0px 10px 0px 0px;

          .select2-container {
            width: auto;
          }

          .select2-choice {
            width: 137px;
            height: 16px;
            font-size: 11px;
            padding-top: 5px;
            line-height: 13px;
            font-family: $arial_family;
          }
        }

        &.field-style_ids {
          width: 230px;
          margin: 0px 10px 0px 0px;

          .bbf-editor {
            label {
              float: left;
              text-transform: none;
            }
          }
        }

        &.field-material_ids {
          width: 325px;

          .bbf-editor {
            label {
              float: left;
              text-transform: none;
            }
          }
        }
      }
    }

    .wrapper-label {
      background: #ebedec;
      padding: 10px;

      @include clearfix();

      .left-sub-column {
        float: left;
        width: auto;
      }

      .right-sub-column {
        float: right;
        width: auto;

        #search {
          border: 1px solid #b0b0b0;
          margin: 0px 10px 0px 0px;
          width: 150px;
          height: 15px;
        }

        #search-button {
          background: url("search-button.png") top center no-repeat;
          border: none;
          width: 63px;
          height: 24px;
          padding: 0px;
          margin: 0px;
          color: #FFF;
          font-weight: bold;
          font-size: 11px;
          font-family: $arial_family;
          text-align: center;
        }
      }
    }

    .left-sub-column {
      float: left;
      width: 155px;
    }

    .right-sub-column {
      float: right;
      width: 605px;
    }

    .top-info {
      padding: 10px 0px;

      @include clearfix();

      .sorting {
        @include clearfix();

        .sorting-button {
          background: url("sorting-bg-black.png") top center repeat-x;
          border: 1px solid #393939;
          float: left;
          height: 21px;
          color: #dcdcdc;
          text-shadow: 0px 1px 0px #545454;
          text-align: center;
          font-size: 10px;
          font-family: $arial_family;
          padding: 3px 15px 0px;
          cursor: pointer;

          &:first-child {
            @include border-top-left-radius(5px);
            @include border-bottom-left-radius(5px);
            border-left: none;
          }

          &:last-child {
            @include border-top-right-radius(5px);
            @include border-bottom-right-radius(5px);
            border-left: none;
          }

          &.active {
            background: url("sorting-bg-white.png") top center repeat-x;
            border: 1px solid #eae9e7;
            color: #1c1440;
            text-shadow: 0px 1px 0px #FFF;
          }
        }
      }

      .pagination {
        margin: 0px;

        @include clearfix();

        .serverprevious {
          background: url("prev.png") top center;
          width: 25px;
          height: 25px;
          float: left;
          cursor: pointer;
        }

        .servernext {
          background: url("next.png") top center;
          width: 25px;
          height: 25px;
          float: left;
          cursor: pointer;
        }

        .page-label {
          float: left;
          color: #777367;
          font-size: 10px;
          font-family: $arial_family;
          line-height: 10px;
          margin: 0px 5px;
          padding: 8px 0px 0px;
        }

        .page-input {
          float: left;

          input {
            width: 40px;
            height: 15px;
            color: #777367;
            font-size: 10px;
            font-family: $arial_family;
            margin: 0px;
            line-height: 10px;
            text-align: center;
          }
        }

        .page-total {
          float: left;
          color: #777367;
          font-size: 10px;
          font-family: $arial_family;
          line-height: 10px;
          margin: 0px 5px;
          padding: 8px 0px 0px;
        }
      }
    }

    #group-filter-facilities-form {
      padding: 10px;

      .bbf-field {
        margin: 0px;

        &.field-group_ids {
          label {
            display: none;
          }

          .bbf-editor {
            margin: 0px;
            width: auto;

            label {
              display: block;
              float: left;
              width: auto;
              margin: 0px;
              color: #7b7a7a;
              font-size: 9px;
              font-family: $arial_family;
              text-transform: none;
            }

            .tree-checkboxes-group {
              margin: 0px 0px 10px;
              font-size: 10px;
              font-family: $arial_family;
              color: #727272;
              text-transform: uppercase;
              max-width: 135px;
            }

            .tree-checkboxes-item {
              padding: 0px 0px 0px 30px;

              @include  clearfix();

              input[type="checkbox"] {
                float: left;
                margin: 4px 7px 0px 0px;
              }
            }
          }
        }
      }
    }


    .facilities-grid-collection {

      width: 616px;

      .item {
        border: 1px solid #eaedec;
        width: 140px;
        margin: 0px 12px 10px 0px;

        .image {
          border-bottom: 1px solid #eaedec;
          height: 115px;
          max-width: 100%;
          text-align: center;
        }

        .manufacturer {
          font-family: $arial_family;
          font-size: 12px;
          color: #4f4f4f;
          font-weight: bold;
        }

        .name {
          font-family: $arial_family;
          font-size: 12px;
          color: #a7a7a7;
        }

        .bottom-info {
          padding: 10px 5px;

          @include clearfix();

          .left-column {
            float: left;
            width: auto;
            padding: 0px;
            max-width: 96px;
          }

          .right-column {
            background: none;
            float: right;
            width: 34px;
          }

          .preview {
            background: url("loupe.png") top center no-repeat;
            width: 14px;
            height: 14px;
            cursor: pointer;
            float: left;
            margin: 0px 5px 0px 0px;
          }

          .select-facility {
            background: url("cart.png") top center no-repeat;
            width: 15px;
            height: 15px;
            cursor: pointer;
            float: left;
          }
        }
      }
      .item.w2 {
        width: 50%;
      }
    }
  }

  .right-column {
    background: #ebedec;
    float: right;
    width: 160px;

    #selected-facilities-label {
      background: url("big-cart.png") top left no-repeat;
      min-height: 21px;
      min-width: 21px;
      padding: 2px 0px 0px 21px;
      color: #797b7a;
      text-transform: uppercase;
      font-family: $arial_family;
      font-size: 11px;
      text-shadow: 0px 1px 0px #FFF;
      text-align: center;
      margin: 10px 5px;
    }

    #selected-facilities {

      .selected-facility {
        background: #f3f3f3;
        border: 1px solid #f8f9f9;
        width: 140px;
        margin: 0px auto 10px;

        .image {
          background: #FFF;
          border-bottom: 1px solid #f8f9f9;
          max-height: 115px;
          max-width: 100%;
          text-align: center;
        }

        .manufacturer {
          font-family: $arial_family;
          font-size: 12px;
          color: #4f4f4f;
          font-weight: bold;
        }

        .name {
          font-family: $arial_family;
          font-size: 12px;
          color: #a7a7a7;
        }

        .bottom-info {
          padding: 10px 5px;

          @include clearfix();

          .left-column {
            float: left;
            width: auto;
            max-width: 96px;
            padding: 0px;
          }

          .right-column {
            background: none;
            float: right;
            width: 17px;
          }

          .delete-selected-facility {
            background: url("black-trash.png") top center no-repeat;
            width: 12px;
            height: 17px;
            cursor: pointer;
            float: right;
            margin: 0px;
          }
        }

        .selected-facility-form {

          .bbf-field {
            margin: 0px 5px 0px;

            &:last-child {
              margin: 0px;
            }

            label {
              float: none;
              width: auto;
              color: #272525;
              font-size: 10px;
            }

            textarea {
              width: 115px;
              margin: 0px auto;
            }

            &.field-comment {
              width: 130px;
              margin: 0px auto 10px;
            }

            .bbf-editor {
              margin: 0px;
              width: auto;
            }

            .value-container {
              color: #292929;
              font-size: 11px;
            }

            .alert {
              padding: 4px;
              margin: 0px 0px 5px;
              width: 126px;
              font-size: 12px;
            }

            .pencil {
              background: url("pencil.png") top center no-repeat;
              width: 16px;
              height: 16px;
              cursor: pointer;
              float: right;
              margin: -23px 0px 7px 0px;
            }

            .upload {
              width: 135px;
              color: #272525;
              font-size: 10px;

              .progress {
                margin: 0px 0px 5px;
              }
            }

            .fileinput-button .fileinput-text {
              font-size: 10px;
              line-height: 15px;
            }

            .files-container {
              margin: 0px;

              .file {
                background: #d9dbda;
                border: 1px solid #edefee;
                margin: 0px 0px 1px;
                padding: 0px 3px;
                @include clearfix();

                .file-name {
                  float: left;
                  font-size: 9px;
                  color: #777777;
                  width: 110px;
                }

                .remove {
                  background: url("trash.png") top center no-repeat;
                  border: none;
                  float: right;
                  display: block;
                  width: 9px;
                  height: 10px;
                  margin: 4px 0px 0px;
                }
              }
            }

            &.field-selected_facility_texture_ids {

              label {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  #submit-form {
    background: url("ok.png") top center no-repeat;
    border: none;
    width: 84px;
    height: 30px;
    text-indent: -10000px;
    margin: 10px auto;
    padding: 0px;
    display: block;
  }
}

#get-link-content {
  padding: 10px;

  textarea {
    float: none;
    display: block;
    width: 50%;
    height: 100px;
    padding: 10px;
  }
}

.fileinput-button {
  float: none;
  @include clearfix();

  .fileinput-text {
    background: url("clip.png") top left no-repeat;
    background-position: 0px 6px;
    color: #3b99bf;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    padding: 2px 0px 2px 16px;
    font-size: 11px;
  }
}

.add-button {
  background: url("add-button.png") top center no-repeat;
  width: 13px;
  height: 13px;
  cursor: pointer;
  float: left;
  margin: 5px 5px 0px;
}

#cboxLoadedContent {
  padding: 30px;
}


