body.application {

  a {
    outline-offset:-2px;
  }

  a:focus {
    outline: 0;
  }

  a:active, a:visited {
    border: none;
    outline: none;
  }

  /* removing dotted line on buttons and clickable input elements for Firefox */
  input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {
    border : 0;
  }

  /* Remove outline on buttons and clickable input elements for WebKit Browsers & IE8 */
  input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button {
    outline : none;
  }

}
