class App.Views.FilesuploadFormField extends App.View

  template: JST['account/shared/controls/form_fields/filesupload']

  className: 'form-field field-type-fileupload'

  initialize: (params) ->
    _.extend(@, params)

    @values = []

    @fileUploadUrl ?= new App.Models.FileAttachment().url()

    @$fileInput = $('<input>', {type: 'file', multiple: 'multiple', name: @getFileInputName(), })
    @$fileInput.attr('data-url', @fileUploadUrl)

    @$hiddenSelect = $("<select>", {class: "jcf-hidden", name: @field, multiple: 'multiple'})

    super

  render: ->
    @$el.html(@template())

    @$el.addClass("field-#{@field}") unless @$el.hasClass("field-#{@field}")

    @$('.fileinput-button').append(@$fileInput)
    @$el.append(@$hiddenSelect)

    @initFileUpload()

    @

  getFileInputName: ->
    "#{@field.replace(/_ids$/, '')}[file]"

  initFileUpload: ->
    @$fileInput.fileupload
      dataType: "json"
      dropZone: @$el
      done: (e, data, result) => @appendUploadedFileAttachmentPreview(new App.Models.FileAttachment(data.result))
      error: (e, data, message) => console.log "Error", e, data, message
      fail: (e, data, message) => console.log "Fail", e, data, message

  appendUploadedFileAttachmentPreview: (data) =>
    @addFileId(data.get('id'))

    uploadedFileView = new App.Views.UploadedFileView({model: data, mainModel: @model})
    uploadedFileView.on "fileRemoved", @removeFile

    @$('ul.uploaded-files-container').append(uploadedFileView.render().el)

  removeFile: (removedFile) =>
    @removeFileId(removedFile.get('id'))

  addFileId: (id) ->
    @values.push(id)
    @$hiddenSelect.append($("<option>", {selected: 'selected', value: id}))

  removeFileId: (id) ->
    @values = _.without(@values, id)
    @$hiddenSelect.find("option[value=#{id}]").remove()