<%= render :partial => 'shared/about_tabs' %>

<div id="tab2" class="content" style="display: block;">
  <h1>Отзывы наших клентов</h1>
  <p>Для нас очень важно знать что вы думаете о нашей работе.  Пришлите нам свой отзыв и получите дополнительну скидку.</p>
  <!-- block quote -->
  <div class="content-wrapper">
    <div class="reviews-holder">
      
      
      <div class="box-reviews">
        <blockquote class="blockquote">
          <q class="same-height-left same-height-right" style="height: 112px;"><i>Мне очень нравится ваш подход к работе! Какие бы сложности не возникали, я довольна тем, что вы всегда готовы к обсуждению и идете на встречу для решения возникающих вопросов. Спасибо за качественную работу, высокую скорость исполнения, понимание поставленных задач. Надеюсь на долгосрочную работу с вашей командой! Желаю вам процветания, побольше благодарных клиентов, красивых дизайнов и творческих успехов! :)</i></q>
          <cite>
            <span class="name">Свитова Анастасия</span>
            Руководитель дизайн компании / <a href="http://www.greenfoxdesign.ru" target="_blank">http://www.greenfoxdesign.ru</a>
          </cite>
        </blockquote>
      </div>
      

      <div class="box-reviews">
        <blockquote class="blockquote width-771">
          <q class="same-height-left" style="height: 125px;"><i>Работаем с компанией уже более полугода. У меня, как у руководителя студии, очень высокие требования к визуализациям. И ребята выполняют все проекты в прекрасном качестве и в короткие сроки. Да, иногда мне бывает сложно выдавать подробное тех. задание, но их требования обоснованы. На выходе получается реалистичная картинка, от которой наши заказчики в восторге. Спасибо вам за сотрудничество!</i></q>
          <cite>
            <span class="name">Степанова Екатерина</span>
            Руководитель студии / <a href="http://www.yes-designs.ru" target="_blank">www.yes-designs.ru</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q class="same-height-right" style="height: 125px;"><i>Неоднократно обращались в Archivizer, всегда получали только высококачественно выполненную работу в кратчайшие сроки, будем и дальше сотрудничать.</i></q>
          <cite>
            <span class="name">Илья Сергеевич</span>
            Дизайн студия   /  <a href="http://www.renderwork.ru/" target="_blank">www.renderwork.ru</a>
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote width-368">
          <q style="height: 175px;"><i>Грамотные визуализаторы, отлично организованный процесс работы и компетентные менеджеры проектов - все это команда ARCHIVIZER. За год сотрудничества у нас ни разу не было проблем, и мы всегда получали отличный результат. Спасибо Вам ребята! А с нашей стороны больше заказов.</i></q>
          <cite>
            <span class="name">Илья Талер</span>
            Интерьерное бюро / <a href="http://www.festivalcolor.ru/" target="_blank">www.festivalcolor.ru</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q class="same-height-right" style="height: 175px;"><i>Прекрасная работа! Сразу чувствуется профессиональный подход. Быстрое и качественное выполнение визуализации любой сложности!</i></q>
          <cite>
            <span class="name">Ирина Сергеева</span>
            Частный дизайнер
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q class="same-height-right" style="height: 175px;"><i>Сотрудничаю с этой замечательной компанией уже 1,5 года. Очень довольна работой, во всех смыслах. Отличный подход к клиенту, отлаженная профессиональная, качественная работа в короткие сроки. Большое спасибо команде Archivizer, не раз выручали с выполнением срочных проектов.</i></q>
          <cite>
            <span class="name">Скрипниченко Юлия</span>
            Частный дизайнер
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote width-368">
          <q class="same-height-left" style="height: 150px;"><i>Четкая работа, выдерживают сроки производства визуализаций, гибкие в переговорах. Отличная, хорошо укомплектованная  команда визуализаторов. Мы обращались много раз к услугам компании ARHIVIZER  и всегда получала прекрасный результат.</i></q>
          <cite>
            <span class="name">Преображенская Н.А</span>
            Генеральный директор   /  <a href="http://www.ukvartira.ru/" target="_blank">Уютная квартира</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-771">
          <q class="same-height-right" style="height: 150px;"><i>Наша дизайн-студия не раз заказывала 3-D визуализацию (дизайн интерьеров, фасадов домов) у ребят - Компания просто супер !!! Поражает высокий профессионализм и качество работы! Видно, что люди мастера своего дела! На них можно положиться, желания клиента улавливают на 100% и дополняют своими интересными идеями  !!! Работа выполняется быстро, качественно и, чтоважно, - цены в разумных пределах. В общем работой  очень довольны и будем продолжать работать с удовольствием!!!</i></q>
          <cite>
            <span class="name">Славинская Елена</span>
            Частный архитектор   /  <a href="http://www.sg-dom.com/" target="_blank">S&amp;G Design</a>
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote">
          <q class="same-height-left same-height-right" style="height: 112px;"><i>За достаточно короткий срок студией были выполнены дизайн-работы по трем объектам, общая площадь которых чуть меньше 300 метров квадратных. Могу сказать следующее - работа студии организована очень хорошо - работы выполняются в оговоренный срок и качественно. Доволен как самим процессом, так и результатом. Единственное НО, все описанное выше  реально при соблюдении ряда условий со стороны заказчика - максимально подробное техническое задание, своевременное участие в рабочем процессе и комментарии от конечного заказчика преобразованные в понятную форму (если изначально таковыми не являются). ,И конечно же, - проверка работ на каждом этапе. Рекомендую!</i></q>
          <cite>
            <span class="name">Александр Малиновский</span>
            Руководитель студии   /  <a href="http://www.alexmalinovsky.ru" target="_blank">www.alexmalinovsky.ru</a>
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote width-368">
          <q class="same-height-left" style="height: 125px;"><i>ЧБольшой спасибо за оперативность, качество, терпение. Надеюсь на долгосрочное сотрудничество! </i></q>
          <cite>
            <span class="name">Наталья Круглова</span>
            Дизайнер-декоратор
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q style="height: 125px;"><i>Я бы хотел поблагодарить коллектив ... за очень хорошее качество и быстроту работы. Приятно работать с профессионалами своего дела. Так держать!</i></q>
          <cite>
            <span class="name">Соболев Павел</span>
            Частный дизайнер
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q class="same-height-right" style="height: 125px;"><i>Спасибо за прекрасно выполненную работу. Работая с данной компанией мне, прежде всего, понравилось качество исполнения визуализации, быстрое реагирование на запросы.  Быстрая реализация задачи. Спасибо!</i></q>
          <cite>
            <span class="name">Полина Лебедева.</span>
            Частный дизайнер / <a href="http://www.lebedeva-design.ru/" target="_blank">www.lebedeva-design.ru/</a>
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote width-771">
          <q class="same-height-left" style="height: 112px;"><i>В прошлом году наша студия дизайна N2N  обратилась к студии  ARHIVIZER с задачей оперативно и в максимально сжатые сроки выполнить визуализацию интерьера квартиры. Результаты превзошли ожидания: финальные рендеры были у нас через неделю. Приятно отметить удобство пользования программой Мегаплан. Вся исходная информация под рукой. В любой момент можно проверить данные по проекту и связаться с исполнителем. </i></q>
          <cite>
            <span class="name">Наталья Заремба</span>
            Руководитель студии   /  <a href="http://www.n2n.dp.ua" target="_blank">www.n2n.dp.ua</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q class="same-height-right" style="height: 112px;"><i>Спасибо большое за хороший дизайн проект. Визуализация точно передала желаемый стиль и атмосферу. Хорошая подача технических схем. С вами приятно работать. Буду обращаться еще. </i></q>
          <cite>
            <span class="name">Павлюк Татьяна</span>
            Частный дизайнер / В Т В С
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote">
          <q class="same-height-left same-height-right" style="height: 175px;"><i>«Совместными усилиями мы с компанией Archivizer сделали уже более семи проектов. Безумно довольны результатом. Изначально очень долго сомневались в выборе: Мы сами находимся в Москве, и как передавать информацию оперативно не совсем понимали. Оказалось все просто – megaplan, с помощью него мы постоянно на связи. Вторым спорным моментом была стоимость…  Боялись, что из-за демократичных цен пострадает качество, но ребята на деле показали, что делают все отлично.  По началу мы еще притирались к друг другу:  мы не совсем понимали, как писать ТЗ, они не понимали как без ТЗ вставлять нужные нам аксессуары. Но через пару проектов мы уже без лишних слов понимали друг друга. Еще хочу  отметить оперативность работы. Был у нас проект, который надо было сделать за пару дней. Отправили ТЗ, нам сделали первые эскизы, мы как смогли ответили… но не учли разницу во времени, у них уже была ночь на дворе…  А нам с утра к заказчику… Не знаю как, но ко встрече у нас были отредактированные картинки. В общем, только положительные эмоции…»</i></q>
          <cite>
            <span class="name">Победа дизайна</span>
            Дизайн студия   / <a href="http://www.pobeda-design.ru" target="_blank"> www.pobeda-design.ru</a>
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote width-368">
          <q class="same-height-left" style="height: 125px;"><i>Сотрудничеством с компанией archivizer остались довольны. Грамотный подход к решению задач, соблюдение сроков, приятные цены. Качественный менеджмент работы.</i></q>
          <cite>
            <span class="name">Дмитрий Данилин</span>
            Частный дизайнер / <a href="http://www.dotcreative.ru" target="_blank">www.dotcreative.ru</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q style="height: 125px;"><i>Спасибо за работу! Всё сделано качественно и в срок. Будем работать и дальше.</i></q>
          <cite>
            <span class="name">Мультман Виктория</span>
            Частный дизайнер  /   <a href="http://www.vm-design.ru" target="_blank">www.vm-design.ru</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-368">
          <q class="same-height-right" style="height: 125px;"><i>Действовали четко по заданию, с опережением сроков. Все правки делали также быстро, без "нытья", как это часто бывает. Качество детализации на высоком уровне. Обязательно будем сотрудничать еще.</i></q>
          <cite>
            <span class="name">Дмитрий Магиянов</span>
            Частный дизайнер
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews">
        <blockquote class="blockquote">
          <q class="same-height-left same-height-right" style="height: 175px;"><i>Хочу поблагодарить Вас и Вашу компанию за качественно проделанную работу! <br>При своем выборе визуализаторов переписывался со многими компаниями. Можно сказать, что мой выбор был достаточно системным. <br>Ваши примеры работ и оформление Вашего ресурса произвели хорошее впечатление. Ответ на мой запрос о возможности реализовать мои "хотелки" я получил очень быстро и его содержание было профессиональным. Конечно, не могу не отметить, что Ваши цены меня приятно удивили, с московскими компаниями даже сравнивать не хочу. <br>Также, первые эскизы были готовы в указанный Вами срок. Исправления по моим просьбам вносились быстро, причем объяснения "на пальцах" Вы прекрасно понимали и выполняли именно так, как это и было мной задумано. Как итог - Ваши изображения меня полностью устроили и теперь украшают мой сайт. Теперь мне не надо никому объяснять, что же именно я строю - достаточно сказать адрес своего сайта и место на нем. Надеюсь продолжить дальнейшее взаимовыгодное сотрудничество по своим следующим объектам.</i></q>
          <cite>
            <span class="name">Sintodo</span>
            Дизайн студия   / <a href="http://www.sd-vk.ru/house.html" target="_blank">www.sd-vk.ru/house.html </a>
          </cite>
        </blockquote>
      </div>
      <div class="box-reviews add">
        <blockquote class="blockquote width-569">
          <q class="same-height-left" style="height: 175px;"><i>Мы очень признательны Вам за такую слаженную, оперативную работу, даже несмотря на то, что объем информации по ТЗ от нас Вам был не достаточен и много корректировался по ходу. Нас очень поразила Ваша скорость работы и ответственность, с которой Вы к ней подходите, а также качество 3d визуализации. Спасибо Вам большое! <br>Надеемся на плодотворное сотрудничество в будущем.</i></q>
          <cite>
            <span class="name">Карпенко Татьяна Александровна</span>
            Дизайн студия   /  <a href="http://www.rincon-studio.com" target="_blank">www.rincon-studio.com</a>
          </cite>
        </blockquote>
        <blockquote class="blockquote width-569">
          <q class="same-height-right" style="height: 175px;"><i>Мне было очень приятно и комфортно работать с командой ARCHIVIZER. Хочется отметить очень высокий художественный и потрясающий технический уровень выполнения работ наряду с оперативностью выполнения заказов. Хорошо организованный процесс управления проектами позволяет видеть ситуацию по каждому из них в реальном времени. Прекрасный клиентский сервис только дополняет общую положительную картину работы с компанией. Желаю ребятам не терять завоеванных позиций и так же уверенно продолжать движение вперед.</i></q>
          <cite>
            <span class="name">Владимир Семенов</span>
            Директор по развитию    /  <a href="http://www.vendiparchetti.ru" target="_blank">www.vendiparchetti.ru</a>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
  <!-- list partner -->
  <ul class="partner">
    <li><a href="http://www.ukvartira.ru/" target="_blank"><img src="<%= asset_path('img46.jpg') %>" alt="image description" width="150" height="174"></a></li>
    <li><a href="http://www.pobeda-design.ru" target="_blank"><img src="<%= asset_path('img47.jpg') %>" alt="image description" width="159" height="79"></a></li>
    <li><a href="http://www.rincon-studio.com" target="_blank"><img src="<%= asset_path('img48.jpg') %>" alt="image description" width="136" height="79"></a></li>
    <li><a href="http://www.dotcreative.ru" target="_blank"><img src="<%= asset_path('img49.jpg') %>" alt="image description" width="132" height="79"></a></li>
    <li><a href="http://www.vendiparchetti.ru" target="_blank"><img src="<%= asset_path('img50.jpg') %>" alt="image description" width="142" height="79"></a></li>
    <li><a href="http://art-zibellino.com/" target="_blank"><img src="<%= asset_path('img51.jpg') %>" alt="image description" width="127" height="79"></a></li>
    <li><a href="http://www.n2n.dp.ua/" target="_blank"><img src="<%= asset_path('img52.jpg') %>" alt="image description" width="159" height="79"></a></li>
    <li><a href="http://www.bellinterni.ru" target="_blank"><img src="<%= asset_path('img53.jpg') %>" alt="image description" width="136" height="79"></a></li>
    <li><a href="http://www.vm-design.ru" target="_blank"><img src="<%= asset_path('img54.jpg') %>" alt="image description" width="132" height="79"></a></li>
    <li><a href="#"><img src="<%= asset_path('img55.jpg') %>" alt="image description" width="142" height="79"></a></li>
    <li><a href="http://www.sg-dom.com/" target="_blank"><img src="<%= asset_path('img74.jpg') %>" alt="image description" width="127" height="79"></a></li>
  </ul>
</div>