class App.Views.DiscountEditPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Discount({slug: @id})
    super
    @model.fetch()

    @options.header = "<%= I18n.t("models.discounts.edit") %>"
    @options.success_message = "<%= I18n.t("models.discounts.updated") %>"
    @options.error_message = "<%= I18n.t("models.discounts.update_error") %>"
    @options.submitValue = "<%= I18n.t("models.discounts.update") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"

  getRecordTabsView: () ->
    new App.Views.NonDeletableRecordTabsView({model: @model})
