class App.Views.DiscountAddPage extends App.Views.SharedForm

  initialize: ->
    @model = new App.Models.Discount()
    @options.header = "<%= I18n.t("models.discounts.new") %>"
    @options.success_message = "<%= I18n.t("models.discounts.added") %>"
    @options.error_message = "<%= I18n.t("models.discounts.add_error") %>"
    @options.submitValue = "<%= I18n.t("models.discounts.add") %>"
    @options.cancelValue = "<%= I18n.t("words.cancel") %>"
    super
