class App.Views.DiscountsIndexPage extends App.Views.SharedIndexPage

  initialize: (params)->
    @collection = new App.Collections.DiscountsPaginatedCollection(params)
    @collectionView = App.Views.DiscountsCollection

    @idsModel = App.Models.IdsDiscount

    @options.pluralModelString = "<%= I18n.t("models.discounts.plural") %>"
    @options.addModelString = "<%= I18n.t("models.discounts.add") %>"
    super(params)
