class App.Views.DiscountDeletePage extends App.Views.SharedDeletePage

  initialize: ->
    @model = new App.Models.Discount({slug: @id})
    @afterDeleteMessage = "<%= I18n.t("models.discounts.deleted") %>"
    super
