.field class="#{field_name}"
  = f.input field_name.to_sym, :as => :ckeditor, :label => (defined?(field_label) ? field_label : I18n.t("forms.fields.#{field_name}")), :input_html => {:rows => 5, :cols => 54}