.field class="#{field_name}"
  = f.input field_name, :as => :select, :label => (defined?(field_label) ? field_label : I18n.t("forms.fields.#{field_name}")), :collection => collection, :include_blank => false