.field class="#{field_name}"
  = f.input field_name.to_sym, :label => (defined?(field_label) ? field_label : I18n.t("forms.fields.#{field_name}")), :input_html => {:class => "#{defined?(class_name) ? class_name : 'span11'}" }