class App.Models.CeilingPlan extends App.Models.SharedModel

  urlRoot: '/api/ceiling_plans'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/ceiling_plans", fileInputName: "ceiling_plan[file]", fileTypes: <%= CeilingPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/account/ceiling_plans"

