class App.Models.CoveringsPlan extends App.Models.SharedModel

  urlRoot: '/api/coverings_plans'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/coverings_plans", fileInputName: "coverings_plan[file]", fileTypes: <%= CoveringsPlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/account/coverings_plans"

