class App.Models.FurniturePlan extends App.Models.SharedModel

  urlRoot: '/api/furniture_plans'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/furniture_plans", fileInputName: "furniture_plan[file]", fileTypes: <%= FurniturePlan.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/account/furniture_plans"

