class App.Models.SampleProjectStyle extends App.Models.SharedModel

  urlRoot: '/api/sample_project_styles'


  schema: () ->

    if @isNew()
      {
      file: { title: I18n.t("forms.fields.file"), type: "FileUpload", url: "/api/sample_project_styles", fileInputName: "sample_project_style[file]", fileTypes: <%= SampleProjectStyle.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_plan_format") }
      }
    else
      {
      name: { title: I18n.t("forms.fields.name") }
      }


  @getCollectionPath: () ->
    "/account/sample_project_styles"

