class App.Models.SelectedFacilityTexture extends App.Models.SharedModel

  urlRoot: '/api/selected_facility_textures'

  schema: () ->
    selected_facility_texture_ids: { title: I18n.t("forms.fields.selected_facility_texture_ids"), type: "MiniFileUpload", url: "/api/selected_facility_textures", fileInputName: "selected_facility_texture[file]", fileTypes: <%= SelectedFacilityTexture.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_texture_format") }
    comment: { title: I18n.t("forms.fields.selected_facility_comment"), type: "TextAreaPreview" }

  @getCollectionPath: () ->
    "/account/selected_facility_textures"