class App.Models.SelectedScene extends App.Models.SharedModel

  urlRoot: '/api/selected_scenes'

  schema: () ->
    selected_scene_texture_ids: {
      title: I18n.t("forms.fields.selected_scene_texture_ids")
      type: "MiniFileUploadImmediateSave", url: "/api/selected_scene_textures"
      fileInputName: "selected_scene_texture[file]"
      parentIdFieldKey: "selected_scene_texture[selected_scene_id]"
      fileTypes: <%= SelectedSceneTexture.get_file_extensions_as_regexp %>
      errorMessage: I18n.t("errors.messsages.not_texture_format")
    }
    comment: { title: I18n.t("forms.fields.selected_scene_comment"), type: "TextAreaPreview" }

  @getCollectionPath: () ->
    "/account/selected_scenes"

  getParentModel: () ->
    id: @get("scene_id")
    name: @get("scene_name")
    avatar: @get("scene_avatar")
    room:
      name: @get("scene_room_name")
    performer:
      name: @get("scene_performer_name")

  getSelectedTextures: ->
    @get('selected_scene_texture_ids')

  getFirstLabel: ->
    @getParentModel().room.name