class App.Models.SelectedSceneTexture extends App.Models.SharedModel

  urlRoot: '/api/selected_scene_textures'

  schema: () ->
    selected_scene_texture_ids: { title: I18n.t("forms.fields.selected_scene_texture_ids"), type: "MiniFileUpload", url: "/api/selected_scene_textures", fileInputName: "selected_scene_texture[file]", fileTypes: <%= SelectedSceneTexture.get_file_extensions_as_regexp %>, errorMessage: I18n.t("errors.messsages.not_texture_format") }
    comment: { title: I18n.t("forms.fields.selected_scene_comment"), type: "TextAreaPreview" }

  @getCollectionPath: () ->
    "/account/selected_scene_textures"