class App.Models.SelectedFacility extends App.Models.SharedModel

  urlRoot: '/api/selected_facilities'

  schema: () ->
    selected_facility_texture_ids: {
      title: I18n.t("forms.fields.selected_facility_texture_ids")
      type: "MiniFileUploadImmediateSave", url: "/api/selected_facility_textures"
      fileInputName: "selected_facility_texture[file]"
      parentIdFieldKey: "selected_facility_texture[selected_facility_id]"
      fileTypes: <%= SelectedFacilityTexture.get_file_extensions_as_regexp %>
      errorMessage: I18n.t("errors.messsages.not_texture_format")
    }
    comment: { title: I18n.t("forms.fields.selected_facility_comment"), type: "TextAreaPreview" }

  @getCollectionPath: () ->
    "/account/selected_facilities"

  getParentModel: () ->
    id: @get("facility_id")
    name: @get("facility_name")
    avatar: @get("facility_avatar")
    group:
      name: @get("facility_group_name")

  getSelectedTextures: ->
    @get('selected_facility_textures')

  getFirstLabel: ->
    @getParentModel().group.name