DOCTYPE html
html
  head
    meta http-equiv="content-type" content="text/html; charset=UTF-8"
    title = (@title.nil? || @title == "") ? Settings.site_name : @title
    - unless @seo_keywords.nil?
      meta name="keywords" content="#{@seo_keywords}"
    - unless @seo_description.nil?
      meta name="description" content="#{@seo_description}"
    - unless @seo_robots.nil?
      meta name="robots" content="#{@seo_robots}"
    = stylesheet_link_tag "account_application", :media => "all"
    link rel="shortcut icon" href="/favicon.ico"
    = csrf_meta_tags

  body.account
    #wrapper
      #wrapper-content
        header#header
        = yield
    = render :partial => 'structure/footer'
    #ajax-loader
    = yield(:scripts) if content_for?(:scripts)
    = include_gon
    = javascript_include_tag "account_application"
    = yield(:js) if content_for?(:js)
    = render :partial => "blocks/counters"