DOCTYPE html
html
  head
    meta http-equiv="content-type" content="text/html; charset=UTF-8"
    title = (@title.nil? || @title == "") ? Settings.site_name : @title
    - unless @seo_keywords.nil?
      meta name="keywords" content="#{@seo_keywords}"
    - unless @seo_description.nil?
      meta name="description" content="#{@seo_description}"
    - unless @seo_robots.nil?
      meta name="robots" content="#{@seo_robots}"
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"
    = stylesheet_link_tag "admin_application", :media => "all"
    link rel="shortcut icon" href="/favicon.ico"
    = csrf_meta_tags

  body.admin
    #wrap
      .container
        .row
          .span12 = yield
      #push
    footer#footer
      .container
        .row = render :partial => "structure/admin_footer"
    #ajax-loader
    = yield(:scripts) if content_for?(:scripts)
    = include_gon
    = javascript_include_tag "admin_application"
    = yield(:js) if content_for?(:js)
    = render :partial => "blocks/counters"