DOCTYPE html
html
  head
    meta http-equiv="content-type" content="text/html; charset=UTF-8"
    title = (@title.nil? || @title == "") ? Settings.site_name : @title
    - unless @seo_keywords.nil? || (@seo_keywords == "")
      meta name="keywords" content="#{@seo_keywords}"
    - unless @seo_description.nil? || (@seo_description == "")
      meta name="description" content="#{@seo_description}"
    - unless @seo_robots.nil? || (@seo_robots == "")
      meta name="robots" content="#{@seo_robots}"
    = stylesheet_link_tag "application", :media => "all"
    link rel="shortcut icon" href="/favicon.ico"

  body.application class="#{@body_class}"
    #wrapper
      = render :partial => 'structure/header'
      #main = yield
      = render :partial => 'structure/undercontent'
      = render :partial => 'structure/footer'
    = render :partial => "blocks/feed_back"
    = render :partial => "blocks/counters"
    #ajax-loader
    = yield(:scripts) if content_for?(:scripts)
    = include_gon
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    = javascript_include_tag "application"
    = yield(:js) if content_for?(:js)
    = csrf_meta_tags